Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

feat(fuselage): Featured Tag variant (#922)
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

fix: review
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/styles/mixins/elevation.scss
Due: eslint --fix, stylelint --fix

chore: toastbar elevation fix
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

chore(fuselage-toastbar): Toastbar Elevation (#921)
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/styles/mixins/elevation.scss
Due: eslint --fix, stylelint --fix

wip sidebar theme
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: eslint --fix, stylelint --fix

fix selected
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

test
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/styles/mixins/elevation.scss
Due: eslint --fix, stylelint --fix

test
  packages/fuselage/src/components/Box/stylingProps.ts
Due: eslint --fix

Revert "feat(fuselage): Featured Tag variant (#922)"
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

chore: fix banner elevation
  packages/fuselage/src/components/Banner/Banner.styles.scss
Due: stylelint --fix

Revert "feat(fuselage): Featured Tag variant (#922)" (#925)
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): Revert Banner Elevation (#926)
  packages/fuselage/src/components/Banner/Banner.styles.scss
Due: stylelint --fix

chore: banner & toastbar tweaks
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix, stylelint --fix

fix: tag ellipsis
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): Tag's content not being truncated (#928)
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): Banner & Toastbar visual tweaks (#927)
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix, stylelint --fix

chore(release): 0.31.22
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

chore(fuselage): Banner & Toastbar visual tweaks (#927)
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: eslint --fix, stylelint --fix, prettier --write

wip
  packages/icons/glyphsMapping.json
  packages/icons/src/attachment-file.svg
  packages/icons/src/cloud-arrow-down.svg
Due: prettier --write

support for avatar emojis
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/AvatarEmoji.tsx
Due: eslint --fix

Remove status-service-3 and add surface-featured
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

fix
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

add unit test
  packages/fuselage/src/components/Avatar/Avatar.spec.tsx
Due: eslint --fix

add emoji and emoji avatar story
  packages/fuselage/.storybook/preview-head.html
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
Due: eslint --fix

improve classes
  packages/fuselage/src/components/Avatar/Avatar.tsx
Due: eslint --fix

fix SidebarDivider
  packages/fuselage/src/components/Sidebar/SidebarDivider.tsx
  packages/fuselage/src/components/Sidebar/TopBar.tsx
  packages/fuselage/src/components/Sidebar/index.tsx
Due: eslint --fix

adjust sidebar styles
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

chore(fuselage): Surface featured (#931)
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

feat: Tag Featured Variant
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

fix pagination number
  packages/fuselage/src/components/Pagination/Pagination.tsx
Due: eslint --fix

fix sidebar-item-color
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

fix Tag variant
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix

feat(fuselage): Sidebar theme (#923)
  README.md
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarDivider.tsx
  packages/fuselage/src/components/Sidebar/TopBar.tsx
  packages/fuselage/src/components/Sidebar/index.tsx
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Pagination number (#936)
  packages/fuselage/src/components/Pagination/Pagination.tsx
Due: eslint --fix

feat: Loading state on creating first member form
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
Due: eslint --fix

add color prefix on button vars
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

fix(fuselage): button var prefix (#938)
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

feat(fuselage): Tag Featured Variant (#935)
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
Due: eslint --fix, stylelint --fix

update Field.styles row color
  packages/fuselage/src/components/Field/Field.styles.scss
Due: stylelint --fix

Update ProgressBar colors
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.tsx
Due: eslint --fix, stylelint --fix
