Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

update icon disabled color
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

fix Callout font colors
  packages/fuselage/src/components/Callout/Callout.styles.scss
Due: stylelint --fix

improve Callout stories
  packages/fuselage/src/components/Callout/Callout.stories.tsx
Due: eslint --fix

chore: remove maxheight from ModalHeroImage
  packages/fuselage/src/components/Modal/Modal.styles.scss
Due: stylelint --fix

feat: Attachment File new design (#932)
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewIcon.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/index.tsx
  packages/icons/glyphsMapping.json
  packages/icons/src/attachment-file.svg
  packages/icons/src/cloud-arrow-down.svg
Due: eslint --fix, stylelint --fix, prettier --write

chore: rename and add cursor not allowed
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/helpers/prevent.ts
Due: eslint --fix, stylelint --fix

feat: add disabled variant to option
  packages/fuselage-hooks/src/usePosition.spec.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Option/Option.spec.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/helpers/prevent.ts
Due: eslint --fix, stylelint --fix

chore(fuselage): Remove max-height from ModalHeroImage (#941)
  packages/fuselage/src/components/Modal/Modal.styles.scss
Due: stylelint --fix

feat(fuselage): add disabled variant to option (#939)
  packages/fuselage-hooks/src/usePosition.spec.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Option/Option.spec.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/helpers/prevent.ts
Due: eslint --fix, stylelint --fix

fix(fuselage): Correct tokens usage (#940)
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.tsx
  packages/fuselage/src/styles/variables/buttons.scss
Due: eslint --fix, stylelint --fix

chore: wip
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
Due: eslint --fix

Add shadow section to palette
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

update checkbox tokens
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

chore: add aria disabled prop
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix

fix input shadow color tokens. add shadow-danger.
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Due: eslint --fix, stylelint --fix

chore: convert prop to string
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix

change 1px -> default
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Slider/SliderThumb.tsx
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/lengths.scss
  packages/fuselage/src/styles/mixins/shadows.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: eslint --fix, stylelint --fix

feat(fuselage): add aria-disabled prop to Option component (#942)
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix

remove rem from shadow
  packages/fuselage/src/styles/mixins/shadows.scss
Due: stylelint --fix

??
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

Update packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Divider/Divider.styles.scss
Due: stylelint --fix

chore(fuselage): Change Borders (#909)
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Pagination/Pagination.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Slider/SliderThumb.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/lengths.scss
  packages/fuselage/src/styles/mixins/shadows.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Chevron vertical position (#910)
  packages/fuselage/src/components/Chevron/Chevron.styles.scss
Due: stylelint --fix

small fix on shadow focus
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/styles/lengths.scss
  packages/fuselage/src/styles/mixins/shadows.scss
Due: stylelint --fix

chore(fuselage): Small fix on shadow focus border (#944)
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/styles/lengths.scss
  packages/fuselage/src/styles/mixins/shadows.scss
Due: stylelint --fix

fix missing badge token colors
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

fix(fuselage): Badge bg token colors (#945)
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

fix review
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/AvatarEmoji.tsx
Due: eslint --fix, stylelint --fix

fix TS
  packages/fuselage/src/components/Avatar/Avatar.spec.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
Due: eslint --fix

Add surface-dark to Theme
  packages/fuselage/src/Theme.ts
Due: eslint --fix

remove storybook implementation
  packages/fuselage/.storybook/preview-head.html
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
Due: eslint --fix

fix surface-selected color
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

chore: fix review
  packages/fuselage/package.json
  packages/fuselage/src/components/Modal/Modal.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Include `@react-aria/*` and `@react-stately/*` in Babel transpiling
  packages/fuselage/webpack.config.js
Due: eslint --fix

update font-hint color
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

MessageReactions colors
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
Due: stylelint --fix

Wrap the wrapper into `FocusScope`
  packages/fuselage/src/components/Modal/Modal.tsx
Due: eslint --fix

Patch dependencies
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/message-parser/package.json
  packages/onboarding-ui/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  tools/tools-utils/package.json
  yarn.lock
Due: prettier --write

Add surface-room to colors and Theme
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
