Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Fix TelephoneInput.stories lint errors
  packages/fuselage/src/components/NumberInput/index.d.ts
  packages/fuselage/src/components/TelephoneInput/index.d.ts
Due: eslint --fix

Fix SelectInput.spec lint errors
  packages/fuselage/src/components/SelectInput/SelectInput.spec.tsx
Due: eslint --fix

Handle ResizeObserver bug on Firefox ESR 91
  packages/fuselage-hooks/src/useBorderBoxSize.ts
  packages/fuselage-hooks/src/useContentBoxSize.ts
Due: eslint --fix

Add chromeFlags to package.json
  packages/fuselage-ui-kit/package.json
Due: prettier --write

Add chromFlags to all loki scripts
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

fix(fuselage-hooks): Handle ResizeObserver bug on Firefox ESR 91 (#606)
  packages/fuselage-hooks/src/useBorderBoxSize.ts
  packages/fuselage-hooks/src/useContentBoxSize.ts
Due: eslint --fix

Fix Grid.stories lint errors
  packages/fuselage/src/components/Box/props.stories.tsx
  packages/fuselage/src/components/Grid/Grid.stories.tsx
Due: eslint --fix

Use loki's targetFilter option
  .github/actions/loki/test/entrypoint.sh
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

Add loki:test:ci to root
  package.json
Due: prettier --write

cache maybe?
  .github/actions/loki/test/entrypoint.sh
  package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

.
  package.json
Due: prettier --write

.
  packages/fuselage-ui-kit/package.json
Due: prettier --write

.
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

.
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
  tools/resolve-loki/.eslintignore
  tools/resolve-loki/.eslintrc.js
  tools/resolve-loki/.gitignore
  tools/resolve-loki/.prettierignore
  tools/resolve-loki/.prettierrc.js
  tools/resolve-loki/bin/resolve-loki-references.js
  tools/resolve-loki/package.json
  tools/resolve-loki/src/resolve-loki-references.ts
  tools/resolve-loki/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

.
  tools/resolve-loki/.eslintignore
Due: none

.
  .github/actions/loki/test/entrypoint.sh
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

.
  .github/actions/loki/test/entrypoint.sh
  packages/fuselage-ui-kit/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

.
  .github/actions/loki/test/entrypoint.sh
Due: none

.
  .github/workflows/cd.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

testing cache
  README.md
Due: prettier --write

added useOutsideclick
  packages/fuselage-hooks/src/useOutsideClick.spec.ts
  packages/fuselage-hooks/src/useOutsideClick.ts
Due: eslint --fix

Remove Docker build
  .github/actions/loki/test/Dockerfile
  .github/actions/loki/test/action.yml
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/ci-pr.yml
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
  tools/resolve-loki/.eslintignore
  tools/resolve-loki/.eslintrc.js
  tools/resolve-loki/.gitignore
  tools/resolve-loki/.prettierignore
  tools/resolve-loki/.prettierrc.js
  tools/resolve-loki/bin/resolve-loki-references.js
  tools/resolve-loki/package.json
  tools/resolve-loki/src/resolve-loki-references.ts
  tools/resolve-loki/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

because
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

try concurrency=1
  .github/workflows/ci-pr.yml
Due: prettier --write

meh
  .github/workflows/ci-pr.yml
  package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

v0.31.1
  lerna.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

chore(monorepo): MONOREPO turbo usage (#605)
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/cd.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
  .gitignore
  README.md
  package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage-ui-kit/src/index.ts
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
  tools/resolve-loki/.eslintignore
  tools/resolve-loki/.eslintrc.js
  tools/resolve-loki/.gitignore
  tools/resolve-loki/.prettierignore
  tools/resolve-loki/.prettierrc.js
  tools/resolve-loki/bin/resolve-loki-references.js
  tools/resolve-loki/package.json
  tools/resolve-loki/src/resolve-loki-references.ts
  tools/resolve-loki/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix AnimatedVisibility.stories lint error
  packages/fuselage/src/components/Box/AnimatedVisibility/AnimatedVisibility.stories.tsx
  packages/fuselage/src/components/Box/props.stories.tsx
Due: eslint --fix

Fix Icon.stories lint errors
  packages/fuselage/src/components/Icon/Icon.stories.tsx
  packages/fuselage/src/components/Icon/IconsList.ts
Due: eslint --fix

fix docs task
  package.json
Due: prettier --write

chore: Docs task (#609)
  package.json
Due: prettier --write

lint
  packages/fuselage/src/components/SelectInput/index.d.ts
Due: eslint --fix

Update tokens on props.stories with new typography
  packages/fuselage/src/components/Box/props.stories.tsx
Due: eslint --fix
