Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Update .changeset/sweet-sheep-film.md
  .changeset/sweet-sheep-film.md
Due: prettier --write

feat(fuselage): update `InputBox` and `Field` typography (#1442)
  .changeset/sweet-sheep-film.md
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
Due: stylelint --fix, prettier --write

feat: `SidePanel` components
  packages/fuselage/src/components/SidePanel/SidePanel.spec.tsx
  packages/fuselage/src/components/SidePanel/SidePanel.stories.tsx
  packages/fuselage/src/components/SidePanel/SidePanel.styles.scss
  packages/fuselage/src/components/SidePanel/SidePanel.tsx
  packages/fuselage/src/components/SidePanel/SidePanelDivider.tsx
  packages/fuselage/src/components/SidePanel/SidePanelHeader.tsx
  packages/fuselage/src/components/SidePanel/SidePanelHeaderTitle.tsx
  packages/fuselage/src/components/SidePanel/SidePanelList.tsx
  packages/fuselage/src/components/SidePanel/SidePanelListItem.tsx
  packages/fuselage/src/components/SidePanel/SidePanelSection.tsx
  packages/fuselage/src/components/SidePanel/SidePanelSectionAction.tsx
  packages/fuselage/src/components/SidePanel/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

changeset
  .changeset/moody-rivers-grab.md
Due: prettier --write

chore: rename `Sidebar`
  packages/fuselage/src/components/SidebarV2/Sidebar.spec.tsx
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/Sidebar.tsx
  packages/fuselage/src/components/SidebarV2/SidebarAccordion.tsx
  packages/fuselage/src/components/SidebarV2/SidebarAccordionItem.tsx
  packages/fuselage/src/components/SidebarV2/SidebarAction.tsx
  packages/fuselage/src/components/SidebarV2/SidebarActions.tsx
  packages/fuselage/src/components/SidebarV2/SidebarBanner.tsx
  packages/fuselage/src/components/SidebarV2/SidebarButtonGroup.tsx
  packages/fuselage/src/components/SidebarV2/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/SidebarV2/SidebarDivider.tsx
  packages/fuselage/src/components/SidebarV2/SidebarFooter/SidebarFooter.tsx
  packages/fuselage/src/components/SidebarV2/SidebarGroupTitle.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemAction.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemAvatarWrapper.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemBadge.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemCol.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemContent.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemIcon.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemMenu.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemRow.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemStatusBullet.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemTimestamp.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemTitle.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarListItem.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/index.ts
  packages/fuselage/src/components/SidebarV2/SidebarLink.tsx
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.tsx
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMediaController.tsx
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMediaTitle.tsx
  packages/fuselage/src/components/SidebarV2/SidebarSection.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
Due: eslint --fix, stylelint --fix

chore: rename Sidebar exports
  packages/fuselage/src/components/SidebarV2/SidebarFooter/index.ts
  packages/fuselage/src/components/SidebarV2/SidebarItem/index.ts
  packages/fuselage/src/components/SidebarV2/SidebarMedia/index.ts
  packages/fuselage/src/components/SidebarV2/index.tsx
Due: eslint --fix

chore: rename `Sidepanel`
  packages/fuselage/src/components/SidePanel/SidePanel.stories.tsx
  packages/fuselage/src/components/SidePanel/index.ts
  packages/fuselage/src/components/Sidepanel/Sidepanel.spec.tsx
  packages/fuselage/src/components/Sidepanel/Sidepanel.stories.tsx
  packages/fuselage/src/components/Sidepanel/Sidepanel.styles.scss
  packages/fuselage/src/components/Sidepanel/Sidepanel.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelDivider.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelHeader.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelHeaderTitle.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelList.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelListItem.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelSection.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelSectionAction.tsx
  packages/fuselage/src/components/Sidepanel/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

chore: rename `Sidebar` exports
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarFooter/index.ts
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/index.ts
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarMedia/index.ts
  packages/fuselage/src/components/SidebarV2/helpers.tsx
  packages/fuselage/src/components/SidebarV2/index.tsx
Due: eslint --fix

update changeset
  .changeset/moody-rivers-grab.md
Due: prettier --write

prettier and linting issues fixed
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/CardControls.tsx
Due: eslint --fix, stylelint --fix

Changeset added
  .changeset/purple-shirts-boil.md
Due: prettier --write

Removed the box implementation
  packages/fuselage/src/components/Card/CardControls.tsx
Due: eslint --fix

Added conditional css using mixin
  packages/fuselage/src/components/Card/Card.styles.scss
Due: stylelint --fix

Merge bugs fixed
  packages/fuselage/src/components/Card/CardControls.tsx
Due: eslint --fix

Mouse event handler type added
  packages/fuselage/src/components/Card/CardControls.tsx
Due: eslint --fix

chore turbo cache
  .github/workflows/cd.yml
Due: prettier --write

ci: upload-artifact bump
  .github/workflows/cd.yml
Due: prettier --write

v3
  .github/workflows/cd.yml
Due: prettier --write

v3
  .github/workflows/ci-pr.yml
Due: prettier --write

turbo cache
  .github/workflows/cd.yml
Due: prettier --write

chore: bump upload-artifact@v3 (#1448)
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

fix: color sidebar highlighted
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

Create tame-poems-drop.md
  .changeset/tame-poems-drop.md
Due: prettier --write

chore: bump actions
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: bump actions (#1449)
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: last bump
  .github/workflows/cd.yml
Due: prettier --write

log level
  packages/layout/.storybook/main.ts
Due: eslint --fix

remove turbo
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

fix(fuselage): color sidebar highlighted (#1447)
  .changeset/tame-poems-drop.md
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/layout/.storybook/main.ts
Due: eslint --fix, stylelint --fix, prettier --write

chore: bump turbo
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  package.json
  turbo.json
  yarn.lock
Due: prettier --write

remove useless cache step
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: bump turbo (#1451)
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  package.json
  turbo.json
  yarn.lock
Due: prettier --write

Revert "chore: bump turbo (#1451)"
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  package.json
  turbo.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
