Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: `SidebarItem` stories description
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.stories.tsx
Due: eslint --fix

chore: update snapshots
  packages/fuselage/test/snapshots/containers-accordion--leading-icon-desktop.png
  packages/fuselage/test/snapshots/containers-accordion--secondary-title-desktop.png
  packages/fuselage/test/snapshots/data-display-tooltip--with-line-break-desktop.png
Due: none

chore: update snapshots
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
Due: none

chore: remove `IconButton` from `Button` stories
  packages/fuselage/src/components/Button/Button.spec.tsx
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/IconButton.stories.tsx
Due: eslint --fix

feat(figma-sync): generate Figma component library from Storybook
  .github/workflows/figma-spec.yml
  tools/figma-sync/.gitignore
  tools/figma-sync/README.md
  tools/figma-sync/components.json
  tools/figma-sync/package.json
  tools/figma-sync/plugin/code.js
  tools/figma-sync/plugin/manifest.json
  tools/figma-sync/plugin/ui.html
  tools/figma-sync/src/extract.mjs
  tools/figma-sync/src/measure.js
  tools/figma-sync/src/probe-axes.mjs
  yarn.lock
Due: eslint --fix, prettier --write

feat(figma-sync): make the sync deterministic and self-checking
  .github/workflows/figma-spec.yml
  tools/figma-sync/.gitignore
  tools/figma-sync/README.md
  tools/figma-sync/components.json
  tools/figma-sync/figma-spec.snapshot.json
  tools/figma-sync/package.json
  tools/figma-sync/src/apply.js
  tools/figma-sync/src/emit-apply.mjs
  tools/figma-sync/src/extract.mjs
  tools/figma-sync/src/measure.js
  tools/figma-sync/src/selfcheck.mjs
Due: eslint --fix, prettier --write

feat(figma-sync): scaffold and triage path for new components
  .prettierignore
  tools/figma-sync/README.md
  tools/figma-sync/components.json
  tools/figma-sync/figma-spec.snapshot.json
  tools/figma-sync/package.json
  tools/figma-sync/src/add-component.mjs
  tools/figma-sync/src/selfcheck.mjs
Due: eslint --fix, prettier --write

docs(figma-sync): explain the process, and drop a redundant script
  tools/figma-sync/README.md
  tools/figma-sync/src/probe-axes.mjs
Due: eslint --fix, prettier --write

chore: remove primitive tokens usage from `Theme.ts`
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

chore(fuselage): consume semantic tokens instead of primitive
  packages/fuselage/src/styles/mixins/elevation.scss
  packages/fuselage/src/styles/primitives/traits.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

chore(fuselage-tokens): update builder to match status-bullet format naming
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
Due: eslint --fix

chore(fuselage): consume semantic tokens instead of primitive
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

chore: update snapshots
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/MultiSelect/__snapshots__/MultiSelect.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
Due: none

chore(fuselage-forms): update snapshots
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
Due: none

chore(layout): update snapshots
  packages/layout/src/components/ActionLink/__snapshots__/ActionLink.spec.tsx.snap
  packages/layout/src/components/FormPageLayout/__snapshots__/FormPageLayout.spec.tsx.snap
  packages/layout/src/components/List/__snapshots__/List.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
Due: none

chore(onboarding-ui): update snapshots
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Due: none

fix(figma-sync): build Storybook through Turbo, and refuse to measure with a broken font
  .github/workflows/figma-spec.yml
  tools/figma-sync/README.md
  tools/figma-sync/figma-spec.snapshot.json
  tools/figma-sync/src/extract.mjs
Due: eslint --fix, prettier --write

fix(figma-sync): pin actions, close a CodeQL race, stop snapshotting font-derived widths
  .github/workflows/figma-spec.yml
  tools/figma-sync/README.md
  tools/figma-sync/figma-spec.snapshot.json
  tools/figma-sync/src/extract.mjs
Due: eslint --fix, prettier --write

fix(figma-sync): converge sizing modes and report Figma drift on the PR
  .github/workflows/figma-spec.yml
  tools/figma-sync/plugin/code.js
  tools/figma-sync/src/apply.js
Due: eslint --fix, prettier --write

chore(fuselage): use semantic tokens instead of primitive as colors source (#2091)
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/MultiSelect/__snapshots__/MultiSelect.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/mixins/elevation.scss
  packages/fuselage/src/styles/primitives/traits.scss
  packages/fuselage/src/styles/variables/buttons.scss
  packages/layout/src/components/ActionLink/__snapshots__/ActionLink.spec.tsx.snap
  packages/layout/src/components/FormPageLayout/__snapshots__/FormPageLayout.spec.tsx.snap
  packages/layout/src/components/List/__snapshots__/List.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Due: eslint --fix, stylelint --fix

feat(fuselage): quiet the message timestamp
  .changeset/quieter-message-header-metadata.md
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix, prettier --write

feat(fuselage): emphasize interactive message author names
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

test(fuselage): cover interactive author name hover states
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.stories.tsx
  packages/fuselage/src/components/Message/MessageSystem/__snapshots__/MessageSystem.spec.tsx.snap
  packages/fuselage/src/components/Message/Messages.stories.tsx
Due: eslint --fix

test(fuselage): update visual regression goldens for the header metadata
  packages/fuselage/test/snapshots/message-message--block-after-header-desktop.png
  packages/fuselage/test/snapshots/message-message--default-desktop.png
  packages/fuselage/test/snapshots/message-message--lots-of-reactions-desktop.png
  packages/fuselage/test/snapshots/message-message--message-editing-desktop.png
  packages/fuselage/test/snapshots/message-message--message-highlighted-desktop.png
  packages/fuselage/test/snapshots/message-message--message-ordered-list-desktop.png
  packages/fuselage/test/snapshots/message-message--message-pending-desktop.png
  packages/fuselage/test/snapshots/message-message--message-selected-desktop.png
  packages/fuselage/test/snapshots/message-message--message-unordered-list-desktop.png
  packages/fuselage/test/snapshots/message-message--message-with-headings-desktop.png
  packages/fuselage/test/snapshots/message-message--message-with-metrics-desktop.png
  packages/fuselage/test/snapshots/message-message--message-with-thread-desktop.png
  packages/fuselage/test/snapshots/message-message--with-clickable-author-name-desktop.png
  packages/fuselage/test/snapshots/message-message--with-sequential-desktop.png
  packages/fuselage/test/snapshots/message-messagegenericpreview--default-desktop.png
  packages/fuselage/test/snapshots/message-messagegenericpreview--file-attachment-desktop.png
  packages/fuselage/test/snapshots/message-messagegenericpreview--image-preview-desktop.png
  packages/fuselage/test/snapshots/message-messagegenericpreview--link-preview-desktop.png
  packages/fuselage/test/snapshots/message-messagegenericpreview--no-preview-desktop.png
  packages/fuselage/test/snapshots/message-messagegenericpreview--no-preview-title-link-desktop.png
  packages/fuselage/test/snapshots/message-messagegenericpreview--thumb-desktop.png
  packages/fuselage/test/snapshots/message-messagemetrics--default-desktop.png
  packages/fuselage/test/snapshots/message-messagemetrics--thread-metrics-desktop.png
  packages/fuselage/test/snapshots/message-messagereactions--default-desktop.png
  packages/fuselage/test/snapshots/message-messagestatusindicator--default-desktop.png
  packages/fuselage/test/snapshots/message-messagesystem--default-desktop.png
  packages/fuselage/test/snapshots/message-messagesystem--with-clickable-author-name-desktop.png
  packages/fuselage/test/snapshots/message-messagesystem--with-long-topic-desktop.png
  packages/fuselage/test/snapshots/message-messagetoolbar--default-desktop.png
Due: none

feat(fuselage): add onDismiss prop to Chip rendering a dedicated dismiss IconButton
  .changeset/chip-dismiss-icon-button.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/Chip/Chip.spec.tsx
  packages/fuselage/src/components/Chip/Chip.stories.tsx
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/Chip/Chip.tsx
  packages/fuselage/src/components/MultiSelect/SelectedOptions.tsx
  packages/fuselage/src/components/MultiSelect/__snapshots__/MultiSelect.spec.tsx.snap
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage-tokens): use n700 primitive as badge level-1 background
  .changeset/badge-level-1-n700.md
  packages/fuselage-tokens/src/badge/base.json
Due: prettier --write

chore(fuselage): show every badge variant labeled in the WithValue story
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/test/snapshots/data-display-badge--with-value-desktop.png
Due: eslint --fix

feat(fuselage)!: Remove the `ghost` variant and the `disabled` prop from `Badge`
  .changeset/remove-ghost-badge-variant.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Badge/Badge.spec.tsx
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Badge/Badge.tsx
  packages/fuselage/test/snapshots/data-display-badge--disabled-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

chore: match the changeset message to the PR title
  .changeset/remove-ghost-badge-variant.md
Due: prettier --write

refactor(fuselage-tokens): symlink breakpoints modules
  packages/fuselage-tokens/breakpoints.js
  packages/fuselage-tokens/breakpoints.json
  packages/fuselage-tokens/breakpoints.mjs
  packages/fuselage-tokens/breakpoints.scss
  packages/fuselage-tokens/src/breakpoints.jsonc
  tools/build-design-tokens/index.js
Due: eslint --fix, stylelint --fix, prettier --write

refactor(fuselage-tokens): symlink colors modules
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/layout/src/components/BackgroundLayer/__snapshots__/BackgroundLayer.spec.tsx.snap
  tools/build-design-tokens/index.js
Due: eslint --fix, stylelint --fix, prettier --write

refactor(fuselage-tokens): symlink typography modules
  packages/fuselage-tokens/package.json
  packages/fuselage-tokens/src/typography.jsonc
  packages/fuselage-tokens/typography.js
  packages/fuselage-tokens/typography.json
  packages/fuselage-tokens/typography.mjs
  packages/fuselage-tokens/typography.scss
  tools/build-design-tokens/CHANGELOG.md
  tools/build-design-tokens/index.js
  tools/build-design-tokens/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

refactor(fuselage-tokens): remove unused output modules
  packages/fuselage-tokens/config.js
Due: eslint --fix

chore(fuselage-tokens): remove unused style-dictionary hooks
  packages/fuselage-tokens/build.js
Due: eslint --fix

refactor(fuselage-tokens): remove unused `group` property
  packages/fuselage-tokens/src/breakpoints/base.json
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage-tokens/src/typography/base.json
Due: prettier --write

feat(fuselage-tokens): change JSON format for colors
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
  packages/fuselage-tokens/src/index.js
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/PaletteStyleTag/helpers/getPalette.ts
  packages/layout/.storybook/preview.tsx
  packages/onboarding-ui/.storybook/preview.tsx
Due: eslint --fix

feat(fuselage-tokens): change SCSS format for colors
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
Due: eslint --fix

chore(fuselage-tokens): simplify
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
Due: eslint --fix

feat(fuselage-tokens): change formats for typography
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
  packages/fuselage-tokens/src/typography/base.json
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/typography.scss
  packages/layout/src/helpers/tokenFontFamilies.ts
Due: eslint --fix, stylelint --fix, prettier --write
