Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: run loki using storybook-static throught artifact
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: loki add show directory: '
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: remove download artifact to check loki uses artifact
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add artifact download
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: child process init
  .github/actions/test/action.yml
  .github/actions/test/index.js
  .github/actions/test/index.sh
Due: eslint --fix, prettier --write

chore: check docker status
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: remove docker check step
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: github context o/p
  .github/actions/test/index.js
  .github/workflows/ci-pr.yml
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: update action node
  .github/actions/test/action.yml
Due: prettier --write

chore: add show base and head branch
  .github/workflows/ci-pr.yml
Due: prettier --write

feat: add tamagui autocomplete support
  README.md
  packages/fuselage-tamagui-tokens/README.md
  packages/fuselage-tamagui/.storybook/main.ts
  packages/fuselage-tamagui/.storybook/preview.tsx
  packages/fuselage-tamagui/README.md
  packages/fuselage-tamagui/package.json
  packages/fuselage-tamagui/src/components/Button/Button.stories.tsx
  packages/fuselage-tamagui/src/components/Button/Button.tsx
  packages/fuselage-tamagui/src/components/Button/button.css
  packages/fuselage-tamagui/tamagui.config.ts
  packages/fuselage-tamagui/tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

chore: update context
  .github/actions/test/index.js
Due: eslint --fix

chore: console context
  .github/actions/test/context.json
  .github/actions/test/dump/git.js
  .github/actions/test/git.js
  .github/actions/test/index.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add new components
  package.json
  packages/fuselage-tamagui-tokens/package.json
  packages/fuselage-tamagui-tokens/src/index.ts
  packages/fuselage-tamagui/src/components/AnimatedVisibility/AnimatedVisibility.stories.tsx
  packages/fuselage-tamagui/src/components/AnimatedVisibility/AnimatedVisibility.tsx
  packages/fuselage-tamagui/src/components/AnimatedVisibility/index.ts
  packages/fuselage-tamagui/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage-tamagui/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage-tamagui/src/components/AutoComplete/index.ts
  packages/fuselage-tamagui/src/components/Box/Box.spec.tsx
  packages/fuselage-tamagui/src/components/Box/Box.stories.tsx
  packages/fuselage-tamagui/src/components/Box/Box.styles.scss
  packages/fuselage-tamagui/src/components/Box/Box.tsx
  packages/fuselage-tamagui/src/components/Box/BoxTransforms.tsx
  packages/fuselage-tamagui/src/components/Box/StylingBox.tsx
  packages/fuselage-tamagui/src/components/Box/index.ts
  packages/fuselage-tamagui/src/components/Box/stories/Colors.stories.tsx
  packages/fuselage-tamagui/src/components/Box/stories/Is.stories.tsx
  packages/fuselage-tamagui/src/components/Box/stories/Layout.stories.tsx
  packages/fuselage-tamagui/src/components/Box/stories/RichContent.stories.tsx
  packages/fuselage-tamagui/src/components/CheckBox/CheckBox.spec.tsx
  packages/fuselage-tamagui/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage-tamagui/src/components/CheckBox/CheckBox.tsx
  packages/fuselage-tamagui/src/components/CheckBox/index.ts
  packages/fuselage-tamagui/src/components/EmailInput/EmailInput.spec.tsx
  packages/fuselage-tamagui/src/components/EmailInput/EmailInput.stories.tsx
  packages/fuselage-tamagui/src/components/EmailInput/EmailInput.tsx
  packages/fuselage-tamagui/src/components/EmailInput/index.ts
  packages/fuselage-tamagui/src/components/Icon/IconButton.spec.tsx
  packages/fuselage-tamagui/src/components/Icon/IconButton.stroies.tsx
  packages/fuselage-tamagui/src/components/Icon/IconButton.tsx
  packages/fuselage-tamagui/src/components/Icon/index.ts
  packages/fuselage-tamagui/src/components/Label/Label.stories.tsx
  packages/fuselage-tamagui/src/components/Label/Label.tsx
  packages/fuselage-tamagui/src/components/Label/index.ts
  packages/fuselage-tamagui/src/hooks/useArrayLikeClassNameProp.ts
  packages/fuselage-tamagui/src/hooks/useBoxOnlyProps.ts
  packages/fuselage-tamagui/src/types/Falsy.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore: gitignore init
  .github/actions/test/.gitignore
  .github/actions/test/context.json
  .github/actions/test/dump/git.js
  .github/actions/test/index.js
Due: eslint --fix, prettier --write

chore: remove actions dependencies from root
  package.json
  yarn.lock
Due: prettier --write

chore: use rollup
  .github/actions/test/.gitignore
  .github/actions/test/action.yml
  .github/actions/test/index.js
  .github/actions/test/index.sh
  .github/actions/test/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add context
  .github/actions/test/index.js
Due: eslint --fix

chore: add my-action job for fast feedback
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add build script
  .github/actions/test/package.json
Due: prettier --write

fix: typo
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add dist
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add rollup dependency
  .github/actions/test/package.json
  .github/workflows/ci-pr.yml
  yarn.lock
Due: prettier --write

chore: use context instead of localContext
  .github/actions/test/index.js
  .github/workflows/ci-pr.yml
Due: eslint --fix, prettier --write

chore: check context
  .github/actions/test/index.js
Due: eslint --fix

chore: remove localContext
  .github/actions/test/index.js
Due: eslint --fix

chore: add console
  .github/actions/test/index.js
Due: eslint --fix

chore: remove stringify
  .github/actions/test/index.js
Due: eslint --fix

fix(fuselage): Placeholder not being displayed in PaginatedSelectFiltered
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.spec.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.spec.tsx
  packages/fuselage/src/components/PaginatedSelect/__snapshots__/PaginatedSelectFiltered.spec.tsx.snap
Due: eslint --fix

chore: changeset
  .changeset/twenty-bobcats-cover.md
Due: prettier --write

test: getByText instead of getByPlaceholder
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.spec.tsx
Due: eslint --fix

chore: add getChangedFile
  .github/actions/test/git.js
  .github/actions/test/index.js
  .github/actions/test/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: degrade execa to v5 to run in cjs
  .github/actions/test/index.js
  .github/actions/test/package.json
  yarn.lock
Due: eslint --fix, prettier --write

update
  .github/actions/test/index.js
Due: eslint --fix

refactor: changed commonjs to module
  .github/actions/test/git.js
  .github/actions/test/index.js
  .github/actions/test/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove comments
  .github/actions/test/index.js
Due: eslint --fix

chore: updade build format
  .github/actions/test/package.json
Due: prettier --write

chore: change fetch depth
  .github/workflows/ci-pr.yml
Due: prettier --write

test: adjusted test case name
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.spec.tsx
Due: eslint --fix
