Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore: list forwardRef
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarCollapseGroup.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarListItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/index.ts
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix, stylelint --fix

wip: scroll
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
Due: stylelint --fix

feat(fuselage): new set of `NavBar` components (#1341)
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/NavBar/NavBar.spec.tsx
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/NavBar/NavBar.styles.scss
  packages/fuselage/src/components/NavBar/NavBar.tsx
  packages/fuselage/src/components/NavBar/NavBarDivider.tsx
  packages/fuselage/src/components/NavBar/NavBarGroup.tsx
  packages/fuselage/src/components/NavBar/NavBarItem.tsx
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
  packages/fuselage/src/components/NavBar/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

ops
  packages/fuselage/src/components/Message/helpers.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.tsx
Due: eslint --fix

feat: `Sidepanel` components
  packages/fuselage/src/components/SidePanel/SidePanel.spec.tsx
  packages/fuselage/src/components/SidePanel/SidePanel.stories.tsx
  packages/fuselage/src/components/SidePanel/SidePanel.styles.scss
  packages/fuselage/src/components/SidePanel/SidePanel.tsx
  packages/fuselage/src/components/SidePanel/SidePanelSection.tsx
  packages/fuselage/src/components/SidePanel/SidePanelSectionAction.tsx
  packages/fuselage/src/components/SidePanel/SidePanelSectionTitle.tsx
  packages/fuselage/src/components/SidePanel/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

feat: `SidePanelHeader` components
  packages/fuselage/src/components/SidePanel/SidePanel.stories.tsx
  packages/fuselage/src/components/SidePanel/SidePanel.styles.scss
  packages/fuselage/src/components/SidePanel/SidePanelHeader.tsx
  packages/fuselage/src/components/SidePanel/SidePanelHeaderTitle.tsx
  packages/fuselage/src/components/SidePanel/index.ts
Due: eslint --fix, stylelint --fix

feat: `SideBarList` components
  packages/fuselage/src/components/SidePanel/SidePanel.stories.tsx
  packages/fuselage/src/components/SidePanel/SidePanel.styles.scss
  packages/fuselage/src/components/SidePanel/SidePanelList.tsx
  packages/fuselage/src/components/SidePanel/SidePanelListItem.tsx
  packages/fuselage/src/components/SidePanel/index.ts
Due: eslint --fix, stylelint --fix

review
  packages/fuselage/src/components/SideBarV2/SideBar.spec.tsx
  packages/fuselage/src/components/SideBarV2/SideBar.stories.tsx
  packages/fuselage/src/components/SideBarV2/SideBarAccordion.tsx
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarCollapseGroup.tsx
  packages/fuselage/src/components/SideBarV2/SideBarFooter/SideBarFooter.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarFooter/SideBarFooterContent.tsx
  packages/fuselage/src/components/SideBarV2/SideBarFooter/SideBarFooterWatermark.tsx
  packages/fuselage/src/components/SideBarV2/SideBarFooter/index.ts
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix, stylelint --fix

review: SideBarItem
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemAction.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemContent.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemIcon.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/index.ts
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix

fix a11y violation
  packages/fuselage/src/components/SidePanel/SidePanel.stories.tsx
  packages/fuselage/src/components/SidePanel/__snapshots__/SidePanel.spec.tsx.snap
Due: eslint --fix

chore(fuselage): add filter to icons storybook
  packages/fuselage/src/components/Icon/Icon.stories.tsx
Due: eslint --fix

feat: overflow
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
Due: stylelint --fix

chore: SideBarMedia background-color
  packages/fuselage/src/components/SideBarV2/SideBarMedia/SideBarMedia.styles.scss
Due: stylelint --fix

chore(fuselage): add filter to icons storybook (#1360)
  packages/fuselage/src/components/Icon/Icon.stories.tsx
Due: eslint --fix

chore: collapser size, visibillity and chevron orientation
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarCollapseGroup.tsx
Due: eslint --fix, stylelint --fix

review
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
Due: stylelint --fix

wip: collapsed
  packages/fuselage/src/components/SideBarV2/SideBar.stories.tsx
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBar.tsx
  packages/fuselage/src/components/SideBarV2/SideBarBanner.tsx
Due: eslint --fix, stylelint --fix

scrollbar colors
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
Due: stylelint --fix

wip collapse
  packages/fuselage/src/components/SideBarV2/SideBar.stories.tsx
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix, stylelint --fix

mock avatars
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix

wip scroll
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
Due: stylelint --fix

review: banner link
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarBanner.tsx
Due: eslint --fix, stylelint --fix

chore: BannerLink
  packages/fuselage/src/components/SideBarV2/SideBar.stories.tsx
  packages/fuselage/src/components/SideBarV2/SideBarBanner.tsx
Due: eslint --fix

chore: scroll
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
Due: stylelint --fix

chore: focus state
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
  packages/fuselage/src/styles/mixins/templates.scss
Due: stylelint --fix

chore: Icon and StatusBullet sizes
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemIcon.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemStatusBullet.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/index.ts
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix, stylelint --fix

chore: SideBarItemAction tabIndex
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemAction.tsx
Due: eslint --fix

chore: `active` color
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
Due: stylelint --fix

chore: item clickable only in anchor or button items
  packages/fuselage/src/components/SideBarV2/SideBar.stories.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix, stylelint --fix

chore: SideBarAccordionItem title typography
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
Due: eslint --fix, stylelint --fix

fix: `FormContainer` props
  packages/layout/src/FormPageLayout/FormContainer.tsx
  packages/layout/src/FormPageLayout/index.ts
Due: eslint --fix

chore: changeset
  .changeset/kind-turkeys-relate.md
Due: prettier --write

fix(layout): `FormContainer` wrong props (#1362)
  .changeset/kind-turkeys-relate.md
  packages/layout/src/FormPageLayout/FormContainer.tsx
  packages/layout/src/FormPageLayout/index.ts
Due: eslint --fix, prettier --write

review
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarAccordion.tsx
Due: eslint --fix, stylelint --fix

review
  packages/fuselage/src/components/SideBarV2/SideBar.stories.tsx
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemAction.tsx
  packages/fuselage/src/components/SideBarV2/hooks/useCollapse.tsx
Due: eslint --fix, stylelint --fix

review
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
Due: stylelint --fix

fix: tweak
  packages/fuselage/src/components/SideBarV2/hooks/useCollapse.tsx
Due: eslint --fix

chore: stories
  packages/fuselage/src/components/SidePanel/SidePanel.stories.tsx
  packages/fuselage/src/components/SidePanel/SidePanel.styles.scss
  packages/fuselage/src/components/SidePanel/__snapshots__/SidePanel.spec.tsx.snap
Due: eslint --fix, stylelint --fix

chore: snapshot update
  packages/fuselage/src/components/SidePanel/SidePanel.stories.tsx
  packages/fuselage/src/components/SidePanel/__snapshots__/SidePanel.spec.tsx.snap
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
