Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: update `Field` stories
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
Due: eslint --fix, stylelint --fix

fix(fuselage): `CardControls` alignment
  packages/fuselage/src/components/Card/Card.styles.scss
Due: stylelint --fix

chore: change Card and CardGroup stories category to Containers
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
Due: eslint --fix

chore: changeset
  .changeset/curly-hornets-argue.md
Due: prettier --write

fix(fuselage): `CardControls` alignment (#1239)
  .changeset/curly-hornets-argue.md
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: `Label` flex
  packages/fuselage/src/components/Field/Field.styles.scss
Due: stylelint --fix

fix(fuselage): `CardGroup` wrap margins
  packages/fuselage/src/components/CardGroup/CardGroup.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/shaggy-lobsters-greet.md
Due: prettier --write

fix(fuselage): `CardGroup` wrap margins (#1240)
  .changeset/shaggy-lobsters-greet.md
  packages/fuselage/src/components/CardGroup/CardGroup.styles.scss
Due: stylelint --fix, prettier --write

feat(fuselage): `CardGroupGrid` component
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
  packages/fuselage/src/components/CardGroup/CardGroupGrid.tsx
  packages/fuselage/src/components/CardGroup/index.ts
Due: eslint --fix

chore: update snapshot
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
Due: none

chore: changeset
  .changeset/unlucky-parents-pay.md
Due: prettier --write

chore: rename folder
  packages/fuselage/src/components/CardGroup/CardGroup.spec.tsx
  packages/fuselage/src/components/CardGroup/index.ts
  packages/fuselage/src/components/CardWrapper/CardGrid.stories.tsx
  packages/fuselage/src/components/CardWrapper/CardGrid.tsx
  packages/fuselage/src/components/CardWrapper/CardGroup.stories.tsx
  packages/fuselage/src/components/CardWrapper/CardGroup.tsx
  packages/fuselage/src/components/CardWrapper/CardWrapper.spec.tsx
  packages/fuselage/src/components/CardWrapper/CardWrapper.styles.scss
  packages/fuselage/src/components/CardWrapper/__snapshots__/CardGroup.spec.tsx.snap
  packages/fuselage/src/components/CardWrapper/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

chore: update snapshot
  packages/fuselage/src/components/CardWrapper/__snapshots__/CardWrapper.spec.tsx.snap
Due: none

className
  packages/fuselage/src/components/CardWrapper/CardGrid.tsx
Due: eslint --fix

chore: update snapshot
  .changeset/unlucky-parents-pay.md
  packages/fuselage/src/components/CardWrapper/__snapshots__/CardWrapper.spec.tsx.snap
Due: prettier --write

chore: split files
  packages/fuselage/src/components/CardGrid/CardGrid.spec.tsx
  packages/fuselage/src/components/CardGrid/CardGrid.stories.tsx
  packages/fuselage/src/components/CardGrid/CardGrid.tsx
  packages/fuselage/src/components/CardGrid/__snapshots__/CardGrid.spec.tsx.snap
  packages/fuselage/src/components/CardGrid/index.ts
  packages/fuselage/src/components/CardGroup/CardGroup.spec.tsx
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
  packages/fuselage/src/components/CardGroup/CardGroup.styles.scss
  packages/fuselage/src/components/CardGroup/CardGroup.tsx
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

fix import
  packages/fuselage/src/components/index.scss
Due: stylelint --fix

chore: export
  packages/fuselage/src/components/CardGroup/CardGroup.spec.tsx
  packages/fuselage/src/components/index.ts
Due: eslint --fix

.
  packages/fuselage/src/components/CardGrid/CardGrid.spec.tsx
Due: eslint --fix

fix: input as simple label instead of `Label` component
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
Due: eslint --fix

chore: changeset
  .changeset/old-taxis-boil.md
Due: prettier --write

chore: update snapshots
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
Due: none

feat(fuselage): `CardGrid` component (#1242)
  .changeset/unlucky-parents-pay.md
  packages/fuselage/src/components/CardGrid/CardGrid.spec.tsx
  packages/fuselage/src/components/CardGrid/CardGrid.stories.tsx
  packages/fuselage/src/components/CardGrid/CardGrid.tsx
  packages/fuselage/src/components/CardGrid/__snapshots__/CardGrid.spec.tsx.snap
  packages/fuselage/src/components/CardGrid/index.ts
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
  packages/fuselage/src/components/index.ts
Due: eslint --fix, prettier --write

fix(fuselage): `FieldLabel` margins and paddings (#1238)
  .changeset/old-taxis-boil.md
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

chore: card row margin
  packages/fuselage/src/components/Card/Card.styles.scss
Due: stylelint --fix

chore: `CardBody` props
  packages/fuselage/src/components/Card/CardBody.tsx
Due: eslint --fix

chore: `CardGrid` props
  packages/fuselage/src/components/CardGrid/CardGrid.tsx
Due: eslint --fix

first commit
  README.md
  packages/fuselage-hooks/src/useResizeObserver.spec.ts
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix, prettier --write

lets get down
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix

feat(fuselage): `Card` hero variant
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/Card.tsx
Due: eslint --fix, stylelint --fix

chore: update snapshot
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
Due: none

chore: changeset
  .changeset/slimy-houses-smile.md
Due: prettier --write

chore: `Card` tweaks (#1245)
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/CardBody.tsx
  packages/fuselage/src/components/CardGrid/CardGrid.tsx
Due: eslint --fix, stylelint --fix

feat(fuselage): add `Card` hero variant (#1247)
  .changeset/slimy-houses-smile.md
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/Card.tsx
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

..
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix

..
  .vscode/settings.json
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix, prettier --write

feat(fuselage): `FramedIcon` new component
  packages/fuselage/src/components/FramedIcon/FramedIcon.spec.tsx
  packages/fuselage/src/components/FramedIcon/FramedIcon.stories.tsx
  packages/fuselage/src/components/FramedIcon/FramedIcon.styles.scss
  packages/fuselage/src/components/FramedIcon/FramedIcon.tsx
  packages/fuselage/src/components/FramedIcon/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/large-shirts-pull.md
Due: prettier --write

chore: snapshot
  packages/fuselage/src/components/FramedIcon/__snapshots__/FramedIcon.spec.tsx.snap
Due: none
