Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix utils
  packages/message-parser/src/utils.ts
Due: eslint --fix

fix(fuselage, message-parser): Remove list components and update list grammar (#724)
  packages/fuselage/src/components/Message/MessageOrderedList.tsx
  packages/fuselage/src/components/Message/MessageOrderedListItem.tsx
  packages/fuselage/src/components/Message/MessageUnorderedList.tsx
  packages/fuselage/src/components/Message/MessageUnorderedListItem.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/orderedList.test.ts
Due: eslint --fix, stylelint --fix

chore: ToastBar style
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/components/ToastBar/styles.scss
Due: eslint --fix, stylelint --fix

Fix threadmessage style
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): Wrong className in ThreadMessage component (#726)
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.tsx
Due: eslint --fix, stylelint --fix

fix
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

fix(fuselage): ToastBar style (#725)
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/components/ToastBar/styles.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): List style affecting other components (#727)
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

chore(release): 0.31.12
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

feat: add message ui kit block
  packages/fuselage/src/components/Message/MessageUikitBlock.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
Due: eslint --fix, stylelint --fix

refactor: rename type
  packages/fuselage/src/components/Message/MessageUikitBlock.tsx
Due: eslint --fix

fix Divider and Tile colors
  packages/fuselage/src/components/Divider/Divider.tsx
  packages/fuselage/src/components/Divider/styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
Due: eslint --fix, stylelint --fix

.
  packages/fuselage/src/components/Tile/Tile.tsx
Due: eslint --fix

fix(fuselage): Adjusting sequential messages padding
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

fix: Adjusting padding bottom of primary message
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

StatusBullet colors
  packages/fuselage/src/components/StatusBullet/icons/away.svg
  packages/fuselage/src/components/StatusBullet/icons/busy.svg
  packages/fuselage/src/components/StatusBullet/icons/loading.svg
  packages/fuselage/src/components/StatusBullet/icons/offline.svg
  packages/fuselage/src/components/StatusBullet/styles.scss
Due: stylelint --fix, prettier --write

fix(fuselage): Adjusting sequential messages padding (#730)
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

Upgrade Yarn
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Bypass yarn's GitHub plugin to fetch `lamejs`
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

fix(deps,mp3-encoder): Yarn resolution of `lamejs` (#731)
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

Bump lamejs version
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

Use new repository version
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

fix(fuselage): Fixing messages spacing
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/mixins.scss
Due: stylelint --fix

fix(fuselage): Adjusting message spacing
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

fix(fuselage): Message negative margins (#733)
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/mixins.scss
Due: stylelint --fix

Fix MessageMetricsFollowing Icon color
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
Due: eslint --fix

fix(usePosition): change style when target dont fit screen
  packages/fuselage-hooks/src/usePosition.spec.ts
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

wip
  README.md
  packages/fuselage-modal/.eslintignore
  packages/fuselage-modal/.eslintrc.js
  packages/fuselage-modal/.gitignore
  packages/fuselage-modal/.lintstagedrc.json
  packages/fuselage-modal/.prettierignore
  packages/fuselage-modal/.prettierrc.js
  packages/fuselage-modal/.storybook/logo.svg
  packages/fuselage-modal/.storybook/logo.svg.d.ts
  packages/fuselage-modal/.storybook/main.ts
  packages/fuselage-modal/.storybook/manager.ts
  packages/fuselage-modal/.storybook/preview.tsx
  packages/fuselage-modal/CHANGELOG.md
  packages/fuselage-modal/README.md
  packages/fuselage-modal/jest.config.js
  packages/fuselage-modal/package.json
  packages/fuselage-modal/src/Modal.stories.tsx
  packages/fuselage-modal/src/ModalContext.ts
  packages/fuselage-modal/src/ModalPortal.ts
  packages/fuselage-modal/src/ModalProvider.tsx
  packages/fuselage-modal/src/index.ts
  packages/fuselage-modal/tsconfig-cjs.json
  packages/fuselage-modal/tsconfig-esm.json
  packages/fuselage-modal/tsconfig.json
  packages/fuselage-modal/typedoc.json
  packages/fuselage/src/components/Modal/Modal.spec.tsx
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: Modal Context
  packages/fuselage-modal/README.md
  packages/fuselage-modal/package.json
  packages/fuselage-modal/src/Modal.stories.tsx
  packages/fuselage-modal/src/ModalContext.ts
  packages/fuselage-modal/src/ModalPortal.ts
  packages/fuselage-modal/src/ModalProvider.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Fix state permanence
  packages/fuselage-modal/src/ModalProvider.tsx
  packages/fuselage-modal/src/PortalNodeHandler.tsx
  packages/fuselage-modal/src/index.ts
Due: eslint --fix

Fix type
  packages/fuselage-modal/src/ModalProvider.tsx
Due: eslint --fix

fix review
  packages/fuselage/src/components/Message/MessageBlock.tsx
  packages/fuselage/src/components/Message/MessageUikitBlock.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
Due: eslint --fix, stylelint --fix

Update Messages.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

Update MessageBlock.tsx
  packages/fuselage/src/components/Message/MessageBlock.tsx
Due: eslint --fix

Update MessageBlock.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

chore: Add message block fixed width variation (#728)
  packages/fuselage/src/components/Message/MessageBlock.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

chore(release): 0.31.13
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

fix(message-parser): Fixed Relative URL being displayed as plain text
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
