Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Fix onboarding-ui
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.tsx
  packages/onboarding-ui/src/i18next.d.ts
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.tsx
Due: eslint --fix

Accept null refs in `useOutsideClick`
  packages/fuselage-hooks/src/useOutsideClick.ts
Due: eslint --fix

Add some type adjustments
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Box/index.ts
  packages/fuselage/src/components/Box/useStylingProps.ts
  packages/fuselage/src/hooks/useBoxOnlyProps.ts
  packages/layout/src/List/List.styles.tsx
  packages/layout/src/List/List.tsx
  packages/onboarding-ui/src/i18next.d.ts
Due: eslint --fix

Upgrade RHF
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/onboarding-ui/src/pages/AdminInfoPage/AdminInfoPage.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.tsx
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/CreateNewPasswordPage.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Due: eslint --fix

Change Jest project names
  packages/fuselage-hooks/jest.config.ts
Due: eslint --fix

Deprecate `useUniqueId`
  packages/fuselage-hooks/src/useUniqueId.ts
  packages/fuselage/jest-setup.ts
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
  packages/fuselage/src/components/SidebarV2/hooks/useCollapse.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/layout/src/TooltipWrapper.tsx
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/CopyStep.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix

Drop use of `use-sync-external-store`
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/src/useMediaQueries.ts
  yarn.lock
Due: eslint --fix, prettier --write

Dedupe
  yarn.lock
Due: none

Add changeset
  .changeset/warm-items-sell.md
Due: prettier --write

feat(fuselage): `useInsertionEffect` in Box `useStyle`
  packages/fuselage/src/hooks/useStyle.ts
Due: eslint --fix

feat(styled): `useInsertionEffect` in styled package
  packages/styled/src/styled.ts
Due: eslint --fix

chore: changeset
  .changeset/ninety-cherries-pull.md
Due: prettier --write

fix: :bug: SlideTrack 'invalid' content
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Due: eslint --fix

fix: `Slider` accessing default value before initialization
  packages/fuselage/src/components/Slider/Slider.tsx
Due: eslint --fix

chore: changeset
  .changeset/heavy-fishes-sing.md
Due: prettier --write

fix(fuselage): broken `Slider` multi thumb (#1565)
  .changeset/heavy-fishes-sing.md
  packages/fuselage/src/components/Slider/Slider.tsx
Due: eslint --fix, prettier --write

Create grumpy-mice-draw.md
  .changeset/grumpy-mice-draw.md
Due: prettier --write

Update .changeset/grumpy-mice-draw.md
  .changeset/grumpy-mice-draw.md
Due: prettier --write

fix(fuselage): Missing track on `Slider` component (#1564)
  .changeset/grumpy-mice-draw.md
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Due: eslint --fix, prettier --write

feat: replace `useLayoutEffect` in favor of `useInsertionEffect` (#1559)
  .changeset/ninety-cherries-pull.md
  packages/fuselage/src/hooks/useStyle.ts
  packages/styled/src/styled.ts
Due: eslint --fix, prettier --write

fix auto complete remove selected
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

chore: ignore `@types/eslint__js` major
  package.json
  yarn.lock
Due: prettier --write

chore: ignore `@types/eslint__js` major bump
  package.json
  yarn.lock
Due: prettier --write

chore: move code-snippet props to child
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.tsx
Due: eslint --fix

fix: workspace trial form labels
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
Due: eslint --fix

tamagui first commit
  .vscode/settings.json
  packages/core/.gitignore
  packages/core/README.md
  packages/core/package.json
  packages/core/src/MyComponent.tsx
  packages/core/src/global.ts
  packages/core/src/index.tsx
  packages/core/src/tamagui.config.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/fuselage-tamagui-tokens/.eslintrc
  packages/fuselage-tamagui-tokens/.gitignore
  packages/fuselage-tamagui-tokens/.prettierignore
  packages/fuselage-tamagui-tokens/.stylelintignore
  packages/fuselage-tamagui-tokens/.stylelintrc
  packages/fuselage-tamagui-tokens/package.json
  packages/fuselage-tamagui-tokens/src/index.ts
  packages/fuselage/tamagui.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: accept ReactNode as `message` on toastbar
  packages/fuselage-toastbar/src/ToastBarContext.ts
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
Due: eslint --fix

feat: add a `persistent` variant to toastbar
  packages/fuselage-toastbar/src/ToastBar.stories.tsx
  packages/fuselage-toastbar/src/ToastBarContext.ts
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
Due: eslint --fix

feat: Toastbar persistent
  packages/fuselage-toastbar/src/ToastBarPersistent.tsx
  packages/fuselage-toastbar/src/ToastBarProvider.tsx
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
Due: eslint --fix

chore: changeset
  .changeset/two-doodles-hang.md
Due: prettier --write

feat(toastbar): new `Toastbar` variants (#1591)
  .changeset/two-doodles-hang.md
  packages/fuselage-toastbar/src/ToastBar.stories.tsx
  packages/fuselage-toastbar/src/ToastBarContext.ts
  packages/fuselage-toastbar/src/ToastBarPersistent.tsx
  packages/fuselage-toastbar/src/ToastBarProvider.tsx
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
Due: eslint --fix, prettier --write

Upgrade Node
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Upgrade Yarn
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

Upgrade Rollup
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.mjs
  packages/emitter/package.json
  packages/emitter/rollup.config.mjs
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/rollup.config.mjs
  packages/mp3-encoder/package.json
  packages/mp3-encoder/rollup.config.mjs
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade Rollup configuration
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.mjs
  packages/emitter/package.json
  packages/emitter/rollup.config.mjs
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/rollup.config.mjs
  packages/mp3-encoder/rollup.config.mjs
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade rimraf
  _templates/create-package/library/files/package.json.t
  package.json
  packages/css-supports/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/tools-utils/files.mjs
  tools/tools-utils/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Sort manifest files
  _templates/create-package/library/files/package.json.t
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
Due: prettier --write

Upgrade zx
  tools/lint-all/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
