Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Add `bump-next` script to publishable packages
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/bump/bump-next.mjs
  yarn.lock
Due: eslint --fix, prettier --write

Mark `fuselage-polyfills` as public
  packages/fuselage-polyfills/package.json
Due: prettier --write

Add preventive check for non-dist-tagged versions
  tools/bump/bump-next.mjs
  tools/bump/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Apply it on CD workflow
  .github/workflows/cd.yml
  package.json
Due: prettier --write

Remove unnecessary types packages
  tools/bump/package.json
  yarn.lock
Due: prettier --write

feat: add totp form
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/TotpForm/Totp.stories.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.spec.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.styles.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.tsx
  packages/onboarding-ui/src/forms/TotpForm/index.ts
  packages/onboarding-ui/src/pages/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write

Absorb `onChange` prop
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.stories.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.tsx
Due: eslint --fix

fix: login page test
  packages/onboarding-ui/src/pages/LoginPage/LoginPage.spec.tsx
Due: eslint --fix

fix(fuselage): `onChange` prop on `PaginatedSelectFiltered` (#659)
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.stories.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.tsx
Due: eslint --fix

fix
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.tsx
Due: eslint --fix

Simplify stories
  packages/fuselage/package.json
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelectFiltered.stories.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.stories.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.stories.tsx
  packages/fuselage/src/components/SelectPaginated/hugeList.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Split into subcomponents
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectAddon.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFocus.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectWrapper.tsx
  packages/fuselage/src/components/SelectPaginated/index.ts
Due: eslint --fix

Rename directory
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.stories.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectAddon.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFocus.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectWrapper.tsx
  packages/fuselage/src/components/PaginatedSelect/index.ts
  packages/fuselage/src/components/PaginatedSelect/styles.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

feat(onboarding-ui): Create Cloud Workspace Simplified Page
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/CreateCloudWorkspaceSimplifiedPage.stories.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/CreateCloudWorkspaceSimplifiedPage.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/index.ts
Due: eslint --fix

refactored files
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/Description.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/TitleCreateCloudPage.tsx
Due: eslint --fix, prettier --write

fix: select option bug
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/CreateCloudWorkspaceSimplifiedPage.tsx
Due: eslint --fix

Add condition for controlled SelectFiltered and MultiSelectFiltered
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Due: eslint --fix

fix(fuselage): `PaginatedSelectFiltered` filter state (#661)
  packages/fuselage/package.json
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.stories.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectAddon.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFocus.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectWrapper.tsx
  packages/fuselage/src/components/PaginatedSelect/index.ts
  packages/fuselage/src/components/PaginatedSelect/styles.scss
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.stories.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/SelectPaginated/hugeList.tsx
  packages/fuselage/src/components/SelectPaginated/index.ts
  packages/fuselage/src/components/index.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore(release): 0.31.6
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

refactor description list and i18n strings
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/Description.tsx
Due: eslint --fix, prettier --write

refactor: update older folder instead of creating a new one
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/Description.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/TitleCreateCloudPage.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/CreateCloudWorkspaceSimplifiedPage.stories.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/CreateCloudWorkspaceSimplifiedPage.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/Description.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/TitleCreateCloudPage.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspaceSimplifiedPage/index.ts
Due: eslint --fix, prettier --write

Split `Select` stories
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/SelectFiltered.stories.tsx
Due: eslint --fix

feat: add button to login with totp
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.tsx
Due: eslint --fix, prettier --write

feat: update form
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/Description.tsx
Due: eslint --fix, prettier --write

Upgrade dependencies
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Select/SelectFiltered.spec.tsx
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/scripts/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Move types from components
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAddon.tsx
  packages/fuselage/src/components/Select/SelectFocus.tsx
  packages/fuselage/src/components/Select/SelectWrapper.tsx
  packages/fuselage/src/components/Select/useDidUpdate.ts
  packages/fuselage/src/index.ts
  packages/fuselage/src/types/OptionType.ts
  packages/fuselage/src/types/SelectOption.ts
Due: eslint --fix

Add missing exported type
  packages/fuselage/src/index.ts
Due: eslint --fix

fix: build error
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.tsx
Due: eslint --fix

refactor: WorkspaceUrlInput
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/WorkspaceUrlInput.tsx
Due: eslint --fix

Decouple props types
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Due: eslint --fix

Lift filter logic up from `Select`
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchor.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAnchor.tsx
  packages/fuselage/src/components/Select/SelectContainer.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectWrapper.tsx
  packages/fuselage/src/components/Select/useDidUpdate.ts
  packages/fuselage/src/helpers/renderComponentOrFunction.ts
Due: eslint --fix

feat: add totp form (#658)
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/TotpForm/Totp.stories.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.spec.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.styles.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.tsx
  packages/onboarding-ui/src/forms/TotpForm/index.ts
  packages/onboarding-ui/src/pages/LoginPage/LoginPage.spec.tsx
  packages/onboarding-ui/src/pages/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write

fix MultiSelect controlled
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
Due: eslint --fix

Extract dropdown from `Select`
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectDropdown.tsx
Due: eslint --fix

Add test for `Select`
  packages/fuselage/src/components/Select/Select.spec.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectContainer.tsx
  packages/fuselage/src/components/Select/SelectDropdown.tsx
  packages/fuselage/src/components/Select/index.ts
Due: eslint --fix

Add tests for `SelectFiltered`
  packages/fuselage/src/components/Select/SelectFiltered.spec.tsx
Due: eslint --fix
