Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore(fuselage): Change sidebar backgroundColor (#953)
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

chore(deps): Upgrade TypeScript
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/fuselage/src/.storybook/PropsVariation.tsx
  packages/fuselage/src/components/Box/withBoxStyling.tsx
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/src/helpers/patchChildren.ts
  packages/fuselage/src/hooks/useBoxOnlyProps.ts
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/tools-utils/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Add StatusColor to bg Box prop
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

(DRAFT) Fixed usePosition hook by internal functions removal
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

Fixed issue
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

Fixed merge issues
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

Squashed commit of the following:
  packages/fuselage/package.json
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Modal/ModalFooterControllers.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
  packages/fuselage/src/components/States/States.styles.scss
  packages/icons/glyphsMapping.json
  packages/icons/src/compass.svg
Due: eslint --fix, stylelint --fix, prettier --write

feat: modal-wrapper
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
Due: eslint --fix

Progressbar variants
  packages/fuselage/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.tsx
Due: eslint --fix, stylelint --fix

fix: link parser problems
  packages/message-parser/package.json
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix, prettier --write

updating dependencies
  yarn.lock
Due: none

fix: links parser
  packages/message-parser/package.json
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: wrapperFunction
  packages/fuselage/src/components/Modal/Modal.tsx
Due: eslint --fix

Add light variant on ProgressBar. Add cases to storybook
  packages/fuselage/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/fuselage/src/components/ProgressBar/ProgressBar.tsx
Due: eslint --fix

fix animation
  packages/fuselage/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.tsx
Due: eslint --fix, stylelint --fix

add palette icon
  packages/icons/glyphsMapping.json
  packages/icons/src/aliases/palette.svg
Due: prettier --write

chore(icons): Add `palette` icon (#963)
  packages/icons/glyphsMapping.json
  packages/icons/src/aliases/palette.svg
Due: prettier --write

Improve ProgressBar prop type
  packages/fuselage/src/components/ProgressBar/ProgressBar.tsx
Due: eslint --fix

feat(fuselage): `Modal` wrapper & wrapperFunction prop (#959)
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
Due: eslint --fix

fix ProgressBar usage on LoaderPage
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
Due: eslint --fix

chore: Option Skeleton
  packages/fuselage/src/components/Option/OptionSkeleton.tsx
Due: eslint --fix

fix: fixing subdomains with 1 char
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

chore(fuselage): ProgressBar colors (#958)
  packages/fuselage/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.tsx
  packages/fuselage/src/styleTokens.ts
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): `OptionSkeleton` Visual Changes (#964)
  packages/fuselage/src/components/Option/OptionSkeleton.tsx
Due: eslint --fix

Add StatusBullet disabled variation
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
  packages/fuselage/src/components/StatusBullet/icons/disabled.svg
Due: eslint --fix, stylelint --fix, prettier --write

Add disabled variation to storybook
  packages/fuselage/src/components/StatusBullet/StatusBullet.stories.tsx
Due: eslint --fix

chore: StatusBullet disabled (#965)
  packages/fuselage/src/components/StatusBullet/StatusBullet.stories.tsx
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
  packages/fuselage/src/components/StatusBullet/icons/disabled.svg
Due: eslint --fix, stylelint --fix, prettier --write

chore: new icons
  packages/icons/glyphsMapping.json
  packages/icons/src/play-unfilled.svg
  packages/icons/src/stop-unfilled.svg
  packages/icons/src/stop.svg
Due: prettier --write

Fix usePosition
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

remove useless comments
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

ops
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

chore(icons): Some New Icons #966
  packages/icons/glyphsMapping.json
  packages/icons/src/play-unfilled.svg
  packages/icons/src/stop-unfilled.svg
  packages/icons/src/stop.svg
Due: prettier --write

Update packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

fix(fuselage-hooks): Fix `usePosition` (#967)
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

Replace default calendar icon from InputBox type date with Addon
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.tsx
Due: eslint --fix, stylelint --fix

use status-font on icon colors
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

replace default input time icon with custom Addon
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.tsx
Due: eslint --fix, stylelint --fix
