Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Upgrade Storybook on `@rocket.chat/layout`
  packages/layout/.storybook/main.ts
  packages/layout/.storybook/preview.tsx
  packages/layout/package.json
  packages/layout/src/BackgroundLayer/BackgroundLayer.stories.tsx
  packages/layout/src/HeroLayout/HeroLayout.stories.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.stories.tsx
  packages/layout/src/TooltipWrapper.stories.tsx
  packages/layout/src/VerticalWizardLayout/VerticalWizardLayout.stories.tsx
  packages/layout/tsconfig.cjs.json
  packages/layout/tsconfig.esm.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade Jest
  .yarn/patches/@storybook-react-docgen-typescript-plugin-npm-1.0.2-canary.6.9d540b91e815f8fc2f8829189deb00553559ff63.0-b31cc57c40.patch
  package.json
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/jest-setup.ts
  packages/fuselage-toastbar/jest.config.ts
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/tsconfig.cjs.json
  packages/fuselage-toastbar/tsconfig.esm.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage/.jest/global.d.ts
  packages/fuselage/jest-setup.ts
  packages/fuselage/jest.config.js
  packages/fuselage/jest.config.ts
  packages/fuselage/package.json
  packages/fuselage/tsconfig.build.json
  packages/fuselage/tsconfig.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Rename module
  packages/fuselage/src/components/TextAreaInput/TextAreaInput.spec.tsx
  packages/fuselage/src/components/TextAreaInput/TextAreaInput.stories.tsx
  packages/fuselage/src/components/TextAreaInput/TextAreaInput.tsx
  packages/fuselage/src/components/TextAreaInput/index.ts
  packages/fuselage/src/components/TextAreaInput/index.tsx
Due: eslint --fix

Remove commented-out code
  packages/fuselage/src/components/PaletteStyleTag/PaletteStyleTag.stories.tsx
Due: eslint --fix

feat(icons): Added icon pause-shape-unfilled
  packages/icons/glyphsMapping.json
  packages/icons/src/pause-shape-unfilled.svg
Due: prettier --write

Create long-pants-mate.md
  .changeset/long-pants-mate.md
Due: prettier --write

chore: adjusted code style
  packages/icons/src/pause-shape-unfilled.svg
Due: prettier --write

Fix dark mode in Storybook docs and canvasses
  packages/fuselage-toastbar/.storybook/DocsContainer.tsx
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage/.storybook/DocsContainer.tsx
  packages/fuselage/.storybook/preview.tsx
  packages/layout/.storybook/DocsContainer.tsx
  packages/layout/.storybook/preview.tsx
  packages/layout/package.json
  packages/onboarding-ui/.storybook/DocsContainer.tsx
  packages/onboarding-ui/.storybook/preview.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: Broken dark mode in Storybook docs and canvasses (#1426)
  packages/fuselage-toastbar/.storybook/DocsContainer.tsx
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage/.storybook/DocsContainer.tsx
  packages/fuselage/.storybook/preview.tsx
  packages/layout/.storybook/DocsContainer.tsx
  packages/layout/.storybook/preview.tsx
  packages/layout/package.json
  packages/onboarding-ui/.storybook/DocsContainer.tsx
  packages/onboarding-ui/.storybook/preview.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: adjusted svg and glyphsMapping
  packages/icons/glyphsMapping.json
  packages/icons/src/pause-shape-unfilled.svg
Due: prettier --write

feat(icons): Add icon pause-shape-unfilled (#1425)
  .changeset/long-pants-mate.md
  packages/icons/glyphsMapping.json
  packages/icons/src/pause-shape-unfilled.svg
Due: prettier --write

ci: Update pr-title.yml
  .github/workflows/pr-title.yml
Due: prettier --write

fix: :bug: Update contextualbar z-index
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Due: eslint --fix

test: :white_check_mark: Update jest snapshots
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
Due: none

Create happy-houses-listen.md
  .changeset/happy-houses-listen.md
Due: prettier --write

fix: change accordion color token
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/real-seas-melt.md
Due: prettier --write

fix: add support for new emojis in v5 (closes #1020)
  package.json
  packages/fuselage/src/components/Message/MessageEmoji.tsx
  packages/fuselage/src/components/Message/MessageEmojiBase.tsx
Due: eslint --fix, prettier --write

fix(fuselage): change `Accordion` color token (#1429)
  .changeset/real-seas-melt.md
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
Due: stylelint --fix, prettier --write

fix:ZWJ sequence
  package.json
  packages/fuselage/src/components/Message/MessageEmojiBase.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: bubble missing text truncation
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/thin-chairs-wash.md
Due: prettier --write

fix(fuselage): `Bubble` missing text truncation (#1433)
  .changeset/thin-chairs-wash.md
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

fix: missing overflow property
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/popular-beers-run.md
Due: prettier --write

fix(fuselage): `Bubble` missing overflow property (#1437)
  .changeset/popular-beers-run.md
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
Due: stylelint --fix, prettier --write

chore: changeset version
  .changeset/popular-beers-run.md
  .changeset/thin-chairs-wash.md
  packages/fuselage/CHANGELOG.md
  packages/fuselage/package.json
Due: prettier --write

chore: changeset version
  .changeset/popular-beers-run.md
  .changeset/thin-chairs-wash.md
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/CHANGELOG.md
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

chore: release fuselage@0.57.1 (#1439)
  packages/fuselage/CHANGELOG.md
Due: prettier --write

Added flex-wrap to CardControls css
  packages/fuselage/src/components/Card/Card.styles.scss
Due: stylelint --fix

Changed Cardcontrol component to use Box for similar behaviour
  packages/fuselage/src/components/Card/CardControls.tsx
Due: eslint --fix

Added different behaviour for horizontal cards
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/CardControls.tsx
Due: eslint --fix, stylelint --fix

style: :lipstick: Refactor InputBox and Field styles to follow new figma specs
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
Due: stylelint --fix

Create sweet-sheep-film.md
  .changeset/sweet-sheep-film.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
