Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore(fuselage): Convert className to be optional on Topbar.ToolBox component (#603)
  packages/fuselage/src/components/Sidebar/TopBar.tsx
Due: eslint --fix

fix toolbox story
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.stories.mdx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.stories.tsx
Due: eslint --fix

fix(fuselage): Menu toggle (#389)
  packages/fuselage/src/components/Menu/index.js
Due: eslint --fix

Revert props.stories from tsx to mdx
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/props.stories.tsx
Due: eslint --fix

test
  packages/fuselage/tsconfig.json
Due: prettier --write

export from index
  README.md
  packages/fuselage-hooks/src/index.ts
Due: eslint --fix, prettier --write

Ensure yarn is run after bump
  CHANGELOG.md
  package.json
  tools/bump/bump.mjs
  tools/resolve-loki/package.json
Due: eslint --fix, prettier --write

.
  yarn.lock
Due: none

MEHHHHHH
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/src/useOutsideClick.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(monorepo): Bump version tool (#602)
  .github/workflows/codesee-arch-diagram.yml
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
  CHANGELOG.md
  README.md
  package.json
  packages/eslint-config-alt/minimal/index.js
  packages/eslint-config-alt/original/index.js
  packages/eslint-config-alt/original/rules/best-practices.js
  packages/eslint-config-alt/original/rules/errors.js
  packages/eslint-config-alt/original/rules/es6.js
  packages/eslint-config-alt/original/rules/imports.js
  packages/eslint-config-alt/original/rules/node.js
  packages/eslint-config-alt/original/rules/strict.js
  packages/eslint-config-alt/original/rules/style.js
  packages/eslint-config-alt/original/rules/variables.js
  packages/eslint-config-alt/package.json
  packages/fuselage/package.json
  packages/prettier-config/package.json
  tools/bump/.eslintrc.json
  tools/bump/bump.mjs
  tools/bump/package.json
  tools/resolve-loki/package.json
  yarn.lock
Due: eslint --fix, prettier --write

lint
  packages/fuselage-hooks/src/useOutsideClick.spec.ts
Due: eslint --fix

feat(fuselage-hooks): useOutsideClick (#607)
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useOutsideClick.spec.ts
  packages/fuselage-hooks/src/useOutsideClick.ts
  yarn.lock
Due: eslint --fix, prettier --write

.
  packages/fuselage/loki-runner.patch
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

.
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/Box/Scrollable/Scrollable.stories.tsx
  packages/fuselage/src/components/SelectPaginated/SelectPaginated.stories.tsx
  packages/fuselage/src/components/Throbber/Throbber.stories.tsx
Due: eslint --fix

chore: storycap
  .github/actions/storycap/Dockerfile
  .github/actions/storycap/action.yml
  .github/actions/storycap/entrypoint.sh
  .github/workflows/ci-pr.yml
  package.json
  packages/fuselage/.storybook/main.js
  packages/fuselage/.storybook/preview.js
  packages/fuselage/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: parallel
  .github/actions/storycap/Dockerfile
  .github/workflows/ci-pr.yml
  packages/fuselage/.gitignore
  packages/fuselage/package.json
  packages/fuselage/regconfig.json
  yarn.lock
Due: prettier --write

chore: alpine-chrome image
  .github/actions/storycap/Dockerfile
Due: none

Convert Label.js to .ts
  packages/fuselage/src/components/Label/index.d.ts
  packages/fuselage/src/components/Label/index.tsx
Due: eslint --fix

Convert Skeleton.js to .ts
  packages/fuselage/src/components/Skeleton/index.d.ts
  packages/fuselage/src/components/Skeleton/index.js
  packages/fuselage/src/components/Skeleton/index.tsx
Due: eslint --fix

Convert StatusBullet.js to .ts
  packages/fuselage/src/components/StatusBullet/index.d.ts
  packages/fuselage/src/components/StatusBullet/index.js
  packages/fuselage/src/components/StatusBullet/index.tsx
Due: eslint --fix

added env vars
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: Turbo Repo cache (#612)
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

Convert Throbber and Accordion js to tsx
  packages/fuselage/src/components/Accordion/index.tsx
  packages/fuselage/src/components/Throbber/index.tsx
Due: eslint --fix

review
  packages/fuselage/src/components/Box/index.d.ts
  packages/fuselage/src/components/Throbber/index.tsx
Due: eslint --fix

chore: reg-suit test
  .github/workflows/ci-pr.yml
  package.json
  packages/fuselage/package.json
  packages/fuselage/regconfig.json
Due: prettier --write

gamba
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: simplifying ci-pr
  .github/workflows/ci-pr.yml
  package.json
  packages/fuselage/package.json
Due: prettier --write

Convert Avatar (ongoing) and Badge components from .js to .tsx
  packages/fuselage/src/components/Accordion/index.js
  packages/fuselage/src/components/Avatar/index.tsx
  packages/fuselage/src/components/Badge/index.d.ts
  packages/fuselage/src/components/Badge/index.tsx
  packages/fuselage/src/components/Throbber/index.d.ts
  packages/fuselage/src/components/Throbber/index.js
Due: eslint --fix

Convert Callout component from .js to .tsx
  packages/fuselage/src/components/Callout/index.d.ts
  packages/fuselage/src/components/Callout/index.tsx
Due: eslint --fix

Convert Chevron component from .js to .tsx
  packages/fuselage/src/components/Chevron/index.d.ts
  packages/fuselage/src/components/Chevron/index.js
  packages/fuselage/src/components/Chevron/index.tsx
Due: eslint --fix

Convert EmailInput component from .js to .tsx
  packages/fuselage/src/components/EmailInput/index.d.ts
  packages/fuselage/src/components/EmailInput/index.js
  packages/fuselage/src/components/EmailInput/index.tsx
Due: eslint --fix

chore: missing http-server
  .github/workflows/ci-pr.yml
  packages/fuselage-ui-kit/package.json
  packages/fuselage-ui-kit/src/stories/payloads/image.ts
  packages/fuselage-ui-kit/src/stories/payloads/img.ts
  packages/onboarding-ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

--ignore="apps/**/*"
  package.json
Due: prettier --write

Snapshot updates
  packages/fuselage-ui-kit/__screenshots__/Surfaces/Banner/Context With Text And Images.png
  packages/fuselage-ui-kit/__screenshots__/Surfaces/Message/Context With Text And Images.png
  packages/fuselage-ui-kit/__screenshots__/Surfaces/Modal/Context With Mrkdwn.png
  packages/fuselage-ui-kit/__screenshots__/Surfaces/Modal/Context With Text And Images.png
  packages/fuselage/__screenshots__/Dropdown/Dropdown/Default.png
Due: none

Convert Label component from .js to .tsx
  packages/fuselage/src/components/Label/index.tsx
Due: eslint --fix
