Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Add Yarn plugin `typescript`
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
Due: prettier --write

Add tool to bump version
  package.json
  tools/bump/.eslintrc.json
  tools/bump/bump.mjs
  tools/bump/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Parse arguments
  tools/bump/bump.mjs
Due: eslint --fix

Fix lint errors on Table and TelephoneInput stories
  packages/fuselage/src/components/Table/Table.stories.tsx
  packages/fuselage/src/components/Table/index.d.ts
  packages/fuselage/src/components/Table/index.js
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.stories.tsx
Due: eslint --fix

Fix lint errors
  packages/fuselage/src/components/InputBox/index.d.ts
  packages/fuselage/src/components/SelectInput/SelectInput.stories.tsx
  packages/fuselage/src/components/SelectInput/index.js
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/TopBar.stories.tsx
  packages/fuselage/src/components/Sidebar/TopBar.tsx
  packages/fuselage/src/components/Table/Table.stories.tsx
Due: eslint --fix

Fix lint errors
  packages/fuselage/src/components/Accordion/Item.stories.tsx
  packages/fuselage/src/components/Grid/Grid.stories.tsx
  packages/fuselage/src/components/NumberInput/index.d.ts
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.stories.tsx
  packages/fuselage/src/components/Table/index.js
Due: eslint --fix

Fix AccordionItem lint errors
  packages/fuselage/src/components/Accordion/Item.stories.tsx
Due: eslint --fix

Convert className to be optional on Topbar.ToolBox component
  packages/fuselage/src/components/Sidebar/TopBar.tsx
Due: eslint --fix

Fix lint erros
  packages/fuselage/src/components/ButtonGroup/index.d.ts
Due: eslint --fix

wip
  packages/fuselage-hooks/src/useOutsideClick.spec.ts
  packages/fuselage-hooks/src/useOutsideClick.ts
Due: eslint --fix

WIP
  .github/workflows/cd.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

missing loki
  .github/workflows/ci-pr.yml
Due: prettier --write

missing storybook-static
  .github/workflows/ci-pr.yml
  package.json
Due: prettier --write

O.o
  package.json
Due: prettier --write

bump test
  README.md
Due: prettier --write

improve CI
  .github/workflows/ci-pr.yml
  package.json
Due: prettier --write

.
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/ci-pr.yml
  .gitignore
  package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage-ui-kit/src/index.ts
Due: eslint --fix, prettier --write

loki
  .github/actions/loki/test/entrypoint.sh
Due: none

loki
  package.json
Due: prettier --write

loki
  packages/fuselage/package.json
Due: prettier --write

test
  .github/workflows/ci-pr.yml
  .gitignore
Due: prettier --write

test
  package.json
Due: prettier --write

test
  .github/workflows/ci-pr.yml
  packages/fuselage-ui-kit/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

test
  .github/workflows/ci-pr.yml
Due: prettier --write

Fix lint error AutoComplete stories
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/Accordion/Item.stories.tsx
  packages/fuselage/src/components/AutoComplete/index.d.ts
  packages/fuselage/src/components/Box/index.d.ts
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.stories.tsx
Due: eslint --fix

Fix Avatar.stories errors
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Stack.js
  packages/fuselage/src/components/Avatar/index.d.ts
  packages/fuselage/src/components/Avatar/index.js
Due: eslint --fix

test
  .github/workflows/ci-pr.yml
  package.json
Due: prettier --write

test
  .github/workflows/cd.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

Fix Toolbox.stories lint errors
  packages/fuselage/src/components/Message/MessageToolbox/Toolbox.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbox/index.tsx
Due: eslint --fix

Fix Multiselect.stories lint errors
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
Due: eslint --fix

Fix Option.stories lint errors
  packages/fuselage/src/components/Options/Option/Option.stories.tsx
  packages/fuselage/src/components/Options/Option/index.tsx
Due: eslint --fix

test
  .github/workflows/ci-pr.yml
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

Fix Options.stories ans OptionsPaginated.stories lint errors
  packages/fuselage/src/components/Options/Option/index.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.stories.tsx
  packages/fuselage/src/components/OptionsPaginated/index.d.ts
Due: eslint --fix

Fix SelectInput.stories lint errors
  packages/fuselage/src/components/SelectInput/index.d.ts
Due: eslint --fix

Fix Table.stories lint errors
  packages/fuselage/src/components/Table/Table.Body.spec.tsx
  packages/fuselage/src/components/Table/Table.Cell.spec.tsx
  packages/fuselage/src/components/Table/Table.Foot.spec.tsx
  packages/fuselage/src/components/Table/Table.Head.spec.tsx
  packages/fuselage/src/components/Table/Table.Row.spec.tsx
Due: eslint --fix
