Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix icons index.d.ts definition
  tools/build-icons/.eslintrc.json
  tools/build-icons/build.mjs
  tools/build-icons/font.mjs
  tools/build-icons/glyphs.mjs
  tools/build-icons/index.mjs
Due: eslint --fix, prettier --write

fix(icons): Build definition for `icons` package (#1123)
  tools/build-icons/.eslintrc.json
  tools/build-icons/build.mjs
  tools/build-icons/font.mjs
  tools/build-icons/glyphs.mjs
  tools/build-icons/index.mjs
Due: eslint --fix, prettier --write

feat(fuselage): `StatesLink` Component (#1122)
  packages/fuselage/src/components/States/States.stories.tsx
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/StatesLink.tsx
  packages/fuselage/src/components/States/index.tsx
Due: eslint --fix, stylelint --fix

adjust
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarHeader.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Tile/Tile.tsx
Due: eslint --fix

useBreakpoints
  packages/fuselage-hooks/src/useBreakpoints.ts
Due: eslint --fix

..
  packages/fuselage-hooks/src/useBreakpoints.ts
  packages/fuselage/src/components/Button/Button.styles.scss
Due: eslint --fix, stylelint --fix

chore: remove auto bump step
  .github/workflows/cd.yml
Due: prettier --write

chore(ci): Remove auto bump step (#1125)
  .github/workflows/cd.yml
Due: prettier --write

chore: review
  packages/fuselage/tsconfig.json
Due: prettier --write

wip
  packages/fuselage/.gitignore
  packages/fuselage/package.json
  packages/fuselage/src/components/Banner/Banner.tsx
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Box/withBoxStyling.tsx
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
  packages/fuselage/src/components/Tile/Tile.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/hooks/useStyleSheet.ts
  packages/fuselage/src/index.ts
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

fix storybook
  packages/fuselage/.storybook/main.js
  packages/fuselage/.storybook/preview.ts
Due: eslint --fix

..
  packages/fuselage/src/index.ts
  packages/onboarding-ui/.storybook/preview.tsx
Due: eslint --fix

..
  packages/fuselage/.stylelintignore
Due: none

chore: split css bundle (#1126)
  packages/fuselage/.gitignore
  packages/fuselage/.storybook/main.js
  packages/fuselage/.storybook/preview.ts
  packages/fuselage/.stylelintignore
  packages/fuselage/package.json
  packages/fuselage/src/components/Banner/Banner.tsx
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Box/withBoxStyling.tsx
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
  packages/fuselage/src/components/Tile/Tile.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/hooks/useStyleSheet.ts
  packages/fuselage/src/index.ts
  packages/fuselage/webpack.config.js
  packages/onboarding-ui/.storybook/preview.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

Update Lint configuration
  packages/fuselage/.babelrc.js
  packages/fuselage/.eslintignore
  packages/fuselage/.prettierignore
Due: eslint --fix

Patch `@storybook/react-docgen-typescript-plugin`
  .yarn/patches/@storybook-react-docgen-typescript-plugin-npm-1.0.2-canary.6.9d540b91e815f8fc2f8829189deb00553559ff63.0-b31cc57c40.patch
  package.json
  packages/fuselage/.storybook/main.js
  packages/fuselage/.storybook/main.ts
  packages/fuselage/.storybook/preview.ts
  packages/fuselage/package.json
  packages/fuselage/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Add type reference for Jest
  packages/fuselage/tsconfig.json
Due: prettier --write

Migrate stories' helpers
  packages/fuselage/.storybook/helpers.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.spec.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
Due: eslint --fix

Update `tsconfig.json` files
  packages/fuselage-toastbar/src/ToastBarProvider.tsx
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage-toastbar/tsconfig-cjs.json
  packages/fuselage-toastbar/tsconfig-esm.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage/tsconfig.json
  packages/layout/tsconfig-cjs.json
  packages/layout/tsconfig-esm.json
  packages/layout/tsconfig.json
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/WorkspaceUrlInput.tsx
  packages/onboarding-ui/tsconfig-cjs.json
  packages/onboarding-ui/tsconfig-esm.json
  packages/onboarding-ui/tsconfig.json
Due: eslint --fix, prettier --write

Use TS in all Storybook configurations
  packages/fuselage-toastbar/.storybook/main.js
  packages/fuselage-toastbar/.storybook/main.ts
  packages/fuselage-toastbar/.storybook/manager.ts
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage/.storybook/logo.svg.d.ts
  packages/fuselage/.storybook/main.ts
  packages/fuselage/.storybook/manager.ts
  packages/fuselage/.storybook/preview.ts
  packages/fuselage/package.json
  packages/layout/.storybook/main.ts
  packages/layout/.storybook/manager.ts
  packages/layout/.storybook/preview.tsx
  packages/layout/package.json
  packages/onboarding-ui/.storybook/main.js
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/.storybook/manager.ts
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

build primitive tokens
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/background/base.json
  packages/fuselage-tokens/src/button/base.json
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage-tokens/src/font/base.json
  packages/fuselage-tokens/src/status/base.json
  packages/fuselage-tokens/src/stroke/base.json
  packages/fuselage-tokens/src/surface/base.json
Due: eslint --fix, stylelint --fix, prettier --write

update tokens usage
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
Due: eslint --fix

replace tokens on Themes and styleTokens
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

remove foreground colors
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

storybook color
  packages/fuselage/.storybook/manager.ts
Due: eslint --fix

getPalette colors
  packages/fuselage/src/getPaletteColor.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

clean
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

Replace `p` with `div` for more generic containers
  packages/layout/src/FormPageLayout/FormPageLayout.styles.tsx
Due: eslint --fix

Pass ref through `Select*`
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAria.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Due: eslint --fix

Fix SVG attribute
  packages/onboarding-ui/src/common/PlanFeatureIcon.tsx
Due: eslint --fix

Add missing effect clean up functions
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
  packages/onboarding-ui/src/pages/RedirectPage/RedirectPage.tsx
Due: eslint --fix

Fix wrong DOM element nesting
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/onboarding-ui/src/common/FormPageLayout.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
  packages/onboarding-ui/src/pages/StandaloneServerPage/StandaloneServerPage.tsx
Due: eslint --fix

chore: a11y tweaks
  packages/fuselage/package.json
  packages/fuselage/src/components/ToastBar/ToastBar.spec.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): `Toastbar` a11y (#1130)
  packages/fuselage/package.json
  packages/fuselage/src/components/ToastBar/ToastBar.spec.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: properly convert plain text in brackets that is not a link closes #1131
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

duplicated type
  packages/ui-kit/src/blocks/LayoutBlock.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
