Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Message surface-room
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

feat(fuselage): `Modal` wrapper option (#856)
  .github/workflows/codeql.yml
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/webpack.config.js
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/message-parser/package.json
  packages/onboarding-ui/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  tools/tools-utils/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(docs): Remove LGTM badges from README
  README.md
  tools/update-readme/templates/rootReadme.mjs
Due: eslint --fix, prettier --write

fix MessageReactions colors
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
Due: stylelint --fix

update font-hint
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

update ToggleSwitch colors
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

remove comments
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
Due: stylelint --fix

chore: new icons
  packages/icons/glyphsMapping.json
  packages/icons/src/aliases/katex.svg
  packages/icons/src/aliases/multiline.dir.svg
  packages/icons/src/aliases/multiline.svg
  packages/icons/src/code-block.svg
  packages/icons/src/formula.svg
Due: prettier --write

fix states tokens
  packages/fuselage/src/components/States/States.styles.scss
Due: stylelint --fix

chore(icons): Add new icons (#948)
  packages/icons/glyphsMapping.json
  packages/icons/src/aliases/katex.svg
  packages/icons/src/aliases/multiline.dir.svg
  packages/icons/src/aliases/multiline.svg
  packages/icons/src/code-block.svg
  packages/icons/src/formula.svg
Due: prettier --write

update status-font-on-warning
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

replace neutral function usage
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Due: stylelint --fix

replace MessageStatusIndicator tokens
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
Due: stylelint --fix

replace primary function usage
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
Due: stylelint --fix

fix MessageDivider tokens
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
Due: stylelint --fix

fix
  packages/fuselage/src/components/Divider/Divider.styles.scss
Due: stylelint --fix

fix NavPanel token
  packages/uikit-playground/src/Components/Preview/NavPanel/NavPanel.tsx
Due: eslint --fix

fix checkbox disabled color
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
Due: stylelint --fix

add transparent surface
  packages/fuselage/src/Theme.ts
Due: eslint --fix

fix(fuselage): token refactor (#943)
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/input-colors.scss
  packages/uikit-playground/src/Components/Preview/NavPanel/NavPanel.tsx
Due: eslint --fix, stylelint --fix

add text align prop to states title
  packages/fuselage/src/components/States/States.styles.scss
Due: stylelint --fix

new compass icon
  packages/fuselage/package.json
  packages/icons/glyphsMapping.json
  packages/icons/src/compass.svg
Due: prettier --write

feat: (icons) Add compass icon (#950)
  packages/fuselage/package.json
  packages/icons/glyphsMapping.json
  packages/icons/src/compass.svg
Due: prettier --write

chore: refactor buttonGroup
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
Due: eslint --fix, stylelint --fix

chore: remove depracted prop
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Modal/ModalFooterControllers.tsx
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
Due: eslint --fix

chore(fuselage): Replace medium prop as default size of ButtonGroup (#951)
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Modal/ModalFooterControllers.tsx
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
Due: eslint --fix, stylelint --fix

Remove FocusScope from Modal
  packages/fuselage/src/components/Modal/Modal.tsx
Due: eslint --fix

chore: webpack exclude config
  packages/fuselage/webpack.config.js
Due: eslint --fix

chore(fuselage): Remove FocusScope from Modal (#952)
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/webpack.config.js
Due: eslint --fix

change sidebar bg to surface-neutral
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

chore(fuselage): Change sidebar backgroundColor (#953)
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

chore: remove duplicated react-virtuoso dep
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

chore(fuselage): Update react-virtuoso dep version (#954)
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

chore: revert virtuoso version
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
