Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

fix(fuselage-hooks): refresh media query snapshots on subscription
  packages/fuselage-hooks/src/useMediaQueries.spec.ts
  packages/fuselage-hooks/src/useMediaQueries.ts
Due: eslint --fix

fix(fuselage-hooks): respect shadow paths in outside clicks
  .changeset/outside-click-shadow-dom.md
  packages/fuselage-hooks/src/useOutsideClick.spec.ts
  packages/fuselage-hooks/src/useOutsideClick.ts
Due: eslint --fix, prettier --write

chore(fuselage-hooks): add media query patch changeset
  .changeset/media-query-subscription-snapshot.md
Due: prettier --write

fix(fuselage-hooks): scope visibility observers to mounted elements
  .changeset/visible-element-observer-lifecycle.md
  packages/fuselage-hooks/src/useElementIsVisible.server.spec.ts
  packages/fuselage-hooks/src/useElementIsVisible.spec.tsx
  packages/fuselage-hooks/src/useElementIsVisible.ts
Due: eslint --fix, prettier --write

fix(fuselage-hooks): focus elements when autofocus refs attach
  .changeset/autofocus-late-attachment.md
  packages/fuselage-hooks/src/useAutoFocus.spec.tsx
  packages/fuselage-hooks/src/useAutoFocus.ts
Due: eslint --fix, prettier --write

fix(fuselage-hooks): activate buttons using logical key values
  .changeset/button-pattern-logical-keys.md
  packages/fuselage-hooks/src/useButtonPattern.spec.tsx
  packages/fuselage-hooks/src/useButtonPattern.ts
Due: eslint --fix, prettier --write

fix(fuselage-toastbar): create portal roots after mounting
  .changeset/toast-portal-commit-lifecycle.md
  packages/fuselage-toastbar/src/ToastBarPortal.server.spec.ts
  packages/fuselage-toastbar/src/ToastBarPortal.spec.tsx
  packages/fuselage-toastbar/src/ToastBarPortal.ts
Due: eslint --fix, prettier --write

fix(styled): defer default document access for server rendering
  .changeset/styled-server-import.md
  packages/styled/src/OwnerDocument.ts
  packages/styled/src/styled.server.spec.ts
  packages/styled/src/styled.spec.ts
Due: eslint --fix, prettier --write

fix(fuselage-hooks): update positions on document scroll
  .changeset/position-root-scroll.md
  packages/fuselage-hooks/src/usePosition/useBoundingClientRectChanges.spec.ts
  packages/fuselage-hooks/src/usePosition/useBoundingClientRectChanges.ts
Due: eslint --fix, prettier --write

fix(fuselage-forms): unsubscribe detached label actions
  .changeset/form-label-action-cleanup.md
  packages/fuselage-forms/src/Field/FieldContext.spec.tsx
  packages/fuselage-forms/src/Field/FieldContext.ts
Due: eslint --fix, prettier --write

fix(fuselage-hooks): handle storage clear events
  .changeset/storage-clear-event.md
  packages/fuselage-hooks/src/useStorage.clear.spec.ts
  packages/fuselage-hooks/src/useStorage.ts
Due: eslint --fix, prettier --write

fix(fuselage-hooks): preserve axes in horizontal position fallback
  .changeset/horizontal-position-fallback.md
  packages/fuselage-hooks/src/usePosition/index.spec.ts
  packages/fuselage-hooks/src/usePosition/index.ts
Due: eslint --fix, prettier --write

fix(fuselage-hooks): react to position option changes
  .changeset/position-options-update.md
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage-hooks/src/usePosition/options.spec.ts
Due: eslint --fix, prettier --write

fix(fuselage-forms): synchronize dynamic field labels
  .changeset/dynamic-field-label-text.md
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Field/FieldLabel.spec.tsx
Due: eslint --fix, prettier --write

fix(fuselage): insert `dir` RTL attribute with `useLayoutEffect` on story decorator
  packages/fuselage/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --fix

fix: reapply physical arrow offsets
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
Due: stylelint --fix

fix(fuselage): Keep `Tooltip` arrows pointing at their anchor in RTL (#2234)
  .changeset/tooltip-rtl-arrow.md
  packages/fuselage/src/components/Tooltip/Tooltip.stories.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
  packages/fuselage/test/snapshots/data-display-tooltip--arrow-positioning-desktop.png
  packages/fuselage/test/snapshots/data-display-tooltip--arrow-positioning-rtl-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

revert(fuselage): Restore the sidebar rows and collapse group headers (#2232)
  .changeset/brave-rows-revert.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/Sidebar/SidebarGroupTitle.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/test/snapshots/navigation-sidebar--custom-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-items-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--medium-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-media--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidepanel--default-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): add flex-wrap to CardControls to prevent overflow
  packages/fuselage/src/components/Card/Card.styles.scss
Due: stylelint --fix

fix(fuselage): Ghost segments keep the button variant colors
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

docs(fuselage): Document ghost variant behavior in ButtonGroup stories
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
Due: eslint --fix

test(fuselage): Snapshot the joined ghost variants story
  packages/fuselage/src/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-ghost-variants-desktop.png
Due: none

chore: Add changeset
  .changeset/ghost-variant-colors.md
Due: prettier --write

feat(fuselage): Add `SplitButton` and remove `joined` from `ButtonGroup`
  .changeset/split-button-component.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.spec.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/fuselage/src/components/SplitButton/SplitButton.spec.tsx
  packages/fuselage/src/components/SplitButton/SplitButton.stories.tsx
  packages/fuselage/src/components/SplitButton/SplitButton.styles.scss
  packages/fuselage/src/components/SplitButton/SplitButton.tsx
  packages/fuselage/src/components/SplitButton/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-segmented-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-split-button-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-vertical-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-with-multiple-button-sizes-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--with-icon-buttons-desktop.png
  packages/fuselage/test/snapshots/inputs-splitbutton--default-desktop.png
  packages/fuselage/test/snapshots/inputs-splitbutton--inside-button-group-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): Align spacing of sidebar items and group headers
  .changeset/tidy-sidebar-rows.md
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarAccordionItem.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): Add top margin to the sidebar accordion header
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

feat(fuselage): Use 0.5rem inline padding on sidebar items and group bars
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
Due: stylelint --fix

test(fuselage): Update sidebar visual regression snapshots
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
Due: eslint --fix

test(fuselage): Add snapshots for the CustomMedium and CustomExtended sidebar stories
  packages/fuselage/test/snapshots/navigation-sidebar--custom-extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--custom-medium-desktop.png
Due: none

feat: add first reverted changes
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/Sidebar/SidebarGroupTitle.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

feat: add second reverted changes
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarGroupTitle.tsx
Due: eslint --fix, stylelint --fix

feat(fuselage): refactor CustomTemplate to use display-based item rendering
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
Due: eslint --fix

chore: update screenshots
  packages/fuselage/test/snapshots/navigation-sidebar--custom-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-items-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--medium-desktop.png
  packages/fuselage/test/snapshots/navigation-sidepanel--default-desktop.png
Due: none

feat: improve sidebar item spacing and structure
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarAccordionItem.tsx
  packages/fuselage/src/components/Sidebar/SidebarGroupTitle.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.stories.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/Sidebar/helpers.tsx
Due: eslint --fix, stylelint --fix

chore: update screenshots
  packages/fuselage/test/snapshots/navigation-sidebar--custom-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--custom-extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--custom-medium-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-items-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--medium-desktop.png
Due: none

chore: update changeset
  .changeset/tidy-sidebar-rows.md
Due: prettier --write

Update packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

Update .changeset/button-figma-parity.md
  .changeset/button-figma-parity.md
Due: prettier --write
