Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

feat(icons): Add spanner icon (#880)
  packages/icons/glyphsMapping.json
  packages/icons/src/spanner.svg
Due: prettier --write

feat(fuselage): Empty `Badge` and small variants (#876)
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Badge/Badge.tsx
Due: eslint --fix, stylelint --fix

feat(message-parser): Enabling Emphasis elements (bold, strike and italic) inside link label (#864)
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/phoneNumber.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
  packages/message-parser/tests/tasks.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

Upgrade Storybook
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/tools-utils/package.json
  yarn.lock
Due: prettier --write

Upgrade Yarn
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

update surface-hover color to neutral-200
  packages/fuselage-tokens/src/surface/base.json
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix, prettier --write

Upgrade ESLint/Stylelint
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/.eslintignore
  packages/fuselage-toastbar/.prettierignore
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/.prettierignore
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade Prettier
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade React Virtuoso
  .vscode/settings.json
  packages/fuselage/package.json
  packages/message-parser/tests/emoji.test.ts
  packages/uikit-playground/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add icon
  packages/icons/glyphsMapping.json
  packages/icons/src/lightning.svg
Due: prettier --write

Update README.md
  packages/icons/README.md
Due: prettier --write

Revert "feat(message-parser): Enabling Emphasis elements (bold, strike and italic) inside link label (#864)"
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/phoneNumber.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
  packages/message-parser/tests/tasks.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

chore(icons): Add lightning icon (#886)
  packages/icons/glyphsMapping.json
  packages/icons/src/lightning.svg
Due: prettier --write

theme.ts
  packages/fuselage/src/Theme.ts
Due: eslint --fix

chore(fuselage, fuselage-tokens): Update surface-hover color (#884)
  packages/fuselage-tokens/src/surface/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

chore(release): 0.31.21
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

chore: readme
  README.md
  packages/css-in-js/README.md
  packages/css-supports/README.md
  packages/emitter/README.md
  packages/eslint-config-alt/README.md
  packages/fuselage-hooks/README.md
  packages/fuselage-polyfills/README.md
  packages/fuselage-toastbar/README.md
  packages/fuselage-tokens/README.md
  packages/fuselage-ui-kit/README.md
  packages/fuselage/README.md
  packages/icons/README.md
  packages/layout/README.md
  packages/logo/README.md
  packages/memo/README.md
  packages/message-parser/README.md
  packages/mp3-encoder/README.md
  packages/onboarding-ui/README.md
  packages/peggy-loader/README.md
  packages/prettier-config/README.md
  packages/string-helpers/README.md
  packages/styled/README.md
  packages/stylis-logical-props-middleware/README.md
  packages/ui-kit/README.md
  tools/update-readme/templates/badges/depsBadge.mjs
  tools/update-readme/templates/badges/npmVersionBadge.mjs
Due: eslint --fix, prettier --write

chore: wip
  packages/css-in-js/README.md
  packages/css-supports/README.md
  packages/emitter/README.md
  packages/eslint-config-alt/README.md
  packages/fuselage-hooks/README.md
  packages/fuselage-polyfills/README.md
  packages/fuselage-toastbar/README.md
  packages/fuselage-tokens/README.md
  packages/fuselage-ui-kit/README.md
  packages/fuselage/README.md
  packages/icons/README.md
  packages/layout/README.md
  packages/logo/README.md
  packages/memo/README.md
  packages/message-parser/README.md
  packages/mp3-encoder/README.md
  packages/onboarding-ui/README.md
  packages/peggy-loader/README.md
  packages/prettier-config/README.md
  packages/string-helpers/README.md
  packages/styled/README.md
  packages/stylis-logical-props-middleware/README.md
  packages/ui-kit/README.md
  tools/update-readme/templates/badges/storybookBadge.mjs
  tools/update-readme/templates/section/header.mjs
Due: eslint --fix, prettier --write

chore: missing description
  README.md
  packages/fuselage/README.md
  packages/fuselage/package.json
  packages/icons/README.md
  packages/icons/package.json
Due: prettier --write

chore(layout): Fix Horizontal Footer Margin
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
Due: eslint --fix

chore: fix lint
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
Due: eslint --fix

chore(monorepo): Broken shields links (#888)
  README.md
  packages/css-in-js/README.md
  packages/css-supports/README.md
  packages/emitter/README.md
  packages/eslint-config-alt/README.md
  packages/fuselage-hooks/README.md
  packages/fuselage-polyfills/README.md
  packages/fuselage-toastbar/README.md
  packages/fuselage-tokens/README.md
  packages/fuselage-ui-kit/README.md
  packages/fuselage/README.md
  packages/fuselage/package.json
  packages/icons/README.md
  packages/icons/package.json
  packages/layout/README.md
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/logo/README.md
  packages/memo/README.md
  packages/message-parser/README.md
  packages/mp3-encoder/README.md
  packages/onboarding-ui/README.md
  packages/peggy-loader/README.md
  packages/prettier-config/README.md
  packages/string-helpers/README.md
  packages/styled/README.md
  packages/stylis-logical-props-middleware/README.md
  packages/ui-kit/README.md
  tools/update-readme/templates/badges/depsBadge.mjs
  tools/update-readme/templates/badges/npmVersionBadge.mjs
  tools/update-readme/templates/badges/storybookBadge.mjs
  tools/update-readme/templates/section/header.mjs
Due: eslint --fix, prettier --write

refactor: add message system variation
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.stories.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageOrigin.spec.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageOrigin.tsx
Due: eslint --fix, stylelint --fix

feat: add message names wrapper
  packages/fuselage-ui-kit/src/stories/Message.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageNames.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.stories.tsx
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
  packages/uikit-playground/src/Components/Preview/Display/Surface/MessageSurface.tsx
Due: eslint --fix, stylelint --fix

refactor: message system timestamp
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystemTimestamp.tsx
  packages/fuselage/src/components/Message/MessageSystem/index.tsx
Due: eslint --fix, stylelint --fix

chore: move example
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.stories.tsx
Due: eslint --fix

accept urls starting with numbers
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

chore(message-parser): Accept urls starting with numbers (#890)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

refactor: rename component
  packages/fuselage-ui-kit/src/stories/Message.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageNameContainer.tsx
  packages/fuselage/src/components/Message/MessageNames.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.stories.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
  packages/uikit-playground/src/Components/Preview/Display/Surface/MessageSurface.tsx
Due: eslint --fix, stylelint --fix

chore: depends complete build to storybook
  turbo.json
Due: prettier --write

Update LINK type definition
  packages/message-parser/src/definitions.ts
Due: eslint --fix

feat(fuselage): add message names wrapper and update system message (#889)
  packages/fuselage-ui-kit/src/stories/Message.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageNameContainer.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.stories.tsx
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystemTimestamp.tsx
  packages/fuselage/src/components/Message/MessageSystem/index.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.stories.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageOrigin.spec.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageOrigin.tsx
  packages/fuselage/src/components/Message/index.tsx
  packages/uikit-playground/src/Components/Preview/Display/Surface/MessageSurface.tsx
  turbo.json
Due: eslint --fix, stylelint --fix, prettier --write

wrap message system text
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
Due: stylelint --fix

fix Tag Icon position
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
Due: stylelint --fix

fix lint
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
Due: stylelint --fix

fix
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
Due: stylelint --fix

Fix user mention with email pattern and add tests
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/mention.test.ts
Due: eslint --fix

fix(fuselage): Avatar border and Tag alignment (#892)
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
Due: stylelint --fix

Fix message generic preview hover bg. Fix MessageDivider spacing
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
Due: stylelint --fix
