Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): add `truncate` to `ItemMeta`
  .changeset/item-meta-truncate.md
  packages/fuselage/src/components/Item/Item.styles.scss
  packages/fuselage/src/components/Item/ItemMeta.tsx
Due: eslint --fix, stylelint --fix, prettier --write

test(fuselage): cover `ItemMeta` truncation and add the `CommandSuggestions` story
  packages/fuselage/src/components/Item/Item.spec.tsx
  packages/fuselage/src/components/Item/Item.stories.tsx
  packages/fuselage/src/components/Item/__snapshots__/Item.spec.tsx.snap
Due: eslint --fix

chore: update `fuselage.api`
  packages/fuselage/fuselage.api.md
Due: prettier --write

feat(fuselage): Mark the `SplitButton` trigger explicitly and add a `danger` variant
  .changeset/split-button-component.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/SplitButton/SplitButton.spec.tsx
  packages/fuselage/src/components/SplitButton/SplitButton.stories.tsx
  packages/fuselage/src/components/SplitButton/SplitButton.styles.scss
  packages/fuselage/src/components/SplitButton/SplitButton.tsx
  packages/fuselage/src/components/SplitButton/SplitButtonTrigger.tsx
  packages/fuselage/src/components/SplitButton/index.ts
  packages/fuselage/src/styles/variables/button-colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

test(fuselage): Add visual snapshot for the `SplitButton` danger story
  packages/fuselage/test/snapshots/inputs-splitbutton--danger-desktop.png
Due: none

feat(fuselage): Add `SplitButton` and remove `joined` from `ButtonGroup` (#2274)
  .changeset/split-button-component.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.spec.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/fuselage/src/components/SplitButton/SplitButton.spec.tsx
  packages/fuselage/src/components/SplitButton/SplitButton.stories.tsx
  packages/fuselage/src/components/SplitButton/SplitButton.styles.scss
  packages/fuselage/src/components/SplitButton/SplitButton.tsx
  packages/fuselage/src/components/SplitButton/SplitButtonTrigger.tsx
  packages/fuselage/src/components/SplitButton/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-segmented-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-split-button-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-vertical-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-with-multiple-button-sizes-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--with-icon-buttons-desktop.png
  packages/fuselage/test/snapshots/inputs-splitbutton--call-controls-desktop.png
  packages/fuselage/test/snapshots/inputs-splitbutton--danger-desktop.png
  packages/fuselage/test/snapshots/inputs-splitbutton--default-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Ghost segments keep the button variant colors
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/SplitButton/SplitButton.styles.scss
  packages/fuselage/src/components/SplitButton/SplitButton.tsx
  packages/fuselage/src/styles/variables/button-colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

test(fuselage): Cover the SplitButton variant modifiers
  packages/fuselage/src/components/SplitButton/SplitButton.spec.tsx
  packages/fuselage/test/snapshots/inputs-splitbutton--variants-desktop.png
Due: eslint --fix

chore: Add changeset
  .changeset/ghost-variant-colors.md
Due: prettier --write

docs(fuselage): Document ghost variant behavior in SplitButton stories
  packages/fuselage/src/components/SplitButton/SplitButton.stories.tsx
Due: eslint --fix

fix(fuselage): SplitButton ghost trigger keeps the variant colors (#2273)
  .changeset/ghost-variant-colors.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/SplitButton/SplitButton.spec.tsx
  packages/fuselage/src/components/SplitButton/SplitButton.stories.tsx
  packages/fuselage/src/components/SplitButton/SplitButton.styles.scss
  packages/fuselage/src/components/SplitButton/SplitButton.tsx
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/test/snapshots/inputs-splitbutton--variants-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

regression(fuselage): Stop clipping the SplitButton focus ring
  packages/fuselage/src/components/SplitButton/SplitButton.styles.scss
Due: stylelint --fix

fix(fuselage): Stop clipping the SplitButton focus ring (#2299)
  packages/fuselage/src/components/SplitButton/SplitButton.styles.scss
Due: stylelint --fix

chore: `visual-regression-update`
  packages/fuselage/test/snapshots/navigation-item--default-desktop.png
  packages/fuselage/test/snapshots/navigation-item--heights-desktop.png
  packages/fuselage/test/snapshots/navigation-item--sidebar-room-list-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--with-item-parts-desktop.png
Due: none

chore: Remove `fuselage-forms` from the monorepo
  README.md
  packages/fuselage-forms/.gitignore
  packages/fuselage-forms/.storybook/DocsContainer.tsx
  packages/fuselage-forms/.storybook/globals.d.ts
  packages/fuselage-forms/.storybook/logo.svg
  packages/fuselage-forms/.storybook/logo.svg.d.ts
  packages/fuselage-forms/.storybook/main.ts
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-forms/CHANGELOG.md
  packages/fuselage-forms/README.md
  packages/fuselage-forms/api-extractor.json
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage-forms/jest-setup.ts
  packages/fuselage-forms/jest.config.ts
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/Field/Field.tsx
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Field/FieldDescription.tsx
  packages/fuselage-forms/src/Field/FieldError.spec.tsx
  packages/fuselage-forms/src/Field/FieldError.tsx
  packages/fuselage-forms/src/Field/FieldHint.tsx
  packages/fuselage-forms/src/Field/FieldProvider.tsx
  packages/fuselage-forms/src/Field/Label/FieldLabel.tsx
  packages/fuselage-forms/src/Field/Label/HiddenLabel.tsx
  packages/fuselage-forms/src/Field/Label/LabelFor.tsx
  packages/fuselage-forms/src/Field/Label/ReferencedLabel.tsx
  packages/fuselage-forms/src/Field/Label/index.ts
  packages/fuselage-forms/src/Field/index.ts
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/Inputs/index.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-forms/src/index.ts
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage-forms/tsconfig.cjs.json
  packages/fuselage-forms/tsconfig.esm.json
  packages/fuselage-forms/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: Remove `fuselage-forms` from the monorepo (#2303)
  README.md
  packages/fuselage-forms/.gitignore
  packages/fuselage-forms/.storybook/DocsContainer.tsx
  packages/fuselage-forms/.storybook/globals.d.ts
  packages/fuselage-forms/.storybook/logo.svg
  packages/fuselage-forms/.storybook/logo.svg.d.ts
  packages/fuselage-forms/.storybook/main.ts
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-forms/CHANGELOG.md
  packages/fuselage-forms/README.md
  packages/fuselage-forms/api-extractor.json
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage-forms/jest-setup.ts
  packages/fuselage-forms/jest.config.ts
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/Field/Field.tsx
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Field/FieldDescription.tsx
  packages/fuselage-forms/src/Field/FieldError.spec.tsx
  packages/fuselage-forms/src/Field/FieldError.tsx
  packages/fuselage-forms/src/Field/FieldHint.tsx
  packages/fuselage-forms/src/Field/FieldProvider.tsx
  packages/fuselage-forms/src/Field/Label/FieldLabel.tsx
  packages/fuselage-forms/src/Field/Label/HiddenLabel.tsx
  packages/fuselage-forms/src/Field/Label/LabelFor.tsx
  packages/fuselage-forms/src/Field/Label/ReferencedLabel.tsx
  packages/fuselage-forms/src/Field/Label/index.ts
  packages/fuselage-forms/src/Field/index.ts
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/Inputs/index.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-forms/src/index.ts
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage-forms/tsconfig.cjs.json
  packages/fuselage-forms/tsconfig.esm.json
  packages/fuselage-forms/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
