Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

update
  .github/actions/loki/fuselageSnap/index.js
Due: eslint --fix

fix: file replace
  .github/actions/loki/fuselageSnap/src/getNonStatsFile.js
Due: eslint --fix

chore: update
  .github/actions/loki/fuselageSnap/index.js
Due: eslint --fix

fix: lint
  .github/actions/loki/fuselageSnap/index.js
Due: eslint --fix

chore: remove logs
  .github/actions/loki/fuselageSnap/src/getReasons.js
Due: eslint --fix

chore: fuselageSnap local init
  .github/actions/loki/fuselageSnap/src/git/git_local.js
Due: eslint --fix

chore: add local changed file
  tools/fuselageSnap-local/.gitignore
  tools/fuselageSnap-local/.prettierignore
  tools/fuselageSnap-local/bin/fuselagesnap-local.js
  tools/fuselageSnap-local/package.json
  tools/fuselageSnap-local/src/git_local.js
  tools/fuselageSnap-local/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: local logs affected components
  tools/fuselageSnap-local/bin/fuselagesnap-local.js
  tools/fuselageSnap-local/bin/index.js
  tools/fuselageSnap-local/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: lint
  package.json
  tools/fuselageSnap-local/bin/index.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: local suppport complete
  tools/fuselageSnap-local/bin/index.js
Due: eslint --fix

Fix lint
  packages/icons/src/phone-disabled.svg
  packages/icons/src/phone-in.svg
  packages/icons/src/phone-issue.svg
  packages/icons/src/phone-off.svg
  packages/icons/src/phone-out.svg
  packages/icons/src/phone-plus.svg
  packages/icons/src/phone.svg
Due: prettier --write

chore: remove full test trigger on tools change
  .github/actions/loki/fuselageSnap/src/getAffectedComponents.js
Due: eslint --fix

chore: add promise resolve on exit and fix unterminated quoted string
  tools/fuselageSnap-local/bin/index.js
Due: eslint --fix

refactor: used loops instead of if statements
  tools/fuselageSnap-local/bin/index.js
Due: eslint --fix

chore: add build-storybook before fuselageSnap run
  tools/fuselageSnap-local/bin/index.js
Due: eslint --fix

update
  tools/fuselageSnap-local/package.json
  tools/fuselageSnap-local/tsconfig.json
Due: prettier --write

chore: add scss file support
  .github/actions/loki/fuselageSnap/src/getAffectedComponents.js
Due: eslint --fix

fix: lint
  .github/actions/loki/fuselageSnap/src/getAffectedComponents.js
Due: eslint --fix

refactor: used seperate function to get relevant graph
  .github/actions/loki/fuselageSnap/src/getIndirectDependency.js
Due: eslint --fix

chore: add transitive dependency
  .github/actions/loki/fuselageSnap/src/getIndirectDependency.js
Due: eslint --fix

refactor: used own function to merge dependencies
  .github/actions/loki/fuselageSnap/src/getIndirectDependency.js
Due: eslint --fix

chore: build storybook of the affected packages
  tools/fuselageSnap-local/bin/index.js
Due: eslint --fix

chore: add current pkg storybook build
  tools/fuselageSnap-local/bin/index.js
Due: eslint --fix

fix: multiple builds at the same packages at same time
  tools/fuselageSnap-local/bin/index.js
Due: eslint --fix

fix: lint
  tools/fuselageSnap-local/bin/index.js
Due: eslint --fix

chore: remove logs
  .github/actions/loki/fuselageSnap/src/getIndirectDependency.js
Due: eslint --fix

chore: add refs
  packages/fuselage/.loki/reference/desktop_Data_Display_Tag_Secondary_Info.png
  packages/fuselage/.loki/reference/desktop_Data_Display_Tag_Secondary_Warning.png
  packages/fuselage/.loki/reference/desktop_Data_Display_Tag_Variants.png
  packages/fuselage/.loki/reference/desktop_Data_Display_Tag_Variants_As_Links.png
  packages/fuselage/.loki/reference/desktop_Inputs_PaginatedSelectFiltered_With_Render_Item.png
  packages/fuselage/.loki/reference/desktop_Navigation_SidebarV2_Media_Default.png
  packages/fuselage/.loki/reference/desktop_Navigation_Sidepanel_Default.png
  packages/fuselage/.loki/reference/mobile_Data_Display_Tag_Secondary_Info.png
  packages/fuselage/.loki/reference/mobile_Data_Display_Tag_Secondary_Warning.png
  packages/fuselage/.loki/reference/mobile_Data_Display_Tag_Variants.png
  packages/fuselage/.loki/reference/mobile_Data_Display_Tag_Variants_As_Links.png
  packages/fuselage/.loki/reference/mobile_Inputs_PaginatedSelectFiltered_With_Render_Item.png
  packages/fuselage/.loki/reference/mobile_Navigation_SidebarV2_Media_Default.png
  packages/fuselage/.loki/reference/mobile_Navigation_Sidepanel_Default.png
  packages/fuselage/.loki/reference/tablet_Data_Display_Tag_Secondary_Info.png
  packages/fuselage/.loki/reference/tablet_Data_Display_Tag_Secondary_Warning.png
  packages/fuselage/.loki/reference/tablet_Data_Display_Tag_Variants.png
  packages/fuselage/.loki/reference/tablet_Data_Display_Tag_Variants_As_Links.png
  packages/fuselage/.loki/reference/tablet_Inputs_PaginatedSelectFiltered_With_Render_Item.png
  packages/fuselage/.loki/reference/tablet_Navigation_SidebarV2_Media_Default.png
  packages/fuselage/.loki/reference/tablet_Navigation_Sidepanel_Default.png
Due: none

feat(string-helpers): Handle string literal type in `capitalize` (#1737)
  .changeset/ripe-numbers-deny.md
  packages/string-helpers/src/capitalize.ts
Due: eslint --fix, prettier --write

chore: skip dependency graph of webpack compiled modules
  .github/actions/loki/fuselageSnap/src/getReasons.js
Due: eslint --fix

fix: skipping of affected components
  .github/actions/loki/fuselageSnap/src/getReasons.js
Due: eslint --fix

fix: lint
  .github/actions/loki/fuselageSnap/src/getReasons.js
Due: eslint --fix

add packages
  packages/fuselage-forms/README.md
  packages/fuselage-forms/package.json
  yarn.lock
Due: prettier --write

unit tests
  packages/fuselage-forms/src/test.spec.tsx
Due: eslint --fix

Focus on input after label click
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Field/FieldProvider.tsx
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
Due: eslint --fix

Create empty-snails-peel.md
  .changeset/empty-snails-peel.md
Due: prettier --write

changed behavior to not call main callback if node is null.
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.spec.tsx
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.ts
Due: eslint --fix

Create chatty-ways-tan.md
  .changeset/chatty-ways-tan.md
Due: prettier --write

feat(icons): Add `phone-plus` icon and update existing phone related icons (#1735)
  .changeset/lemon-icons-wash.md
  packages/icons/glyphsMapping.json
  packages/icons/src/phone-disabled.svg
  packages/icons/src/phone-in.svg
  packages/icons/src/phone-issue.svg
  packages/icons/src/phone-off.svg
  packages/icons/src/phone-out.svg
  packages/icons/src/phone-plus.svg
  packages/icons/src/phone.svg
Due: prettier --write

switch back to useMemo
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.ts
Due: eslint --fix
