Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

on-disabled variations
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

fix: adjusting message system font-size (#778)
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
Due: stylelint --fix

fix: message metrics item icon size (#774)
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemIcon.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
Due: eslint --fix

fix: placeholder texts being parsed as links
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

removing console.log
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: eslint --fix

update focus shadow color
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

wip: resize observer
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

Listen to element size changes
  packages/fuselage-hooks/src/usePosition.ts
Due: eslint --fix

Add observer mock to tests
  packages/fuselage-hooks/src/usePosition.spec.ts
Due: eslint --fix

fix one more test
  packages/fuselage/src/components/Menu/Menu.spec.tsx
Due: eslint --fix

feat(fuselage-hooks): `usePosition` listening to components size changes (#782)
  packages/fuselage-hooks/src/usePosition.spec.ts
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage/src/components/Menu/Menu.spec.tsx
Due: eslint --fix

replace status-foreground with status-font
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Callout/styles.scss
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

update button-foreground to button-font
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

Added Date Time Picker
  packages/fuselage-ui-kit/package.json
  packages/fuselage-ui-kit/src/elements/DateTimePickerElement.tsx
  packages/fuselage-ui-kit/src/stories/Banner.stories.tsx
  packages/fuselage-ui-kit/src/stories/Message.stories.tsx
  packages/fuselage-ui-kit/src/stories/Modal.stories.tsx
  packages/fuselage-ui-kit/src/stories/payloads/actions.ts
  packages/fuselage-ui-kit/src/stories/payloads/input.ts
  packages/fuselage-ui-kit/src/stories/payloads/section.ts
  packages/fuselage-ui-kit/src/surfaces/FuselageSurfaceRenderer.tsx
  packages/ui-kit/src/blocks/ActionableElement.ts
  packages/ui-kit/src/blocks/BlockElement.ts
  packages/ui-kit/src/blocks/BlockElementType.ts
  packages/ui-kit/src/blocks/ElementType.ts
  packages/ui-kit/src/blocks/InputElement.ts
  packages/ui-kit/src/blocks/deprecations.ts
  packages/ui-kit/src/blocks/elements/DateTimePickerElement.ts
  packages/ui-kit/src/blocks/isActionsBlockElement.ts
  packages/ui-kit/src/blocks/isInputBlockElement.ts
  packages/ui-kit/src/blocks/isSectionBlockAccessoryElement.ts
  packages/ui-kit/src/blocks/layout/ActionsBlock.ts
  packages/ui-kit/src/blocks/layout/InputBlock.ts
  packages/ui-kit/src/blocks/layout/SectionBlock.ts
  packages/ui-kit/src/rendering/ActionOf.ts
  packages/ui-kit/src/rendering/BlockRenderers.ts
  packages/ui-kit/src/rendering/renderBlockElement.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserAttachment.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserBanner.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserMessage.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserModal.spec.ts
Due: eslint --fix, prettier --write

Corrected initial date-time
  packages/fuselage-ui-kit/src/stories/payloads/input.ts
  packages/fuselage-ui-kit/src/stories/payloads/section.ts
Due: eslint --fix

Corrected default text.
  packages/fuselage-ui-kit/src/stories/payloads/section.ts
Due: eslint --fix

Removed unnecessary dependency.
  packages/fuselage-ui-kit/package.json
Due: prettier --write

update tokens
  packages/fuselage-tokens/src/button/base.json
  packages/fuselage-tokens/src/status/base.json
Due: prettier --write

fix(fuselage): Select/MultiSelect options visibility (#759)
  packages/fuselage-hooks/src/useOutsideClick.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectAddon.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFocus.tsx
  packages/fuselage/src/components/Select/Select.spec.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAddon.tsx
  packages/fuselage/src/components/Select/SelectFocus.tsx
  packages/fuselage/src/components/Select/styles.scss
Due: eslint --fix, stylelint --fix

chore: update new design palette names (#771)
  packages/fuselage-tokens/src/button/base.json
  packages/fuselage-tokens/src/font/base.json
  packages/fuselage-tokens/src/status/base.json
  packages/fuselage-tokens/src/stroke/base.json
  packages/fuselage-tokens/src/surface/base.json
  packages/fuselage-tokens/src/text/base.json
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Callout/styles.scss
  packages/fuselage/src/components/Chip/styles.scss
  packages/fuselage/src/components/Pagination/styles.scss
  packages/fuselage/src/components/Tabs/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix, prettier --write

chore(release): 0.31.15
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

multiselect
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
Due: eslint --fix

fix(fuselage): Multiselect show (#785)
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
Due: eslint --fix

chore(release): 0.31.16
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

update IconButton stories with sizes and variants
  packages/fuselage/src/components/Button/IconButton.stories.tsx
Due: eslint --fix

chore: avatar radius
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/styles.scss
  packages/fuselage/src/styles/lengths.scss
Due: eslint --fix, stylelint --fix

replace foregrounds
  packages/fuselage/src/components/Accordion/styles.scss
  packages/fuselage/src/components/Badge/styles.scss
  packages/fuselage/src/components/Field/styles.scss
  packages/fuselage/src/components/Label/styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Options/styles.scss
  packages/fuselage/src/components/OptionsPaginated/styles.scss
  packages/fuselage/src/components/Sidebar/styles.scss
  packages/fuselage/src/components/Skeleton/styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/Table/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

fix: review
  packages/fuselage/src/components/Avatar/styles.scss
Due: stylelint --fix

fix: roles message size
  packages/fuselage/src/components/Message/MessageRole.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

replace foreground tokens
  packages/fuselage/src/components/Badge/styles.scss
  packages/fuselage/src/components/Field/styles.scss
  packages/fuselage/src/components/Label/styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Options/styles.scss
  packages/fuselage/src/components/OptionsPaginated/styles.scss
  packages/fuselage/src/components/Sidebar/styles.scss
  packages/fuselage/src/components/Skeleton/styles.scss
  packages/fuselage/src/components/Table/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: stylelint --fix

replace foreground tokens
  packages/fuselage/src/components/Badge/styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Sidebar/styles.scss
  packages/fuselage/src/components/StatusBullet/styles.scss
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

fix
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

feat: add new padding block values
  packages/fuselage/src/components/Options/styles.scss
Due: stylelint --fix

refactor: split Option(s) style files
  packages/fuselage/src/components/Options/Option/Option.styles.scss
  packages/fuselage/src/components/Options/Options.styles.scss
  packages/fuselage/src/components/index.scss
Due: stylelint --fix

sad
  README.md
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage/package.json
  packages/fuselage/src/components/MultiSelect/V2/Select.spec.tsx
  packages/fuselage/src/components/MultiSelect/V2/Select.stories.tsx
  packages/fuselage/src/components/MultiSelect/V2/Select.tsx
  packages/fuselage/src/components/MultiSelect/V2/SelectAddon.tsx
  packages/fuselage/src/components/MultiSelect/V2/SelectListBox.tsx
  packages/fuselage/src/components/MultiSelect/V2/SelectOption.tsx
  packages/fuselage/src/components/MultiSelect/V2/SelectPlaceholder.tsx
  packages/fuselage/src/components/MultiSelect/V2/SelectPopover.tsx
  packages/fuselage/src/components/MultiSelect/V2/SelectTrigger.tsx
  packages/fuselage/src/components/MultiSelect/V2/SelectValue.tsx
  packages/fuselage/src/components/Options/Option/Option.tsx
  packages/fuselage/src/components/Options/Options.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Missing default Values
  packages/fuselage/src/components/MultiSelect/V2/Select.spec.tsx
  packages/fuselage/src/components/MultiSelect/V2/Select.stories.tsx
  packages/fuselage/src/components/MultiSelect/V2/Select.tsx
Due: eslint --fix

fix: change Dropdown padding-block size
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
Due: eslint --fix

Keyboard Navigation tests and Dropdown
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktopAutoSize.tsx
  packages/fuselage/src/components/MultiSelect/V2/Select.spec.tsx
  packages/fuselage/src/components/MultiSelect/V2/Select.stories.tsx
  packages/fuselage/src/components/MultiSelect/V2/Select.tsx
  packages/fuselage/src/components/MultiSelect/V2/SelectListBox.tsx
  packages/fuselage/src/components/MultiSelect/V2/SelectPopover.tsx
Due: eslint --fix

yarn.lock
  yarn.lock
Due: none

fix CI
  packages/fuselage/src/components/Options/Option/Option.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
