Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): AutoComplete's disabled property not working
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

chore(loki): update refs
  packages/fuselage/.loki/reference/desktop_Data_Display_Icon_Default.png
  packages/fuselage/.loki/reference/mobile_Data_Display_Icon_Default.png
  packages/fuselage/.loki/reference/tablet_Data_Display_Icon_Default.png
Due: none

chrore: fix lint errors
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
Due: eslint --fix

fix(loki): write errors on fetch failures on storybook-static
  .yarn/patches/@loki-core-npm-0.35.0-2f7ae66155.patch
  .yarn/patches/@loki-target-chrome-docker-npm-0.35.0-e5bcaa6a12.patch
  package.json
Due: prettier --write

chore(loki): update patche
  yarn.lock
Due: none

chore(loki): add dependency to patch
  .yarn/patches/@loki-core-npm-0.35.0-2f7ae66155.patch
  yarn.lock
Due: none

fix(loki): dependency issues
  .yarn/patches/@loki-core-npm-0.35.0-2f7ae66155.patch
  package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

update wizard snapshots
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
Due: none

feat: visual updates
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/Sidepanel/Sidepanel.stories.tsx
  packages/fuselage/src/components/Sidepanel/Sidepanel.styles.scss
  packages/fuselage/src/components/Sidepanel/SidepanelHeader.tsx
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/beige-toes-sin.md
Due: prettier --write

feat(fuselage): `Sidepanel` visual updates (#1701)
  .changeset/beige-toes-sin.md
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/Sidepanel/Sidepanel.stories.tsx
  packages/fuselage/src/components/Sidepanel/Sidepanel.styles.scss
  packages/fuselage/src/components/Sidepanel/SidepanelHeader.tsx
Due: eslint --fix, stylelint --fix, prettier --write

chore: changeset
  .changeset/fluffy-rats-film.md
Due: prettier --write

feat(fuselage): Passing description prop to Option now renders OptionDescription
  packages/fuselage/src/components/Option/Option.spec.tsx
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix

feat(fuselage): updated PaginatedMultiSelect options to allow optional description
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.stories.tsx
Due: eslint --fix

feat(fuselage): updated OptionsPaginated options to allow optional description
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
Due: eslint --fix

feat(fuselage): updated PaginatedSelect options to allow optional description
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
Due: eslint --fix

chore: changeset
  .changeset/flat-bees-drum.md
Due: prettier --write

test: updated snapshot
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
Due: none

feat(layout): added placement customization to TooltipWrapper
  packages/layout/src/components/TooltipWrapper/TooltipWrapper.tsx
Due: eslint --fix

fix build output
  packages/fuselage-forms/tsconfig.cjs.json
  packages/fuselage-forms/tsconfig.esm.json
Due: prettier --write

test: missing custom element
  packages/fuselage/src/components/Field/FieldLabel.spec.tsx
Due: eslint --fix

fix(fuselage): FieldLabel required prop ignored when 'is' prop is set
  packages/fuselage/src/components/Field/FieldLabel.tsx
Due: eslint --fix

chore: changeset
  .changeset/gold-dolls-burn.md
Due: prettier --write

test: implemented unit tests for FieldLabel
  packages/fuselage/src/components/Field/FieldLabel.spec.tsx
Due: eslint --fix

chore: update changeset
  .changeset/gold-dolls-burn.md
Due: prettier --write

test: updated snapshots
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Due: none

chore: adjusted storybook
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
Due: eslint --fix

feat: ported AutoComplete to Tamagui
  .vscode/easycode.ignore
  packages/fuselage-tamagui-tokens/src/index.ts
  packages/fuselage-tamagui/.storybook/main.ts
  packages/fuselage-tamagui/package.json
  packages/fuselage-tamagui/src/components/AnimatedVisibility/AnimatedVisibility.stories.tsx
  packages/fuselage-tamagui/src/components/AnimatedVisibility/AnimatedVisibility.tsx
  packages/fuselage-tamagui/src/components/AnimatedVisibility/index.ts
  packages/fuselage-tamagui/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage-tamagui/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage-tamagui/src/components/AutoComplete/index.ts
  packages/fuselage-tamagui/src/components/Box/Box.spec.tsx
  packages/fuselage-tamagui/src/components/Box/Box.stories.tsx
  packages/fuselage-tamagui/src/components/Box/Box.styles.scss
  packages/fuselage-tamagui/src/components/Box/Box.tsx
  packages/fuselage-tamagui/src/components/Box/BoxTransforms.tsx
  packages/fuselage-tamagui/src/components/Box/StylingBox.tsx
  packages/fuselage-tamagui/src/components/Box/index.ts
  packages/fuselage-tamagui/src/components/Box/stories/Colors.stories.tsx
  packages/fuselage-tamagui/src/components/Box/stories/Is.stories.tsx
  packages/fuselage-tamagui/src/components/Box/stories/Layout.stories.tsx
  packages/fuselage-tamagui/src/components/Box/stories/RichContent.stories.tsx
  packages/fuselage-tamagui/src/components/CheckBox/CheckBox.spec.tsx
  packages/fuselage-tamagui/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage-tamagui/src/components/CheckBox/CheckBox.tsx
  packages/fuselage-tamagui/src/components/CheckBox/index.ts
  packages/fuselage-tamagui/src/components/EmailInput/EmailInput.spec.tsx
  packages/fuselage-tamagui/src/components/EmailInput/EmailInput.stories.tsx
  packages/fuselage-tamagui/src/components/EmailInput/EmailInput.tsx
  packages/fuselage-tamagui/src/components/EmailInput/index.ts
  packages/fuselage-tamagui/src/components/Icon/IconButton.spec.tsx
  packages/fuselage-tamagui/src/components/Icon/IconButton.stroies.tsx
  packages/fuselage-tamagui/src/components/Icon/IconButton.tsx
  packages/fuselage-tamagui/src/components/Icon/index.ts
  packages/fuselage-tamagui/src/components/Label/Label.stories.tsx
  packages/fuselage-tamagui/src/components/Label/Label.tsx
  packages/fuselage-tamagui/src/components/Label/index.ts
  packages/fuselage-tamagui/src/hooks/useArrayLikeClassNameProp.ts
  packages/fuselage-tamagui/src/hooks/useBoxOnlyProps.ts
  packages/fuselage-tamagui/src/types/Falsy.ts
  packages/fuselage-tamagui/tamagui.config.ts
Due: eslint --fix, stylelint --fix, prettier --write

chore: updated snapshots
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
Due: none

fix(fuselage): FieldLabel required prop ignored when 'is' prop is set (#1703)
  .changeset/gold-dolls-burn.md
  packages/fuselage/src/components/Field/FieldLabel.spec.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Due: eslint --fix, prettier --write

refactor: remove unrelated changes
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
Due: eslint --fix

fix(fuselage): AutoComplete's disabled property not working (#1704)
  .changeset/fluffy-rats-film.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
Due: eslint --fix, prettier --write

Update package.json
  package.json
Due: prettier --write

chore: restore loki job
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: remove needs in loki job for fast feedback
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: upload artifact
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: upload artifact in loki
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: new job upload artifact
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add job for upload artifact
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add step show directory
  .github/workflows/ci-pr.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
