Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(theme): dark-alpha translucent anchor for OS vibrancy
  packages/fuselage-tokens/src/colors/surface.json
Due: prettier --write

feat(theme): dark-alpha stroke-light at the accessibility floor
  packages/fuselage-tokens/src/colors/stroke.json
Due: prettier --write

feat(theme): dark-alpha decorative strokes go to a whisper
  packages/fuselage-tokens/src/colors/shadow.json
  packages/fuselage-tokens/src/colors/stroke.json
Due: prettier --write

refactor: Support ref callback cleanup in useMergedRefs
  packages/fuselage-hooks/src/useMergedRefs.server.spec.ts
  packages/fuselage-hooks/src/useMergedRefs.spec.ts
  packages/fuselage-hooks/src/useMergedRefs.spec.tsx
  packages/fuselage-hooks/src/useMergedRefs.ts
Due: eslint --fix

chore: deprecate useSafeRefCallback
  packages/fuselage-hooks/fuselage-hooks.api.md
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.ts
Due: eslint --fix, prettier --write

feat(fuselage-hooks): forward cleanup functions in useMergedRefs
  .changeset/merged-refs-cleanup.md
  packages/fuselage-hooks/src/useMergedRefs.spec.ts
  packages/fuselage-hooks/src/useMergedRefs.ts
Due: eslint --fix, prettier --write

test(fuselage): fix import order and formatting in Slider spec
  packages/fuselage/src/components/Slider/Slider.spec.tsx
Due: eslint --fix

fix(fuselage): correct Slider track fill for non-zero minValue and RTL locales
  .changeset/soft-sliders-listen.md
  packages/fuselage/src/components/Slider/Slider.spec.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Due: eslint --fix, prettier --write

feat(fuselage-tokens): sync status font tokens with the Figma color system
  .changeset/warm-owls-glow.md
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage-tokens/src/colors/status.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

chore: Remove `css-in-js` and `stylis-logical-props-middleware` from the monorepo
  README.md
  packages/css-in-js/.gitignore
  packages/css-in-js/CHANGELOG.md
  packages/css-in-js/README.md
  packages/css-in-js/api-extractor.json
  packages/css-in-js/css-in-js.api.md
  packages/css-in-js/jest.config.ts
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.mjs
  packages/css-in-js/src/index.ts
  packages/css-in-js/src/names.spec.ts
  packages/css-in-js/src/names.ts
  packages/css-in-js/src/sheet.ts
  packages/css-in-js/src/tags.spec.ts
  packages/css-in-js/src/tags.ts
  packages/css-in-js/src/transpile.spec.ts
  packages/css-in-js/src/transpile.ts
  packages/css-in-js/tsconfig.build.json
  packages/css-in-js/tsconfig.json
  packages/fuselage/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/.gitignore
  packages/stylis-logical-props-middleware/CHANGELOG.md
  packages/stylis-logical-props-middleware/README.md
  packages/stylis-logical-props-middleware/package.json
  packages/stylis-logical-props-middleware/src/elements.ts
  packages/stylis-logical-props-middleware/src/index.ts
  packages/stylis-logical-props-middleware/src/middleware.ts
  packages/stylis-logical-props-middleware/src/operations.ts
  packages/stylis-logical-props-middleware/tsconfig.cjs.json
  packages/stylis-logical-props-middleware/tsconfig.esm.json
  packages/stylis-logical-props-middleware/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: Remove `css-in-js` and `stylis-logical-props-middleware` from the monorepo (#2227)
  README.md
  packages/css-in-js/.gitignore
  packages/css-in-js/CHANGELOG.md
  packages/css-in-js/README.md
  packages/css-in-js/api-extractor.json
  packages/css-in-js/css-in-js.api.md
  packages/css-in-js/jest.config.ts
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.mjs
  packages/css-in-js/src/index.ts
  packages/css-in-js/src/names.spec.ts
  packages/css-in-js/src/names.ts
  packages/css-in-js/src/sheet.ts
  packages/css-in-js/src/tags.spec.ts
  packages/css-in-js/src/tags.ts
  packages/css-in-js/src/transpile.spec.ts
  packages/css-in-js/src/transpile.ts
  packages/css-in-js/tsconfig.build.json
  packages/css-in-js/tsconfig.json
  packages/fuselage/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/.gitignore
  packages/stylis-logical-props-middleware/CHANGELOG.md
  packages/stylis-logical-props-middleware/README.md
  packages/stylis-logical-props-middleware/package.json
  packages/stylis-logical-props-middleware/src/elements.ts
  packages/stylis-logical-props-middleware/src/index.ts
  packages/stylis-logical-props-middleware/src/middleware.ts
  packages/stylis-logical-props-middleware/src/operations.ts
  packages/stylis-logical-props-middleware/tsconfig.cjs.json
  packages/stylis-logical-props-middleware/tsconfig.esm.json
  packages/stylis-logical-props-middleware/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

poc(fuselage): Drop the `ExperimentalSurface` placeholder
  packages/fuselage/fuselage-experimental.api.md
  packages/fuselage/src/experimental/ExperimentalSurface.tsx
  packages/fuselage/src/experimental/index.ts
Due: eslint --fix, prettier --write

poc(fuselage): Add an `/experimental` entry point
  packages/fuselage/README.md
  packages/fuselage/api-extractor.experimental.json
  packages/fuselage/experimental.d.ts
  packages/fuselage/experimental.js
  packages/fuselage/fuselage-experimental.api.md
  packages/fuselage/package.json
  packages/fuselage/src/experimental/ExperimentalSurface.tsx
  packages/fuselage/src/experimental/index.ts
  packages/fuselage/vite.config.mts
Due: eslint --fix, prettier --write

poc(fuselage): Export `View` and `Text` from `/experimental`
  packages/fuselage/fuselage-experimental.api.md
  packages/fuselage/src/experimental/Text.ts
  packages/fuselage/src/experimental/View.ts
  packages/fuselage/src/experimental/index.ts
Due: eslint --fix, prettier --write

fix(fuselage): Install `react-native` for Tamagui's type-only imports
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

poc(fuselage): Add a minimal Tamagui configuration to `/experimental`
  packages/fuselage/api-extractor.experimental.json
  packages/fuselage/fuselage-experimental.api.md
  packages/fuselage/jest.config.ts
  packages/fuselage/package.json
  packages/fuselage/src/experimental/FuselageProvider.tsx
  packages/fuselage/src/experimental/index.ts
  packages/fuselage/src/experimental/tamagui.config.ts
  packages/fuselage/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix(fuselage): Build each entry point in its own Vite pass
  packages/fuselage/package.json
  packages/fuselage/vite.config.mts
Due: prettier --write

poc(fuselage): Theme the experimental components from the palette
  packages/fuselage/fuselage-experimental.api.md
  packages/fuselage/src/components/PaletteStyleTag/PaletteStyleTag.tsx
  packages/fuselage/src/components/PaletteStyleTag/index.ts
  packages/fuselage/src/components/PaletteStyleTag/lib/themePalettes.ts
  packages/fuselage/src/experimental/ExperimentalSurface.tsx
  packages/fuselage/src/experimental/index.ts
  packages/fuselage/src/experimental/tamagui.config.ts
  packages/fuselage/src/helpers/getPalette.ts
  packages/fuselage/src/index.ts
  packages/fuselage/src/types/Themes.ts
Due: eslint --fix, prettier --write

feat(fuselage): Align spacing of sidebar items and group headers
  .changeset/tidy-sidebar-rows.md
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarAccordionItem.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): Add top margin to the sidebar accordion header
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

add changeset
  .changeset/hip-geckos-wave.md
Due: prettier --write

lint
  packages/icons/src/address-book-plus.svg
  packages/icons/src/book-clock.svg
Due: prettier --write

feat(fuselage): Use 0.5rem inline padding on sidebar items and group bars
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
Due: stylelint --fix

test(fuselage): Update sidebar visual regression snapshots
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/test/snapshots/navigation-sidebar--custom-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-items-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--medium-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-media--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidepanel--default-desktop.png
Due: eslint --fix

test(fuselage): Add snapshots for the CustomMedium and CustomExtended sidebar stories
  packages/fuselage/test/snapshots/navigation-sidebar--custom-extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--custom-medium-desktop.png
Due: none

revert(fuselage): Restore the sidebar rows and collapse group headers
  .changeset/brave-rows-revert.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/Sidebar/SidebarGroupTitle.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/test/snapshots/navigation-sidebar--custom-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-items-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--medium-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-media--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidepanel--default-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

ci: Pin `upload-artifact` action for visual regression results
  .github/workflows/cd.yml
Due: prettier --write

fix(fuselage): make date and time picker addons accessible
  .changeset/date-time-picker-accessibility.md
  packages/fuselage/src/components/InputBox/InputBox.spec.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/InputBox/__snapshots__/InputBox.spec.tsx.snap
Due: eslint --fix, prettier --write

feat(icons): add `address-book-plus` & `book-clock` (#2215)
  .changeset/hip-geckos-wave.md
  packages/fuselage/test/snapshots/data-display-icon--available-icons-desktop.png
  packages/fuselage/test/snapshots/data-display-icon--default-desktop.png
  packages/icons/glyphsMapping.json
  packages/icons/src/address-book-plus.svg
  packages/icons/src/book-clock.svg
Due: prettier --write

fix(fuselage): `Tooltip` RTL positioning
  packages/fuselage/src/components/Tooltip/Tooltip.stories.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
Due: eslint --fix, stylelint --fix

chore: visual-regression-update
  packages/fuselage/test/snapshots/data-display-tooltip--arrow-positioning-desktop.png
  packages/fuselage/test/snapshots/data-display-tooltip--arrow-positioning-rtl-desktop.png
Due: none

chore: changeset
  .changeset/tooltip-rtl-arrow.md
Due: prettier --write

refactor(fuselage): Use logical properties for `Tooltip` arrow and drop explicit `dir` in stories
  packages/fuselage/src/components/Tooltip/Tooltip.stories.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): make InputBox date/time picker addons keyboard accessible
  .changeset/inputbox-date-time-a11y.md
  packages/fuselage/src/components/InputBox/InputBox.spec.tsx
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/InputBox/__snapshots__/InputBox.spec.tsx.snap
Due: eslint --fix, prettier --write

fix(fuselage-hooks): restart clipboard feedback after each copy
  .changeset/clipboard-feedback-timeout.md
  packages/fuselage-hooks/src/useClipboard.spec.ts
  packages/fuselage-hooks/src/useClipboard.ts
Due: eslint --fix, prettier --write

fix(fuselage-hooks): refresh snapshots when storage keys change
  .changeset/storage-key-snapshot.md
  packages/fuselage-hooks/src/useStorage.spec.ts
  packages/fuselage-hooks/src/useStorage.ts
Due: eslint --fix, prettier --write

fix(fuselage-hooks): Make `flush()` of debounced callbacks invoke only a pending call
  .changeset/debounced-callback-flush.md
  packages/fuselage-hooks/src/useDebouncedCallback.spec.ts
  packages/fuselage-hooks/src/useDebouncedCallback.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
