Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): add missing `Bubble` gap
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/light-bees-act.md
Due: prettier --write

fix(fuselage): Add missing renderItem property on PaginatedSelect (#1327)
  .changeset/fuzzy-pumpkins-beg.md
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
Due: eslint --fix, prettier --write

fix(fuselage): add missing `Bubble` gap (#1328)
  .changeset/light-bees-act.md
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
Due: stylelint --fix, prettier --write

fix: `MessageReactions` focus state
  packages/fuselage/src/components/Message/MessageReactions/MessageReaction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionAction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.spec.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.stories.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.tsx
  packages/fuselage/src/components/Message/MessageReactions/__snapshots__/MessageReactions.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageReactions/index.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/helpers.tsx
  packages/fuselage/src/components/Message/mixins.scss
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/brown-avocados-bow.md
Due: prettier --write

feat(fuselage): `MessageReactions` focus state (#1331)
  .changeset/brown-avocados-bow.md
  packages/fuselage/src/components/Message/MessageReactions/MessageReaction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionAction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.spec.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.stories.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.tsx
  packages/fuselage/src/components/Message/MessageReactions/__snapshots__/MessageReactions.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageReactions/index.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/helpers.tsx
  packages/fuselage/src/components/Message/mixins.scss
Due: eslint --fix, stylelint --fix, prettier --write

chore: changeset
  .changeset/shiny-hats-own.md
Due: prettier --write

fix(fuselage): show `AutoComplete` placeholder
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

chore: changeset
  .changeset/weak-oranges-impress.md
Due: prettier --write

chore: update snapshot
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
Due: none

chore: Missing changeset (#1334)
  .changeset/shiny-hats-own.md
Due: prettier --write

fix(fuselage): show `AutoComplete` placeholder (#1335)
  .changeset/weak-oranges-impress.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
Due: eslint --fix, prettier --write

chore: fix types
  packages/fuselage/src/components/Message/MessageBody.tsx
  packages/fuselage/src/components/Message/MessageContainer.tsx
  packages/fuselage/src/components/Message/MessageContainerFixed.tsx
  packages/fuselage/src/components/Message/MessageEmoji.tsx
  packages/fuselage/src/components/Message/MessageEmojiBase.tsx
  packages/fuselage/src/components/Message/MessageHeader.tsx
  packages/fuselage/src/components/Message/MessageLeftContainer.tsx
  packages/fuselage/src/components/Message/MessageName.tsx
  packages/fuselage/src/components/Message/MessageNameContainer.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionEmoji.tsx
  packages/fuselage/src/components/Message/MessageRole.tsx
  packages/fuselage/src/components/Message/MessageRoles.tsx
  packages/fuselage/src/components/Message/MessageTimestamp.tsx
  packages/fuselage/src/components/Message/MessageUsername.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageEmoji.tsx
Due: eslint --fix

chore(fuselage): Messages's components incorrect types (#1336)
  packages/fuselage/src/components/Message/MessageBody.tsx
  packages/fuselage/src/components/Message/MessageContainer.tsx
  packages/fuselage/src/components/Message/MessageContainerFixed.tsx
  packages/fuselage/src/components/Message/MessageEmoji.tsx
  packages/fuselage/src/components/Message/MessageEmojiBase.tsx
  packages/fuselage/src/components/Message/MessageHeader.tsx
  packages/fuselage/src/components/Message/MessageLeftContainer.tsx
  packages/fuselage/src/components/Message/MessageName.tsx
  packages/fuselage/src/components/Message/MessageNameContainer.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionEmoji.tsx
  packages/fuselage/src/components/Message/MessageRole.tsx
  packages/fuselage/src/components/Message/MessageRoles.tsx
  packages/fuselage/src/components/Message/MessageTimestamp.tsx
  packages/fuselage/src/components/Message/MessageUsername.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageEmoji.tsx
Due: eslint --fix

prop to disable code snippet button
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.spec.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.stories.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.tsx
Due: eslint --fix

add cs
  .changeset/big-rockets-approve.md
Due: prettier --write

oops
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.spec.tsx
Due: eslint --fix

fix test
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.spec.tsx
Due: eslint --fix

change cs to minor
  .changeset/big-rockets-approve.md
Due: prettier --write

chore(fuselage): Modal annotations font color (#1308)
  packages/fuselage/src/components/Modal/Modal.styles.scss
Due: stylelint --fix

feat(fuselage): Disable CodeSnippet button prop (#1338)
  .changeset/big-rockets-approve.md
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.spec.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.stories.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.tsx
Due: eslint --fix, prettier --write

chore: update docs
  packages/fuselage/README.md
Due: prettier --write

chore(fuselage): Update docs (#1340)
  packages/fuselage/README.md
Due: prettier --write

feat: new set of `NavBar` components
  packages/fuselage/src/components/NavBar/NavBar.styles.scss
  packages/fuselage/src/components/NavBar/NavBar.tsx
  packages/fuselage/src/components/NavBar/NavBarDivider.tsx
  packages/fuselage/src/components/NavBar/NavBarGroup.tsx
  packages/fuselage/src/components/NavBar/NavBarItem.tsx
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
  packages/fuselage/src/components/NavBar/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

feat: `NavBar` stories
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
Due: eslint --fix

test: add `NavBar` tests and fix a11y stories violations
  packages/fuselage/src/components/NavBar/NavBar.spec.tsx
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
Due: eslint --fix

fix: `MessageMetrics` props types
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.spec.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsContent.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsContentItem.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemLabel.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/index.ts
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageMetrics/index.tsx
  packages/fuselage/src/components/Message/helpers.tsx
Due: eslint --fix

chore: changeset
  .changeset/angry-avocados-punch.md
Due: prettier --write

fix: add react-aria `SSRProvider` due to jest failing with react-aria ids
  packages/fuselage/src/components/NavBar/NavBar.spec.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
Due: eslint --fix

fix: import default
  packages/fuselage/src/components/Message/MessageMetrics/index.tsx
Due: eslint --fix

fix(fuselage): `MessageMetrics` props types (#1342)
  .changeset/angry-avocados-punch.md
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.spec.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsContent.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsContentItem.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemLabel.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/index.ts
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageMetrics/index.tsx
  packages/fuselage/src/components/Message/helpers.tsx
Due: eslint --fix, prettier --write

feat: new SideBar, SideBarAccordion and SideBarAccordionItem components
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBar.tsx
  packages/fuselage/src/components/SideBarV2/SideBarAccordion.tsx
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.spec.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/index.tsx
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

fix: wrong `MessageMetrics` export
  packages/fuselage/src/components/Message/MessageMetrics/index.tsx
Due: eslint --fix

chore: changeset
  .changeset/smart-cars-jog.md
Due: prettier --write

feat: `SideBarAccordionItem` badge
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): `MessageMetrics` being exported incorrectly (#1344)
  .changeset/smart-cars-jog.md
  packages/fuselage/src/components/Message/MessageMetrics/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
