Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: update changeset
  .changeset/rude-moons-give.md
Due: prettier --write

fix(fuselage): Icons package compatibility (#1381)
  .changeset/rude-moons-give.md
Due: prettier --write

fix(fuselage): remove `codeBlock` palette from dark theme and add `palette` prop for a custom palette
  packages/fuselage/src/components/PaletteStyleTag/PaletteStyleTag.tsx
Due: eslint --fix

chore: changeset
  .changeset/curvy-rules-jog.md
Due: prettier --write

chore: delete deprecated codeBlockStyles
  packages/fuselage/src/components/PaletteStyleTag/lib/codeBlockStyles.ts
Due: eslint --fix

fix(fuselage): remove `codeBlock` palette and add `palette` prop (#1383)
  .changeset/curvy-rules-jog.md
  packages/fuselage/src/components/PaletteStyleTag/PaletteStyleTag.tsx
  packages/fuselage/src/components/PaletteStyleTag/lib/codeBlockStyles.ts
Due: eslint --fix, prettier --write

Remove unused tool `write-version-module`
  tools/write-version-module/CHANGELOG.md
  tools/write-version-module/index.mjs
  tools/write-version-module/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade to Node 22 and Yarn 4
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Upgrade Stylis
  packages/css-in-js/package.json
  packages/stylis-logical-props-middleware/package.json
  yarn.lock
Due: prettier --write

Upgrade Husky
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Remove references to Lerna
  .gitignore
  .vscode/settings.json
  LICENSE
  _templates/create-package/library/prompt.js
  lerna.json
  package.json
  tools/bump/bump.mjs
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade TypeScript and Turbo
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/scripts/package.json
  turbo.json
  yarn.lock
Due: prettier --write

Upgrade GitHub workflows
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

fix(fuselage): add link with underline decoration as a default
  packages/fuselage/src/components/Box/props.stories.tsx
  packages/fuselage/src/styles/primitives/link.scss
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/nasty-trainers-breathe.md
Due: prettier --write

fix(fuselage): `IconButton` with badge
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

chore: changeset
  .changeset/poor-toes-knock.md
Due: prettier --write

feat: add RTL support
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
  packages/fuselage-toastbar/src/ToastBar.stories.tsx
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage-toastbar/src/stories.tsx
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/eighty-melons-exist.md
Due: prettier --write

Update packages/fuselage-toastbar/src/ToastBar.spec.tsx
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
Due: eslint --fix

fix(fuselage): `IconButton` with badge positioning (#1388)
  .changeset/poor-toes-knock.md
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix, prettier --write

fix: `Modal` missing some a11y props
  packages/fuselage/src/components/Modal/Modal.spec.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/src/components/Modal/ModalClose.tsx
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
Due: eslint --fix

chore: changeset
  .changeset/red-tips-joke.md
Due: prettier --write

fix(fuselage): Modal components missing some a11y props (#1390)
  .changeset/red-tips-joke.md
  packages/fuselage/src/components/Modal/Modal.spec.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/src/components/Modal/ModalClose.tsx
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
Due: eslint --fix, prettier --write

fix: badge missing vertical alignment
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/proud-kangaroos-enjoy.md
Due: prettier --write

chore: update changeset
  .changeset/proud-kangaroos-enjoy.md
Due: prettier --write

fix(fuselage): `SidebarItem` missing badge vertical alignment (#1392)
  .changeset/proud-kangaroos-enjoy.md
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix, prettier --write

fix: unit test
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
Due: eslint --fix

fix(fuselag): Added props and fixed styles
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): Prevent text overflow in message in case of zalgo texts
  .changeset/khaki-countries-think.md
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix, prettier --write

improve typing
  packages/fuselage/src/components/Option/OptionContent.tsx
Due: eslint --fix

changeset
  .changeset/orange-zoos-study.md
Due: prettier --write

fix(fuselage): `OptionContent` props type (#1395)
  .changeset/orange-zoos-study.md
  packages/fuselage/src/components/Option/OptionContent.tsx
Due: eslint --fix, prettier --write

chore: Modernize codebase and required tooling (#1385)
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .gitignore
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  LICENSE
  _templates/create-package/library/prompt.js
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/bump/bump.mjs
  tools/scripts/package.json
  tools/write-version-module/CHANGELOG.md
  tools/write-version-module/index.mjs
  tools/write-version-module/package.json
  turbo.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(fuselage-toastbar): Add RTL support (#1389)
  .changeset/eighty-melons-exist.md
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
  packages/fuselage-toastbar/src/ToastBar.stories.tsx
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage-toastbar/src/stories.tsx
Due: eslint --fix, prettier --write

fix(fuselage): decrease `InputBox` small inline paddings
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
Due: stylelint --fix
