Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --debug --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --debug --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

loki onboarding
  packages/onboarding-ui/.loki/reference/desktop_pages_RequestTrialPage_RequestTrialPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_RequestTrialPage_RequestTrialPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_RequestTrialPage_RequestTrialPage.png
Due: none

chore: fix names
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.stories.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.spec.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.stories.tsx
Due: eslint --debug --fix

Finished
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_Item_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_TopBar_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_With_Footer.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_Item_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_TopBar_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_With_Footer.png
  packages/fuselage/src/components/Sidebar/styles.scss
Due: stylelint --fix

chore(fuselage,fuselage-ui-kit,onboarding-ui): Purge dangling Loki references
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/.loki/reference/desktop_pages_MagicLinkEmailPage_MagicLinkEmailPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_MagicLinkEmailPage_MagicLinkEmailPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_MagicLinkEmailPage_MagicLinkEmailPage.png
  packages/onboarding-ui/package.json
Due: prettier --write

fix: docker image version
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Options/Option/Option.tsx
  packages/onboarding-ui/package.json
Due: eslint --debug --fix, prettier --write

Fix reivew
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
Due: eslint --debug --fix

Create function to build icons d.ts
  README.md
  packages/fuselage/src/components/Icon/index.d.ts
  packages/onboarding-ui/src/common/List/ListItem.tsx
  tools/build-icons/build.mjs
  tools/build-icons/index.mjs
Due: eslint --debug --fix, prettier --write

fix optionProps icon
  packages/fuselage/src/components/Options/Option/Option.tsx
Due: eslint --debug --fix

Chore/sidebar (#581)
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_Item_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_TopBar_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_With_Footer.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_Item_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_TopBar_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_With_Footer.png
  packages/fuselage/src/components/Button/index.d.ts
  packages/fuselage/src/components/Sidebar/Actions.js
  packages/fuselage/src/components/Sidebar/Item.js
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/Section.js
  packages/fuselage/src/components/Sidebar/Section.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.stories.mdx
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
  packages/fuselage/src/components/Sidebar/SidebarFooter.tsx
  packages/fuselage/src/components/Sidebar/TopBar.js
  packages/fuselage/src/components/Sidebar/TopBar.tsx
  packages/fuselage/src/components/Sidebar/index.d.ts
  packages/fuselage/src/components/Sidebar/index.js
  packages/fuselage/src/components/Sidebar/index.tsx
  packages/fuselage/src/components/Sidebar/styles.scss
Due: eslint --debug --fix, stylelint --fix

Chore: Icons d.ts (#582)
  README.md
  packages/fuselage/src/components/Icon/index.d.ts
  packages/fuselage/src/components/Options/Option/Option.tsx
  packages/onboarding-ui/src/common/List/ListItem.tsx
  tools/build-icons/build.mjs
  tools/build-icons/index.mjs
Due: eslint --debug --fix, prettier --write

chore: update loki
  packages/onboarding-ui/.loki/reference/desktop_forms_NewAccountForm_NewAccountForm.png
  packages/onboarding-ui/.loki/reference/desktop_pages_CreateNewAccountPage_Create_New_Account_Page.png
  packages/onboarding-ui/.loki/reference/mobile_forms_NewAccountForm_NewAccountForm.png
  packages/onboarding-ui/.loki/reference/mobile_pages_CreateNewAccountPage_Create_New_Account_Page.png
  packages/onboarding-ui/.loki/reference/tablet_forms_NewAccountForm_NewAccountForm.png
  packages/onboarding-ui/.loki/reference/tablet_pages_CreateNewAccountPage_Create_New_Account_Page.png
Due: none

chore: sidebar item icon
  packages/fuselage/src/components/Sidebar/Item.tsx
Due: eslint --debug --fix

Message status indicator
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/index.ts
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --debug --fix, stylelint --fix

typing adjustments
  packages/fuselage/src/components/Message/Message.tsx
  packages/fuselage/src/components/Message/MessageReactions/index.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.tsx
  packages/fuselage/src/components/Message/MessageToolbox/index.tsx
  packages/fuselage/src/components/Message/index.tsx
  packages/fuselage/src/components/Sidebar/Item.tsx
Due: eslint --debug --fix, stylelint --fix

chore(fuselage): Missing sidebar item icon prop (#583)
  packages/fuselage/src/components/Sidebar/Item.tsx
Due: eslint --debug --fix

feat(onboarding-ui): Create new account page (#575)
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/.loki/reference/desktop_forms_NewAccountForm_NewAccountForm.png
  packages/onboarding-ui/.loki/reference/desktop_pages_CreateNewAccountPage_Create_New_Account_Page.png
  packages/onboarding-ui/.loki/reference/mobile_forms_NewAccountForm_NewAccountForm.png
  packages/onboarding-ui/.loki/reference/mobile_pages_CreateNewAccountPage_Create_New_Account_Page.png
  packages/onboarding-ui/.loki/reference/tablet_forms_NewAccountForm_NewAccountForm.png
  packages/onboarding-ui/.loki/reference/tablet_pages_CreateNewAccountPage_Create_New_Account_Page.png
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.spec.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.stories.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/index.ts
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.spec.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.stories.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/index.ts
Due: eslint --debug --fix, prettier --write

Convert Accordion and AutoComplete stories
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/Accordion/Item.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
Due: eslint --debug --fix

Convert Avatar story
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
Due: eslint --debug --fix

Convert Badge story
  packages/fuselage/src/components/Badge/Badge.stories.tsx
Due: eslint --debug --fix

Convert Button story
  packages/fuselage/src/components/Accordion/Item.stories.tsx
  packages/fuselage/src/components/Button/Button.stories.tsx
Due: eslint --debug --fix

Convert ButtonGroup story
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
Due: eslint --debug --fix

Convert Callout story
  packages/fuselage/src/components/Callout/Callout.stories.tsx
Due: eslint --debug --fix

Convert CheckBox story
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
Due: eslint --debug --fix

Convert Chevron story
  packages/fuselage/src/components/Chevron/Chevron.stories.tsx
Due: eslint --debug --fix

Convert Chip story
  packages/fuselage/src/components/Chip/Chip.stories.tsx
Due: eslint --debug --fix

Convert Divider story
  packages/fuselage/src/components/Divider/Divider.stories.tsx
Due: eslint --debug --fix

Convert EmailInput and Field stories
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/EmailInput/EmailInput.stories.tsx
  packages/fuselage/src/components/Field/Field.stories.tsx
  yarn.lock
Due: eslint --debug --fix

Convert EmailInput and FieldGroup stories
  packages/fuselage/src/components/FieldGroup/FieldGroup.stories.tsx
Due: eslint --debug --fix

Convert Grid and Icon stories
  packages/fuselage/src/components/Grid/Grid.stories.tsx
  packages/fuselage/src/components/Icon/Icon.stories.tsx
Due: eslint --debug --fix

Convert Label stories
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/Label/Label.stories.tsx
Due: eslint --debug --fix

Convert Margins stories
  packages/fuselage/src/components/Margins/Margins.stories.tsx
Due: eslint --debug --fix

Convert Menu stories
  packages/fuselage/src/components/Margins/Margins.stories.tsx
  packages/fuselage/src/components/Menu/Menu.stories.tsx
Due: eslint --debug --fix

feat(onboarding-ui): add Oauth Auth Page
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.spec.tsx
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.stories.tsx
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.tsx
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/index.ts
Due: eslint --debug --fix, prettier --write

Convert Message stories
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbox/Toolbox.stories.tsx
Due: eslint --debug --fix

Convert MultiSelect stories
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
Due: eslint --debug --fix

Add Accordion story description
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/Accordion/Item.stories.tsx
Due: eslint --debug --fix
