Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore: add cli cmds
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: run steps even previous step failed
  .github/workflows/ci-pr.yml
Due: prettier --write

fix: skipping packages file on smart test
  .github/actions/test/src/runner.js
  .github/workflows/ci-pr.yml
  packages/fuselage/script.sh
Due: eslint --fix, prettier --write

chore: add logs for skipping pakcage test
  .github/workflows/ci-pr.yml
Due: prettier --write

fix: synatx bash
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: rocket thruster init
  .github/actions/test/index.js
  .github/actions/test/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: use if in full test
  .github/workflows/ci-pr.yml
Due: prettier --write

update
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: swap if and elif
  .github/workflows/ci-pr.yml
Due: prettier --write

add sudo
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: resolve-loki-init
  packages/fuselage/package.json
  tools/resolve-loki/.gitignore
  tools/resolve-loki/.prettierignore
  tools/resolve-loki/bin/resolve-loki-references.js
  tools/resolve-loki/package.json
  tools/resolve-loki/src/resolve-loki-references.ts
  tools/resolve-loki/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add loki to update readme
  tools/update-readme/templates/pkgReadme.mjs
  tools/update-readme/templates/section.mjs
Due: eslint --fix

chore: revive loki scripts
  package.json
Due: prettier --write

chore: revive scripts and add to new packages
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
  turbo.json
  yarn.lock
Due: prettier --write

chore: add custom docker flag in script
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

chore: update refs
  packages/onboarding-ui/.loki/reference/desktop_forms_RegisterOfflineForm_Register_Offline_Form.png
  packages/onboarding-ui/.loki/reference/mobile_flows_Self_Hosted_Registration_Airgapped_Self_Hosted_Registration.png
  packages/onboarding-ui/.loki/reference/mobile_flows_Self_Hosted_Registration_Self_Hosted_Registration.png
  packages/onboarding-ui/.loki/reference/mobile_forms_AdminInfoForm_AdminInfoForm.png
  packages/onboarding-ui/.loki/reference/mobile_forms_CreateCloudWorkspaceForm_CreateCloudWorkspaceForm.png
  packages/onboarding-ui/.loki/reference/mobile_forms_OrganizationInfoForm_OrganizationInfoForm.png
  packages/onboarding-ui/.loki/reference/mobile_forms_RegisterOfflineForm_Register_Offline_Form.png
  packages/onboarding-ui/.loki/reference/mobile_forms_RequestTrialForm_RequestTrialForm.png
  packages/onboarding-ui/.loki/reference/mobile_pages_AdminInfoPage_AdminInfoPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_AdminInfoPage_CloudAdminInfoPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_CreateCloudWorkspacePage_CreateCloudWorkspacePage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_OrganizationInfoPage_CloudOrganizationInfoPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_OrganizationInfoPage_OrganizationInfoPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_OrganizationInfoPage_WithoutBack.png
  packages/onboarding-ui/.loki/reference/mobile_pages_RegisterServerPage_Offline.png
  packages/onboarding-ui/.loki/reference/mobile_pages_RegisterServerPage_Online.png
  packages/onboarding-ui/.loki/reference/tablet_forms_RegisterOfflineForm_Register_Offline_Form.png
  packages/onboarding-ui/.loki/reference/tablet_pages_AdminInfoPage_AdminInfoPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_AdminInfoPage_CloudAdminInfoPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_OrganizationInfoPage_CloudOrganizationInfoPage.png
Due: none

chore: update refs
  packages/layout/.loki/reference/mobile_components_FormPageLayout_Default.png
Due: none

chore: remove custom docker on data argument must be of type string or an instance of Buffer
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

refactor: use script
  .github/workflows/ci-pr.yml
Due: prettier --write

fix: error on runner diffs use docker wihtout sec comp
  packages/fuselage/package.json
Due: prettier --write

fix: yukinying/chrome-headless-browser-stable version typo
  packages/fuselage/package.json
Due: prettier --write

chore: update yukinying/chrome-headless-browser-stable version
  packages/fuselage/package.json
Due: prettier --write

fix(stories): update Box stories to correctly render colors and layouts
  packages/fuselage/src/components/Box/colors.stories.tsx
  packages/fuselage/src/components/Box/layout.stories.tsx
Due: eslint --fix

fix: permission tsconfig
  tools/resolve-loki/tsconfig.json
Due: prettier --write

fix: lint error :
  tools/resolve-loki/tsconfig.json
Due: prettier --write

chore: add flag --chromeDockerWithoutSeccomp
  packages/fuselage/package.json
Due: prettier --write

chore: remove remote caching
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add remote caching
  .github/workflows/ci-pr.yml
Due: prettier --write

feat: added index to OptionsPaginated rendered item
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
Due: eslint --fix

chore: added renderItem story
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
Due: eslint --fix

test: added unit tests
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.spec.tsx
  packages/fuselage/src/components/PaginatedSelect/__snapshots__/PaginatedSelectFiltered.spec.tsx.snap
Due: eslint --fix

chore: changeset
  .changeset/smart-pillows-laugh.md
Due: prettier --write

chore: actions init
  .github/workflows/ci-pr.yml
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

chore: trigger job
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: remove needs
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: remove step
  .github/workflows/ci-pr.yml
Due: prettier --write

fix: download artifact
  .github/workflows/ci-pr.yml
Due: prettier --write

show directory
  .github/workflows/ci-pr.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
