Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Tighten some types (#1783)
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/index.ts
  packages/fuselage/src/components/Badge/Badge.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Options/OptionType.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/OptionsEmpty.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
  packages/fuselage/src/components/SidebarV2/SidebarGroupTitle.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
Due: eslint --fix

Upgrade Yarn
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

Upgrade Turbo
  package.json
  yarn.lock
Due: prettier --write

Patch deps
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Upgrade `countries-list`
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Upgrade ESLint
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

chore(deps): Upgrade some dependencies (#1784)
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

update FramedIcon styles
  packages/fuselage/src/components/FramedIcon/FramedIcon.styles.scss
Due: stylelint --fix

Create red-hotels-cross.md
  .changeset/red-hotels-cross.md
Due: prettier --write

chore(fuselage): Update FramedIcon styles (#1787)
  .changeset/red-hotels-cross.md
  packages/fuselage/src/components/FramedIcon/FramedIcon.styles.scss
Due: stylelint --fix, prettier --write

chore: Remove `@rocket.chat/peggy-loader` (moved to main repo)
  README.md
  packages/peggy-loader/.gitignore
  packages/peggy-loader/.prettierignore
  packages/peggy-loader/CHANGELOG.md
  packages/peggy-loader/README.md
  packages/peggy-loader/jest.config.js
  packages/peggy-loader/package.json
  packages/peggy-loader/src/index.ts
  packages/peggy-loader/tsconfig-cjs.json
  packages/peggy-loader/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: Remove `@rocket.chat/peggy-loader` (moved to main repo) (#1791)
  README.md
  packages/peggy-loader/.gitignore
  packages/peggy-loader/.prettierignore
  packages/peggy-loader/CHANGELOG.md
  packages/peggy-loader/README.md
  packages/peggy-loader/jest.config.js
  packages/peggy-loader/package.json
  packages/peggy-loader/src/index.ts
  packages/peggy-loader/tsconfig-cjs.json
  packages/peggy-loader/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: Remove obsolete Hygen templates
  _templates/create-package/library/files/.gitignore.t
  _templates/create-package/library/files/.prettierignore.t
  _templates/create-package/library/files/README.md.t
  _templates/create-package/library/files/package.json.t
  _templates/create-package/library/files/src/index.ts.t
  _templates/create-package/library/files/tsconfig.cjs.json.t
  _templates/create-package/library/files/tsconfig.esm.json.t
  _templates/create-package/library/files/tsconfig.json.t
  _templates/create-package/library/prompt.js
  _templates/generator/help/index.ejs.t
  _templates/generator/new/hello.ejs.t
  _templates/generator/with-prompt/hello.ejs.t
  _templates/generator/with-prompt/prompt.js.t
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: Remove obsolete Hygen templates (#1790)
  _templates/create-package/library/files/.gitignore.t
  _templates/create-package/library/files/.prettierignore.t
  _templates/create-package/library/files/README.md.t
  _templates/create-package/library/files/package.json.t
  _templates/create-package/library/files/src/index.ts.t
  _templates/create-package/library/files/tsconfig.cjs.json.t
  _templates/create-package/library/files/tsconfig.esm.json.t
  _templates/create-package/library/files/tsconfig.json.t
  _templates/create-package/library/prompt.js
  _templates/generator/help/index.ejs.t
  _templates/generator/new/hello.ejs.t
  _templates/generator/with-prompt/hello.ejs.t
  _templates/generator/with-prompt/prompt.js.t
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix(fuselage): add maxHeight and overflowY to menu DropdownDesktop
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Menu/V2/MenuPopover.tsx
Due: eslint --fix

feat(fuselage): add Scrollable story to demonstrate menu item overflow
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
Due: eslint --fix

chore: changeset
  .changeset/silent-tools-work.md
Due: prettier --write

chore: update changeset
  .changeset/silent-tools-work.md
Due: prettier --write

fix(fuselage): Missing scroll on `Menu` with many items (#1793)
  .changeset/silent-tools-work.md
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/MenuPopover.tsx
Due: eslint --fix, prettier --write

chore(deps): Upgrade Yarn
  .yarn/releases/yarn-4.11.0.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

chore(deps): Upgrade turbo
  package.json
  yarn.lock
Due: prettier --write

chore(build): Set more type-checking directives in the base tsconfig
  eslint.config.mjs
  packages/css-in-js/src/sheet.ts
  packages/fuselage-toastbar/src/ToastBarPortal.ts
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Field/FieldLabelInfo.tsx
  packages/fuselage/src/components/Field/FieldLink.tsx
  packages/fuselage/src/components/Field/FieldRow.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Slider/Slider.spec.tsx
  packages/fuselage/src/styleTokens.ts
  packages/mp3-encoder/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore(build): Set more module directives in the base tsconfig
  packages/css-in-js/tsconfig.json
  packages/css-supports/tsconfig.cjs.json
  packages/css-supports/tsconfig.json
  packages/emitter/tsconfig.json
  packages/fuselage-forms/.storybook/globals.d.ts
  packages/fuselage-forms/tsconfig.cjs.json
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage-toastbar/.storybook/globals.d.ts
  packages/fuselage-toastbar/tsconfig.cjs.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage-tokens/tsconfig-cjs.json
  packages/fuselage/.storybook/globals.d.ts
  packages/fuselage/tsconfig.json
  packages/layout/.storybook/globals.d.ts
  packages/layout/tsconfig.cjs.json
  packages/layout/tsconfig.json
  packages/logo/tsconfig-cjs.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig-cjs.json
  packages/memo/tsconfig.json
  packages/mp3-encoder/tsconfig.json
  packages/onboarding-ui/.storybook/globals.d.ts
  packages/onboarding-ui/tsconfig.cjs.json
  packages/onboarding-ui/tsconfig.json
  packages/string-helpers/tsconfig-cjs.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig-cjs.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig-cjs.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore(build): Set more emit directives in the base tsconfig
  packages/css-in-js/tsconfig.json
  packages/emitter/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage/tsconfig.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
  tsconfig.base.json
Due: prettier --write

chore(build): Use common tsconfig as base
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
Due: prettier --write

chore(build): Disable JavaScript support in tsconfig
  packages/fuselage/tsconfig.json
  tsconfig.base.json
Due: prettier --write

chore(esm): Declare `scripts` as an ESM package
  tools/scripts/package.json
  tools/scripts/src/resolve-workspace-deps.ts
  tools/scripts/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(build): Set more language directives in the base tsconfig
  packages/emitter/tsconfig.json
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage/tsconfig.json
  packages/layout/tsconfig.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/onboarding-ui/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
  tsconfig.base.json
Due: prettier --write

chore(esm): Declare some tools packages as ESM
  tools/build-design-tokens/index.js
  tools/build-design-tokens/package.json
  tools/build-icons/build.js
  tools/build-icons/font.js
  tools/build-icons/glyphs.js
  tools/build-icons/index.js
  tools/build-icons/package.json
  tools/build-icons/svg.js
  tools/build-logo/index.js
  tools/build-logo/package.json
  tools/lint-all/lint-and-fix.js
  tools/lint-all/lint.js
  tools/lint-all/package.json
  tools/update-readme/package.json
  tools/update-readme/templates/badges.js
  tools/update-readme/templates/badges/bundleSizeBadge.js
  tools/update-readme/templates/badges/depsBadge.js
  tools/update-readme/templates/badges/licenseBadge.js
  tools/update-readme/templates/badges/npmDownloadsBadge.js
  tools/update-readme/templates/badges/npmPeerDepVersionBadge.js
  tools/update-readme/templates/badges/npmVersionBadge.js
  tools/update-readme/templates/badges/storybookBadge.js
  tools/update-readme/templates/pkgReadme.js
  tools/update-readme/templates/rocketChatLogo.js
  tools/update-readme/templates/rootReadme.js
  tools/update-readme/templates/section.js
  tools/update-readme/templates/section/addDeps.js
  tools/update-readme/templates/section/contributingMessage.js
  tools/update-readme/templates/section/header.js
  tools/update-readme/templates/section/install.js
  tools/update-readme/templates/section/yarnCmd.js
  tools/update-readme/update-readme.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(build): Set more interop directives in the base tsconfig
  packages/css-in-js/src/index.ts
  packages/css-in-js/tsconfig.json
  packages/css-supports/tsconfig.json
  packages/emitter/tsconfig.json
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage-toastbar/tsconfig.esm.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage/tsconfig.json
  packages/layout/tsconfig.cjs.json
  packages/layout/tsconfig.esm.json
  packages/layout/tsconfig.json
  packages/logo/tsconfig-cjs.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/mp3-encoder/tsconfig.json
  packages/onboarding-ui/.jest/setup.ts
  packages/onboarding-ui/tsconfig.cjs.json
  packages/onboarding-ui/tsconfig.esm.json
  packages/onboarding-ui/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore(build): Limit `skipLibCheck` usage
  packages/css-in-js/tsconfig.json
  packages/css-supports/tsconfig.json
  packages/emitter/tsconfig.json
  packages/fuselage/.storybook/globals.d.ts
  packages/fuselage/src/globals.d.ts
  packages/fuselage/src/scss.d.ts
  packages/fuselage/tsconfig.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/mp3-encoder/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
Due: eslint --fix, prettier --write

feat(fuselage): Use non-polyfilled CSS custom properties
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
  packages/fuselage/src/helpers/toCSSValue.ts
  packages/fuselage/webpack.config.js
  packages/layout/src/components/ActionLink/__snapshots__/ActionLink.spec.tsx.snap
  packages/layout/src/components/FormPageLayout/__snapshots__/FormPageLayout.spec.tsx.snap
  packages/layout/src/components/List/__snapshots__/List.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): Remove unused PostCSS plugin
  packages/fuselage/package.json
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(build): Set `erasableSyntaxOnly` directive
  packages/mp3-encoder/tsconfig.json
  tsconfig.base.json
Due: prettier --write

chore(fuselage): Remove some backports on webpack
  packages/fuselage/webpack.config.js
Due: eslint --fix

chore(fuselage): Upgrade caniuse-lite
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

chore(fuselage): Adapt webpack config to ESM format
  packages/fuselage/package.json
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): Fix circular reference in Storybook
  packages/fuselage/.storybook/helpers.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
Due: eslint --fix

refactor(fuselage): Use `ButtonGroupProps` references
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/ButtonGroup/index.ts
  packages/fuselage/src/components/Contextualbar/ContextualbarActions.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarActions.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.tsx
  packages/fuselage/src/components/Modal/ModalFooterControllers.tsx
  packages/fuselage/src/components/NavBar/NavBarGroup.tsx
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
  packages/fuselage/src/components/SidebarV2/SidebarActions.tsx
  packages/fuselage/src/components/SidebarV2/SidebarButtonGroup.tsx
  packages/fuselage/src/components/States/StatesActions.tsx
  packages/fuselage/src/components/Table/TableSelection/TableSelectionButtonGroup.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
