Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(fuselage-tokens): change formats for breakpoints
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-hooks/src/useBreakpoints.spec.ts
  packages/fuselage-hooks/src/useBreakpoints.ts
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
  packages/fuselage-tokens/src/breakpoints/base.json
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/styles/mixins/breakpoints.scss
Due: eslint --fix, stylelint --fix, prettier --write

refactor(fuselage-tokens): type breakpoint-related tokens
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
  packages/fuselage-tokens/src/breakpoints.json
  packages/fuselage-tokens/src/breakpoints/base.json
  packages/fuselage-tokens/src/typography.json
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/styles/variables/breakpoints.scss
Due: eslint --fix, stylelint --fix, prettier --write

feat(fuselage-tokens): change JSON format for colors
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
  packages/fuselage-tokens/src/index.js
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/PaletteStyleTag/helpers/getPalette.ts
  packages/layout/.storybook/preview.tsx
  packages/onboarding-ui/.storybook/preview.tsx
Due: eslint --fix

feat(fuselage-tokens): change SCSS format for colors
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
Due: eslint --fix

chore: add changeset
  .changeset/tokens-output-formats.md
Due: prettier --write

refactor(fuselage-tokens)!: Drop the root-level token entry points
  .changeset/tokens-output-formats.md
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-hooks/src/useBreakpoints.spec.ts
  packages/fuselage-hooks/src/useBreakpoints.ts
  packages/fuselage-tokens/breakpoints.json
  packages/fuselage-tokens/breakpoints.scss
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/package.json
  packages/fuselage-tokens/typography.json
  packages/fuselage-tokens/typography.scss
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/getPaletteColor.ts
  packages/fuselage/src/styles/mixins/breakpoints.scss
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.tsx
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/Description.tsx
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.tsx
  packages/onboarding-ui/src/pages/RequestTrialPage/Description.tsx
Due: eslint --fix, stylelint --fix, prettier --write

chore: shrink changeset
  .changeset/tokens-output-formats.md
Due: prettier --write

feat(fuselage-tokens): add tokens for borders
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
  packages/fuselage-tokens/src/border.json
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/lengths.scss
  packages/fuselage/src/styles/mixins/button.scss
  packages/fuselage/src/styles/mixins/shadows.scss
  packages/fuselage/src/styles/mixins/templates.scss
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): stop a consumer Margins from resizing the dismissible Chip
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/Chip/Chip.tsx
  packages/fuselage/src/components/MultiSelect/SelectedOptions.tsx
  packages/fuselage/src/components/MultiSelect/__snapshots__/MultiSelect.spec.tsx.snap
  packages/fuselage/test/snapshots/inputs-autocomplete--multiple-desktop.png
  packages/fuselage/test/snapshots/inputs-multiselect--with-value-desktop.png
Due: eslint --fix

feat(fuselage): add leadingIcon to Chip and balance its inner spacing
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Chip/Chip.spec.tsx
  packages/fuselage/src/components/Chip/Chip.stories.tsx
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/Chip/Chip.tsx
  packages/fuselage/test/snapshots/data-display-chip--default-desktop.png
  packages/fuselage/test/snapshots/data-display-chip--dismissible-desktop.png
  packages/fuselage/test/snapshots/data-display-chip--other-actions-desktop.png
  packages/fuselage/test/snapshots/data-display-chip--sizes-desktop.png
  packages/fuselage/test/snapshots/data-display-chip--with-icon-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

chore: mention leadingIcon in the Chip changeset
  .changeset/chip-dismiss-icon-button.md
Due: prettier --write

docs: refresh Chip screenshots for the leadingIcon and spacing changes
  .github/images/chip-after-actions.png
  .github/images/chip-after-dismissible.png
  .github/images/chip-after-sizes.png
Due: none

test(fuselage-forms): update snapshots for the Chip Margins fix
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
Due: none

feat(fuselage)!: render message mentions as plain text instead of pills
  .changeset/mention-layout-unification.md
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix, prettier --write

fix(fuselage): give the link highlight variant its own theme variable
  .changeset/mention-layout-unification.md
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix, prettier --write

chore: avoid using directly in SidebarGroupTitle
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarGroupTitle.tsx
Due: eslint --fix

chore: Remove postinstall script (#1864)
  .gitignore
  package.json
  packages/fuselage-toastbar/babel.config.js
  packages/logo/babel.config.js
  packages/mp3-encoder/babel.config.js
  packages/onboarding-ui/babel.config.js
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/badge-level-1-n700.md
Due: prettier --write

fix(fuselage-tokens): badge level-1 contrast a11y failing (#2144)
  .changeset/badge-level-1-n700.md
  packages/fuselage-tokens/src/colors/badge.json
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/test/snapshots/data-display-badge--with-value-desktop.png
Due: eslint --fix, prettier --write

chore(string-helpers)!: Remove the `@rocket.chat/string-helpers` package
  README.md
  packages/string-helpers/.gitignore
  packages/string-helpers/CHANGELOG.md
  packages/string-helpers/README.md
  packages/string-helpers/api-extractor.json
  packages/string-helpers/jest.config.ts
  packages/string-helpers/package.json
  packages/string-helpers/src/capitalize.spec.ts
  packages/string-helpers/src/capitalize.ts
  packages/string-helpers/src/escapeHTML.spec.ts
  packages/string-helpers/src/escapeHTML.ts
  packages/string-helpers/src/escapeRegExp.spec.ts
  packages/string-helpers/src/escapeRegExp.ts
  packages/string-helpers/src/index.ts
  packages/string-helpers/src/unescapeHTML.spec.ts
  packages/string-helpers/src/unescapeHTML.ts
  packages/string-helpers/string-helpers.api.md
  packages/string-helpers/tsconfig.cjs.json
  packages/string-helpers/tsconfig.esm.json
  packages/string-helpers/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix(fuselage): stop the mention focus ring from reserving horizontal space
  .changeset/mention-layout-unification.md
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix, prettier --write

docs(fuselage): rework the Message stories around mentions
  packages/fuselage/src/components/Message/Messages.stories.tsx
Due: eslint --fix

test(fuselage): update Message visual regression baselines
  packages/fuselage/test/snapshots/message-message--default-desktop.png
  packages/fuselage/test/snapshots/message-message--with-mentions-desktop.png
Due: none

fix(build-icons): Assign glyph characters deterministically
  tools/build-icons/glyphs.js
  tools/tools-utils/files.mjs
Due: eslint --fix

feat(icons): Add 34 icons from the Figma bench
  packages/icons/glyphsMapping.json
  packages/icons/src/archive.svg
  packages/icons/src/bell-dot.svg
  packages/icons/src/circle-unfilled-medium.svg
  packages/icons/src/close-pop-out-window.svg
  packages/icons/src/closed-captions.svg
  packages/icons/src/drag-handle.svg
  packages/icons/src/folder-plus.dir.svg
  packages/icons/src/hand.svg
  packages/icons/src/hash-lock.svg
  packages/icons/src/hd-fill.svg
  packages/icons/src/hd-stroke.svg
  packages/icons/src/image-resize.svg
  packages/icons/src/move.svg
  packages/icons/src/note.dir.svg
  packages/icons/src/pop-out-window.svg
  packages/icons/src/prune.svg
  packages/icons/src/rec-unfilled.svg
  packages/icons/src/resize.svg
  packages/icons/src/search-sparkle.svg
  packages/icons/src/sidebar.dir.svg
  packages/icons/src/square-arrow-down-left.svg
  packages/icons/src/square-arrow-up-right.svg
  packages/icons/src/square-arrows-contained-inwards.svg
  packages/icons/src/square-arrows-contained-outwards.svg
  packages/icons/src/square-slash.svg
  packages/icons/src/star-plus.svg
  packages/icons/src/tag-horizontal-filled.svg
  packages/icons/src/tag-horizontal-plus-2.svg
  packages/icons/src/tag-horizontal-plus.svg
  packages/icons/src/tag-horizontal.svg
  packages/icons/src/video-arrow-down-left.svg
  packages/icons/src/video-arrow-up-right.svg
  packages/icons/src/voicemail.svg
  packages/icons/src/volume-question-mark.svg
Due: prettier --write

feat(icons): Update 19 icons to their redrawn Figma versions
  packages/icons/src/arrow-expand.dir.svg
  packages/icons/src/folder.dir.svg
  packages/icons/src/hash.svg
  packages/icons/src/mic-off.svg
  packages/icons/src/mic.svg
  packages/icons/src/phone-disabled.svg
  packages/icons/src/phone-in.svg
  packages/icons/src/phone-issue.svg
  packages/icons/src/phone.svg
  packages/icons/src/team-lock.svg
  packages/icons/src/team.svg
  packages/icons/src/video-disabled.svg
  packages/icons/src/video-message.svg
  packages/icons/src/video-off.svg
  packages/icons/src/video.svg
  packages/icons/src/volume-disabled.svg
  packages/icons/src/volume-lock.svg
  packages/icons/src/volume-off.svg
  packages/icons/src/volume.svg
Due: prettier --write

chore(icons): Add changeset
  .changeset/icons-figma-sync-batch.md
Due: prettier --write

style(icons): Format `pop-out-window` per prettier
  packages/icons/src/pop-out-window.svg
Due: prettier --write

test(fuselage): Update visual regression snapshots for the icon changes
  packages/fuselage/test/snapshots/data-display-icon--available-icons-desktop.png
  packages/fuselage/test/snapshots/data-display-icon--default-desktop.png
  packages/fuselage/test/snapshots/data-display-tag--with-icon-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebarv2-item--extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebarv2-item--medium-desktop.png
  packages/fuselage/test/snapshots/navigation-sidepanel--default-desktop.png
  packages/fuselage/test/snapshots/sidebar-sidebar--with-footer-desktop.png
Due: none

fix: missing wrap MenuTemplate
  packages/fuselage/src/components/SidebarV2/helpers.tsx
Due: eslint --fix

chore(fuselage): Avoid using menu wrapper directly in `SidebarGroupTitle` (#2157)
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarGroupTitle.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
Due: eslint --fix

feat(icons): Apply naming conventions to the new bench icons
  .changeset/icons-figma-sync-batch.md
  packages/icons/glyphsMapping.json
  packages/icons/src/close-pop-out-window.svg
  packages/icons/src/hd-filled.svg
  packages/icons/src/hd.svg
  packages/icons/src/pop-out-window.svg
  packages/icons/src/tag-horizontal-plus-2.svg
Due: prettier --write

test(fuselage): Update visual regression snapshots for the icon changes
  packages/fuselage/test/snapshots/data-display-icon--default-desktop.png
Due: none

feat(icons): Deduplicate bench icons against the published set
  .changeset/icons-figma-sync-batch.md
  packages/icons/glyphsMapping.json
  packages/icons/src/circle-unfilled-medium.svg
  packages/icons/src/drag-handle.svg
  packages/icons/src/hashtag-lock.svg
  packages/icons/src/new-window.svg
  packages/icons/src/rec-unfilled.svg
  packages/icons/src/rec.svg
  packages/icons/src/square-arrow-up-right.svg
Due: prettier --write

test(fuselage): Update visual regression snapshots for the icon dedup
  packages/fuselage/test/snapshots/containers-contextualbar--default-desktop.png
  packages/fuselage/test/snapshots/containers-contextualbar--empty-desktop.png
  packages/fuselage/test/snapshots/containers-contextualbar--with-long-title-desktop.png
  packages/fuselage/test/snapshots/data-display-icon--default-desktop.png
Due: none

chore(string-helpers)!: Remove the `@rocket.chat/string-helpers` package (#2158)
  README.md
  packages/string-helpers/.gitignore
  packages/string-helpers/CHANGELOG.md
  packages/string-helpers/README.md
  packages/string-helpers/api-extractor.json
  packages/string-helpers/jest.config.ts
  packages/string-helpers/package.json
  packages/string-helpers/src/capitalize.spec.ts
  packages/string-helpers/src/capitalize.ts
  packages/string-helpers/src/escapeHTML.spec.ts
  packages/string-helpers/src/escapeHTML.ts
  packages/string-helpers/src/escapeRegExp.spec.ts
  packages/string-helpers/src/escapeRegExp.ts
  packages/string-helpers/src/index.ts
  packages/string-helpers/src/unescapeHTML.spec.ts
  packages/string-helpers/src/unescapeHTML.ts
  packages/string-helpers/string-helpers.api.md
  packages/string-helpers/tsconfig.cjs.json
  packages/string-helpers/tsconfig.esm.json
  packages/string-helpers/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
