Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore: `BackgroundLayer`
  packages/layout/src/BackgroundLayer/BackgroundLayer.spec.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundImage.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.spec.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.stories.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.styles.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.tsx
  packages/layout/src/components/BackgroundLayer/__snapshots__/BackgroundLayer.spec.tsx.snap
  packages/layout/src/components/BackgroundLayer/index.ts
  packages/layout/src/layouts/HeroLayout/HeroLayout.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutAside.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayout.tsx
Due: eslint --fix

chore: `TooltipWrapper`
  packages/layout/src/TooltipWrapper.spec.tsx
  packages/layout/src/components/TooltipWrapper/TooltipWrapper.spec.tsx
  packages/layout/src/components/TooltipWrapper/TooltipWrapper.stories.tsx
  packages/layout/src/components/TooltipWrapper/TooltipWrapper.tsx
  packages/layout/src/components/TooltipWrapper/__snapshots__/TooltipWrapper.spec.tsx.snap
  packages/layout/src/components/TooltipWrapper/index.ts
Due: eslint --fix

chore: `List`
  packages/layout/src/List/index.ts
  packages/layout/src/components/List/List.spec.tsx
  packages/layout/src/components/List/List.stories.tsx
  packages/layout/src/components/List/List.styles.tsx
  packages/layout/src/components/List/List.tsx
  packages/layout/src/components/List/ListItem.tsx
  packages/layout/src/components/List/__snapshots__/List.spec.tsx.snap
  packages/layout/src/components/List/index.ts
Due: eslint --fix

chore: `Link`
  packages/layout/src/components/Link.tsx
  packages/layout/src/components/index.ts
Due: eslint --fix

fix: `ActionLink` import
  packages/layout/src/components/ActionLink/index.ts
Due: eslint --fix

chore: `DarkModeProvider`
  packages/layout/src/DarkModeProvider.tsx
Due: eslint --fix

chore: `ActionLink`
  packages/layout/src/components/ActionLink/ActionLink.spec.tsx
  packages/layout/src/components/ActionLink/ActionLink.stories.tsx
  packages/layout/src/components/ActionLink/ActionLink.tsx
  packages/layout/src/components/ActionLink/__snapshots__/ActionLink.spec.tsx.snap
  packages/layout/src/components/ActionLink/index.ts
Due: eslint --fix

chore: remove unused `ManageWorkspaceFallback`
  packages/layout/src/ManageWorkspaceFallback.spec.tsx
  packages/layout/src/ManageWorkspaceFallback.tsx
Due: eslint --fix

chore: imports
  packages/layout/src/index.ts
Due: eslint --fix

chore: `FormPageLayout`
  packages/layout/src/components/FormPageLayout/FormPageLayout.stories.tsx
  packages/layout/src/components/FormPageLayout/FormSteps.tsx
  packages/layout/src/components/FormPageLayout/__snapshots__/FormPageLayout.spec.tsx.snap
Due: eslint --fix

chore: `BackgroundLayer` tweak
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.stories.tsx
Due: eslint --fix

chore: `LayoutLogo`
  packages/layout/src/components/LayoutLogo/LayoutLogo.spec.tsx
  packages/layout/src/components/LayoutLogo/LayoutLogo.stories.tsx
  packages/layout/src/components/LayoutLogo/LayoutLogo.tsx
  packages/layout/src/components/LayoutLogo/__snapshots__/LayoutLogo.spec.tsx.snap
  packages/layout/src/components/LayoutLogo/index.ts
  packages/layout/src/components/index.ts
  packages/layout/src/index.ts
  packages/layout/src/layouts/HeroLayout/HeroLayout.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutAside.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayout.tsx
  packages/onboarding-ui/src/pages/InvalidLinkPage/InvalidLinkPage.tsx
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
  packages/onboarding-ui/src/pages/LoginLinkEmailPage/LoginLinkEmailPage.tsx
  packages/onboarding-ui/src/pages/RedirectPage/RedirectPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordConfirmationPage/ResetPasswordConfirmationPage.tsx
  packages/onboarding-ui/src/pages/SomethingWentWrongPage/SomethingWentWrongPage.tsx
Due: eslint --fix

Update snapshot
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Due: none

Upgrade Node
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Upgrade Rollup
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.mjs
  packages/emitter/package.json
  packages/emitter/rollup.config.mjs
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/rollup.config.mjs
  packages/mp3-encoder/package.json
  packages/mp3-encoder/rollup.config.mjs
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade Yarn
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

Upgrade rimraf
  _templates/create-package/library/files/package.json.t
  package.json
  packages/css-supports/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/tools-utils/files.mjs
  tools/tools-utils/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade Rollup configuration
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.mjs
  packages/emitter/package.json
  packages/emitter/rollup.config.mjs
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/rollup.config.mjs
  packages/mp3-encoder/rollup.config.mjs
  yarn.lock
Due: eslint --fix, prettier --write

Sort manifest files
  _templates/create-package/library/files/package.json.t
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
Due: prettier --write

Upgrade zx
  tools/lint-all/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Upgrade Storybook
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Banner/Banner.stories.tsx
  packages/layout/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade PostCSS deps
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Upgrade ESLint
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Upgrade Stylelint
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  yarn.lock
Due: prettier --write

Upgrade Webpack loaders
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Upgrade Jest deps
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  yarn.lock
Due: prettier --write

Upgrade `caniuse-lite`
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Upgrade `countries-list`
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Upgrade Node types
  packages/peggy-loader/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade Storybook
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Upgrade TypeScript related deps
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade build tools
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/mp3-encoder/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  yarn.lock
Due: prettier --write

add/modify video icons
  packages/icons/glyphsMapping.json
  packages/icons/src/video-filled.svg
  packages/icons/src/video-message.svg
  packages/icons/src/video-off.svg
  packages/icons/src/video.svg
Due: prettier --write

add changeset
  .changeset/six-results-build.md
Due: prettier --write

lint
  packages/icons/src/video-disabled.svg
  packages/icons/src/video-filled.svg
  packages/icons/src/video-message.svg
  packages/icons/src/video-off.svg
  packages/icons/src/video.svg
Due: prettier --write

chore: expose rcx-focusable
  packages/fuselage/src/index.scss
  packages/fuselage/src/styles/utils.scss
Due: stylelint --fix

chore: changeset
  .changeset/sixty-fans-jog.md
Due: prettier --write

chore: revert initial changes
  packages/fuselage/src/index.scss
  packages/fuselage/src/styles/utils.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
