Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): derive Item height from content and drop size
  packages/fuselage/src/components/Item/Item.styles.scss
  packages/fuselage/src/components/Item/Item.tsx
  packages/fuselage/src/components/Item/ItemMedia.tsx
  packages/fuselage/src/components/Item/ItemSkeleton.tsx
  packages/fuselage/src/components/Item/index.ts
  packages/fuselage/src/components/Item/itemMediaSize.ts
  packages/fuselage/src/components/Item/types.ts
Due: eslint --fix, stylelint --fix

test: update Item stories, specs and snapshots for content-driven height
  packages/fuselage/src/components/Item/Item.spec.tsx
  packages/fuselage/src/components/Item/Item.stories.tsx
  packages/fuselage/src/components/Item/__snapshots__/Item.spec.tsx.snap
Due: eslint --fix

chore: update fuselage.api
  packages/fuselage/fuselage.api.md
Due: prettier --write

feat(fuselage): Add `elevation` to `Bubble`
  .changeset/quiet-bubbles-float.md
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.tsx
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/styles/mixins/elevation.scss
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Drop `Bubble` elevation, keep only the spacing changes
  .changeset/quiet-bubbles-float.md
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.tsx
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/styles/mixins/elevation.scss
Due: eslint --fix, stylelint --fix, prettier --write

chore: changesets
  packages/fuselage/test/snapshots/data-display-bubble--dismissable-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--icon-and-label-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--label-only-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--secondary-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--secondary-dismissable-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--with-large-text-desktop.png
Due: none

chore: update changeset
  .changeset/quiet-bubbles-float.md
Due: prettier --write

fix(fuselage): Tighten `Bubble` spacing (#2289)
  .changeset/quiet-bubbles-float.md
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/test/snapshots/data-display-bubble--dismissable-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--icon-and-label-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--label-only-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--secondary-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--secondary-dismissable-desktop.png
  packages/fuselage/test/snapshots/data-display-bubble--with-large-text-desktop.png
Due: stylelint --fix, prettier --write

chore: Remove `logo` from the monorepo
  README.md
  packages/logo/.gitignore
  packages/logo/CHANGELOG.md
  packages/logo/README.md
  packages/logo/babel.config.js
  packages/logo/jest.config.ts
  packages/logo/package.json
  packages/logo/src/RocketChatLogo/RocketChatLogo.spec.tsx
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/logo/src/RocketChatLogo/index.ts
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.spec.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.styles.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
  packages/logo/src/TaggedRocketChatLogo/index.ts
  packages/logo/src/index.ts
  packages/logo/tsconfig.cjs.json
  packages/logo/tsconfig.esm.json
  packages/logo/tsconfig.json
  tools/build-logo/CHANGELOG.md
  tools/build-logo/index.js
  tools/build-logo/package.json
Due: eslint --fix, prettier --write

chore: Update lockfile and agent guidelines after `logo` removal
  AGENTS.md
  yarn.lock
Due: prettier --write

chore: Remove `logo` from the monorepo (#2291)
  AGENTS.md
  README.md
  packages/logo/.gitignore
  packages/logo/CHANGELOG.md
  packages/logo/README.md
  packages/logo/babel.config.js
  packages/logo/jest.config.ts
  packages/logo/package.json
  packages/logo/src/RocketChatLogo/RocketChatLogo.spec.tsx
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/logo/src/RocketChatLogo/index.ts
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.spec.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.styles.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
  packages/logo/src/TaggedRocketChatLogo/index.ts
  packages/logo/src/index.ts
  packages/logo/tsconfig.cjs.json
  packages/logo/tsconfig.esm.json
  packages/logo/tsconfig.json
  tools/build-logo/CHANGELOG.md
  tools/build-logo/index.js
  tools/build-logo/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix(fuselage): scroll `Options` to rows focused as `Item`
  .changeset/options-item-focus-scroll.md
  packages/fuselage/src/components/Options/Options.spec.tsx
  packages/fuselage/src/components/Options/Options.styles.scss
  packages/fuselage/src/components/Options/Options.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): stop `SidebarCollapseGroup` passing `actions` to the DOM
  .changeset/sidebar-collapse-group-actions.md
  packages/fuselage/src/components/Sidebar/Sidebar.spec.tsx
  packages/fuselage/src/components/Sidebar/SidebarCollapseGroup.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): reuse `CheckOption` in `OptionsPaginated`
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
Due: eslint --fix

feat(fuselage): render `Option` with `Item`
  .changeset/option-item-rows.md
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): hide the `CheckOption` checkbox from assistive technology
  .changeset/check-option-hidden-checkbox.md
  packages/fuselage/src/components/MultiSelect/MultiSelect.spec.tsx
  packages/fuselage/src/components/Option/CheckOption.tsx
Due: eslint --fix, prettier --write

fix(fuselage): hide `OptionSkeleton` placeholder rows from assistive technology
  .changeset/option-skeleton-hidden.md
  packages/fuselage/src/components/Option/OptionSkeleton.tsx
Due: eslint --fix, prettier --write

test(fuselage): cover `Option` stories with jest-axe and snapshots
  packages/fuselage/src/components/Option/Option.spec.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/__snapshots__/Option.spec.tsx.snap
Due: eslint --fix

feat(fuselage): render `OptionAvatar`, `OptionColumn` and `OptionIcon` as `ItemMedia` and `ItemIcon`
  .changeset/option-parts-item.md
  packages/fuselage/src/components/Option/OptionAvatar.tsx
  packages/fuselage/src/components/Option/OptionColumn.tsx
  packages/fuselage/src/components/Option/OptionIcon.tsx
Due: eslint --fix, prettier --write

feat(fuselage): render `OptionContent` and `OptionDescription` as `ItemContent`, `ItemTitle` and `ItemDescription`
  packages/fuselage/src/components/Option/OptionContent.tsx
  packages/fuselage/src/components/Option/OptionDescription.tsx
Due: eslint --fix

test(fuselage): cover the `MenuItem*` aliases inside `Item` menu rows
  packages/fuselage/src/components/Menu/Menu.spec.tsx
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/Menu/__snapshots__/Menu.spec.tsx.snap
  packages/fuselage/src/components/Option/__snapshots__/Option.spec.tsx.snap
Due: eslint --fix

feat(fuselage): render `OptionInput` and `OptionMenu` as `ItemActions`
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/OptionInput.tsx
  packages/fuselage/src/components/Option/OptionMenu.tsx
Due: eslint --fix, stylelint --fix

chore: update `fuselage.api`
  packages/fuselage/fuselage.api.md
Due: prettier --write

fix(fuselage): make the `CheckOption` checkbox inert
  .changeset/check-option-inert-checkbox.md
  packages/fuselage/src/components/Option/CheckOption.tsx
Due: eslint --fix, prettier --write

feat(fuselage): render `OptionHeader` and `OptionTitle` as `ItemGroupHeader`
  .changeset/option-groups-item.md
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/OptionHeader.tsx
  packages/fuselage/src/components/Option/OptionTitle.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): announce the `Options` empty state as a disabled option
  .changeset/options-empty-option.md
  packages/fuselage/src/components/Options/OptionsEmpty.tsx
Due: eslint --fix, prettier --write

feat(fuselage): render `Options` dividers and `Select` sections with `Item` group parts
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
Due: eslint --fix

test(fuselage): cover grouped `Options` and `Select` sections with jest-axe and snapshots
  packages/fuselage/src/components/Options/Options.spec.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/__snapshots__/Options.spec.tsx.snap
  packages/fuselage/src/components/Select/Select.spec.tsx
Due: eslint --fix

feat(fuselage): render `SidebarItem` with `Item`
  .changeset/sidebar-item-rows.md
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): render `SidebarLink` with `Item`
  packages/fuselage/src/components/Sidebar/SidebarLink.tsx
Due: eslint --fix

feat(fuselage): render the `SidebarItem*` parts with `Item` parts
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItemAvatarWrapper.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItemCol.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItemContent.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItemIcon.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItemMenu.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItemRow.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItemStatusBullet.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItemTimestamp.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItemTitle.tsx
Due: eslint --fix

test(fuselage): cover `SidebarItem` stories with jest-axe and snapshots
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.spec.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.stories.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/__snapshots__/SidebarItem.spec.tsx.snap
  packages/fuselage/src/components/Sidebar/helpers.tsx
  packages/fuselage/src/components/Sidepanel/__snapshots__/Sidepanel.spec.tsx.snap
Due: eslint --fix

feat(fuselage): render `SidebarGroupTitle` and `SidebarCollapseGroup` with `ItemGroupHeader` and `ItemGroup`
  .changeset/sidebar-groups-item.md
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/Sidebar/SidebarCollapseGroupMenu.tsx
  packages/fuselage/src/components/Sidebar/SidebarGroupTitle.tsx
Due: eslint --fix, stylelint --fix, prettier --write

test(fuselage): cover `SidebarCollapseGroup` and `SidebarDivider` and update snapshots
  packages/fuselage/src/components/Sidebar/Sidebar.spec.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/__snapshots__/SidebarItem.spec.tsx.snap
Due: eslint --fix

feat(fuselage): render `SidebarDivider` as `ItemDivider`
  packages/fuselage/src/components/Sidebar/SidebarDivider.tsx
Due: eslint --fix

feat(fuselage): render `SidepanelList` as `ItemGroup` and `SidepanelDivider` as `ItemDivider`
  .changeset/sidepanel-item.md
  packages/fuselage/src/components/Sidepanel/Sidepanel.styles.scss
  packages/fuselage/src/components/Sidepanel/SidepanelDivider.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelHeader.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelList.tsx
Due: eslint --fix, stylelint --fix, prettier --write

test(fuselage): cover the `Sidepanel` bridges and update snapshots
  packages/fuselage/src/components/Sidepanel/Sidepanel.spec.tsx
  packages/fuselage/src/components/Sidepanel/__snapshots__/Sidepanel.spec.tsx.snap
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
