Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix ci
  packages/fuselage-toastbar/.storybook/manager.ts
Due: eslint --fix

fix(icons): mobile-exclamation icon
  packages/icons/src/mobile-check.svg
Due: prettier --write

fix(icons): mobile-exclamation icon (#714)
  packages/icons/src/mobile-check.svg
Due: prettier --write

feat: add paragraph and message list
  packages/fuselage/src/components/Message/MessageOrderedList.tsx
  packages/fuselage/src/components/Message/MessageOrderedListItem.tsx
  packages/fuselage/src/components/Message/MessageParagraph.tsx
  packages/fuselage/src/components/Message/MessageUnorderedList.tsx
  packages/fuselage/src/components/Message/MessageUnorderedListItem.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
Due: eslint --fix, stylelint --fix

refactor(onboarding-ui): change box properties to specific fontScale
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.tsx
  packages/onboarding-ui/src/pages/CheckYourEmailPage/CheckYourEmailPage.tsx
  packages/onboarding-ui/src/pages/ConfirmationProcessPage/ConfirmationProcessPage.tsx
  packages/onboarding-ui/src/pages/EmailConfirmedPage/EmailConfirmedPage.tsx
  packages/onboarding-ui/src/pages/InformationPage/InformationPage.tsx
  packages/onboarding-ui/src/pages/InvalidLinkPage/InvalidLinkPage.tsx
  packages/onboarding-ui/src/pages/LoginLinkEmailPage/LoginLinkEmailPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordConfirmationPage/ResetPasswordConfirmationPage.tsx
  packages/onboarding-ui/src/pages/SomethingWentWrongPage/SomethingWentWrongPage.tsx
Due: eslint --fix

refactor(onboarding-ui): change box properties to specific fontScale (#716)
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.tsx
  packages/onboarding-ui/src/pages/CheckYourEmailPage/CheckYourEmailPage.tsx
  packages/onboarding-ui/src/pages/ConfirmationProcessPage/ConfirmationProcessPage.tsx
  packages/onboarding-ui/src/pages/EmailConfirmedPage/EmailConfirmedPage.tsx
  packages/onboarding-ui/src/pages/InformationPage/InformationPage.tsx
  packages/onboarding-ui/src/pages/InvalidLinkPage/InvalidLinkPage.tsx
  packages/onboarding-ui/src/pages/LoginLinkEmailPage/LoginLinkEmailPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordConfirmationPage/ResetPasswordConfirmationPage.tsx
  packages/onboarding-ui/src/pages/SomethingWentWrongPage/SomethingWentWrongPage.tsx
Due: eslint --fix

fix(message-parser): Link parser
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

review
  packages/fuselage-hooks/src/useBreakpoints.spec.ts
  packages/fuselage-hooks/src/useBreakpoints.ts
  packages/fuselage-toastbar/.storybook/manager.ts
  packages/fuselage-tokens/breakpoints.json
  packages/fuselage-tokens/breakpoints.mjs
  packages/fuselage-tokens/breakpoints.scss
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/package.json
  packages/fuselage-tokens/src/breakpoints.jsonc
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/typography.jsonc
  packages/fuselage-tokens/typography.js
  packages/fuselage-tokens/typography.json
  packages/fuselage-tokens/typography.mjs
  packages/fuselage-tokens/typography.scss
  packages/fuselage-ui-kit/.storybook/manager.ts
  packages/fuselage/.storybook/manager.ts
  packages/fuselage/.storybook/preview.ts
  packages/fuselage/src/components/Grid/styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolboxItem.tsx
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/mixins/breakpoints.scss
  packages/fuselage/src/styles/variables/breakpoints.scss
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
  packages/onboarding-ui/.storybook/manager.ts
  packages/onboarding-ui/src/common/BackgroundLayer.tsx
  packages/onboarding-ui/src/common/Form/Form.tsx
  packages/onboarding-ui/src/common/Form/FormSubtitle.tsx
  packages/onboarding-ui/src/common/List/List.tsx
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/Description.tsx
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.tsx
  packages/onboarding-ui/src/pages/RequestTrialPage/Description.tsx
  tools/build-design-tokens/index.mjs
Due: eslint --fix, stylelint --fix, prettier --write

build:legacy with new colors
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/package.json
  packages/fuselage-tokens/src/colors.jsonc
Due: eslint --fix, stylelint --fix, prettier --write

Add IconButton component
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix, stylelint --fix

replace AcionButton with IconButton
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Button/index.ts
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
  packages/fuselage/src/components/Modal/ModalClose.tsx
  packages/fuselage/src/components/Sidebar/Item.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
  packages/fuselage/src/components/Sidebar/TopBar.tsx
Due: eslint --fix, stylelint --fix

fix(message-parser): Adding more test cases and adding safe chars
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

replace AcionButton with IconButton
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolboxItem.tsx
Due: eslint --fix

Refactor: update message list style
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

replace AcionButton with IconButton
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
  packages/fuselage/src/components/Banner/Banner.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.stories.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/styles/variables/buttons.scss
Due: eslint --fix, stylelint --fix

fix
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
Due: eslint --fix

fix
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsReply.tsx
Due: eslint --fix

fix MessageToolboxItem style
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolboxItem.tsx
Due: eslint --fix

O.o
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

Update IconButton colors
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: eslint --fix, stylelint --fix

fix colors
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

fix Sidebar stories
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
Due: eslint --fix

fix icon position
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

fix Banner stories
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix

fix(message-parser): Link is not showing correct and it not opening correctly (#717)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

update SidebarItem stories
  packages/fuselage/src/components/Sidebar/Item.stories.tsx
Due: eslint --fix

chore(icons): Add phone-issue icon
  packages/icons/src/phone-issue.svg
Due: prettier --write

build
  packages/icons/glyphsMapping.json
  packages/icons/src/phone-issue.svg
Due: prettier --write

Fix reviews
  packages/icons/glyphsMapping.json
  packages/icons/src/phone-issue.svg
Due: prettier --write

no-fills
  packages/icons/src/phone-issue.svg
Due: prettier --write

fix: Line break fix
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/lineBreak.test.ts
Due: eslint --fix

Add digit to ordered list block
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/orderedList.test.ts
Due: eslint --fix

chore: remove paragraph and add value to ordered list
  packages/fuselage/src/components/Message/MessageOrderedListItem.tsx
  packages/fuselage/src/components/Message/MessageParagraph.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): Message tag and message box styles
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Tag/styles.scss
Due: stylelint --fix

fix: toastbar close func
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/components/ToastBar/styles.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): Pinned Attachment Message White space fix
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

fix(fuselage-toastbar): ToastBar close function (#722)
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/components/ToastBar/styles.scss
Due: eslint --fix, stylelint --fix

Remove components and update grammar
  packages/fuselage/src/components/Message/MessageOrderedList.tsx
  packages/fuselage/src/components/Message/MessageOrderedListItem.tsx
  packages/fuselage/src/components/Message/MessageUnorderedList.tsx
  packages/fuselage/src/components/Message/MessageUnorderedListItem.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/orderedList.test.ts
Due: eslint --fix, stylelint --fix

change `digit` to `number`
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/utils.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
