Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

docs(fuselage): Clarify ButtonGroup spacing props and document joined sizing
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-with-multiple-button-sizes-desktop.png
Due: eslint --fix

refactor(fuselage): Replace ghost prop with ButtonGroup ghostPosition
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Button/Button.spec.tsx
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.spec.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroupContext.ts
  packages/fuselage/src/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): Restyle sidebar rows and collapse group headers
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/Sidebar/SidebarGroupTitle.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.tsx
  packages/fuselage/src/components/Sidebar/helpers.tsx
Due: eslint --fix, stylelint --fix, prettier --write

chore: update sidebar navigation snapshots
  packages/fuselage/test/snapshots/navigation-sidebar--custom-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-items-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--medium-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-media--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidepanel--default-desktop.png
Due: none

chore: changeset
  .changeset/two-squids-learn.md
Due: prettier --write

feat(styles): update highlight color in sidebar components
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
Due: stylelint --fix

feat(fuselage): Restyle sidebar rows and collapse group headers (#2193)
  .changeset/two-squids-learn.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/Sidebar/SidebarGroupTitle.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarItem/SidebarItem.tsx
  packages/fuselage/src/components/Sidebar/helpers.tsx
  packages/fuselage/test/snapshots/navigation-sidebar--custom-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--condensed-items-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--extended-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-item--medium-desktop.png
  packages/fuselage/test/snapshots/navigation-sidebar-media--default-desktop.png
  packages/fuselage/test/snapshots/navigation-sidepanel--default-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

feat(fuselage-tokens): Generate TypeScript declarations for the token outputs
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
Due: eslint --fix

feat(fuselage)!: Restrict `Box` border width and radius props to tokens
  packages/fuselage-tokens/src/border.json
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Box/colors.stories.tsx
  packages/fuselage/src/components/Box/layout.stories.tsx
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/Box/typography.stories.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Table/TableCell.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix, prettier --write

refactor(fuselage): Restrict the `border-width` SCSS helper to token names
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/styles/lengths.scss
Due: stylelint --fix

chore: add changeset
  .changeset/tired-actors-watch.md
Due: prettier --write

feat(fuselage)!: Restrict border radius and border width token names (#2100)
  .changeset/tired-actors-watch.md
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
  packages/fuselage-tokens/src/border.json
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Box/colors.stories.tsx
  packages/fuselage/src/components/Box/layout.stories.tsx
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/Box/typography.stories.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Table/TableCell.tsx
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/lengths.scss
Due: eslint --fix, stylelint --fix, prettier --write

test(fuselage): Update visual regression snapshots
  packages/fuselage/test/snapshots/data-display-icon--default-desktop.png
Due: none

chore(icons): Add changeset
  .changeset/icon-folder-star.md
Due: prettier --write

feat(icons): Add `folder-star` icon
  packages/icons/glyphsMapping.json
  packages/icons/src/folder-star.dir.svg
Due: prettier --write

feat(fuselage): Add `joined` ButtonGroup variant with `ghost` button segments (#2164)
  .changeset/button-group-joined.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.spec.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-segmented-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-split-button-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-vertical-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--joined-with-multiple-button-sizes-desktop.png
  packages/fuselage/test/snapshots/inputs-buttongroup--with-icon-buttons-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Drop `postcss-logical` so logical properties reach the browser
  packages/fuselage/package.json
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

refactor(fuselage): Drop redundant stylesheet side-effect imports
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.tsx
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.tsx
Due: eslint --fix

fix(fuselage): Split the development and production stylesheets
  packages/fuselage/webpack.config.js
Due: eslint --fix

chore(fuselage-tokens): Remove the unused stylelint setup
  packages/fuselage-tokens/.stylelintignore
  packages/fuselage-tokens/.stylelintrc
  packages/fuselage-tokens/package.json
  yarn.lock
Due: prettier --write

chore(fuselage): Add changesets for the build changes
  .changeset/fuselage-direction-aware-css.md
  .changeset/fuselage-split-stylesheets.md
Due: prettier --write

fix(fuselage): Drop `postcss-dir-pseudo-class` and ship `:dir()` natively
  packages/fuselage/package.json
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

poc(fuselage): Build with Vite library mode instead of webpack
  packages/fuselage/package.json
  packages/fuselage/vite.config.mts
  yarn.lock
Due: prettier --write

chore(fuselage): Remove Babel from the build
  packages/fuselage/.babelrc.js
  packages/fuselage/package.json
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): Move the webpack configuration to TypeScript
  packages/fuselage/tsconfig.json
  packages/fuselage/types/wrapper-webpack-plugin.d.ts
  packages/fuselage/webpack.config.js
  packages/fuselage/webpack.config.mts
Due: eslint --fix, prettier --write

poc(fuselage): Put the Vite config under type checking
  packages/fuselage/package.json
  packages/fuselage/tsconfig.json
  packages/fuselage/vite.config.mts
  yarn.lock
Due: prettier --write

chore(fuselage): Drop the webpack config and the dependencies it needed
  packages/fuselage/package.json
  packages/fuselage/tsconfig.json
  packages/fuselage/types/wrapper-webpack-plugin.d.ts
  packages/fuselage/webpack.config.mts
  yarn.lock
Due: eslint --fix, prettier --write

fix(fuselage): Restore `exports.__esModule` in the Vite build
  .changeset/fuselage-vite-build.md
  packages/fuselage/vite.config.mts
Due: prettier --write

chore(fuselage): Overhaul the build and move it to Vite (#2191)
  .changeset/fuselage-direction-aware-css.md
  .changeset/fuselage-split-stylesheets.md
  .changeset/fuselage-vite-build.md
  packages/fuselage-tokens/.stylelintignore
  packages/fuselage-tokens/.stylelintrc
  packages/fuselage-tokens/package.json
  packages/fuselage/.babelrc.js
  packages/fuselage/package.json
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.tsx
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
  packages/fuselage/tsconfig.json
  packages/fuselage/vite.config.mts
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

feat(icons): Add `folder-star` icon (#2198)
  .changeset/icon-folder-star.md
  packages/fuselage/test/snapshots/data-display-icon--default-desktop.png
  packages/icons/glyphsMapping.json
  packages/icons/src/folder-star.dir.svg
Due: prettier --write

fix(sidebar): update hover background color for sidebar collapse group
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/sweet-hands-kneel.md
Due: prettier --write

fix(fuselage): update hover bg color for sidebar collapse group (#2207)
  .changeset/sweet-hands-kneel.md
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix, prettier --write

fix(fuselage): keep inline emojis inside the message line box
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

chore: add changeset
  .changeset/quiet-emoji-lines.md
Due: prettier --write

docs(fuselage): add `WithEmojis` story to Message
  packages/fuselage/src/components/Message/Messages.stories.tsx
Due: eslint --fix

fix(fuselage): stop MessageBody overflow clip from cropping inline emojis
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

test(fuselage): update Message visual regression snapshots
  packages/fuselage/test/snapshots/message-message--with-emojis-desktop.png
  packages/fuselage/test/snapshots/message-message--with-sequential-desktop.png
Due: none

poc(fuselage): Add an `/experimental` entry point
  packages/fuselage/README.md
  packages/fuselage/api-extractor.experimental.json
  packages/fuselage/experimental.d.ts
  packages/fuselage/experimental.js
  packages/fuselage/fuselage-experimental.api.md
  packages/fuselage/package.json
  packages/fuselage/src/experimental/ExperimentalSurface.tsx
  packages/fuselage/src/experimental/index.ts
  packages/fuselage/vite.config.mts
Due: eslint --fix, prettier --write

poc(fuselage): Drop the `ExperimentalSurface` placeholder
  packages/fuselage/fuselage-experimental.api.md
  packages/fuselage/src/experimental/ExperimentalSurface.tsx
  packages/fuselage/src/experimental/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
