Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(string-helpers): Handle string literal type in `capitalize`
  .changeset/ripe-numbers-deny.md
  packages/string-helpers/src/capitalize.ts
Due: eslint --fix, prettier --write

refactor: separate docker and js action
  .github/actions/loki/fusealgeSnap/.gitignore
  .github/actions/loki/fusealgeSnap/action.yml
  .github/actions/loki/fusealgeSnap/index.js
  .github/actions/loki/fusealgeSnap/package.json
  .github/actions/loki/fusealgeSnap/src/getAffectedComponents.js
  .github/actions/loki/fusealgeSnap/src/getChangedPackages.js
  .github/actions/loki/fusealgeSnap/src/getComponentTitle.js
  .github/actions/loki/fusealgeSnap/src/getDirectDependencies.js
  .github/actions/loki/fusealgeSnap/src/getIndirectDependency.js
  .github/actions/loki/fusealgeSnap/src/getReasons.js
  .github/actions/loki/fusealgeSnap/src/git/git.js
  .github/actions/loki/fusealgeSnap/src/isStorybookPkg.js
  .github/actions/loki/fusealgeSnap/src/normalise.js
  .github/actions/loki/fusealgeSnap/src/stats/readStatsFile.js
  .github/actions/loki/fusealgeSnap/src/stats/trimStatsFile.js
  .github/actions/loki/fusealgeSnap/src/utils/copyFiles.js
  .github/actions/loki/fusealgeSnap/src/utils/generateRegex.js
  .github/actions/loki/test/Dockerfile
  .github/actions/loki/test/action.yml
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/ci-pr.yml
Due: eslint --fix, prettier --write

chore: op of docker action to js ip test
  .github/actions/loki/test/action.yml
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/ci-pr.yml
Due: prettier --write

fix: yml syntax
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: update lockfile due to change in directory structure
  yarn.lock
Due: none

test
  .github/actions/loki/fusealgeSnap/index.js
Due: eslint --fix

fix: js action
  .github/actions/loki/fusealgeSnap/action.yml
  .github/actions/loki/test/entrypoint.sh
Due: prettier --write

update
  .github/actions/loki/fusealgeSnap/index.js
Due: eslint --fix

chore: update paths and include in workspace
  .github/actions/loki/fusealgeSnap/index.js
  .github/actions/loki/fuselageSnap/.gitignore
  .github/actions/loki/fuselageSnap/action.yml
  .github/actions/loki/fuselageSnap/index.js
  .github/actions/loki/fuselageSnap/package.json
  .github/actions/loki/fuselageSnap/src/getAffectedComponents.js
  .github/actions/loki/fuselageSnap/src/getChangedPackages.js
  .github/actions/loki/fuselageSnap/src/getComponentTitle.js
  .github/actions/loki/fuselageSnap/src/getDirectDependencies.js
  .github/actions/loki/fuselageSnap/src/getIndirectDependency.js
  .github/actions/loki/fuselageSnap/src/getReasons.js
  .github/actions/loki/fuselageSnap/src/git/git.js
  .github/actions/loki/fuselageSnap/src/isStorybookPkg.js
  .github/actions/loki/fuselageSnap/src/normalise.js
  .github/actions/loki/fuselageSnap/src/stats/readStatsFile.js
  .github/actions/loki/fuselageSnap/src/stats/trimStatsFile.js
  .github/actions/loki/fuselageSnap/src/utils/copyFiles.js
  .github/actions/loki/fuselageSnap/src/utils/generateRegex.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: typo
  .github/actions/loki/fuselageSnap/index.js
Due: eslint --fix

fix: lint
  .github/actions/loki/fuselageSnap/action.yml
Due: prettier --write

chore: add build
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add reset of storybook packages on docker action
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add inputs in docker action
  .github/actions/loki/test/action.yml
Due: prettier --write

chore: check logs
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add args in docker action of storybook pkgs
  .github/actions/loki/test/action.yml
Due: prettier --write

chore: add scripts to run tests
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/ci-pr.yml
  packages/fuselage-toastbar/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

fix: array in unix bourne shell
  .github/actions/loki/test/entrypoint.sh
Due: none

chore: use $$arg
  .github/actions/loki/test/entrypoint.sh
Due: none

fix: use args from docker action
  .github/actions/loki/test/entrypoint.sh
Due: none

chore: divide in scripts
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add pkg name from steps
  .github/actions/loki/test/action.yml
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: remove runs for test
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: run complete test even step fails
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: replace refs
  packages/fuselage-toastbar/.loki/.gitignore
Due: none

chore: replace refs
  packages/fuselage-toastbar/.loki/.gitignore
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Top_Start.png
Due: none

fix: path errors
  .github/actions/loki/fuselageSnap/src/getComponentTitle.js
  .github/actions/loki/fuselageSnap/src/getDirectDependencies.js
  .github/actions/loki/fuselageSnap/src/getIndirectDependency.js
  .github/actions/loki/test/entrypoint.sh
Due: eslint --fix

chore: udpate chrome cuncurrency to 1
  .github/actions/loki/test/entrypoint.sh
  packages/fuselage/package.json
Due: prettier --write

chore: add non stats file logs in core.group
  .github/actions/loki/fuselageSnap/src/getReasons.js
Due: eslint --fix

fix: lint
  .github/actions/loki/fuselageSnap/src/getReasons.js
Due: eslint --fix

chore: log changed file other than storybook pkgs
  .github/actions/loki/fuselageSnap/src/getAffectedComponents.js
Due: eslint --fix

fix: logging grammer
  .github/actions/loki/fuselageSnap/src/getAffectedComponents.js
Due: eslint --fix

chore: create file save.json to save non stats file
  .github/actions/loki/fuselageSnap/index.js
  .github/actions/loki/fuselageSnap/src/getReasons.js
Due: eslint --fix

fix: plural
  .github/actions/loki/fuselageSnap/index.js
Due: eslint --fix

chore: add get non stat file name throught webpack
  .github/actions/loki/fuselageSnap/src/getNonStatsFile.js
Due: eslint --fix

chore: add collapsable to see non stats file
  .github/actions/loki/fuselageSnap/index.js
Due: eslint --fix

fix: lint
  .github/actions/loki/fuselageSnap/index.js
Due: eslint --fix

refactor: arrange order of the logs
  .github/actions/loki/fuselageSnap/index.js
  .github/actions/loki/fuselageSnap/src/getAffectedComponents.js
  .github/actions/loki/fuselageSnap/src/getNonStatsFile.js
  .github/actions/loki/fuselageSnap/src/getReasons.js
Due: eslint --fix

fix: lint
  .github/actions/loki/fuselageSnap/src/getAffectedComponents.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
