Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Fix ci-pr action
  .github/workflows/ci-pr.yml
Due: prettier --write

disable-gpu
  packages/fuselage/playwright.config.ts
Due: eslint --fix

dockerize visual tests
  .dockerignore
  .github/actions/setup-playwright/action.yml
  .github/workflows/ci-pr.yml
  .gitignore
  packages/fuselage/Dockerfile.playwright
  packages/fuselage/package.json
  packages/fuselage/scripts/run-playwright-docker.sh
Due: prettier --write

Remove postinstall script (move to another pr later)
  package.json
Due: prettier --write

Update snapshots with new setup
  packages/fuselage/test/snapshots/data-display-codesnippet--copy-button-desktop.png
  packages/fuselage/test/snapshots/data-display-codesnippet--custom-button-name-desktop.png
  packages/fuselage/test/snapshots/data-display-codesnippet--default-desktop.png
  packages/fuselage/test/snapshots/data-display-codesnippet--disabled-button-desktop.png
  packages/fuselage/test/snapshots/data-display-icon--default-desktop.png
  packages/fuselage/test/snapshots/layout-box-rich-content-block--pre-desktop.png
  packages/fuselage/test/snapshots/layout-box-rich-content-block--pre-with-code-desktop.png
  packages/fuselage/test/snapshots/layout-box-rich-content-inline--code-desktop.png
  packages/fuselage/test/snapshots/layout-box-rich-content-inline--kbd-desktop.png
  packages/fuselage/test/snapshots/navigation-navbar--default-desktop.png
Due: none

remove postinstall script
  package.json
Due: prettier --write

test with husky install
  package.json
Due: prettier --write

Put visual regressions in a different job
  .github/workflows/ci-pr.yml
Due: prettier --write

fix docker build step order
  .github/workflows/ci-pr.yml
Due: prettier --write

get just storybooks
  .github/workflows/ci-pr.yml
Due: prettier --write

Split ci jobs
  .github/workflows/ci-pr.yml
  package.json
Due: prettier --write

fix cache restore
  .github/workflows/ci-pr.yml
Due: prettier --write

fix turbo cache restore
  .github/workflows/ci-pr.yml
Due: prettier --write

Fix cache steps
  .github/workflows/ci-pr.yml
Due: prettier --write

Fix "invisible" Box layout stories
  packages/fuselage/src/components/Box/layout.stories.tsx
Due: eslint --fix

remove "no-visual" tag
  packages/fuselage/test/visualRegression.spec.ts
Due: eslint --fix

feat(fuselage): Add tooltip to SidebarV2ItemTitle when truncated
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemTitle.tsx
Due: eslint --fix

fix: add with-colors in `rcx-input-box__wrapper`
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
Due: stylelint --fix

feat(fuselage-hooks): rename `useEffectEvent` as `useStableCallback`
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useClipboard.ts
  packages/fuselage-hooks/src/useOutsideClick.ts
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage-hooks/src/useStableCallback.server.spec.ts
  packages/fuselage-hooks/src/useStableCallback.spec.ts
  packages/fuselage-hooks/src/useStableCallback.ts
  packages/fuselage-hooks/src/useToggle.ts
  packages/fuselage-hooks/tsconfig.build.json
Due: eslint --fix, prettier --write

chore: add changeset
  .changeset/hip-steaks-retire.md
Due: prettier --write

refactor(fuselage): replace `useEffectEvent` with `useStableCallback`
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/Options/useVisible.ts
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
Due: eslint --fix

feat(fuselage-hooks): Deprecate `useEffectEvent` in favor of `useStableCallback` (#1868)
  .changeset/hip-steaks-retire.md
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useClipboard.ts
  packages/fuselage-hooks/src/useOutsideClick.ts
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage-hooks/src/useStableCallback.server.spec.ts
  packages/fuselage-hooks/src/useStableCallback.spec.ts
  packages/fuselage-hooks/src/useStableCallback.ts
  packages/fuselage-hooks/src/useToggle.ts
  packages/fuselage-hooks/tsconfig.build.json
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/Options/useVisible.ts
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
Due: eslint --fix, prettier --write

fix: revert `InputBox.styles` and fix stroke variant in `input-colors`
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Due: stylelint --fix

chore: changeset
  .changeset/loose-otters-swim.md
Due: prettier --write

fix(fuselage): Wrong color in invalid input border (#1867)
  .changeset/loose-otters-swim.md
  packages/fuselage/src/styles/variables/input-colors.scss
Due: stylelint --fix, prettier --write

feat(MultiSelect): enhance click handling to manage visibility state and prevent the weird reopening error
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
Due: eslint --fix

chore: update `MenuV2` imports
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
Due: eslint --fix

feat: move `MenuV2` and its subcomponents to main directory and delete legacy menu
  packages/fuselage/src/components/Menu/Menu.spec.tsx
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/MenuDropdown.tsx
  packages/fuselage/src/components/Menu/MenuItem.tsx
  packages/fuselage/src/components/Menu/MenuOption.tsx
  packages/fuselage/src/components/Menu/MenuPopover.tsx
  packages/fuselage/src/components/Menu/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/Menu.spec.tsx
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/index.ts
  packages/fuselage/src/components/Menu/__snapshots__/Menu.spec.tsx.snap
  packages/fuselage/src/components/Menu/helpers/helpers.ts
  packages/fuselage/src/components/Menu/index.ts
  packages/fuselage/src/components/Menu/stately/MenuItem.tsx
  packages/fuselage/src/components/Menu/stately/MenuSection.tsx
  packages/fuselage/src/components/Menu/stately/PartialNode.tsx
Due: eslint --fix

chore: changeset
  .changeset/three-llamas-look.md
Due: prettier --write

feat(fuselage): promote `MenuV2` to `Menu` (#1843)
  .changeset/three-llamas-look.md
  packages/fuselage/src/components/Menu/Menu.spec.tsx
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/MenuDropdown.tsx
  packages/fuselage/src/components/Menu/MenuItem.tsx
  packages/fuselage/src/components/Menu/MenuOption.tsx
  packages/fuselage/src/components/Menu/MenuPopover.tsx
  packages/fuselage/src/components/Menu/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/Menu.spec.tsx
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/index.ts
  packages/fuselage/src/components/Menu/__snapshots__/Menu.spec.tsx.snap
  packages/fuselage/src/components/Menu/helpers/helpers.ts
  packages/fuselage/src/components/Menu/index.ts
  packages/fuselage/src/components/Menu/stately/MenuItem.tsx
  packages/fuselage/src/components/Menu/stately/MenuSection.tsx
  packages/fuselage/src/components/Menu/stately/PartialNode.tsx
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
Due: eslint --fix, prettier --write

fix(fuselage-forms): update peer dependency for `fuselage-hooks` to allow minor and patch versions
  packages/fuselage-forms/package.json
Due: prettier --write

chore(logo): remove unused dependency on `fuselage-hooks`
  packages/logo/package.json
Due: prettier --write

chore(fuselage-forms): add `fuselage-hooks` as a devDependency
  packages/fuselage-forms/package.json
Due: prettier --write

chore(fuselage-forms): update `@rocket.chat/fuselage` devDependency to use workspace versioning
  packages/fuselage-forms/package.json
Due: prettier --write

chore(fuselage-forms,logo): fuselage deps (#1871)
  packages/fuselage-forms/package.json
  packages/logo/package.json
Due: prettier --write

fix(fuselage): add error and addon to `useLayoutEffect` deps
  packages/fuselage/src/components/InputBox/InputBox.tsx
Due: eslint --fix

chore: add case to storybook
  packages/fuselage/src/components/PasswordInput/PasswordInput.stories.tsx
Due: eslint --fix

chore: changeset
  .changeset/stupid-wolves-matter.md
Due: prettier --write

chore: remove story
  packages/fuselage/src/components/PasswordInput/PasswordInput.stories.tsx
Due: eslint --fix

test: add unit test
  packages/fuselage/src/components/InputBox/InputBox.spec.tsx
Due: eslint --fix
