Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

fix IconButton stories
  packages/fuselage/src/components/Button/IconButton.stories.tsx
Due: eslint --fix

remove ci stuff
  .github/workflows/cd.yml
  .github/workflows/ci-pr-closed.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

chore(fuselage): `IconButton` stories (#1062)
  packages/fuselage/src/components/Button/IconButton.stories.tsx
Due: eslint --fix

add support for emphasis that only have whitespaces
  packages/message-parser/src/grammar.pegjs
Due: none

refactor: change Item key to handle change with value
  packages/fuselage/src/components/Select/SelectV2.tsx
Due: eslint --fix

adjust width
  packages/fuselage/src/components/Select/SelectAria.tsx
Due: eslint --fix

add controlled state on storybook
  packages/fuselage/src/components/Select/Popover.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
Due: eslint --fix

refactor: rename Select
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAria.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
  packages/fuselage/src/components/Select/SelectV2.tsx
  packages/fuselage/src/components/Select/index.ts
Due: eslint --fix

fix: add aria-label on stories
  packages/fuselage/src/components/Select/Select.stories.tsx
Due: eslint --fix

chore: add missing prop
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Due: eslint --fix

chore(fuselage): Add missing inset prop to `Contextualbar` (#1063)
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Due: eslint --fix

set contextualbar max-width
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Due: eslint --fix

add examples for only whitespace wrapped with markup input
  packages/message-parser/src/grammar.pegjs
Due: none

chore(fuselage): Contextualbar max-width (#1064)
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Due: eslint --fix

fix(message-parser): mentions and emojis inside bold, italic and strikethrough (#1035)
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
Due: eslint --fix

remove unused imports
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

fix type
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAria.tsx
Due: eslint --fix

refactor(fuselage): Select to react-aria (#1000)
  packages/fuselage/package.json
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
  packages/fuselage/src/components/Select/Popover.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAria.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
  packages/fuselage/src/components/Select/index.ts
  packages/fuselage/src/components/Tile/Tile.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

update text types to accept i18n
  packages/ui-kit/src/blocks/ElementType.ts
  packages/ui-kit/src/blocks/TextObject.ts
  packages/ui-kit/src/blocks/TextObjectType.ts
  packages/ui-kit/src/blocks/text/I18n.ts
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/rendering/SurfaceRenderer.ts
  packages/ui-kit/src/rendering/renderTextObject.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserAttachment.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserBanner.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserMessage.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserModal.spec.ts
Due: eslint --fix

fix select
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
  packages/fuselage/src/components/Select/Select.styles.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): use label on `Select` (#1066)
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
  packages/fuselage/src/components/Select/Select.styles.scss
Due: eslint --fix, stylelint --fix

adjust types
  packages/ui-kit/src/rendering/SurfaceRenderer.ts
Due: eslint --fix

change color and remove tag
  packages/fuselage/src/components/Message/MessageMention.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
Due: eslint --fix, stylelint --fix

Add link variant
  packages/fuselage/src/components/Message/MessageHighlight.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

chore(fuselage): Change MessageHighlight text color and remove MessageMention component (#1067)
  packages/fuselage/src/components/Message/MessageHighlight.tsx
  packages/fuselage/src/components/Message/MessageMention.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
Due: eslint --fix, stylelint --fix

add other type definitions
  packages/ui-kit/src/rendering/SurfaceRenderer.ts
  packages/ui-kit/src/rendering/TextObjectRenderer.ts
  packages/ui-kit/src/rendering/renderTextObject.ts
Due: eslint --fix

fix doug mistake
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix, stylelint --fix

chore: remove story
  packages/fuselage/src/components/Option/Option.stories.tsx
Due: eslint --fix

chore(fuselage): Remove spacedColumn from `Option` component (#1068)
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix, stylelint --fix

Update TextObjectRenderer.ts
  packages/ui-kit/src/rendering/TextObjectRenderer.ts
Due: eslint --fix

Update renderTextObject.ts
  packages/ui-kit/src/rendering/renderTextObject.ts
Due: eslint --fix

Update SurfaceRenderer.ts
  packages/ui-kit/src/rendering/SurfaceRenderer.ts
Due: eslint --fix

chore: update yaml
  yarn.lock
Due: none

chore(monorepo): security update `yaml` (#1069)
  yarn.lock
Due: none

Update I18n.ts
  packages/ui-kit/src/blocks/text/I18n.ts
Due: eslint --fix

use i18n inside of any TextObject structure
  packages/ui-kit/src/blocks/ElementType.ts
  packages/ui-kit/src/blocks/TextObject.ts
  packages/ui-kit/src/blocks/TextObjectType.ts
  packages/ui-kit/src/blocks/text/I18n.ts
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/rendering/SurfaceRenderer.ts
  packages/ui-kit/src/rendering/renderTextObject.ts
Due: eslint --fix

remove wrong definitions in test
  packages/ui-kit/src/rendering/surfaces/UiKitParserAttachment.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserBanner.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserMessage.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserModal.spec.ts
Due: eslint --fix

feat(UiKit): Add `I18N` structure to `TextObject` (#1065)
  packages/ui-kit/src/blocks/TextObject.ts
Due: eslint --fix
