Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

fix(fuselage): TextAreaInput disabled and readOnly visual consistency
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/TextAreaInput/TextAreaInput.spec.tsx
Due: eslint --fix, stylelint --fix

refactor: add a11y roles and responsive styles to Message component
  packages/fuselage/src/components/Message/Message.tsx
Due: eslint --fix

refactor: Enhance Message component accessibility
  packages/fuselage/src/components/Message/Message.spec.tsx
  packages/fuselage/src/components/Message/Message.tsx
  packages/fuselage/src/components/Message/MessageBody.spec.tsx
  packages/fuselage/src/components/Message/MessageBody.tsx
  packages/fuselage/src/components/Message/MessageHeader.spec.tsx
  packages/fuselage/src/components/Message/MessageHeader.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReaction.spec.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReaction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionAction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.tsx
  packages/fuselage/src/components/Message/MessageTimestamp.spec.tsx
  packages/fuselage/src/components/Message/MessageTimestamp.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/PR_DESCRIPTION.md
Due: eslint --fix, stylelint --fix, prettier --write

Remove mistakenly added PR_DESCRIPTION.md
  packages/fuselage/src/components/Message/PR_DESCRIPTION.md
Due: prettier --write

refactor(types): replace unsafe boolean logic with type-safe ternaries
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
Due: eslint --fix

fix(fuselage): add flex-wrap to CardControls to prevent overflow
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Message/Message.spec.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

docs(fuselage): add visual states documentation to SearchInput
  packages/fuselage/src/components/SearchInput/SearchInput.stories.tsx
Due: eslint --fix

fix: set default button type to 'button' to prevent accidental form submissions
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix

Space `MessageBlock` further from the header when there are no other elements before
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

Create afraid-wombats-repeat.md
  .changeset/afraid-wombats-repeat.md
Due: prettier --write

Update tokens and remove kodiak config
  .kodiak.toml
Due: none

refactor: use non-namespaced components instead
  packages/fuselage/src/components/Message/Messages.stories.tsx
Due: eslint --fix

feat(fuselage): Increase `MessageBlock` margins when placed directly bellow `MessageHeader` (#1832)
  .changeset/afraid-wombats-repeat.md
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

chore(deps): Patch dependencies
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

nikhil
  packages/fuselage/src/components/Options/Options.tsx
Due: eslint --fix

nikhil
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
Due: eslint --fix

fix MessageReactions export
  packages/fuselage/src/components/Message/index.ts
Due: eslint --fix

Create spicy-rabbits-suffer.md
  .changeset/spicy-rabbits-suffer.md
Due: prettier --write

fix(fuselage): MessageReactions subcomponents export missing (#1839)
  .changeset/spicy-rabbits-suffer.md
  packages/fuselage/src/components/Message/index.ts
Due: eslint --fix, prettier --write

feat(fuselage): remove deprecated `ThreadMessage.*` components
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.stories.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageFollow.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageLeftContainer.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageUnfollow.tsx
  packages/fuselage/src/components/Message/ThreadMessage/index.ts
Due: eslint --fix

feat(fuselage): remove deprecated `MessageToolbar.*` components
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.tsx
Due: eslint --fix

feat(fuselage): remove deprecated `MessageReactions.*` components
  packages/fuselage/src/components/Message/MessageReactions/index.ts
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
Due: eslint --fix

chore(fuselage): add changeset
  .changeset/lucky-mammals-push.md
Due: prettier --write

feat(fuselage): remove deprecated `Message.*` components
  packages/fuselage/src/components/Message/Message.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/helpers.tsx
Due: eslint --fix

feat(fuselage): remove deprecated `MessageMetricsItem.*` components
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItem.tsx
Due: eslint --fix

feat(fuselage): remove deprecated `MessageMetrics.*` components
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.tsx
Due: eslint --fix

refactor(fuselage): normalize module exports
  packages/fuselage/src/components/Message/MessageEmoji.tsx
  packages/fuselage/src/components/Message/MessageEmojiBase.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsContent.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReaction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionAction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionCounter.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionEmoji.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.stories.tsx
  packages/fuselage/src/components/Message/MessageReactions/index.ts
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageEmoji.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageFollow.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageIcon.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageIconThread.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageUnfollow.tsx
Due: eslint --fix

feat(fuselage): Remove deprecated `Message.*` component namespace (#1837)
  .changeset/lucky-mammals-push.md
  packages/fuselage/src/components/Message/Message.tsx
  packages/fuselage/src/components/Message/MessageEmoji.tsx
  packages/fuselage/src/components/Message/MessageEmojiBase.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsContent.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItem.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReaction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionAction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionCounter.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionEmoji.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.stories.tsx
  packages/fuselage/src/components/Message/MessageReactions/index.ts
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.stories.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageEmoji.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageFollow.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageIcon.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageIconThread.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageLeftContainer.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageUnfollow.tsx
  packages/fuselage/src/components/Message/ThreadMessage/index.ts
  packages/fuselage/src/components/Message/helpers.tsx
Due: eslint --fix, prettier --write

docs: add Yarn 4 & Corepack setup instructions to README
  tools/update-readme/templates/rootReadme.js
Due: eslint --fix

test: create `MenuV2` unit tests
  packages/fuselage/src/components/Menu/V2/Menu.spec.tsx
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/__snapshots__/Menu.spec.tsx.snap
Due: eslint --fix

chore(prettier): remove unused `.prettierignore` files
  .gitignore
  packages/css-in-js/.prettierignore
  packages/css-supports/.prettierignore
  packages/emitter/.prettierignore
  packages/fuselage-forms/.prettierignore
  packages/fuselage-hooks/.prettierignore
  packages/fuselage-toastbar/.gitignore
  packages/fuselage-toastbar/.prettierignore
  packages/fuselage-tokens/.gitignore
  packages/fuselage-tokens/.prettierignore
  packages/fuselage/.gitignore
  packages/fuselage/.prettierignore
  packages/icons/.prettierignore
  packages/layout/.gitignore
  packages/layout/.prettierignore
  packages/logo/.prettierignore
  packages/memo/.prettierignore
  packages/mp3-encoder/.prettierignore
  packages/onboarding-ui/.gitignore
  packages/onboarding-ui/.prettierignore
  packages/string-helpers/.prettierignore
  packages/styled/.prettierignore
  packages/stylis-logical-props-middleware/.prettierignore
Due: none

chore: review
  packages/fuselage/src/components/Menu/V2/Menu.spec.tsx
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
Due: eslint --fix

test(fuselage): create `MenuV2` unit tests (#1842)
  packages/fuselage/src/components/Menu/V2/Menu.spec.tsx
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/__snapshots__/Menu.spec.tsx.snap
Due: eslint --fix

feat: move `MenuV2` and its subcomponents to main directory and delete legacy menu
  packages/fuselage/src/components/Menu/Menu.spec.tsx
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/MenuDropdown.tsx
  packages/fuselage/src/components/Menu/MenuItem.tsx
  packages/fuselage/src/components/Menu/MenuOption.tsx
  packages/fuselage/src/components/Menu/MenuPopover.tsx
  packages/fuselage/src/components/Menu/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/Menu.spec.tsx
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/index.ts
  packages/fuselage/src/components/Menu/__snapshots__/Menu.spec.tsx.snap
  packages/fuselage/src/components/Menu/helpers/helpers.ts
  packages/fuselage/src/components/Menu/index.ts
  packages/fuselage/src/components/Menu/stately/MenuItem.tsx
  packages/fuselage/src/components/Menu/stately/MenuSection.tsx
  packages/fuselage/src/components/Menu/stately/PartialNode.tsx
Due: eslint --fix

chore: update `MenuV2` imports
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
Due: eslint --fix

chore: changeset
  .changeset/three-llamas-look.md
Due: prettier --write

chore(prettier): Remove unused `.prettierignore` files (#1844)
  .gitignore
  packages/css-in-js/.prettierignore
  packages/css-supports/.prettierignore
  packages/emitter/.prettierignore
  packages/fuselage-forms/.prettierignore
  packages/fuselage-hooks/.prettierignore
  packages/fuselage-toastbar/.gitignore
  packages/fuselage-toastbar/.prettierignore
  packages/fuselage-tokens/.gitignore
  packages/fuselage-tokens/.prettierignore
  packages/fuselage/.gitignore
  packages/fuselage/.prettierignore
  packages/icons/.prettierignore
  packages/layout/.gitignore
  packages/layout/.prettierignore
  packages/logo/.prettierignore
  packages/memo/.prettierignore
  packages/mp3-encoder/.prettierignore
  packages/onboarding-ui/.gitignore
  packages/onboarding-ui/.prettierignore
  packages/string-helpers/.prettierignore
  packages/styled/.prettierignore
  packages/stylis-logical-props-middleware/.prettierignore
Due: none

docs(typedoc): embed typedoc options in tsconfig
  packages/css-in-js/tsconfig.json
  packages/css-in-js/typedoc.json
  packages/emitter/tsconfig.json
  packages/emitter/typedoc.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage-hooks/typedoc.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage-toastbar/typedoc.json
  packages/logo/tsconfig.json
  packages/logo/typedoc.json
  packages/mp3-encoder/tsconfig.json
  packages/mp3-encoder/typedoc.json
  packages/onboarding-ui/tsconfig.json
  packages/onboarding-ui/typedoc.json
  packages/styled/tsconfig.json
  packages/styled/typedoc.json
  packages/stylis-logical-props-middleware/tsconfig.json
  packages/stylis-logical-props-middleware/typedoc.json
Due: prettier --write
