Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix: IconButton disabled color and background (#762)
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/styles/variables/buttons.scss
Due: eslint --fix, stylelint --fix

fix: Tag states
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Message/MessageRole.tsx
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.tsx
  packages/fuselage/src/components/Tag/styles.scss
Due: eslint --fix, stylelint --fix

regression(message-parser): Emoji skin tone detection
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emoji.test.ts
Due: eslint --fix

fix(message-parser): Emoji skin tone detection (#764)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emoji.test.ts
Due: eslint --fix

refactor: update icons
  packages/icons/src/contact.svg
  packages/icons/src/globe-cross.svg
  packages/icons/src/globe-off.svg
  packages/icons/src/globe.svg
Due: prettier --write

fix: Tag states (#763)
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Message/MessageRole.tsx
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.tsx
  packages/fuselage/src/components/Tag/styles.scss
Due: eslint --fix, stylelint --fix

Remove resting props
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicatorText.tsx
Due: eslint --fix

Make status indicator text unselectable
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
Due: stylelint --fix

Ensure status indicator is ARIA-hidden for now
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicatorText.tsx
Due: eslint --fix

feat(fuselage): Add message status indicator text component (#757)
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicatorText.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusPrivateIndicator.tsx
Due: eslint --fix, stylelint --fix

docs: add a new usage section - about icons and nextjs
  packages/fuselage/README.md
Due: prettier --write

fix: npm badge links
  README.md
Due: prettier --write

refactor: remove contact icon and create aliases
  packages/icons/glyphsMapping.json
  packages/icons/src/address-book.svg
  packages/icons/src/aliases/contact.svg
Due: prettier --write

icons css -> icons and nextjs -> fuselage
  README.md
  packages/fuselage/README.md
  packages/icons/README.md
Due: prettier --write

chore(monorepo): update dependencies [high severity] (#1)
  lerna.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

update npm badge link
  README.md
Due: prettier --write

chore(monorepo): update dependencies [medium severity] (#2)
  tools/build-logo/package.json
  yarn.lock
Due: prettier --write

feat(icons): Updated contact and globe icons (#767)
  packages/icons/glyphsMapping.json
  packages/icons/src/address-book.svg
  packages/icons/src/aliases/contact.svg
  packages/icons/src/contact.svg
  packages/icons/src/globe-cross.svg
  packages/icons/src/globe-off.svg
  packages/icons/src/globe.svg
Due: prettier --write

chore(monorepo): update dependencies [moderate severity] (#3)
  yarn.lock
Due: none

chore(monorepo): upgrade dependencies [security issues] (#768)
  lerna.json
  tools/build-logo/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

wip color changes
  packages/fuselage-tokens/src/text/base.json
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Callout/styles.scss
  packages/fuselage/src/components/Chip/styles.scss
  packages/fuselage/src/components/Pagination/styles.scss
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix, prettier --write

iconButton square default
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

add css vars with palette names
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

Add explicit props for `MessageStatusPrivateIndicator`
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusPrivateIndicator.tsx
Due: eslint --fix

fix(fuselage): IconButton default size: square (#770)
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

chore: export mesage status text component
  packages/fuselage/src/components/Message/MessageStatusIndicator/index.ts
Due: eslint --fix

fix: message metrics item icon size
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemIcon.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
Due: eslint --fix

fix(fuselage): Export message status text component (#773)
  packages/fuselage/src/components/Message/MessageStatusIndicator/index.ts
Due: eslint --fix

fix
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

rename text to font in clolrs
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Callout/styles.scss
  packages/fuselage/src/components/Chip/styles.scss
  packages/fuselage/src/components/Pagination/styles.scss
  packages/fuselage/src/components/Tabs/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

rename status color functions
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

update fuselage-tokens naming
  packages/fuselage-tokens/src/font/base.json
  packages/fuselage-tokens/src/stroke/base.json
  packages/fuselage-tokens/src/surface/base.json
Due: prettier --write

update status functions name
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Callout/styles.scss
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

add forwardRef to TopBarAction and SidebarAction
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
  packages/fuselage/src/components/Sidebar/TopBar.tsx
Due: eslint --fix

auto margin to centralize all modals
  packages/fuselage/src/components/Modal/Modal.styles.scss
Due: stylelint --fix

Review
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
  packages/fuselage/src/components/Sidebar/TopBar.tsx
Due: eslint --fix

chore(fuselage): Add forwardRef to TopBarAction and SidebarAction (#777)
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
  packages/fuselage/src/components/Sidebar/TopBar.tsx
Due: eslint --fix

fix: adjusting message system font-size
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
Due: stylelint --fix

button color changes
  packages/fuselage/src/components/Chip/styles.scss
  packages/fuselage/src/components/Tabs/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

regression: fix on dispatch action
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
