Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore(poc): snapshot converted-preview.json from the last validation run for comparison
  packages/fuselage-tokens/poc-button/converted-preview.json
Due: prettier --write

feat: add cellVerticalAlign prop to TableRow
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Table/TableRow.tsx
Due: eslint --fix, stylelint --fix

feat(fuselage): Introduce submenu to `Menu` component (#2038)
  .changeset/real-pianos-shine.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Menu/Menu.spec.tsx
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/MenuDropdown.tsx
  packages/fuselage/src/components/Menu/MenuPopover.tsx
  packages/fuselage/src/components/Menu/MenuPortalContext.ts
  packages/fuselage/src/components/Menu/MenuSection.tsx
  packages/fuselage/src/components/Menu/MenuSubmenu.tsx
  packages/fuselage/src/components/Menu/__snapshots__/Menu.spec.tsx.snap
  packages/fuselage/src/components/Menu/index.ts
  packages/fuselage/src/components/Menu/stately/MenuSubmenuTrigger.tsx
  packages/fuselage/src/components/Popover/Popover.tsx
  packages/fuselage/test/snapshots/navigation-menu--with-rich-submenu-trigger-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--with-submenu-desktop.png
Due: eslint --fix, prettier --write

chore(deps): patch dependencies
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/prettier-config/package.json
  packages/storybook-dark-mode/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

chore(deps): dedupe
  yarn.lock
Due: none

chore(deps): Patch dependencies (#2108)
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/prettier-config/package.json
  packages/storybook-dark-mode/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

chore(fuselage): drop explicit transitive dependency
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

chore(onboarding-ui): update `countries-list`
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

chore: update Playwright
  tools/visual-regression/package.json
  tools/visual-regression/scripts/run-playwright-docker.sh
  yarn.lock
Due: prettier --write

chore(deps): upgrade ESLint to v10 and its plugins
  eslint.config.mjs
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/prettier-config/package.json
  packages/storybook-dark-mode/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): bump turbo from 2.9.18 to 2.10.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade webpack and loaders
  packages/fuselage-forms/package.json
  packages/fuselage/.storybook/main.ts
  packages/fuselage/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): bump stylis from 4.3.6 to 4.4.0
  packages/css-in-js/package.json
  packages/stylis-logical-props-middleware/package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade Sass and PostCSS toolchain
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade stylelint and its plugins
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  yarn.lock
Due: prettier --write

chore(deps): bump sharp from 0.34.5 to 0.35.3
  tools/build-logo/package.json
  yarn.lock
Due: prettier --write

chore(deps): bump style-dictionary from 5.4.4 to 5.5.0
  packages/fuselage-tokens/package.json
  yarn.lock
Due: prettier --write

chore(deps): bump rollup from 4.60.4 to 4.62.2
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

chore: add changeset for css-in-js stylis bump
  .changeset/bump-stylis-css-in-js.md
Due: prettier --write

fix(visual-regression): make Playwright docker script POSIX sh compatible
  tools/visual-regression/scripts/run-playwright-docker.sh
Due: none

chore: upgrade stale dependencies (#2114)
  .changeset/bump-stylis-css-in-js.md
  eslint.config.mjs
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/.storybook/main.ts
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/prettier-config/package.json
  packages/storybook-dark-mode/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/visual-regression/package.json
  tools/visual-regression/scripts/run-playwright-docker.sh
  yarn.lock
Due: eslint --fix, prettier --write

chore: convert stories to CSF3
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/AnimatedVisibility/AnimatedVisibility.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Banner/Banner.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/CardGrid/CardGrid.stories.tsx
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/Chevron/Chevron.stories.tsx
  packages/fuselage/src/components/Chip/Chip.stories.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.stories.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
Due: eslint --fix

chore: convert Button stories to CSF3
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
Due: eslint --fix

chore: convert stories to CSF3
  packages/fuselage/src/components/EmailInput/EmailInput.stories.tsx
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/FieldGroup/FieldGroup.stories.tsx
  packages/fuselage/src/components/Flex/Flex.stories.tsx
  packages/fuselage/src/components/FramedIcon/FramedIcon.stories.tsx
  packages/fuselage/src/components/Grid/Grid.stories.tsx
  packages/fuselage/src/components/Icon/Icon.stories.tsx
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/Label/Label.stories.tsx
  packages/fuselage/src/components/Margins/Margins.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/NumberInput/NumberInput.stories.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.stories.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.stories.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
  packages/fuselage/src/components/Pagination/Pagination.stories.tsx
Due: eslint --fix

chore: convert `Box` stories to CSF3
  packages/fuselage/src/components/Box/colors.stories.tsx
  packages/fuselage/src/components/Box/layout.stories.tsx
  packages/fuselage/src/components/Box/props.stories.tsx
  packages/fuselage/src/components/Box/richContentBlock.stories.tsx
  packages/fuselage/src/components/Box/richContentInline.stories.tsx
  packages/fuselage/src/components/Box/typography.stories.tsx
Due: eslint --fix

chore: convert `Message` stories to CSF3
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.stories.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.stories.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.stories.tsx
  packages/fuselage/src/components/Message/helpers.tsx
Due: eslint --fix

chore: convert stories to CSF3
  packages/fuselage/src/components/Modal/Modal.spec.tsx
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/PasswordInput/PasswordInput.stories.tsx
  packages/fuselage/src/components/Popover/Popover.stories.tsx
  packages/fuselage/src/components/PositionAnimated/PositionAnimated.stories.tsx
  packages/fuselage/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.stories.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.stories.tsx
  packages/fuselage/src/components/SearchInput/SearchInput.stories.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
Due: eslint --fix

chore: convert stories to CSF3
  packages/fuselage/src/components/PaletteStyleTag/PaletteStyleTag.stories.tsx
  packages/fuselage/src/components/Skeleton/Skeleton.stories.tsx
  packages/fuselage/src/components/Slider/Slider.stories.tsx
  packages/fuselage/src/components/States/States.stories.tsx
  packages/fuselage/src/components/StatusBullet/StatusBullet.stories.tsx
  packages/fuselage/src/components/Table/Table.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/TextAreaInput/TextAreaInput.stories.tsx
  packages/fuselage/src/components/TextInput/TextInput.stories.tsx
  packages/fuselage/src/components/Throbber/Throbber.stories.tsx
  packages/fuselage/src/components/Tile/Tile.stories.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.stories.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.stories.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.spec.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.stories.tsx
  packages/fuselage/src/components/UrlInput/UrlInput.stories.tsx
Due: eslint --fix

chore: convert `Sidebar` and `Sidepanel` stories to CSF3
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem.stories.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBar.stories.tsx
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.stories.tsx
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.stories.tsx
  packages/fuselage/src/components/Sidepanel/Sidepanel.stories.tsx
Due: eslint --fix

reactions emoji sizing
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
Due: stylelint --fix

update visual snapshot
  packages/fuselage/test/snapshots/message-messagereactions--default-desktop.png
Due: none

add cs
  .changeset/strong-areas-bet.md
Due: prettier --write

chore: update changeset
  .changeset/strong-areas-bet.md
Due: prettier --write

chore(fuselage): convert stories to CSF3 (1/8) (#2116)
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/AnimatedVisibility/AnimatedVisibility.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Banner/Banner.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/CardGrid/CardGrid.stories.tsx
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/Chevron/Chevron.stories.tsx
  packages/fuselage/src/components/Chip/Chip.stories.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.stories.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
Due: eslint --fix

chore: adjust `EmailInput` args
  packages/fuselage/src/components/EmailInput/EmailInput.stories.tsx
Due: eslint --fix

chore: adjust `NumberInput` args
  packages/fuselage/src/components/NumberInput/NumberInput.stories.tsx
Due: eslint --fix

chore: adjust `PasswordInput` args
  packages/fuselage/src/components/PasswordInput/PasswordInput.stories.tsx
Due: eslint --fix

chore: adjust `SearchInput` args
  packages/fuselage/src/components/SearchInput/SearchInput.stories.tsx
Due: eslint --fix

feat(fuselage): Add menu support to `SidebarCollapseGroup` (#2044)
  .changeset/good-aliens-laugh.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/SidebarV2/SidebarCollapseGroupMenu.tsx
  packages/fuselage/src/components/SidebarV2/SidebarGroupTitle.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
  packages/fuselage/src/components/SidebarV2/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

feat: new `variant` and `size` props and deprecation warnings
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix
