Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Correct `withBoxStyling` return type
  packages/fuselage/src/components/Box/withBoxStyling.ts
Due: eslint --fix

fix(fuselage): Correct `withBoxStyling` return type (#677)
  packages/fuselage/src/components/Box/withBoxStyling.ts
Due: eslint --fix

chore(release): 0.31.8
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

chore: Add title to MessageSystemProps type (#676)
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.tsx
Due: eslint --fix

fix(fuselage): Button-specific props for `Chip`
  packages/fuselage/src/components/Chip/Chip.tsx
Due: eslint --fix

chore(release): 0.31.9
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

Add title on MessageTimestampProps type
  packages/fuselage/src/components/Message/MessageTimestamp.tsx
Due: eslint --fix

title optional
  packages/fuselage/src/components/Message/MessageTimestamp.tsx
Due: eslint --fix

chore: Add title on MessageTimestampProps type (#678)
  packages/fuselage/src/components/Message/MessageTimestamp.tsx
Due: eslint --fix

fix: pull lamejs from npmjs with tag 1.2.1
  packages/mp3-encoder/package.json
Due: prettier --write

Update colors.jsonc with new colors
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
Due: eslint --fix, stylelint --fix, prettier --write

refactor: email and url error handling and add default values
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.stories.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.stories.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.tsx
Due: eslint --fix

build-design-tokens on dist
  packages/fuselage-hooks/src/useBreakpoints.spec.ts
  packages/fuselage-hooks/src/useBreakpoints.ts
  packages/fuselage-tokens/.prettierignore
  packages/fuselage-tokens/.stylelintignore
  packages/fuselage-tokens/dist/breakpoints.js
  packages/fuselage-tokens/dist/breakpoints.json
  packages/fuselage-tokens/dist/breakpoints.mjs
  packages/fuselage-tokens/dist/breakpoints.scss
  packages/fuselage-tokens/dist/colors.js
  packages/fuselage-tokens/dist/colors.json
  packages/fuselage-tokens/dist/colors.mjs
  packages/fuselage-tokens/dist/colors.scss
  packages/fuselage-tokens/dist/typography.js
  packages/fuselage-tokens/dist/typography.json
  packages/fuselage-tokens/dist/typography.mjs
  packages/fuselage-tokens/dist/typography.scss
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/.storybook/manager.ts
  packages/fuselage/.storybook/manager.ts
  packages/fuselage/.storybook/preview.ts
  packages/fuselage/src/components/Grid/styles.scss
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/mixins/breakpoints.scss
  packages/fuselage/src/styles/typography.scss
  packages/fuselage/src/styles/variables/breakpoints.scss
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
  packages/onboarding-ui/.storybook/manager.ts
  packages/onboarding-ui/src/common/BackgroundLayer.tsx
  packages/onboarding-ui/src/common/Form/Form.tsx
  packages/onboarding-ui/src/common/Form/FormSubtitle.tsx
  packages/onboarding-ui/src/common/List/List.tsx
  packages/onboarding-ui/src/helpers/tokenFontFamilies.ts
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/Description.tsx
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.tsx
  packages/onboarding-ui/src/pages/RequestTrialPage/Description.tsx
  tools/build-design-tokens/index.mjs
Due: eslint --fix, stylelint --fix, prettier --write

remove /storybook-static
  packages/fuselage-tokens/dist/breakpoints.js
  packages/fuselage-tokens/dist/breakpoints.json
  packages/fuselage-tokens/dist/breakpoints.mjs
  packages/fuselage-tokens/dist/breakpoints.scss
  packages/fuselage-tokens/dist/colors.js
  packages/fuselage-tokens/dist/colors.json
  packages/fuselage-tokens/dist/colors.mjs
  packages/fuselage-tokens/dist/colors.scss
  packages/fuselage-tokens/dist/typography.js
  packages/fuselage-tokens/dist/typography.json
  packages/fuselage-tokens/dist/typography.mjs
  packages/fuselage-tokens/dist/typography.scss
  packages/onboarding-ui/.eslintignore
  packages/onboarding-ui/.gitignore
Due: eslint --fix, stylelint --fix, prettier --write

fuselage token ts build
  packages/fuselage-tokens/.gitignore
  packages/fuselage-tokens/dist/breakpoints.js
  packages/fuselage-tokens/dist/breakpoints.json
  packages/fuselage-tokens/dist/breakpoints.mjs
  packages/fuselage-tokens/dist/breakpoints.scss
  packages/fuselage-tokens/dist/colors.js
  packages/fuselage-tokens/dist/colors.mjs
  packages/fuselage-tokens/dist/colors.scss
  packages/fuselage-tokens/dist/typography.js
  packages/fuselage-tokens/dist/typography.json
  packages/fuselage-tokens/dist/typography.mjs
  packages/fuselage-tokens/dist/typography.scss
  packages/fuselage-tokens/package.json
  packages/fuselage-tokens/src/colors.json
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/index.ts
  packages/fuselage-tokens/tsconfig-cjs.json
  packages/fuselage-tokens/tsconfig.json
  tools/build-design-tokens/index.mjs
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

feat: update CreateFirstMemberPage props
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.stories.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
  packages/onboarding-ui/src/pages/CreateFirstMemberPage/CreateFirstMemberPage.stories.tsx
  packages/onboarding-ui/src/pages/CreateFirstMemberPage/CreateFirstMemberPage.tsx
Due: eslint --fix

fix: test file bug
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.spec.tsx
  packages/onboarding-ui/src/pages/CreateFirstMemberPage/CreateFirstMemberPage.spec.tsx
Due: eslint --fix

update tokens package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-tokens/src/colors.json
Due: prettier --write

Create palette colors
  packages/fuselage-tokens/src/index.ts
Due: eslint --fix

feat: update CreateFirstMemberPage props (#690)
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.spec.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.stories.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
  packages/onboarding-ui/src/pages/CreateFirstMemberPage/CreateFirstMemberPage.spec.tsx
  packages/onboarding-ui/src/pages/CreateFirstMemberPage/CreateFirstMemberPage.stories.tsx
  packages/onboarding-ui/src/pages/CreateFirstMemberPage/CreateFirstMemberPage.tsx
Due: eslint --fix

fix: rerun ci test
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.tsx
Due: eslint --fix

feat(onboarding-ui): update props and fix bugs in CreateCloudWorkspac… (#675)
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.stories.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.stories.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/Description.tsx
Due: eslint --fix

UI colors
  packages/fuselage-tokens/src/index.ts
Due: eslint --fix

Set react-i18nex as peerDependencies
  packages/onboarding-ui/README.md
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

..
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

chore(onboarding-ui): Set react-i18nex as peerDependencies (#693)
  packages/onboarding-ui/README.md
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

feat(onboarding-ui): add function to prefill Workspace URL based on Workspace Name
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.stories.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
Due: eslint --fix

add Divider
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
Due: eslint --fix

Add style-dictionary
  README.md
  packages/style-dictionary-test/README.md
  packages/style-dictionary-test/build/scss/_variables.scss
  packages/style-dictionary-test/build/variables.css
  packages/style-dictionary-test/config.json
  packages/style-dictionary-test/package-lock.json
  packages/style-dictionary-test/package.json
  packages/style-dictionary-test/tokens/color/base.json
Due: stylelint --fix, prettier --write

refactor: add rest props to message system
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.tsx
Due: eslint --fix

feat: add is pending status to message
  packages/fuselage/src/components/Message/Message.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

Add style-dictionary-legacy. Convert typography, breakpoints and colors to js done
  README.md
  packages/style-dictionary-legacy/.gitignore
  packages/style-dictionary-legacy/README.md
  packages/style-dictionary-legacy/build.js
  packages/style-dictionary-legacy/config.js
  packages/style-dictionary-legacy/config.json
  packages/style-dictionary-legacy/package-lock.json
  packages/style-dictionary-legacy/package.json
  packages/style-dictionary-legacy/tokens/breakpoints/base.json
  packages/style-dictionary-legacy/tokens/colors/base.json
  packages/style-dictionary-legacy/tokens/index.js
  packages/style-dictionary-legacy/tokens/typography/base.json
  packages/style-dictionary/README.md
Due: eslint --fix, prettier --write

rename style-dictionary-test to style-dictionary. Add .gitignore
  packages/style-dictionary-legacy/README.md
  packages/style-dictionary/.gitignore
  packages/style-dictionary/config.json
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/style-dictionary/tokens/color/base.json
Due: prettier --write

clean
  packages/style-dictionary-test/README.md
  packages/style-dictionary-test/build/scss/_variables.scss
  packages/style-dictionary-test/build/variables.css
  packages/style-dictionary-test/config.json
  packages/style-dictionary-test/package-lock.json
  packages/style-dictionary-test/package.json
  packages/style-dictionary-test/tokens/color/base.json
Due: stylelint --fix, prettier --write

fix cjsmodule formatter
  packages/style-dictionary-legacy/build.js
Due: eslint --fix

Add groups to tokens. Build json done
  packages/style-dictionary-legacy/build.js
  packages/style-dictionary-legacy/config.js
  packages/style-dictionary-legacy/tokens/breakpoints/base.json
  packages/style-dictionary-legacy/tokens/colors/base.json
  packages/style-dictionary-legacy/tokens/typography/base.json
Due: eslint --fix, prettier --write

remove comments
  packages/style-dictionary-legacy/build.js
  packages/style-dictionary-legacy/config.js
Due: eslint --fix

add build mjs
  packages/style-dictionary-legacy/build.js
  packages/style-dictionary-legacy/config.js
Due: eslint --fix

refactor: isValidDomanName method
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.stories.tsx
Due: eslint --fix

refactor: isValidDomanName method function
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.stories.tsx
Due: eslint --fix
