Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat: add focusable prop in `Box`
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Box/layout.stories.tsx
  packages/fuselage/src/hooks/useBoxOnlyProps.ts
Due: eslint --fix, stylelint --fix

chore: update changeset
  .changeset/sixty-fans-jog.md
Due: prettier --write

feat(icons): Add/Modify video icons (#1603)
  .changeset/six-results-build.md
  packages/icons/glyphsMapping.json
  packages/icons/src/video-disabled.svg
  packages/icons/src/video-filled.svg
  packages/icons/src/video-message.svg
  packages/icons/src/video-off.svg
Due: prettier --write

feat(fuselage): Add `focusable` prop in `Box` (#1604)
  .changeset/sixty-fans-jog.md
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Box/layout.stories.tsx
  packages/fuselage/src/hooks/useBoxOnlyProps.ts
Due: eslint --fix, stylelint --fix, prettier --write

docs: add build verification note for fuselage-tokens
  packages/fuselage-tokens/README.md
Due: prettier --write

fix(fuselage-tokens): removed exports to resolve import error in chore/tamagui
  README.md
  packages/fuselage-tamagui-tokens/README.md
  packages/fuselage-tamagui/README.md
  packages/fuselage-tokens/package.json
Due: prettier --write

chore: update yarn.lock to fix merge conflict
  yarn.lock
Due: none

fix: remove exports field in fuselage-tokens to fix import error in fuselage-hooks
  packages/fuselage-tokens/package.json
Due: prettier --write

chore: update yarn.lock to fix merge conflict
  README.md
  packages/fuselage-tamagui-tokens/README.md
  packages/fuselage-tamagui/README.md
  yarn.lock
Due: prettier --write

tamagui setup with storybook
  README.md
  packages/fuselage-tamagui-tokens/README.md
  packages/fuselage-tamagui-tokens/package.json
  packages/fuselage-tamagui-tokens/src/index.ts
  packages/fuselage-tamagui/README.md
Due: eslint --fix, prettier --write

tamagui setup storybook
  package.json
  packages/fuselage-tamagui/.storybook/main.ts
  packages/fuselage-tamagui/.storybook/preview.ts
  packages/fuselage-tamagui/package.json
  packages/fuselage-tamagui/src/Button/Button.stories.ts
  packages/fuselage-tamagui/src/Button/Button.tsx
  packages/fuselage-tamagui/src/Button/index.tsx
  packages/fuselage-tamagui/src/tamagui.config.ts
  packages/fuselage-tamagui/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

init package
  README.md
  packages/draggable-core/.gitignore
  packages/draggable-core/.prettierignore
  packages/draggable-core/README.md
  packages/draggable-core/package.json
  packages/draggable-core/src/index.ts
  packages/draggable-core/tsconfig.cjs.json
  packages/draggable-core/tsconfig.esm.json
  packages/draggable-core/tsconfig.json
Due: eslint --fix, prettier --write

WIP
  packages/draggable-core/README.md
  packages/draggable-core/package.json
  packages/draggable-core/src/index.html
  packages/draggable-core/src/index.ts
  packages/draggable-core/tsconfig.json
  packages/draggable-core/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Delete yarn.lock
  yarn.lock
Due: none

fix: add tokens to layout form
  packages/layout/src/components/FormPageLayout/Form.tsx
Due: eslint --fix

chore: changeset
  .changeset/shiny-monkeys-swim.md
Due: prettier --write

chore: update snapshots
  packages/layout/src/components/FormPageLayout/__snapshots__/FormPageLayout.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
Due: none

chore: add PaletteStyleTag to onboarding-ui storybook
  packages/onboarding-ui/.storybook/preview.tsx
Due: eslint --fix

chore: update onboarding-ui snapshots
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Due: none

fix(layout): add missing tokens to layout `Form` (#1624)
  .changeset/shiny-monkeys-swim.md
  packages/layout/src/components/FormPageLayout/Form.tsx
  packages/layout/src/components/FormPageLayout/__snapshots__/FormPageLayout.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Due: eslint --fix, prettier --write

add new icon
  packages/icons/glyphsMapping.json
  packages/icons/src/stacked-meatballs.svg
Due: prettier --write

Add CS
  .changeset/stale-apes-confess.md
Due: prettier --write

chore: update changeset
  .changeset/stale-apes-confess.md
Due: prettier --write

feat(icons): Add new `stacked-meatballs` (#1626)
  .changeset/stale-apes-confess.md
  packages/icons/glyphsMapping.json
  packages/icons/src/stacked-meatballs.svg
Due: prettier --write

remove deprecation warning
  packages/fuselage-hooks/src/useAutoFocus.ts
Due: eslint --fix

chore: Remove deprecation warning from `useAutoFocus` hook (#1628)
  packages/fuselage-hooks/src/useAutoFocus.ts
Due: eslint --fix

init
  .gitignore
  README.md
  packages/fuselage-tamagui-tokens/README.md
  packages/fuselage-tamagui/.storybook/main.ts
  packages/fuselage-tamagui/.storybook/preview.tsx
  packages/fuselage-tamagui/README.md
  packages/fuselage-tamagui/package.json
  packages/fuselage-tamagui/src/Button.tsx
  packages/fuselage-tamagui/stories/Button.stories.ts
  packages/fuselage-tamagui/stories/Button.tsx
  packages/fuselage-tamagui/stories/Configure.mdx
  packages/fuselage-tamagui/stories/Header.stories.ts
  packages/fuselage-tamagui/stories/Header.tsx
  packages/fuselage-tamagui/stories/Page.stories.ts
  packages/fuselage-tamagui/stories/Page.tsx
  packages/fuselage-tamagui/stories/assets/accessibility.png
  packages/fuselage-tamagui/stories/assets/accessibility.svg
  packages/fuselage-tamagui/stories/assets/addon-library.png
  packages/fuselage-tamagui/stories/assets/assets.png
  packages/fuselage-tamagui/stories/assets/avif-test-image.avif
  packages/fuselage-tamagui/stories/assets/context.png
  packages/fuselage-tamagui/stories/assets/discord.svg
  packages/fuselage-tamagui/stories/assets/docs.png
  packages/fuselage-tamagui/stories/assets/figma-plugin.png
  packages/fuselage-tamagui/stories/assets/github.svg
  packages/fuselage-tamagui/stories/assets/share.png
  packages/fuselage-tamagui/stories/assets/styling.png
  packages/fuselage-tamagui/stories/assets/testing.png
  packages/fuselage-tamagui/stories/assets/theming.png
  packages/fuselage-tamagui/stories/assets/tutorials.svg
  packages/fuselage-tamagui/stories/assets/youtube.svg
  packages/fuselage-tamagui/stories/button.css
  packages/fuselage-tamagui/stories/header.css
  packages/fuselage-tamagui/stories/page.css
  packages/fuselage-tamagui/tamagui.config.ts
  packages/fuselage-tamagui/tsconfig.json
  packages/fuselage-tokens/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

update:used tamagui button
  packages/fuselage-tamagui/stories/Button.stories.ts
Due: eslint --fix

update:used tamagui button
  packages/fuselage-tamagui/stories/Button.tsx
Due: eslint --fix

fix: typo error
  packages/fuselage-tamagui/stories/Header.tsx
Due: eslint --fix

refactor: rename 'stories' folder to 'src' and update config accordingly
  packages/fuselage-tamagui/src/Configure.mdx
  packages/fuselage-tamagui/src/assets/accessibility.png
  packages/fuselage-tamagui/src/assets/accessibility.svg
  packages/fuselage-tamagui/src/assets/addon-library.png
  packages/fuselage-tamagui/src/assets/assets.png
  packages/fuselage-tamagui/src/assets/avif-test-image.avif
  packages/fuselage-tamagui/src/assets/context.png
  packages/fuselage-tamagui/src/assets/discord.svg
  packages/fuselage-tamagui/src/assets/docs.png
  packages/fuselage-tamagui/src/assets/figma-plugin.png
  packages/fuselage-tamagui/src/assets/github.svg
  packages/fuselage-tamagui/src/assets/share.png
  packages/fuselage-tamagui/src/assets/styling.png
  packages/fuselage-tamagui/src/assets/testing.png
  packages/fuselage-tamagui/src/assets/theming.png
  packages/fuselage-tamagui/src/assets/tutorials.svg
  packages/fuselage-tamagui/src/assets/youtube.svg
  packages/fuselage-tamagui/src/components/Button/Button.stories.ts
  packages/fuselage-tamagui/src/components/Button/Button.tsx
  packages/fuselage-tamagui/src/components/Button/button.css
  packages/fuselage-tamagui/src/components/Header/Header.stories.ts
  packages/fuselage-tamagui/src/components/Header/Header.tsx
  packages/fuselage-tamagui/src/components/Header/header.css
  packages/fuselage-tamagui/src/components/Page/Page.stories.ts
  packages/fuselage-tamagui/src/components/Page/Page.tsx
  packages/fuselage-tamagui/src/components/Page/page.css
Due: eslint --fix, stylelint --fix, prettier --write

refactor: use src folder instead of stories folder
  packages/fuselage-tamagui/.storybook/main.ts
Due: eslint --fix

refactor: files are arranged accordingly
  packages/fuselage-tamagui/stories/Button.stories.ts
  packages/fuselage-tamagui/stories/Button.tsx
  packages/fuselage-tamagui/stories/Configure.mdx
  packages/fuselage-tamagui/stories/Header.stories.ts
  packages/fuselage-tamagui/stories/Header.tsx
  packages/fuselage-tamagui/stories/Page.stories.ts
  packages/fuselage-tamagui/stories/Page.tsx
  packages/fuselage-tamagui/stories/assets/accessibility.png
  packages/fuselage-tamagui/stories/assets/accessibility.svg
  packages/fuselage-tamagui/stories/assets/addon-library.png
  packages/fuselage-tamagui/stories/assets/assets.png
  packages/fuselage-tamagui/stories/assets/avif-test-image.avif
  packages/fuselage-tamagui/stories/assets/context.png
  packages/fuselage-tamagui/stories/assets/discord.svg
  packages/fuselage-tamagui/stories/assets/docs.png
  packages/fuselage-tamagui/stories/assets/figma-plugin.png
  packages/fuselage-tamagui/stories/assets/github.svg
  packages/fuselage-tamagui/stories/assets/share.png
  packages/fuselage-tamagui/stories/assets/styling.png
  packages/fuselage-tamagui/stories/assets/testing.png
  packages/fuselage-tamagui/stories/assets/theming.png
  packages/fuselage-tamagui/stories/assets/tutorials.svg
  packages/fuselage-tamagui/stories/assets/youtube.svg
  packages/fuselage-tamagui/stories/button.css
  packages/fuselage-tamagui/stories/header.css
  packages/fuselage-tamagui/stories/page.css
Due: eslint --fix, stylelint --fix, prettier --write

make menu accessible
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

Update: removed the configs page
  packages/fuselage-tamagui/src/Configure.mdx
  packages/fuselage-tamagui/src/assets/accessibility.png
  packages/fuselage-tamagui/src/assets/accessibility.svg
  packages/fuselage-tamagui/src/assets/addon-library.png
  packages/fuselage-tamagui/src/assets/assets.png
  packages/fuselage-tamagui/src/assets/avif-test-image.avif
  packages/fuselage-tamagui/src/assets/context.png
  packages/fuselage-tamagui/src/assets/discord.svg
  packages/fuselage-tamagui/src/assets/docs.png
  packages/fuselage-tamagui/src/assets/figma-plugin.png
  packages/fuselage-tamagui/src/assets/github.svg
  packages/fuselage-tamagui/src/assets/share.png
  packages/fuselage-tamagui/src/assets/styling.png
  packages/fuselage-tamagui/src/assets/testing.png
  packages/fuselage-tamagui/src/assets/theming.png
  packages/fuselage-tamagui/src/assets/tutorials.svg
  packages/fuselage-tamagui/src/assets/youtube.svg
Due: eslint --fix, prettier --write

update: added more configs
  packages/fuselage-tamagui/tamagui.config.ts
Due: eslint --fix

add changeset
  .changeset/loose-teams-help.md
Due: prettier --write

refactor(stories): convert to function-based story format
  packages/fuselage-tamagui/src/components/Button/Button.stories.tsx
Due: eslint --fix

refactor: changed .ts to .tsx
  packages/fuselage-tamagui/src/components/Button/Button.stories.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
