Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Upgrade Storybook
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Banner/Banner.stories.tsx
  packages/layout/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade ESLint
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Upgrade PostCSS deps
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Upgrade Stylelint
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  yarn.lock
Due: prettier --write

Upgrade Webpack loaders
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Upgrade `caniuse-lite`
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Upgrade Jest deps
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  yarn.lock
Due: prettier --write

Upgrade `countries-list`
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Upgrade Node types
  packages/peggy-loader/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

use useSyncExternalStore in place of state
  packages/fuselage-hooks/src/useStorage.ts
Due: eslint --fix

fix review
  packages/fuselage-hooks/src/useStorage.ts
Due: eslint --fix

add missing dependency
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/package.json
  yarn.lock
Due: prettier --write

chore(fuselage-hooks): Add `@rocket.chat/emitter` as peer and dev dependency (#1596)
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/package.json
  yarn.lock
Due: prettier --write

refactor: use `useSyncExternalStore` in favor of `useState` in `useXyzStorage` hooks (#1595)
  packages/fuselage-hooks/src/useStorage.ts
Due: eslint --fix

feat: add icon
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-back-up.dir.svg
Due: prettier --write

chore: changeset
  .changeset/tricky-actors-obey.md
Due: prettier --write

wip
  packages/fuselage-tamagui-tokens/package.json
  packages/fuselage-tamagui-tokens/src/index.ts
  packages/fuselage-tamagui/package.json
  packages/fuselage-tamagui/src/Button.tsx
Due: eslint --fix, prettier --write

feat(icons): Add `arrow-back-up` icon (#1597)
  .changeset/tricky-actors-obey.md
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-back-up.dir.svg
Due: prettier --write

fix alignment on server setup form
  packages/onboarding-ui/src/common/AgreeTermsField.tsx
Due: eslint --fix

test: add snapshot tests
  packages/onboarding-ui/.jest/setup.ts
  packages/onboarding-ui/src/common/AgreeTermsField.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Due: eslint --fix

chore: add a11y and palette config
  packages/layout/.storybook/main.ts
  packages/layout/.storybook/preview.tsx
  packages/layout/package.json
  packages/layout/src/jest-setup.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: refactor layouts
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/layout/src/VerticalWizardLayout/VerticalWizardLayout.tsx
  packages/layout/src/layouts/HeroLayout/HeroLayout.spec.tsx
  packages/layout/src/layouts/HeroLayout/HeroLayout.stories.tsx
  packages/layout/src/layouts/HeroLayout/HeroLayout.tsx
  packages/layout/src/layouts/HeroLayout/HeroLayoutSubtitle.tsx
  packages/layout/src/layouts/HeroLayout/HeroLayoutTitle.tsx
  packages/layout/src/layouts/HeroLayout/__snapshots__/HeroLayout.spec.tsx.snap
  packages/layout/src/layouts/HeroLayout/index.ts
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayout.spec.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayout.stories.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutAside.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutCaption.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutContent.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutDescription.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutFooter.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutSubtitle.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutTitle.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardTextHighlight.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/index.ts
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayout.spec.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayout.stories.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayout.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayoutFooter.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayoutForm.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayoutTitle.tsx
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/index.ts
  packages/layout/src/layouts/index.ts
Due: eslint --fix

chore: `TooltipWrapper`
  packages/layout/src/TooltipWrapper.spec.tsx
  packages/layout/src/components/TooltipWrapper/TooltipWrapper.spec.tsx
  packages/layout/src/components/TooltipWrapper/TooltipWrapper.stories.tsx
  packages/layout/src/components/TooltipWrapper/TooltipWrapper.tsx
  packages/layout/src/components/TooltipWrapper/__snapshots__/TooltipWrapper.spec.tsx.snap
  packages/layout/src/components/TooltipWrapper/index.ts
Due: eslint --fix

add changeset
  .changeset/proud-hotels-bake.md
Due: prettier --write

chore: `BackgroundLayer`
  packages/layout/src/BackgroundLayer/BackgroundLayer.spec.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundImage.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.spec.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.stories.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.styles.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.tsx
  packages/layout/src/components/BackgroundLayer/__snapshots__/BackgroundLayer.spec.tsx.snap
  packages/layout/src/components/BackgroundLayer/index.ts
  packages/layout/src/layouts/HeroLayout/HeroLayout.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutAside.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayout.tsx
Due: eslint --fix

chore: `List`
  packages/layout/src/List/index.ts
  packages/layout/src/components/List/List.spec.tsx
  packages/layout/src/components/List/List.stories.tsx
  packages/layout/src/components/List/List.styles.tsx
  packages/layout/src/components/List/List.tsx
  packages/layout/src/components/List/ListItem.tsx
  packages/layout/src/components/List/__snapshots__/List.spec.tsx.snap
  packages/layout/src/components/List/index.ts
Due: eslint --fix

chore: `FormPageLayout`
  packages/layout/src/components/FormPageLayout/Form.tsx
  packages/layout/src/components/FormPageLayout/FormContainer.tsx
  packages/layout/src/components/FormPageLayout/FormFooter.tsx
  packages/layout/src/components/FormPageLayout/FormHeader.tsx
  packages/layout/src/components/FormPageLayout/FormPageLayout.spec.tsx
  packages/layout/src/components/FormPageLayout/FormPageLayout.stories.tsx
  packages/layout/src/components/FormPageLayout/FormPageLayout.styles.tsx
  packages/layout/src/components/FormPageLayout/FormSteps.tsx
  packages/layout/src/components/FormPageLayout/FormSubtitle.tsx
  packages/layout/src/components/FormPageLayout/FormTitle.tsx
  packages/layout/src/components/FormPageLayout/__snapshots__/FormPageLayout.spec.tsx.snap
  packages/layout/src/components/FormPageLayout/index.ts
Due: eslint --fix

chore: `ActionLink`
  packages/layout/src/components/ActionLink/ActionLink.spec.tsx
  packages/layout/src/components/ActionLink/ActionLink.stories.tsx
  packages/layout/src/components/ActionLink/ActionLink.tsx
  packages/layout/src/components/ActionLink/__snapshots__/ActionLink.spec.tsx.snap
  packages/layout/src/components/ActionLink/index.ts
Due: eslint --fix

chore: `Link`
  packages/layout/src/components/Link.tsx
  packages/layout/src/components/index.ts
Due: eslint --fix

fix: `ActionLink` import
  packages/layout/src/components/ActionLink/index.ts
Due: eslint --fix

chore: `DarkModeProvider`
  packages/layout/src/DarkModeProvider.tsx
Due: eslint --fix

chore: remove unused `ManageWorkspaceFallback`
  packages/layout/src/ManageWorkspaceFallback.spec.tsx
  packages/layout/src/ManageWorkspaceFallback.tsx
Due: eslint --fix

chore: imports
  packages/layout/src/index.ts
Due: eslint --fix

chore: `LayoutLogo`
  packages/layout/src/components/LayoutLogo/LayoutLogo.spec.tsx
  packages/layout/src/components/LayoutLogo/LayoutLogo.stories.tsx
  packages/layout/src/components/LayoutLogo/LayoutLogo.tsx
  packages/layout/src/components/LayoutLogo/__snapshots__/LayoutLogo.spec.tsx.snap
  packages/layout/src/components/LayoutLogo/index.ts
  packages/layout/src/components/index.ts
  packages/layout/src/index.ts
  packages/layout/src/layouts/HeroLayout/HeroLayout.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutAside.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayout.tsx
  packages/onboarding-ui/src/pages/InvalidLinkPage/InvalidLinkPage.tsx
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
  packages/onboarding-ui/src/pages/LoginLinkEmailPage/LoginLinkEmailPage.tsx
  packages/onboarding-ui/src/pages/RedirectPage/RedirectPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordConfirmationPage/ResetPasswordConfirmationPage.tsx
  packages/onboarding-ui/src/pages/SomethingWentWrongPage/SomethingWentWrongPage.tsx
Due: eslint --fix

chore: `BackgroundLayer` tweak
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.stories.tsx
Due: eslint --fix

chore: `FormPageLayout`
  packages/layout/src/components/FormPageLayout/FormPageLayout.stories.tsx
  packages/layout/src/components/FormPageLayout/FormSteps.tsx
  packages/layout/src/components/FormPageLayout/__snapshots__/FormPageLayout.spec.tsx.snap
Due: eslint --fix

fix(onboarding-ui): Alignment on Register server step (#1599)
  .changeset/proud-hotels-bake.md
  packages/onboarding-ui/.jest/setup.ts
  packages/onboarding-ui/src/common/AgreeTermsField.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
