Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix(fuselage-hooks): `usePosition` fallback positioning (#1142)
  packages/fuselage-hooks/src/usePosition/index.spec.ts
  packages/fuselage-hooks/src/usePosition/index.ts
Due: eslint --fix

fix(onboarding-ui): Development warnings (#1129)
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAria.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/layout/src/FormPageLayout/FormPageLayout.styles.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/onboarding-ui/src/common/FormPageLayout.tsx
  packages/onboarding-ui/src/common/PlanFeatureIcon.tsx
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
  packages/onboarding-ui/src/pages/RedirectPage/RedirectPage.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
  packages/onboarding-ui/src/pages/StandaloneServerPage/StandaloneServerPage.tsx
Due: eslint --fix

chore: toggleSwitch improves
  packages/fuselage/.storybook/helpers.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.spec.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.stories.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
Due: eslint --fix

chore(fuselage): `ToggleSwitch` best practices adjustments (#1146)
  packages/fuselage/.storybook/helpers.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.spec.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.stories.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
Due: eslint --fix

review
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix

review: jest setup extend
  packages/fuselage/.jest/setup.ts
  packages/fuselage/src/components/Accordion/Accordion.spec.tsx
  packages/fuselage/src/components/Button/Button.spec.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.spec.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.spec.tsx
  packages/fuselage/src/components/Field/Field.spec.tsx
  packages/fuselage/src/components/Label/Label.spec.tsx
  packages/fuselage/src/components/Table/Table.spec.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.spec.tsx
Due: eslint --fix

Allow keep visible
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolboxWrapper.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): Prop to keep MessageToolbox visible. (#1147)
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolboxWrapper.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): `Button` size (#1144)
  packages/fuselage/.jest/setup.ts
  packages/fuselage/src/components/Accordion/Accordion.spec.tsx
  packages/fuselage/src/components/Button/Button.spec.tsx
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.spec.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.spec.tsx
  packages/fuselage/src/components/Field/Field.spec.tsx
  packages/fuselage/src/components/Label/Label.spec.tsx
  packages/fuselage/src/components/Table/Table.spec.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.spec.tsx
Due: eslint --fix, stylelint --fix

chore: Avatar improves
  packages/fuselage/src/components/Avatar/Avatar.spec.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/AvatarContainer.tsx
  packages/fuselage/src/components/Avatar/AvatarStack.tsx
  packages/fuselage/src/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/fuselage/src/components/Avatar/index.tsx
Due: eslint --fix

chore: modal improves
  packages/fuselage/src/components/Modal/Modal.spec.tsx
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/src/components/Modal/ModalTitle.tsx
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
Due: eslint --fix

chore(fuselage): `Modal` a11y improvements (#1149)
  packages/fuselage/src/components/Modal/Modal.spec.tsx
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/src/components/Modal/ModalTitle.tsx
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
Due: eslint --fix

fix: aria-label prop
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

chore: update snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
Due: none

chore(fuselage): `Avatar` a11y improvements (#1148)
  packages/fuselage/src/components/Avatar/Avatar.spec.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/AvatarContainer.tsx
  packages/fuselage/src/components/Avatar/AvatarStack.tsx
  packages/fuselage/src/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/fuselage/src/components/Avatar/index.tsx
Due: eslint --fix

fix(fuselage): Remove unnecessary `aria-label` fallback in `IconButton` (#1150)
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
Due: eslint --fix

create useElementIsVisible
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useElementIsVisible.ts
Due: eslint --fix

fix: Field deprecation message only for assigned components
  packages/fuselage/src/components/Field/index.tsx
Due: eslint --fix

fix(fuselage): `Field` deprecation message (#1153)
  packages/fuselage/src/components/Field/index.tsx
Due: eslint --fix

feat: create useElementIsVisible (#1152)
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useElementIsVisible.ts
Due: eslint --fix

fix
  packages/ui-kit/README.md
  packages/ui-kit/package.json
  packages/ui-kit/src/blocks/layout/CalloutBlock.ts
Due: eslint --fix, prettier --write

fix(ui-kit): Remove `icons` package dependency in `ui-kit` package (#1154)
  packages/ui-kit/README.md
  packages/ui-kit/package.json
  packages/ui-kit/src/blocks/layout/CalloutBlock.ts
Due: eslint --fix, prettier --write

fix: click-animation selector to ignore status badges
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/IconButton.stories.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): `IconButton` with badge click-animation (#1155)
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/IconButton.stories.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): Unable to remove items on PaginatedMultiSelect
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
Due: eslint --fix

chore: apply color contrast report changes
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
Due: stylelint --fix

fix: prevent button-disabled click transform
  packages/fuselage/src/styles/primitives/button.scss
Due: stylelint --fix

chore(fuselage): color a11y report changes (#1157)
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
Due: stylelint --fix

fix(fuselage): prevent button-disabled click animation (#1158)
  packages/fuselage/src/styles/primitives/button.scss
Due: stylelint --fix

another way to get duration of duration audio file
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

fix(fuselage): `AudioPlayer`: `Infinity` duration audio files crashing (#1159)
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

fix: position OptionInput with correct margins and alignment
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
Due: eslint --fix, stylelint --fix

chore: RadioButton improvements
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
Due: eslint --fix

tests
  packages/fuselage/src/components/RadioButton/RadioButton.spec.tsx
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
Due: eslint --fix

fix: test
  packages/fuselage/src/components/RadioButton/RadioButton.spec.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.stories.tsx
Due: eslint --fix

fix: update snapshot
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
Due: none

fix(fuselage): `OptionInput` margins and alignment (#1161)
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
Due: eslint --fix, stylelint --fix

add: rocketchat icon
  packages/icons/glyphsMapping.json
  packages/icons/src/legacy/brands/rocketchat.svg
Due: prettier --write

review
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
Due: eslint --fix

chore: add changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/cd.yml
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
