Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

feat(css-in-js,emitter,fuselage,fuselage-hooks): remove UMD build configuration and unpkg entry from package.json files
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.mjs
  packages/emitter/package.json
  packages/emitter/rollup.config.mjs
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/rollup.config.mjs
  packages/fuselage/webpack.config.js
Due: eslint --fix, prettier --write

chore: add changeset
  .changeset/tricky-nails-sing.md
Due: prettier --write

feat(fuselage): internalize `Position` in favor of `PositionAnimated`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Position/Position.stories.tsx
  packages/fuselage/src/components/Position/index.ts
  packages/fuselage/src/components/PositionAnimated/Position.tsx
  packages/fuselage/src/components/PositionAnimated/PositionAnimated.tsx
  packages/fuselage/src/components/index.ts
  packages/fuselage/test/snapshots/layout-position--bottom-end-desktop.png
  packages/fuselage/test/snapshots/layout-position--bottom-middle-desktop.png
  packages/fuselage/test/snapshots/layout-position--bottom-start-desktop.png
  packages/fuselage/test/snapshots/layout-position--left-end-desktop.png
  packages/fuselage/test/snapshots/layout-position--left-middle-desktop.png
  packages/fuselage/test/snapshots/layout-position--left-start-desktop.png
  packages/fuselage/test/snapshots/layout-position--right-end-desktop.png
  packages/fuselage/test/snapshots/layout-position--right-middle-desktop.png
  packages/fuselage/test/snapshots/layout-position--right-start-desktop.png
  packages/fuselage/test/snapshots/layout-position--top-end-desktop.png
  packages/fuselage/test/snapshots/layout-position--top-middle-desktop.png
  packages/fuselage/test/snapshots/layout-position--top-start-desktop.png
Due: eslint --fix, prettier --write

feat(css-in-js,emitter,fuselage,fuselage-hooks): Remove UMD builds (#2072)
  .changeset/tricky-nails-sing.md
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.mjs
  packages/emitter/package.json
  packages/emitter/rollup.config.mjs
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/rollup.config.mjs
  packages/fuselage/webpack.config.js
Due: eslint --fix, prettier --write

fix: grant missing contents/issues permissions to pr-title check job
  .github/workflows/pr-title.yml
Due: prettier --write

fix(fuselage): adapt `NavBarSection` to match previous (accidental) runtime behavior
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
Due: eslint --fix

chore: add changeset
  .changeset/cold-cases-kiss.md
Due: prettier --write

refactor(fuselage): make SidebarV2Banner divider explicit
  .changeset/sidebar-banner-explicit-divider.md
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

refactor(fuselage): elevate SidebarV2Banner default surface
  .changeset/sidebar-banner-explicit-divider.md
  packages/fuselage/src/components/SidebarV2/variables.scss
Due: stylelint --fix, prettier --write

feat(fuselage): flexible SidebarV2Banner layout + closePlacement
  .changeset/sidebar-banner-explicit-divider.md
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarBanner.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): close-top places close button absolute so content is full-width
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

always show pre-selected value
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
Due: eslint --fix

add changeset
  .changeset/chatty-fans-guess.md
Due: prettier --write

refactor
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
Due: eslint --fix

fix(fuselage): Adapt `NavBarSection` to match previous (accidental) runtime behavior (#2078)
  .changeset/cold-cases-kiss.md
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
Due: eslint --fix, prettier --write

fix: pass `visible` (not `visibility`) to PositionAnimated in multi-selects
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
Due: eslint --fix

add changeset
  .changeset/shiny-worms-film.md
Due: prettier --write

chore: adjust for unicode emojis
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.stories.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/__snapshots__/MessageReactions.spec.tsx.snap
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.stories.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
Due: eslint --fix, stylelint --fix

fix: `MultiSelect`/`PaginatedMultiSelect` dropdowns never open (#2085)
  .changeset/shiny-worms-film.md
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
Due: eslint --fix, prettier --write

chore: visual reg
  packages/fuselage/test/snapshots/message-message--message-with-thread-desktop.png
  packages/fuselage/test/snapshots/message-message--with-sequential-desktop.png
  packages/fuselage/test/snapshots/message-messagereactions--default-desktop.png
  packages/fuselage/test/snapshots/message-threadmessage--with-emoji-desktop.png
Due: none

Create thirty-otters-swim.md
  .changeset/thirty-otters-swim.md
Due: prettier --write

fix: Remove duplicated calendar icon on date inputs in Firefox
  .changeset/wise-chairs-show.md
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
Due: stylelint --fix, prettier --write

fix: Restore NavBarSection rendering under React 19
  .changeset/nice-bats-cough.md
  packages/fuselage/src/components/NavBar/NavBarSection.spec.tsx
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
  packages/fuselage/src/helpers/patchChildren.ts
Due: eslint --fix, prettier --write

fix: preserve options change and sync the value changes
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

chore(fuselage-tokens): update builder to match status-bullet format naming
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/config.js
Due: eslint --fix

chore(fuselage): consume semantic tokens instead of primitive
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

chore(fuselage): consume semantic tokens instead of primitive
  packages/fuselage/src/styles/mixins/elevation.scss
  packages/fuselage/src/styles/primitives/traits.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

update visual snapshot
  packages/fuselage/test/snapshots/inputs-autocomplete--async-loading-desktop.png
Due: none

chore(ai): add prototype for AGENTS.md
  AGENTS.md
Due: prettier --write

chore(ai): add more directives to AGENTS.md
  AGENTS.md
Due: prettier --write

chore(ai): cite lint and test scripts
  AGENTS.md
Due: prettier --write

refactor(fuselage): fix type violations against AGENTS.md guidelines
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/MenuPopover.tsx
  packages/fuselage/src/components/Menu/stately/PartialNode.tsx
  packages/fuselage/src/components/Popover/Popover.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
Due: eslint --fix, prettier --write

refactor(fuselage,layout): fix children prop violations against AGENTS.md guidelines
  packages/fuselage/src/components/AnimatedVisibility/AnimatedVisibility.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Box/Box.spec.tsx
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Chevron/Chevron.tsx
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Flex/FlexContainer.tsx
  packages/fuselage/src/components/Flex/FlexItem.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/Margins/Margins.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarSection.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarToolBox.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarWrapper.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
  packages/fuselage/src/components/Table/TableCell.tsx
  packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/layout/src/DarkModeProvider.tsx
Due: eslint --fix

chore(ai): add commit message directives to AGENTS.md
  AGENTS.md
Due: prettier --write

chore: add AGENTS.md (#2066)
  AGENTS.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/AnimatedVisibility/AnimatedVisibility.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Box/Box.spec.tsx
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Chevron/Chevron.tsx
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Flex/FlexContainer.tsx
  packages/fuselage/src/components/Flex/FlexItem.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/Margins/Margins.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/MenuPopover.tsx
  packages/fuselage/src/components/Menu/stately/PartialNode.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Popover/Popover.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarSection.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarToolBox.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarWrapper.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
  packages/fuselage/src/components/Table/TableCell.tsx
  packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/layout/src/DarkModeProvider.tsx
Due: eslint --fix, prettier --write

fix(fuselage): Adjust sizings for unicode emojis (#2086)
  .changeset/thirty-otters-swim.md
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.stories.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/__snapshots__/MessageReactions.spec.tsx.snap
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.stories.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/test/snapshots/message-message--message-with-thread-desktop.png
  packages/fuselage/test/snapshots/message-message--with-sequential-desktop.png
  packages/fuselage/test/snapshots/message-messagereactions--default-desktop.png
  packages/fuselage/test/snapshots/message-threadmessage--with-emoji-desktop.png
Due: eslint --fix, stylelint --fix, prettier --write

chore: remove primitive tokens usage from `Theme.ts`
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

chore: remove unused kodiak configuration
  .kodiak.toml
Due: none

refactor(fuselage): deprecate styling props' aliases
  packages/fuselage/src/components/Box/stylingProps.ts
Due: eslint --fix
