Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

fix
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
Due: stylelint --fix

revert
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

add elevation to all.scss
  packages/fuselage/src/styles/mixins/all.scss
Due: stylelint --fix

revert ToastBar
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

fix(fuselage): Update Banner Styles (#912)
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/styles/mixins/all.scss
  packages/fuselage/src/styles/mixins/elevation.scss
Due: stylelint --fix

refactor: add cursor pointer to threade message preview row
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
Due: stylelint --fix

add badge tokens to Theme palette. Update badge tokens usage
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

Add D550 and P550 tokens to colors
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

Add border on tile elevation
  packages/fuselage/src/components/Tile/Tile.styles.scss
Due: stylelint --fix

Add border on tile elevation (#916)
  packages/fuselage/src/components/Tile/Tile.styles.scss
Due: stylelint --fix

chore(fuselage, fuselage-tokens): Add badge tokens (#915)
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

chore(fuselage): Allow scape colors tokens (#913)
  packages/fuselage/src/components/Sidebar/Item.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

chore(fuselage): Update Box font color stories (#906)
  packages/fuselage/src/components/Box/props.stories.mdx
Due: eslint --fix

chore: banner z-index
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage/src/components/Banner/Banner.styles.scss
Due: eslint --fix, stylelint --fix

chore(fuselage): z-index sanitization on Banner and ToastBar
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage/src/components/Banner/Banner.styles.scss
Due: eslint --fix, stylelint --fix

Add primitive token N250. Update stroke-extra-light
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

add status-warning-2 and service-3 tokens
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

Update Badge color to font-pure-white
  packages/fuselage/src/components/Badge/Badge.styles.scss
Due: stylelint --fix

add S1000
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
Due: eslint --fix, stylelint --fix, prettier --write

Add pure-black and pure-white to Theme
  packages/fuselage/src/Theme.ts
Due: eslint --fix

fix change
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/src/colors.jsonc
Due: eslint --fix, prettier --write

fix
  packages/fuselage/src/Theme.ts
Due: eslint --fix

add status fonts
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

add status font on Theme
  packages/fuselage/src/Theme.ts
Due: eslint --fix

fix
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

fix
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

update message editing color and background-color
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

chore(fuselage, fuselage-tokens): Update tokens (#918)
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

wip
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

review
  README.md
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/getPaletteColor.ts
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/mixins/elevation.scss
Due: eslint --fix, stylelint --fix, prettier --write

fix missing css vars
  packages/fuselage/src/styles/mixins/elevation.scss
Due: stylelint --fix

lint
  packages/fuselage/src/components/Box/stylingProps.ts
Due: eslint --fix

chore(fuselage): Add Elevation tokens (#919)
  README.md
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/getPaletteColor.ts
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/mixins/elevation.scss
Due: eslint --fix, stylelint --fix, prettier --write

chore: remove border from elevation
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/styles/mixins/elevation.scss
Due: eslint --fix, stylelint --fix

fix: toastbar elevation
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

add color- prefix on elevation-level function
  packages/fuselage/src/styles/mixins/elevation.scss
Due: stylelint --fix

fix(fuselage): Elevation token (#920)
  packages/fuselage/src/styles/mixins/elevation.scss
Due: stylelint --fix

new: featured tag variant
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

review
  packages/fuselage/src/components/Tag/Tag.styles.scss
Due: stylelint --fix

fix: tweaks
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix
