Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

refactor(fuselage, fuselage-forms): update `MultiSelectProps['renderSelected'] to require all props
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
Due: eslint --fix, prettier --write

feat: update React and ReactDOM to version 19.2 across all packages
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.spec.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  packages/fuselage/src/components/Menu/__snapshots__/Menu.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.spec.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
  packages/fuselage/src/components/PaginatedSelect/__snapshots__/PaginatedSelectFiltered.spec.tsx.snap
  packages/fuselage/src/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/fuselage/src/components/Sidepanel/__snapshots__/Sidepanel.spec.tsx.snap
  packages/layout/package.json
  packages/layout/src/components/LayoutLogo/__snapshots__/LayoutLogo.spec.tsx.snap
  packages/layout/src/components/TooltipWrapper/__snapshots__/TooltipWrapper.spec.tsx.snap
  packages/layout/src/layouts/HeroLayout/__snapshots__/HeroLayout.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
  packages/logo/package.json
  packages/onboarding-ui/package.json
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
  packages/styled/package.json
  tools/build-logo/package.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor(fuselage): upgrade `react-keyed-flatten-children`
  packages/fuselage/package.json
  packages/fuselage/src/helpers/patchChildren.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(fuselage): prevent ref override
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
Due: eslint --fix

refactor(fuselage): update event types to use MouseEvent for consistency across components
  packages/fuselage/src/components/MultiSelect/SelectedOptions.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
Due: eslint --fix

refactor(fuselage,fuselage-hooks, layout): replace MutableRefObject with RefObject for improved type consistency
  packages/fuselage-hooks/fuselage-hooks.api.md
  packages/fuselage-hooks/src/useLazyRef.ts
  packages/fuselage-hooks/src/useMergedRefs.ts
  packages/fuselage-hooks/src/useOutsideClick.spec.ts
  packages/fuselage-hooks/src/useStableArray.ts
  packages/fuselage-hooks/src/useStorage.ts
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/layout/layout.api.md
  packages/layout/src/components/TooltipWrapper/TooltipWrapper.tsx
Due: eslint --fix, prettier --write

chore: add changeset
  .changeset/floppy-icons-retire.md
Due: prettier --write

refactor(fuselage-hooks): change `useMergedRefs` signature to accept optional refs
  packages/fuselage-hooks/fuselage-hooks.api.md
  packages/fuselage-hooks/src/useMergedRefs.ts
Due: eslint --fix, prettier --write

wip
  packages/fuselage/src/components/Menu/Menu.spec.tsx
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/MenuDropdown.tsx
  packages/fuselage/src/components/Menu/MenuPopover.tsx
  packages/fuselage/src/components/Menu/MenuPortalContext.ts
  packages/fuselage/src/components/Menu/MenuSection.tsx
  packages/fuselage/src/components/Menu/MenuSubmenu.tsx
  packages/fuselage/src/components/Menu/__snapshots__/Menu.spec.tsx.snap
  packages/fuselage/src/components/Menu/index.ts
  packages/fuselage/src/components/Menu/stately/MenuSubmenuTrigger.tsx
  packages/fuselage/src/components/Popover/Popover.tsx
Due: eslint --fix

fix: review
  packages/fuselage/src/components/Menu/Menu.spec.tsx
  packages/fuselage/src/components/Menu/MenuDropdown.tsx
  packages/fuselage/src/components/Menu/MenuPopover.tsx
  packages/fuselage/src/components/Menu/MenuSubmenu.tsx
  packages/fuselage/src/components/Popover/Popover.tsx
Due: eslint --fix

change width in favor of flex-basis
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
Due: stylelint --fix

add changeset
  .changeset/cold-knives-post.md
Due: prettier --write

lint
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
Due: stylelint --fix

chore: update snapshots
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  packages/fuselage/src/components/Menu/__snapshots__/Menu.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
  packages/fuselage/src/components/PaginatedSelect/__snapshots__/PaginatedSelectFiltered.spec.tsx.snap
  packages/fuselage/src/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/fuselage/src/components/Sidepanel/__snapshots__/Sidepanel.spec.tsx.snap
  packages/fuselage/test/snapshots/navigation-menu--with-rich-submenu-trigger-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--with-submenu-desktop.png
Due: eslint --fix

chore: remove story undesired parameter
  packages/fuselage/src/components/Menu/Menu.stories.tsx
Due: eslint --fix

chore: changeset
  .changeset/real-pianos-shine.md
Due: prettier --write

feat: add menu support to SidebarCollapseGroup
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/SidebarV2/SidebarCollapseGroupMenu.tsx
  packages/fuselage/src/components/SidebarV2/SidebarGroupTitle.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
  packages/fuselage/src/components/SidebarV2/index.ts
Due: eslint --fix, stylelint --fix

fix(fuselage): prevent MultiSelect dropdown from reopening on toggle click
  .changeset/multiselect-toggle-reopen.md
  packages/fuselage/src/components/MultiSelect/MultiSelect.spec.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
Due: eslint --fix, prettier --write

refactor(styled): remove `forwardRef` usage
  packages/styled/src/index.ts
  packages/styled/src/styled.ts
  packages/styled/styled.api.md
Due: eslint --fix, prettier --write

chore(layout): update API report
  packages/layout/layout.api.md
Due: prettier --write

fix: a11y violation
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarGroupTitle.tsx
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/good-aliens-laugh.md
Due: prettier --write

fix(fuselage): remove unsupported labelChildren control from CheckBox stories
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
Due: eslint --fix

refactor(styled): Remove `forwardRef` usage (#2047)
  packages/layout/layout.api.md
  packages/styled/src/index.ts
  packages/styled/src/styled.ts
  packages/styled/styled.api.md
Due: eslint --fix, prettier --write

chore(deps): bump @storybook/icons from 1.2.12 to 1.6.0
  packages/storybook-dark-mode/package.json
  yarn.lock
Due: prettier --write

chore(deps): bump react-timing-hooks from 4.0.2 to 5.2.0
  packages/fuselage-toastbar/package.json
  yarn.lock
Due: prettier --write

chore(deps): bump @types/react from ~19.2.16 to ~19.2.17 across multiple packages
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/onboarding-ui/package.json
  packages/storybook-dark-mode/package.json
  packages/styled/package.json
  yarn.lock
Due: prettier --write

chore(deps): add @testing-library/dom dependency at version ~10.4.1
  packages/fuselage-forms/package.json
  yarn.lock
Due: prettier --write

feat(fuselage): extract controlled AudioPlayerControls from AudioPlayer
  .changeset/audio-player-controls.md
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayerControls.tsx
  packages/fuselage/src/components/AudioPlayer/index.ts
Due: eslint --fix, prettier --write

chore(deps): Fix Yarn warnings (#2051)
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/onboarding-ui/package.json
  packages/storybook-dark-mode/package.json
  packages/styled/package.json
  yarn.lock
Due: prettier --write

chore(fuselage): fix import group spacing
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

chore(fuselage): drop Controls story (needs visual-regression baseline)
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
Due: eslint --fix

Update .changeset/audio-player-controls.md
  .changeset/audio-player-controls.md
Due: prettier --write

feat(fuselage): extract controlled AudioPlayerControls from AudioPlayer (#2052)
  .changeset/audio-player-controls.md
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayerControls.tsx
  packages/fuselage/src/components/AudioPlayer/index.ts
Due: eslint --fix, prettier --write

refactor(onboarding-ui): remove forwardRef and simplify component structure
  packages/fuselage/fuselage.api.md
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/WorkspaceUrlInput.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): simplify Box component by removing unnecessary ref handling
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Box/Box.tsx
  packages/layout/layout.api.md
Due: eslint --fix, prettier --write

refactor(fuselage): replace forwardRef with function components for ActionButton, Button, and IconButton
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Button/ActionButton.tsx
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): replace forwardRef with function component for AutoComplete
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
