Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

style lint
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
Due: stylelint --fix

chore: update mobile, tablet refs of AudioPlayer
  packages/fuselage/.loki/.gitignore
  packages/fuselage/.loki/reference/mobile_Media_AudioPlayer_Audio_Player_Default.png
  packages/fuselage/.loki/reference/tablet_Media_AudioPlayer_Audio_Player_Default.png
Due: none

chore: update dealay hook
  packages/fuselage/src/hooks/useDelayCapture.ts
Due: eslint --fix

chore: update hook
  packages/fuselage/src/hooks/useDelayCapture.ts
Due: eslint --fix

chore: test ci only for AudioPlayer
  .github/workflows/ci-pr.yml
Due: prettier --write

Update Field component
  packages/fuselage/src/components/Field/Field.tsx
Due: eslint --fix

Stories
  packages/fuselage/src/components/Field/Field.stories.tsx
Due: eslint --fix

update Field components
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Label/Label.tsx
Due: eslint --fix

update Inputs
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
Due: eslint --fix

feat: `useButtonPattern`
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useButtonPattern.spec.ts
  packages/fuselage-hooks/src/useButtonPattern.ts
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix

chore: changeset
  .changeset/cute-mammals-go.md
Due: prettier --write

fix inset lengths
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
Due: stylelint --fix

refactor: code reuse
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
Due: stylelint --fix

chore: add ref AudioPlayer
  packages/fuselage/.loki/reference/tablet_Media_AudioPlayer_Audio_Player_Default.png
Due: none

fix: req fail AudioPlayer
  packages/fuselage/package.json
Due: prettier --write

feat: WCAG (1.3.1) add FieldLegend component to address missing fieldset legend
  packages/fuselage/src/components/FieldGroup/FieldGroup.stories.tsx
  packages/fuselage/src/components/FieldGroup/FieldLegend.tsx
  packages/fuselage/src/components/FieldGroup/index.ts
Due: eslint --fix

chore: remove useDelayCapture hook
  packages/fuselage/src/hooks/useDelayCapture.ts
Due: eslint --fix

check force turbo build
  package.json
Due: prettier --write

Revert "check force turbo build"
  package.json
Due: prettier --write

try ci by reseting turbo cache
  .github/workflows/ci-pr.yml
Due: prettier --write

Revert "try ci by reseting turbo cache"
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add donwload and upload artifact
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: correct loki path
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add AudioPlayer reliable refs
  .github/workflows/ci-pr.yml
  packages/fuselage/.loki/reference/desktop_Media_AudioPlayer_Audio_Player_Default.png
  packages/fuselage/.loki/reference/mobile_Media_AudioPlayer_Audio_Player_Default.png
Due: prettier --write

chore: add loki async callback for reliable test
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

fix: syntax error
  .github/workflows/ci-pr.yml
Due: prettier --write

fix: lint errors
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

fix: lint errors
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
Due: eslint --fix

fix: adjusted FieldLegend based on feedback – remove class and use AllHTMLAttributes<HTMLLegendElement>
  packages/fuselage/src/components/FieldGroup/FieldLegend.tsx
Due: eslint --fix

chore: update changeset
  .changeset/seven-actors-poke.md
Due: prettier --write

feat(fuselage): Update `ToggleSwitch` size (#1669)
  .changeset/seven-actors-poke.md
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
Due: stylelint --fix, prettier --write

feat(fuselage): Introduce `useButtonPattern` (#1671)
  .changeset/cute-mammals-go.md
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useButtonPattern.spec.ts
  packages/fuselage-hooks/src/useButtonPattern.ts
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix, prettier --write

chore: add refs with toastbar notifications
  packages/fuselage-toastbar/.loki/.gitignore
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Top_Start.png
Due: none

add(loki): chromeSelector
  packages/fuselage-toastbar/package.json
Due: prettier --write

chore: add loki workflow for fuselage-toastbar
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: unread items font-weight should be semi bold
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
Due: stylelint --fix

add changeset
  .changeset/social-clubs-switch.md
Due: prettier --write

feat(fuselage): `SidebarItemV2Title` unread bold styles (#1676)
  .changeset/social-clubs-switch.md
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
Due: stylelint --fix, prettier --write

chore: add fuselage-toastbar artifacts
  .github/workflows/ci-pr.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
