Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

refactor: remove cjs
  _templates/create-package/library/files/package.json.t
  _templates/create-package/library/files/tsconfig.cjs.json.t
  packages/css-supports/package.json
  packages/css-supports/tsconfig.cjs.json
  packages/fuselage-forms/.storybook/main.ts
  packages/fuselage-forms/package.json
  packages/fuselage-forms/tsconfig.cjs.json
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-toastbar/.storybook/main.ts
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/tsconfig.cjs.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage/.storybook/main.ts
  packages/fuselage/README.md
  packages/layout/.storybook/main.ts
  packages/layout/README.md
  packages/layout/package.json
  packages/layout/tsconfig.cjs.json
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/README.md
  packages/onboarding-ui/package.json
  packages/onboarding-ui/tsconfig.cjs.json
  tools/update-readme/templates/section/header.mjs
  yarn.lock
Due: eslint --fix, prettier --write

ouch
  packages/fuselage-forms/.storybook/logo.svg.d.ts
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/Inputs/index.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage-forms/tsconfig.json
  packages/fuselage/package.json
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/CheckBox/index.ts
  packages/fuselage/src/components/NumberInput/NumberInput.tsx
  packages/fuselage/src/components/PasswordInput/PasswordInput.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/UrlInput/UrlInput.tsx
  packages/fuselage/tsconfig.json
  packages/fuselage/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: fuselage-form tests
  packages/fuselage-forms/jest-setup.ts
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage-forms/vite.config.ts
Due: eslint --fix

fix: layout tests
  .vscode/settings.json
  packages/fuselage/src/components/TelephoneInput/__snapshots__/TelephoneInput.spec.tsx.snap
  packages/fuselage/src/components/TextInput/__snapshots__/TextInput.spec.tsx.snap
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
  packages/layout/src/components/ActionLink/ActionLink.spec.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.spec.tsx
  packages/layout/tsconfig.esm.json
  packages/layout/vite.config.ts
Due: eslint --fix, prettier --write

fix: flattenChildren
  packages/fuselage/package.json
  packages/fuselage/src/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageReactions/__snapshots__/MessageReactions.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageSystem/__snapshots__/MessageSystem.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
  packages/fuselage/src/components/Sidebar/TopBar/__snapshots__/TopBar.spec.tsx.snap
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/Tag/__snapshots__/Tag.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
  packages/fuselage/src/components/UrlInput/__snapshots__/UrlInput.spec.tsx.snap
  packages/fuselage/src/helpers/flattenChildren.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: toastbar build
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage-forms/tsconfig.esm.json
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-forms/vitest.setup.ts
  packages/fuselage-hooks/src/useIsomorphicLayoutEffect.server.spec.ts
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
  packages/fuselage-toastbar/src/ToastBarPersistent.tsx
  packages/fuselage-toastbar/src/ToastBarProvider.tsx
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage-toastbar/src/index.ts
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage-toastbar/vite.config.ts
  packages/fuselage-toastbar/vitest.setup.ts
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Callout/Callout.spec.tsx
  packages/fuselage/src/components/FramedIcon/FramedIcon.spec.tsx
  packages/fuselage/src/components/FramedIcon/__snapshots__/FramedIcon.spec.tsx.snap
  packages/fuselage/src/components/Margins/Margins.spec.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.spec.tsx
  packages/fuselage/src/components/PaginatedSelect/__snapshots__/PaginatedSelectFiltered.spec.tsx.snap
  packages/fuselage/src/components/TextInput/__snapshots__/TextInput.spec.tsx.snap
  packages/fuselage/tsconfig.build.json
  packages/fuselage/tsconfig.json
  packages/fuselage/vite.config.ts
  packages/fuselage/vitest.setup.ts
  packages/onboarding-ui/.storybook/logo.svg.d.ts
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: fuselage tests
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
  packages/fuselage/src/components/Callout/__snapshots__/Callout.spec.tsx.snap
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
  packages/fuselage/src/components/CardGrid/__snapshots__/CardGrid.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/CodeSnippet/__snapshots__/CodeSnippet.spec.tsx.snap
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/EmailInput/__snapshots__/EmailInput.spec.tsx.snap
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/FramedIcon/__snapshots__/FramedIcon.spec.tsx.snap
  packages/fuselage/src/components/InputBox/__snapshots__/InputBox.spec.tsx.snap
  packages/fuselage/src/components/Label/__snapshots__/Label.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageReactions/__snapshots__/MessageReactions.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageToolbar/__snapshots__/MessageToolbar.spec.tsx.snap
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.spec.tsx
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
  packages/fuselage/src/components/NumberInput/__snapshots__/NumberInput.spec.tsx.snap
  packages/fuselage/src/components/PaginatedSelect/__snapshots__/PaginatedSelectFiltered.spec.tsx.snap
  packages/fuselage/src/components/PasswordInput/__snapshots__/PasswordInput.spec.tsx.snap
  packages/fuselage/src/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/SearchInput/__snapshots__/SearchInput.spec.tsx.snap
  packages/fuselage/src/components/SelectInput/__snapshots__/SelectInput.spec.tsx.snap
  packages/fuselage/src/components/Sidebar/TopBar/TopBar.spec.tsx
  packages/fuselage/src/components/Sidebar/TopBar/__snapshots__/TopBar.spec.tsx.snap
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/Tag/__snapshots__/Tag.spec.tsx.snap
  packages/fuselage/src/components/TelephoneInput/__snapshots__/TelephoneInput.spec.tsx.snap
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
  packages/fuselage/src/components/UrlInput/__snapshots__/UrlInput.spec.tsx.snap
  packages/fuselage/vite.config.ts
  packages/fuselage/vitest.setup.ts
Due: eslint --fix

fix: onboarding ui lint errors
  eslint.config.mjs
  packages/fuselage-forms/jest-setup.ts
  packages/fuselage-forms/jest.config.ts
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-hooks/rollup.config.mjs
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/jest-setup.ts
  packages/fuselage-toastbar/jest.config.ts
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
  packages/fuselage-toastbar/tsconfig.esm.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage/.babelrc.js
  packages/fuselage/.storybook/main.ts
  packages/fuselage/jest-setup.ts
  packages/fuselage/jest.config.ts
  packages/fuselage/package.json
  packages/fuselage/src/components/Box/Box.spec.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.spec.tsx
  packages/fuselage/tsconfig.json
  packages/mp3-encoder/rollup.config.mjs
  packages/mp3-encoder/tsconfig.json
  packages/onboarding-ui/.jest/ResizeObserverMock.ts
  packages/onboarding-ui/.jest/setup.ts
  packages/onboarding-ui/babel.config.js
  packages/onboarding-ui/tsconfig.esm.json
  packages/onboarding-ui/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

fix: css-in-js build
  packages/css-in-js/jest.config.js
  packages/css-in-js/src/index.ts
  packages/css-in-js/src/names.spec.ts
  packages/css-in-js/src/tags.spec.ts
  packages/css-in-js/src/tags.ts
  packages/css-in-js/src/transpile.spec.ts
  packages/css-in-js/tsconfig.json
  packages/css-in-js/vite.config.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

fix: fuselage-toastbar test
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
  packages/fuselage-toastbar/vitest.setup.ts
Due: eslint --fix

fix: fuselage-toastbar storybook-build
  packages/fuselage-toastbar/babel.config.js
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
Due: eslint --fix

chore: change icon name
  packages/icons/glyphsMapping.json
  packages/icons/src/hash-shield.svg
  packages/icons/src/team-shield.svg
Due: prettier --write

fix: build
  _templates/create-package/library/prompt.js
  packages/emitter/jest.config.js
  packages/fuselage/webpack.config.js
  packages/logo/babel.config.js
  packages/mp3-encoder/babel.config.js
  packages/mp3-encoder/jest.config.js
  packages/onboarding-ui/jest.config.js
  packages/prettier-config/default/index.js
  packages/prettier-config/fuselage/index.js
  tools/testing-utils/mocks/withResizeObserverMock.js
Due: eslint --fix

fix: logo <- css-in-js <- memo resolution
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.mjs
  packages/css-supports/tsconfig.json
  packages/memo/package.json
  packages/memo/src/index.ts
  packages/memo/src/memoize.spec.ts
  packages/memo/tsconfig-cjs.json
  packages/memo/tsconfig.json
  packages/memo/vite.config.ts
Due: eslint --fix, prettier --write

fix(onboarding-ui): exclude dist from tests
  packages/onboarding-ui/jest.config.js
  packages/onboarding-ui/vite.config.ts
Due: eslint --fix

fix
  packages/icons/glyphsMapping.json
Due: prettier --write

Update shy-plums-move.md
  .changeset/shy-plums-move.md
Due: prettier --write

review: icons
  packages/icons/src/hash-shield.svg
  packages/icons/src/team-shield.svg
Due: prettier --write

chore: lint
  packages/icons/src/hash-shield.svg
  packages/icons/src/team-shield.svg
Due: prettier --write

chore: review
  packages/icons/src/team-shield.svg
Due: prettier --write

feat(icons): Add new `team-shield` and `hash-shield` icons (#1776)
  .changeset/shy-plums-move.md
  packages/icons/glyphsMapping.json
  packages/icons/src/hash-shield.svg
  packages/icons/src/team-shield.svg
Due: prettier --write

feat: render divider conditionally
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
Due: eslint --fix

chore: changeset
  .changeset/modern-schools-work.md
Due: prettier --write

feat(fuselage): Render `Divider` between `NavbarSection` childs (#1779)
  .changeset/modern-schools-work.md
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
Due: eslint --fix, prettier --write

fix: check parent component name to render divider
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
Due: eslint --fix

chore: changeset
  .changeset/brown-kings-worry.md
Due: prettier --write

fix(fuselage): Check for `NavbarGroup` to render divider between childs in `NavbarSection` (#1781)
  .changeset/brown-kings-worry.md
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
Due: eslint --fix, prettier --write

Stricten type for props that receive components
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Badge/Badge.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/OptionsEmpty.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
Due: eslint --fix

Do not use `React.*` namespace
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
  packages/fuselage/src/components/SidebarV2/SidebarGroupTitle.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
Due: eslint --fix

Make `Options` and `AutoComplete` generic
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Options/OptionType.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
Due: eslint --fix

Adjust `AutoComplete` exports
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
