Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

refactor(fuselage): Use `IconProps` references
  packages/fuselage/src/components/Button/ActionButton.tsx
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Callout/Callout.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarAction.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarIcon.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarAction.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarIcon.tsx
  packages/fuselage/src/components/Icon/Icon.stories.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/Icon/index.ts
  packages/fuselage/src/components/Label/LabelInfo.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemIcon.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicatorItem.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageIcon.tsx
  packages/fuselage/src/components/Modal/ModalIcon.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemIcon.tsx
  packages/fuselage/src/components/States/StatesIcon.tsx
Due: eslint --fix

refactor(fuselage): Use `ButtonProps` references
  packages/fuselage/src/components/Contextualbar/ContextualbarButton.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarButton.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsReply.tsx
  packages/fuselage/src/components/States/StatesAction.tsx
  packages/fuselage/src/components/Table/TableSelection/TableSelectionButton.tsx
Due: eslint --fix

refactor(fuselage): Use `IconButtonProps` references
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Button/index.ts
  packages/fuselage/src/components/Contextualbar/ContextualbarAction.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarAction.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbarItem.tsx
  packages/fuselage/src/components/NavBar/NavBarItem.tsx
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
  packages/fuselage/src/components/SidebarV2/SidebarAction.tsx
Due: eslint --fix

refactor(fuselage): Use `AvatarProps` references
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Modal/ModalThumb.tsx
Due: eslint --fix

refactor(fuselage): Use `StatesIconProps` references
  packages/fuselage/src/components/Contextualbar/ContextualbarEmptyContent.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarEmptyContent.tsx
  packages/fuselage/src/components/States/StatesIcon.tsx
  packages/fuselage/src/components/States/index.ts
Due: eslint --fix

refactor(fuselage): Use `CardProps` references
  packages/fuselage/src/components/Card/Card.tsx
  packages/fuselage/src/components/Card/CardBody.tsx
  packages/fuselage/src/components/Card/index.ts
  packages/fuselage/src/components/CardGrid/CardGrid.stories.tsx
  packages/fuselage/src/components/CardGrid/CardGrid.tsx
  packages/fuselage/src/components/CardGrid/index.ts
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
Due: eslint --fix

chore(fuselage): Remove type assertion from stories
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
  packages/fuselage/src/components/Flex/Flex.stories.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/SidebarItem.stories.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBar.stories.tsx
  packages/fuselage/src/components/States/States.stories.tsx
  packages/fuselage/src/components/Table/Table.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix

chore(build): Use standard tsconfig naming convention
  packages/fuselage-tokens/tsconfig.cjs.json
  packages/logo/package.json
  packages/logo/tsconfig.cjs.json
  packages/logo/tsconfig.esm.json
  packages/memo/package.json
  packages/memo/tsconfig.cjs.json
  packages/memo/tsconfig.esm.json
  packages/string-helpers/package.json
  packages/string-helpers/tsconfig.cjs.json
  packages/styled/package.json
  packages/styled/tsconfig.cjs.json
  packages/styled/tsconfig.esm.json
  packages/stylis-logical-props-middleware/package.json
  packages/stylis-logical-props-middleware/tsconfig.cjs.json
  packages/stylis-logical-props-middleware/tsconfig.esm.json
Due: prettier --write

chore(build): Set more type-checking directives in the base tsconfig
  eslint.config.mjs
  packages/css-in-js/src/sheet.ts
  packages/fuselage-toastbar/src/ToastBarPortal.ts
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Field/FieldLabelInfo.tsx
  packages/fuselage/src/components/Field/FieldLink.tsx
  packages/fuselage/src/components/Field/FieldRow.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Slider/Slider.spec.tsx
  packages/fuselage/src/styleTokens.ts
  packages/mp3-encoder/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore(build): Set more emit directives in the base tsconfig
  packages/css-in-js/tsconfig.json
  packages/emitter/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage/tsconfig.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
  tsconfig.base.json
Due: prettier --write

chore(build): Use common tsconfig as base
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
Due: prettier --write

chore(build): Disable JavaScript support in tsconfig
  packages/fuselage/tsconfig.json
  tsconfig.base.json
Due: prettier --write

chore(build): Set more interop directives in the base tsconfig
  packages/css-in-js/src/index.ts
  packages/css-in-js/tsconfig.json
  packages/css-supports/tsconfig.json
  packages/emitter/tsconfig.json
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage-toastbar/tsconfig.esm.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage/tsconfig.json
  packages/layout/tsconfig.cjs.json
  packages/layout/tsconfig.esm.json
  packages/layout/tsconfig.json
  packages/logo/tsconfig-cjs.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/mp3-encoder/tsconfig.json
  packages/onboarding-ui/.jest/setup.ts
  packages/onboarding-ui/tsconfig.cjs.json
  packages/onboarding-ui/tsconfig.esm.json
  packages/onboarding-ui/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore(build): Set more module directives in the base tsconfig
  packages/css-in-js/tsconfig.json
  packages/css-supports/tsconfig.cjs.json
  packages/css-supports/tsconfig.json
  packages/emitter/tsconfig.json
  packages/fuselage-forms/.storybook/globals.d.ts
  packages/fuselage-forms/tsconfig.cjs.json
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage-toastbar/.storybook/globals.d.ts
  packages/fuselage-toastbar/tsconfig.cjs.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage-tokens/tsconfig-cjs.json
  packages/fuselage/.storybook/globals.d.ts
  packages/fuselage/tsconfig.json
  packages/layout/.storybook/globals.d.ts
  packages/layout/tsconfig.cjs.json
  packages/layout/tsconfig.json
  packages/logo/tsconfig-cjs.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig-cjs.json
  packages/memo/tsconfig.json
  packages/mp3-encoder/tsconfig.json
  packages/onboarding-ui/.storybook/globals.d.ts
  packages/onboarding-ui/tsconfig.cjs.json
  packages/onboarding-ui/tsconfig.json
  packages/string-helpers/tsconfig-cjs.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig-cjs.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig-cjs.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore(build): Set more language directives in the base tsconfig
  packages/emitter/tsconfig.json
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage/tsconfig.json
  packages/layout/tsconfig.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/onboarding-ui/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
  tools/scripts/tsconfig.json
  tsconfig.base.json
Due: prettier --write

test: Use vitest
  packages/css-in-js/jest.config.js
  packages/css-in-js/package.json
  packages/css-in-js/src/names.spec.ts
  packages/css-in-js/src/tags.spec.ts
  packages/css-in-js/src/transpile.spec.ts
  packages/css-in-js/tsconfig.build.json
  packages/css-in-js/tsconfig.json
  packages/css-in-js/vitest.config.ts
  packages/emitter/jest.config.js
  packages/emitter/package.json
  packages/emitter/src/emitter.spec.ts
  packages/fuselage-forms/package.json
  packages/string-helpers/.prettierignore
  packages/string-helpers/package.json
  packages/string-helpers/src/capitalize.spec.ts
  packages/string-helpers/src/escapeHTML.spec.ts
  packages/string-helpers/src/escapeRegExp.spec.ts
  packages/string-helpers/src/unescapeHTML.spec.ts
  packages/string-helpers/tsconfig.cjs.json
  packages/string-helpers/tsconfig.esm.json
  packages/styled/.prettierignore
  packages/styled/jest.config.js
  packages/styled/package.json
  packages/styled/src/styled.spec.ts
  packages/styled/tsconfig.cjs.json
  packages/styled/tsconfig.json
  packages/styled/vitest.config.ts
  packages/stylis-logical-props-middleware/.prettierignore
  packages/stylis-logical-props-middleware/jest.config.js
  packages/stylis-logical-props-middleware/package.json
  yarn.lock
Due: eslint --fix, prettier --write

add new icons
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-down-left.svg
  packages/icons/src/arrow-up-right.svg
Due: prettier --write

Add phone-question-mark
  packages/icons/glyphsMapping.json
  packages/icons/src/phone-question-mark.svg
Due: prettier --write

Lint
  packages/icons/src/arrow-down-left.svg
  packages/icons/src/arrow-up-right.svg
  packages/icons/src/phone-question-mark.svg
Due: prettier --write

add changeset
  .changeset/angry-schools-boil.md
Due: prettier --write

chore(deps): Upgrade Yarn
  .yarn/releases/yarn-4.11.0.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

chore(esm): Declare some tools packages as ESM
  tools/build-design-tokens/index.js
  tools/build-design-tokens/package.json
  tools/build-icons/build.js
  tools/build-icons/font.js
  tools/build-icons/glyphs.js
  tools/build-icons/index.js
  tools/build-icons/package.json
  tools/build-icons/svg.js
  tools/build-logo/index.js
  tools/build-logo/package.json
  tools/lint-all/lint-and-fix.js
  tools/lint-all/lint.js
  tools/lint-all/package.json
  tools/update-readme/package.json
  tools/update-readme/templates/badges.js
  tools/update-readme/templates/badges/bundleSizeBadge.js
  tools/update-readme/templates/badges/depsBadge.js
  tools/update-readme/templates/badges/licenseBadge.js
  tools/update-readme/templates/badges/npmDownloadsBadge.js
  tools/update-readme/templates/badges/npmPeerDepVersionBadge.js
  tools/update-readme/templates/badges/npmVersionBadge.js
  tools/update-readme/templates/badges/storybookBadge.js
  tools/update-readme/templates/pkgReadme.js
  tools/update-readme/templates/rocketChatLogo.js
  tools/update-readme/templates/rootReadme.js
  tools/update-readme/templates/section.js
  tools/update-readme/templates/section/addDeps.js
  tools/update-readme/templates/section/contributingMessage.js
  tools/update-readme/templates/section/header.js
  tools/update-readme/templates/section/install.js
  tools/update-readme/templates/section/yarnCmd.js
  tools/update-readme/update-readme.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): Upgrade turbo
  package.json
  yarn.lock
Due: prettier --write

chore(build): Limit `skipLibCheck` usage
  packages/css-in-js/tsconfig.json
  packages/css-supports/tsconfig.json
  packages/emitter/tsconfig.json
  packages/fuselage/.storybook/globals.d.ts
  packages/fuselage/src/globals.d.ts
  packages/fuselage/src/scss.d.ts
  packages/fuselage/tsconfig.json
  packages/logo/tsconfig.json
  packages/memo/tsconfig.json
  packages/mp3-encoder/tsconfig.json
  packages/string-helpers/tsconfig.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.json
Due: eslint --fix, prettier --write

chore(esm): Declare `scripts` as an ESM package
  tools/scripts/package.json
  tools/scripts/src/resolve-workspace-deps.ts
  tools/scripts/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(build): Set `erasableSyntaxOnly` directive
  packages/mp3-encoder/tsconfig.json
  tsconfig.base.json
Due: prettier --write

feat(fuselage): Use non-polyfilled CSS custom properties
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
  packages/fuselage/src/helpers/toCSSValue.ts
  packages/fuselage/webpack.config.js
  packages/layout/src/components/ActionLink/__snapshots__/ActionLink.spec.tsx.snap
  packages/layout/src/components/FormPageLayout/__snapshots__/FormPageLayout.spec.tsx.snap
  packages/layout/src/components/List/__snapshots__/List.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
  packages/layout/src/layouts/VerticalWizardLayout/__snapshots__/VerticalWizardLayout.spec.tsx.snap
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): Adapt webpack config to ESM format
  packages/fuselage/package.json
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): Remove unused PostCSS plugin
  packages/fuselage/package.json
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): Upgrade caniuse-lite
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

chore(fuselage): Fix circular reference in Storybook
  packages/fuselage/.storybook/helpers.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
Due: eslint --fix

chore: Add changeset
  .changeset/nice-ties-go.md
Due: prettier --write

fix: resolve responsiveness issues in state section
  packages/fuselage/src/components/SearchInput/SearchInput.stories.tsx
Due: eslint --fix

chore: add changeset
  packages/fuselage/.changeset/README.md
  packages/fuselage/.changeset/config.json
  packages/fuselage/.changeset/famous-experts-chew.md
Due: prettier --write
