Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix: Country select not closing
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
Due: eslint --fix

Create country-select-input.md
  .changeset/country-select-input.md
Due: prettier --write

fix: Country Select not closing (#1250)
  .changeset/country-select-input.md
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
Due: eslint --fix, prettier --write

feat(fuselage): `FramedIcon` new component (#1249)
  .changeset/large-shirts-pull.md
  packages/fuselage/src/components/FramedIcon/FramedIcon.spec.tsx
  packages/fuselage/src/components/FramedIcon/FramedIcon.stories.tsx
  packages/fuselage/src/components/FramedIcon/FramedIcon.styles.scss
  packages/fuselage/src/components/FramedIcon/FramedIcon.tsx
  packages/fuselage/src/components/FramedIcon/__snapshots__/FramedIcon.spec.tsx.snap
  packages/fuselage/src/components/FramedIcon/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

chore: `CardGroup` HTMLAttributes
  packages/fuselage/src/components/CardGroup/CardGroup.tsx
Due: eslint --fix

chore: clickable `Card`
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/Card.tsx
Due: eslint --fix, stylelint --fix

chore(onboarding-ui): normalize `Button` loading state (#1212)
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/PasteStep.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.tsx
Due: eslint --fix

chore: card improvements
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/CardTitle.tsx
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
Due: eslint --fix, stylelint --fix

reorganize styles
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/Card.styles.scss
Due: eslint --fix, stylelint --fix

chore: update snapshots
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
  packages/fuselage/src/components/CardGrid/__snapshots__/CardGrid.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
Due: none

chore: improve stories
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
  packages/fuselage/src/components/CardGrid/CardGrid.stories.tsx
  packages/fuselage/src/components/CardGrid/__snapshots__/CardGrid.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
Due: eslint --fix

chore(fuselage): `Card` improvements (#1254)
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/Card.tsx
  packages/fuselage/src/components/Card/CardTitle.tsx
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
  packages/fuselage/src/components/CardGrid/CardGrid.stories.tsx
  packages/fuselage/src/components/CardGrid/__snapshots__/CardGrid.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
  packages/fuselage/src/components/CardGroup/CardGroup.tsx
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
Due: eslint --fix, stylelint --fix

fix(fuselage): spread `FramedIcon` HTMLAttributes props
  packages/fuselage/src/components/FramedIcon/FramedIcon.tsx
Due: eslint --fix

chore: changeset
  .changeset/many-cobras-whisper.md
Due: prettier --write

fix(fuselage): `FramedIcon` HTMLAttributes props (#1255)
  .changeset/many-cobras-whisper.md
  packages/fuselage/src/components/FramedIcon/FramedIcon.tsx
Due: eslint --fix, prettier --write

fix types
  packages/fuselage-hooks/src/useElementIsVisible.ts
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix

Made changes in grammar.pegjs
  packages/message-parser/src/grammar.pegjs
Due: none

Removed the console.log messages
  packages/message-parser/src/grammar.pegjs
Due: none

fix: `isOpen` condition
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

wip
  README.md
  package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/Chip/Chip.tsx
  packages/fuselage/src/components/Option/index.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/components/SelectV3/AsyncSelect.tsx
  packages/fuselage/src/components/SelectV3/ComboBox.styles.scss
  packages/fuselage/src/components/SelectV3/Control.tsx
  packages/fuselage/src/components/SelectV3/DropdownIndicator.tsx
  packages/fuselage/src/components/SelectV3/MultiValue.tsx
  packages/fuselage/src/components/SelectV3/SelectMenu.tsx
  packages/fuselage/src/components/SelectV3/SelectOption.tsx
  packages/fuselage/src/components/SelectV3/SelectV3.stories.tsx
  packages/fuselage/src/components/SelectV3/SelectV3.tsx
  packages/fuselage/src/components/SelectV3/index.ts
  packages/fuselage/src/components/index.ts
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore: changeset
  .changeset/eleven-mails-fail.md
Due: prettier --write

feat(fuselage): Adds `detached` prop to render `Menu` on the document body (#1087)
  .changeset/eleven-mails-fail.md
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix, prettier --write

wip SelectV3 styles
  packages/eslint-config-alt/typescript/index.js
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/SelectV3/AsyncSelect.tsx
  packages/fuselage/src/components/SelectV3/ComboBox.styles.scss
  packages/fuselage/src/components/SelectV3/Control.tsx
  packages/fuselage/src/components/SelectV3/SelectMenu.tsx
  packages/fuselage/src/components/SelectV3/SelectOption.tsx
  packages/fuselage/src/components/SelectV3/SelectV3.stories.tsx
  packages/fuselage/src/components/SelectV3/SelectV3.styles.scss
  packages/fuselage/src/components/SelectV3/SelectV3.tsx
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Due: eslint --fix, stylelint --fix

wip styles
  packages/fuselage/src/components/SelectV3/SelectV3.styles.scss
Due: stylelint --fix

`SelectOption` refinement
  packages/fuselage/src/components/SelectV3/SelectOption.tsx
Due: eslint --fix

`DropdownIndicator` refinement
  packages/fuselage/src/components/SelectV3/DropdownIndicator.tsx
  packages/fuselage/src/components/SelectV3/SelectV3.styles.scss
Due: eslint --fix, stylelint --fix

FuselageBox type
  packages/fuselage/src/types/FuselageBoxHTMLAttributes.ts
Due: eslint --fix

`MultiValue` refinement
  packages/fuselage/src/components/Chip/Chip.tsx
  packages/fuselage/src/components/SelectV3/MultiValue.tsx
  packages/fuselage/src/components/SelectV3/SelectV3.stories.tsx
  packages/fuselage/src/components/SelectV3/SelectV3.styles.scss
  packages/fuselage/src/components/SelectV3/SelectV3.tsx
Due: eslint --fix, stylelint --fix

`Chip` dismiss button rules
  packages/fuselage/src/components/Chip/Chip.stories.tsx
  packages/fuselage/src/components/Chip/Chip.tsx
Due: eslint --fix

Deprecate `useMutableCallback` in favor of `useEffectEvent`
  .vscode/settings.json
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useClipboard.ts
  packages/fuselage-hooks/src/useEffectEvent.server.spec.ts
  packages/fuselage-hooks/src/useEffectEvent.spec.ts
  packages/fuselage-hooks/src/useEffectEvent.ts
  packages/fuselage-hooks/src/useElementIsVisible.ts
  packages/fuselage-hooks/src/useMutableCallback.ts
  packages/fuselage-hooks/src/useOutsideClick.ts
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage-hooks/src/useToggle.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/Options/useVisible.ts
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
Due: eslint --fix, prettier --write

Add changeset
  .changeset/fluffy-toys-fix.md
Due: prettier --write

feat(fuselage-hooks): Deprecate `useMutableCallback` in favor of `useEffectEvent` (#1244)
  .changeset/fluffy-toys-fix.md
  .vscode/settings.json
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useClipboard.ts
  packages/fuselage-hooks/src/useEffectEvent.server.spec.ts
  packages/fuselage-hooks/src/useEffectEvent.spec.ts
  packages/fuselage-hooks/src/useEffectEvent.ts
  packages/fuselage-hooks/src/useElementIsVisible.ts
  packages/fuselage-hooks/src/useMutableCallback.ts
  packages/fuselage-hooks/src/useOutsideClick.ts
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage-hooks/src/useToggle.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/Options/useVisible.ts
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
Due: eslint --fix, prettier --write

chore: update changeset
  .changeset/shy-hotels-play.md
Due: prettier --write

fix: lengths
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

feat(fuselage): Add missing message body additional styles to `MessageBody` (#1221)
  .changeset/shy-hotels-play.md
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix, prettier --write

Implemented conversion of plain text in brackets to non-link format
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
Due: eslint --fix

Added the test cases for the new inline strike
  packages/message-parser/src/definitions.ts
  packages/message-parser/tests/inlineCodeStrike.test.ts
Due: eslint --fix

feat: messageFocus
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/mixins.scss
  packages/fuselage/src/styles/mixins/shadows.scss
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/brown-rabbits-pay.md
Due: prettier --write

fix(message-parser): Made changes in grammar.pegjs for the strikedown approach (#1256)
  .changeset/unlucky-melons-compete.md
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/inlineCodeStrike.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
