Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

remove background token
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

chore(fuselage): Remove background token (#895)
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

adding languages support to mention and channel parser
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/mention.test.ts
Due: eslint --fix

fix(message-parser): User mention with @ character (#894)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/mention.test.ts
Due: eslint --fix

escaping only necessary characters
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/escaped.test.ts
Due: eslint --fix

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: prettier --write

fixing typo
  packages/message-parser/tests/escaped.test.ts
Due: eslint --fix

fix(message-parser): Escaping only necessary characters (#899)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/escaped.test.ts
Due: eslint --fix

fix phone pattern check
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/phoneNumber.test.ts
Due: eslint --fix

adding more test and fixing parser
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/phoneNumber.test.ts
Due: eslint --fix

fixing left char tight with phone number
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/phoneNumber.test.ts
Due: eslint --fix

fix(message-parser): Phone pattern (#900)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/phoneNumber.test.ts
Due: eslint --fix

adding file path structure to URL reference builder
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

fix(message-parser): Add file path structure to URL reference markdown (#901)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

fixing link token
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/phoneNumber.test.ts
Due: eslint --fix

chore: update packages
  yarn.lock
Due: none

fix(fuselage): Message palette colors (#896)
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
Due: stylelint --fix

chore(monorepo): update packages for security (#903)
  yarn.lock
Due: none

fix: adding heading tag styles to messages
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

test(fuselage): add test cases to Badge component (#827)
  packages/fuselage/src/components/Badge/Badge.spec.tsx
  packages/fuselage/src/components/Badge/Badge.stories.tsx
Due: eslint --fix

feat: new banner style
  packages/fuselage/src/components/Banner/Banner.stories.js
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix, stylelint --fix

fix box color props stories
  packages/fuselage/src/components/Box/props.stories.mdx
Due: eslint --fix

adding story to heading message
  packages/fuselage/src/components/Message/Messages.stories.tsx
Due: eslint --fix

chore: typo
  packages/fuselage/src/components/Banner/Banner.stories.js
Due: eslint --fix

fix(fuselage): Adding heading tag styles to messages (#904)
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

feat(fuselage): Update Banner Component style (#905)
  packages/fuselage/src/components/Banner/Banner.stories.js
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix, stylelint --fix

chore(icons): Add double chevron and equal icons
  packages/icons/glyphsMapping.json
  packages/icons/src/chevron-double-down.svg
  packages/icons/src/chevron-double-up.svg
  packages/icons/src/equal.svg
Due: prettier --write

chore(icons): Add double chevron and equal icons (#907)
  packages/icons/glyphsMapping.json
  packages/icons/src/chevron-double-down.svg
  packages/icons/src/chevron-double-up.svg
  packages/icons/src/equal.svg
Due: prettier --write

add state to videoconf blocks
  packages/ui-kit/src/blocks/layout/VideoConferenceBlock.ts
Due: eslint --fix

change borders 2px -> 1px
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Pagination/Pagination.styles.scss
  packages/fuselage/src/components/Slider/SliderTrack.tsx
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
Due: eslint --fix, stylelint --fix

fix Chevron vertical position
  packages/fuselage/src/components/Chevron/Chevron.styles.scss
Due: stylelint --fix

fix storage not reacting if there are multiple in same page
  packages/fuselage-hooks/src/useStorage.ts
Due: eslint --fix

fix(fuselage-hooks): fix storage not reacting if there are multiple in same page (#911)
  packages/fuselage-hooks/src/useStorage.ts
Due: eslint --fix

Add font-default token to Banner text
  packages/fuselage/src/components/Banner/Banner.styles.scss
Due: stylelint --fix

fix elevations
  packages/fuselage/src/components/Banner/Banner.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

add z-index to Banner
  packages/fuselage/src/components/Banner/Banner.styles.scss
Due: stylelint --fix

Remove ToastBar elevation
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

Create elevation mixin. Refactor Banner to use elevationLevel mixin.
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Banner/Banner.tsx
  packages/fuselage/src/styles/mixins/elevation.scss
Due: eslint --fix, stylelint --fix

Add ToastBar elevation
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
Due: stylelint --fix

allow scape colors
  packages/fuselage/src/components/Sidebar/Item.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix
