Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

update snaps
  packages/fuselage/src/components/Sidebar/TopBar/__snapshots__/TopBar.spec.tsx.snap
Due: none

chore: change `SidebarDivider` margin unit (#1408)
  packages/fuselage/src/components/Sidebar/SidebarDivider.tsx
  packages/fuselage/src/components/Sidebar/TopBar/__snapshots__/TopBar.spec.tsx.snap
Due: eslint --fix

fix: types
  packages/fuselage/src/components/Table/TableSelection/TableSelectionButton.tsx
Due: eslint --fix

chore: snapshot tests
  packages/fuselage/src/components/Table/Table.spec.tsx
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
Due: eslint --fix

chore: changeset
  .changeset/clever-candles-shop.md
Due: prettier --write

feat: apply visual changes
  packages/fuselage/src/components/Table/Table.stories.tsx
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Table/Table.tsx
  packages/fuselage/src/components/Table/TableSelection/TableSelection.tsx
  packages/fuselage/src/components/Table/TableSelection/TableSelectionButton.tsx
  packages/fuselage/src/components/Table/TableSelection/TableSelectionButtonGroup.tsx
  packages/fuselage/src/components/Table/TableSelection/index.ts
  packages/fuselage/src/components/Table/index.ts
Due: eslint --fix, stylelint --fix

feat(fuselage): `TableSelection` visual improvements (#1409)
  .changeset/clever-candles-shop.md
  packages/fuselage/src/components/Table/Table.spec.tsx
  packages/fuselage/src/components/Table/Table.stories.tsx
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Table/Table.tsx
  packages/fuselage/src/components/Table/TableSelection/TableSelection.tsx
  packages/fuselage/src/components/Table/TableSelection/TableSelectionButton.tsx
  packages/fuselage/src/components/Table/TableSelection/TableSelectionButtonGroup.tsx
  packages/fuselage/src/components/Table/TableSelection/index.ts
  packages/fuselage/src/components/Table/TableSelectionButton.tsx
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/Table/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

feat: add react-timing-hooks
  packages/fuselage-toastbar/package.json
  yarn.lock
Due: prettier --write

fix: review
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix, stylelint --fix

chore: update snapshots
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
Due: none

feat(fuselage-toastbar): Pause ToastBar timer while hovering (#1406)
  .changeset/eight-needles-push.md
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
  yarn.lock
Due: eslint --fix, prettier --write

Fix: ensure hovered option gets un-hovered properly
  packages/fuselage/src/components/Menu/V2/MenuOption.tsx
Due: eslint --fix

chore: Upgrade Turborepo
  package.json
  turbo.json
  yarn.lock
Due: prettier --write

update icons
  packages/icons/glyphsMapping.json
  packages/icons/src/ai.svg
  packages/icons/src/at.svg
  packages/icons/src/ball.svg
  packages/icons/src/ban.svg
  packages/icons/src/bell-off.svg
  packages/icons/src/bell.svg
  packages/icons/src/cloud-arrow-down.svg
  packages/icons/src/cloud-arrow-up.svg
  packages/icons/src/cloud-plus.svg
  packages/icons/src/cloud.svg
  packages/icons/src/compass.svg
  packages/icons/src/exit.dir.svg
  packages/icons/src/eye-off.svg
  packages/icons/src/eye.svg
  packages/icons/src/home.svg
  packages/icons/src/key.dir.svg
  packages/icons/src/legacy/file-keynote.svg
  packages/icons/src/login.svg
  packages/icons/src/moon.svg
  packages/icons/src/person-arms-spread.svg
  packages/icons/src/rocket.svg
  packages/icons/src/share-alt.svg
  packages/icons/src/spanner.svg
  packages/icons/src/stars.svg
  packages/icons/src/store.svg
  packages/icons/src/sun.svg
Due: prettier --write

new icons
  packages/icons/glyphsMapping.json
Due: prettier --write

fix fill-rule
  packages/icons/src/ai.svg
  packages/icons/src/ball.svg
  packages/icons/src/ban.svg
  packages/icons/src/bell.svg
  packages/icons/src/cloud.svg
  packages/icons/src/compass.svg
  packages/icons/src/home.svg
Due: prettier --write

fix
  packages/icons/src/ai.svg
  packages/icons/src/aliases/palette.svg
  packages/icons/src/ball.svg
  packages/icons/src/ban.svg
  packages/icons/src/bell.svg
  packages/icons/src/cloud.svg
  packages/icons/src/compass.svg
  packages/icons/src/headphone-off.svg
  packages/icons/src/headphone.svg
  packages/icons/src/home.svg
  packages/icons/src/legacy/sort-down.other.svg
  packages/icons/src/legacy/sort-up.other.svg
  packages/icons/src/sun.svg
Due: prettier --write

ups
  packages/icons/src/legacy/sort-down.other.svg
  packages/icons/src/legacy/sort-up.other.svg
Due: prettier --write

chore: Upgrade Turborepo (#1413)
  package.json
  turbo.json
  yarn.lock
Due: prettier --write

Create dirty-birds-tap.md
  .changeset/dirty-birds-tap.md
Due: prettier --write

Update dirty-birds-tap.md
  .changeset/dirty-birds-tap.md
Due: prettier --write

feat: introduce actions prop
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/Callout/Callout.tsx
Due: eslint --fix, stylelint --fix

chore: update snapshots
  packages/fuselage/src/components/Callout/__snapshots__/Callout.spec.tsx.snap
Due: none

feat(icons): Add new and updated icons (#1414)
  .changeset/dirty-birds-tap.md
  packages/icons/glyphsMapping.json
  packages/icons/src/ai.svg
  packages/icons/src/aliases/palette.svg
  packages/icons/src/at.svg
  packages/icons/src/ball.svg
  packages/icons/src/ban.svg
  packages/icons/src/bell-off.svg
  packages/icons/src/bell.svg
  packages/icons/src/cloud-arrow-down.svg
  packages/icons/src/cloud-arrow-up.svg
  packages/icons/src/cloud-plus.svg
  packages/icons/src/cloud.svg
  packages/icons/src/compass.svg
  packages/icons/src/exit.dir.svg
  packages/icons/src/eye-off.svg
  packages/icons/src/eye.svg
  packages/icons/src/headphone-off.svg
  packages/icons/src/headphone.svg
  packages/icons/src/home.svg
  packages/icons/src/key.dir.svg
  packages/icons/src/legacy/file-keynote.svg
  packages/icons/src/login.svg
  packages/icons/src/moon.svg
  packages/icons/src/person-arms-spread.svg
  packages/icons/src/rocket.svg
  packages/icons/src/share-alt.svg
  packages/icons/src/spanner.svg
  packages/icons/src/stars.svg
  packages/icons/src/store.svg
  packages/icons/src/sun.svg
Due: prettier --write

fix: review
  packages/fuselage/src/components/Callout/Callout.styles.scss
Due: stylelint --fix

fix: use resizeObserver instead of media query
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/Callout/Callout.tsx
Due: eslint --fix, stylelint --fix

chore: mock ResizeObserver
  packages/fuselage/.jest/setup.ts
Due: eslint --fix

chore: changeset
  .changeset/sharp-paws-mix.md
Due: prettier --write

Add new metric styles
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.styles.scss
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemAvatarRow.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemAvatarRowContent.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/index.ts
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsReply.tsx
  packages/fuselage/src/components/Message/MessageMetrics/index.tsx
Due: eslint --fix, stylelint --fix

add cs
  .changeset/two-doors-clean.md
Due: prettier --write

fix alt text
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
Due: eslint --fix

remove comment
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
Due: eslint --fix

update design
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.styles.scss
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsReply.tsx
Due: eslint --fix, stylelint --fix

update snapshot
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
Due: none

forward MessageBlock ref
  packages/fuselage/src/components/Message/MessageBlock.tsx
Due: eslint --fix

chore: Remove `lint-staged`
  .husky/pre-commit
  .vscode/settings.json
  README.md
  _templates/create-package/library/files/package.json.t
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  turbo.json
  yarn.lock
Due: prettier --write

chore: Remove `lint-staged` (#1419)
  .husky/pre-commit
  .vscode/settings.json
  README.md
  _templates/create-package/library/files/package.json.t
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  turbo.json
  yarn.lock
Due: prettier --write

Upgrade TypeScript
  _templates/create-package/library/files/package.json.t
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade `@types/react`, `@types/react-dom`, and `csstype`
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write
