Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): `StatusBullet` not using the stylesheets
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
Due: eslint --fix

Fix SCSS imports
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  packages/fuselage/src/components/index.scss
Due: stylelint --fix

fix(fuselage): `StatusBullet` not using the stylesheets (#833)
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
  packages/fuselage/src/components/index.scss
Due: eslint --fix, stylelint --fix

fix(ui-kit): export VideoConferenceBlock
  packages/ui-kit/src/index.ts
Due: eslint --fix

fix: Privacy policy broken link on New Account Form
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
Due: eslint --fix

fix: broken privacy policy on cloud account creation form
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
Due: eslint --fix

fix: Remove italic style from system messages (#830)
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
Due: stylelint --fix

Add dark surface token. Add dark variant for Tooltip
  packages/fuselage-tokens/src/surface/base.json
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

Add DarkTooltip test
  packages/fuselage/src/components/Tooltip/Tooltip.spec.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --fix

fix: Privacy policy broken link on New Account Form (#834)
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
Due: eslint --fix

refactor: rendering and class check tests
  packages/fuselage/src/components/Callout/Callout.spec.tsx
Due: eslint --fix

refactor: stories template
  packages/fuselage/src/components/Callout/Callout.stories.tsx
Due: eslint --fix

refactor: update storybook description
  packages/fuselage/src/components/Callout/Callout.spec.tsx
Due: eslint --fix

feat: :sparkles: New underline variant for the Tabs component
  packages/fuselage/package.json
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/fuselage/src/components/Tabs/TabsItem.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

remove underline prop from TabsItem, fixing styles selector
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tabs/TabsItem.tsx
Due: eslint --fix, stylelint --fix

fix: option spacings
  packages/fuselage/src/components/Option/Option.styles.scss
Due: stylelint --fix

feat: Adding new Styles for Quote Attachmetns
  packages/fuselage/src/components/Message/mixins.scss
Due: stylelint --fix

fix: fixing spacings
  packages/fuselage/src/components/Option/Option.styles.scss
Due: stylelint --fix

chore(release): 0.31.17
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

fix: status bullet theme not loading correctly
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
Due: stylelint --fix

improve: vertical divider
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Divider/Divider.tsx
Due: eslint --fix, stylelint --fix

Use `functions.theme` instead of global `theme`
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
Due: stylelint --fix

Upgrade PostCSS
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

fix(fuselage): `StatusBullet` styles (#841)
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  yarn.lock
Due: stylelint --fix, prettier --write

finished changes
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Divider/Divider.tsx
  packages/layout/src/ActionLink.tsx
  packages/layout/src/BackgroundLayer/BackgroundLayer.styles.tsx
  packages/layout/src/BackgroundLayer/BackgroundLayer.tsx
  packages/layout/src/FormPageLayout/FormFooter.tsx
  packages/layout/src/HeroLayout/HeroLayout.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/layout/src/LayoutLogo.tsx
  packages/layout/src/VerticalWizardLayout/VerticalWizardLayout.tsx
  packages/layout/src/contexts/LayoutContext.ts
Due: eslint --fix, stylelint --fix

lint
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.tsx
Due: eslint --fix

lint
  packages/fuselage/src/components/Divider/Divider.styles.scss
Due: stylelint --fix

chore(release): 0.31.18
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

ops
  packages/layout/src/BackgroundLayer/BackgroundLayer.tsx
Due: eslint --fix

CI CD layout
  .github/workflows/cd.yml
  .github/workflows/ci-pr-closed.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: import tweak
  packages/fuselage/src/components/Divider/Divider.stories.tsx
Due: eslint --fix

Added DarkProvider
  packages/layout/src/HeroLayout/HeroLayout.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/layout/src/ManageWorkspaceFallback.tsx
  packages/layout/src/VerticalWizardLayout/VerticalWizardLayout.tsx
  packages/layout/src/contexts/LayoutContext.ts
Due: eslint --fix

feat(fuselage): Vertical Divider (#840)
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Divider/Divider.tsx
Due: eslint --fix, stylelint --fix

fix: build-storybook layout
  packages/layout/package.json
Due: prettier --write

fix: build-storybook layout
  .github/workflows/cd.yml
  README.md
  packages/layout/README.md
  packages/layout/package.json
Due: prettier --write

fix: build-storybook layout
  .github/workflows/cd.yml
  .github/workflows/ci-pr-closed.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
  README.md
  packages/layout/README.md
  packages/layout/package.json
Due: prettier --write

chore: fix darkModeProvider on fuselage-toastbar
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
