Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

fix(fuselage): misaligned sidebar image (#798)
  packages/fuselage/src/components/Sidebar/styles.scss
Due: stylelint --fix

fix message-parser-custom-protocol
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

Adjust Dropdown animation
  packages/fuselage/src/components/Dropdown/styles.scss
Due: stylelint --fix

Fix animation exit
  packages/fuselage/src/components/Dropdown/styles.scss
Due: stylelint --fix

Update link.test.ts
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

chore(fuselage): Apply react-transition on Dropdown (#797)
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage/package.json
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktopAutoSize.tsx
  packages/fuselage/src/components/Dropdown/styles.scss
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/index.scss
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore(fuselage, fuselage-tokens): Update success button colors (#794)
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix, prettier --write

fix(message-parser): Fix payload generation for custom protocols (#799)
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

fix(message-rewrite): removing emojis inside links
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

chore: create border-radius variables
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/styles.scss
  packages/fuselage/src/components/Badge/styles.scss
  packages/fuselage/src/components/Callout/styles.scss
  packages/fuselage/src/components/CheckBox/styles.scss
  packages/fuselage/src/components/CodeSnippet/styles.scss
  packages/fuselage/src/components/InputBox/styles.scss
  packages/fuselage/src/components/Message/Message.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/index.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/index.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Pagination/styles.scss
  packages/fuselage/src/components/ProgressBar/styles.scss
  packages/fuselage/src/components/RadioButton/styles.scss
  packages/fuselage/src/components/Sidebar/styles.scss
  packages/fuselage/src/components/Skeleton/styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/States.tsx
  packages/fuselage/src/components/StatusBullet/styles.scss
  packages/fuselage/src/components/Table/styles.scss
  packages/fuselage/src/components/Tabs/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/components/Throbber/styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/components/ToggleSwitch/styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
  packages/fuselage/src/styles/variables/all.scss
  packages/fuselage/src/styles/variables/border-radius.scss
Due: eslint --fix, stylelint --fix

chore: more radius
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/primitives/input.scss
Due: stylelint --fix

chore: missing skeleton input
  packages/fuselage/src/components/InputBox/styles.scss
Due: stylelint --fix

ops
  yarn.lock
Due: none

review
  packages/fuselage/src/components/Avatar/styles.scss
  packages/fuselage/src/components/Badge/styles.scss
  packages/fuselage/src/components/Callout/styles.scss
  packages/fuselage/src/components/CheckBox/styles.scss
  packages/fuselage/src/components/CodeSnippet/styles.scss
  packages/fuselage/src/components/InputBox/styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Pagination/styles.scss
  packages/fuselage/src/components/ProgressBar/styles.scss
  packages/fuselage/src/components/RadioButton/styles.scss
  packages/fuselage/src/components/Sidebar/styles.scss
  packages/fuselage/src/components/Skeleton/styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/StatusBullet/styles.scss
  packages/fuselage/src/components/Table/styles.scss
  packages/fuselage/src/components/Tabs/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/components/Throbber/styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/components/ToggleSwitch/styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/styles/lengths.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
  packages/fuselage/src/styles/variables/all.scss
  packages/fuselage/src/styles/variables/border-radius.scss
Due: stylelint --fix

Remove TODOs
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: stylelint --fix

jest
  packages/layout/jest.config.js
Due: eslint --fix

lint
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/components/ToggleSwitch/styles.scss
Due: stylelint --fix

jest
  packages/layout/jest.config.js
  packages/layout/package.json
Due: eslint --fix, prettier --write

add kodiak
  .kodiak.toml
Due: none

chore: Kodiak (#803)
  .kodiak.toml
Due: none

Update .kodiak.toml
  .kodiak.toml
Due: none

Update button-on-secondary-disabled color
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

Update fontOnSecondaryDisabled token
  packages/fuselage-tokens/src/button/base.json
Due: prettier --write

chore(fuselage): Update components border-radius (#801)
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/styles.scss
  packages/fuselage/src/components/Badge/styles.scss
  packages/fuselage/src/components/Callout/styles.scss
  packages/fuselage/src/components/CheckBox/styles.scss
  packages/fuselage/src/components/CodeSnippet/styles.scss
  packages/fuselage/src/components/InputBox/styles.scss
  packages/fuselage/src/components/Message/Message.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/index.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/index.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Pagination/styles.scss
  packages/fuselage/src/components/ProgressBar/styles.scss
  packages/fuselage/src/components/Sidebar/styles.scss
  packages/fuselage/src/components/Skeleton/styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/States.tsx
  packages/fuselage/src/components/Table/styles.scss
  packages/fuselage/src/components/Tabs/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/components/Throbber/styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/ToastBar/styles.scss
  packages/fuselage/src/components/ToggleSwitch/styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/styles/lengths.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: eslint --fix, stylelint --fix

chore: modal tweaks
  packages/fuselage/src/components/Modal/ModalFooterControllers.tsx
  packages/fuselage/src/components/Modal/ModalIcon.tsx
Due: eslint --fix

chore: styles pattern
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/AutoComplete/AutoComplete.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/CheckBox/CheckBox.styles.scss
  packages/fuselage/src/components/Chevron/Chevron.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Dropdown/Dropdown.styles.scss
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/FieldGroup/FieldGroup.styles.scss
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/components/Icon/Icon.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Options/Options.styles.scss
  packages/fuselage/src/components/OptionsPaginated/styles.scss
  packages/fuselage/src/components/PaginatedSelect/styles.scss
  packages/fuselage/src/components/Pagination/Pagination.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/fuselage/src/components/RadioButton/RadioButton.styles.scss
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Throbber/Throbber.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/components/index.scss
Due: stylelint --fix

chore(fuselage): Styles.scss pattern (#805)
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/AutoComplete/AutoComplete.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/CheckBox/CheckBox.styles.scss
  packages/fuselage/src/components/Chevron/Chevron.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Dropdown/Dropdown.styles.scss
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/FieldGroup/FieldGroup.styles.scss
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/components/Icon/Icon.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Modal/ModalFooterControllers.tsx
  packages/fuselage/src/components/Modal/ModalIcon.tsx
  packages/fuselage/src/components/Options/Options.styles.scss
  packages/fuselage/src/components/OptionsPaginated/styles.scss
  packages/fuselage/src/components/PaginatedSelect/styles.scss
  packages/fuselage/src/components/Pagination/Pagination.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/fuselage/src/components/RadioButton/RadioButton.styles.scss
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Throbber/Throbber.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/components/index.scss
Due: eslint --fix, stylelint --fix

feat/layout
  packages/layout/jest.config.js
Due: eslint --fix

fix
  packages/onboarding-ui/src/index.ts
Due: eslint --fix

chore(fuselage, fuselage-tokens): Update button-on-secondary-disabled color (#804)
  packages/fuselage-tokens/src/button/base.json
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix, prettier --write

link test broken
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

more links
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

revert 797
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage/package.json
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktopAutoSize.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/index.scss
  packages/layout/src/BackgroundLayer.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore: Revert #797 (#808)
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage/package.json
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktopAutoSize.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/index.scss
  packages/layout/src/BackgroundLayer.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Tooltip border-radius
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
Due: stylelint --fix

fix: Layout imports
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/CreateNewPasswordPage.tsx
  packages/onboarding-ui/src/pages/RedirectPage/RedirectPage.tsx
Due: eslint --fix
