Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

revert statusBullet colors
  packages/fuselage/src/components/StatusBullet/icons/away.svg
  packages/fuselage/src/components/StatusBullet/icons/busy.svg
  packages/fuselage/src/components/StatusBullet/icons/loading.svg
  packages/fuselage/src/components/StatusBullet/icons/offline.svg
  packages/fuselage/src/components/StatusBullet/styles.scss
Due: stylelint --fix, prettier --write

change button secondary flags
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix

change iconButton secondary flags
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

update flags on stories
  packages/fuselage/src/components/Sidebar/Item.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
Due: eslint --fix

fix: colors and button flags (#750)
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Sidebar/Item.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/StatusBullet/icons/away.svg
  packages/fuselage/src/components/StatusBullet/icons/busy.svg
  packages/fuselage/src/components/StatusBullet/icons/loading.svg
  packages/fuselage/src/components/StatusBullet/icons/offline.svg
  packages/fuselage/src/components/StatusBullet/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

feat: add extra related components
  packages/fuselage/src/components/ContextualBar/ContextualBar.stories.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarAction.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarActions.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarBack.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarButton.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarClose.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarContent.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarFooter.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarIcon.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarInnerContent.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarSkeleton.tsx
  packages/fuselage/src/components/ContextualBar/index.tsx
Due: eslint --fix

fix: remove ghost property from Button and Action
  packages/fuselage/src/components/ContextualBar/ContextualBarAction.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarButton.tsx
Due: eslint --fix

Replace enum with an union type from feedback
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/ui-kit/src/blocks/InputElementDispatchAction.ts
Due: eslint --fix

fix(message-parser): Relative URL being displayed as plain text (#736)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

fix button type
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix

fix: IconButton type (#751)
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix

fix button disabled color
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

Expand emoji detection
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emoji.test.ts
Due: eslint --fix

fix: Button disabled color (#752)
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

fix(message-parser): Expand emoji detection (#753)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emoji.test.ts
Due: eslint --fix

fix IconButton hover color
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

fix(fuselage): IconButton hover color (#754)
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

feat(fuselage-ui-kit): allow dispatchment of actions from input elements (#747)
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/ui-kit/src/blocks/Actionable.ts
  packages/ui-kit/src/blocks/InputElementDispatchAction.ts
  packages/ui-kit/src/index.ts
Due: eslint --fix

Add icons
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-forward.svg
  packages/icons/src/notebook-hashtag-crossed.svg
  packages/icons/src/notebook-hashtag.svg
Due: prettier --write

Fix optionmenu type
  packages/fuselage/src/components/Options/Option/OptionMenu.tsx
Due: eslint --fix

feat(icons): New icons (#755)
  packages/fuselage/src/components/Options/Option/OptionMenu.tsx
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-forward.svg
  packages/icons/src/notebook-hashtag-crossed.svg
  packages/icons/src/notebook-hashtag.svg
Due: eslint --fix, prettier --write

chore(release): 0.31.14
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

chore: update-security
  yarn.lock
Due: none

chore: update handleBars
  yarn.lock
Due: none

chore(monorepo): update depencencies (#756)
  yarn.lock
Due: none

fix: message status private indicator props
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusPrivateIndicator.tsx
Due: eslint --fix

feat: add status indicator text
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicatorText.tsx
Due: eslint --fix, stylelint --fix

fix: change type from unknown to string
  packages/fuselage/src/components/Options/useCursor.ts
Due: eslint --fix

style: add space on example
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
Due: eslint --fix

chore peer dep
  packages/fuselage-toastbar/package.json
  packages/fuselage-ui-kit/package.json
  packages/onboarding-ui/README.md
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

chore: more deps
  packages/fuselage-toastbar/README.md
  packages/fuselage-toastbar/package.json
  packages/fuselage-ui-kit/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

chore(monorepo): move peer deps (#758)
  packages/fuselage-toastbar/README.md
  packages/fuselage-toastbar/package.json
  packages/fuselage-ui-kit/package.json
  packages/onboarding-ui/README.md
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

improve: Select/MultiSelect component
  packages/fuselage-hooks/src/useOutsideClick.ts
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectAddon.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFocus.tsx
  packages/fuselage/src/components/Select/Select.spec.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAddon.tsx
  packages/fuselage/src/components/Select/SelectFocus.tsx
  packages/fuselage/src/components/Select/styles.scss
Due: eslint --fix, stylelint --fix

feat(fuselage-ui-kit): add URL option to the overflow component (#737)
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/useCursor.ts
Due: eslint --fix

Add default type prop to button
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

fix(fuselage): Add default type prop to button (#760)
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

chore(vscode): `vscode-eslint` detecting each workspace
  .vscode/settings.json
Due: prettier --write

chore: improve button group stories
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
Due: eslint --fix

chore(fuselage): improve button group stories (#761)
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
Due: eslint --fix

fix IconButton disabled color and background
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/styles/variables/buttons.scss
Due: eslint --fix, stylelint --fix
