Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Loki
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Icon_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Icon_Default.png
Due: none

Fix initial state not working on multi-page modals
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: eslint --fix

Add new icons for omni source channels
  packages/icons/glyphsMapping.json
  packages/icons/src/apple.svg
  packages/icons/src/facebook-messenger.svg
  packages/icons/src/instagram.svg
  packages/icons/src/omni-twitter.svg
  packages/icons/src/telegram.svg
  packages/icons/src/whatsapp.svg
Due: prettier --write

Use new icons from figma
  packages/icons/glyphsMapping.json
  packages/icons/src/facebook-messenger.svg
  packages/icons/src/instagram.svg
  packages/icons/src/line.svg
  packages/icons/src/omni-twitter.svg
Due: prettier --write

Update loki builds
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Icon_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Icon_Default.png
Due: none

feat(icons): New icons (#596)
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Icon_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Icon_Default.png
  packages/icons/glyphsMapping.json
  packages/icons/src/circle-exclamation.svg
  packages/icons/src/emoji-neutral.svg
Due: prettier --write

Empty states variation proposition
  packages/fuselage/src/components/States/States.stories.tsx
  packages/fuselage/src/components/States/StatesIcon.tsx
Due: eslint --fix

Finish empty states variation
  packages/fuselage/src/components/States/States.stories.tsx
Due: eslint --fix

review
  packages/fuselage/src/components/States/States.stories.tsx
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/StatesIcon.tsx
Due: eslint --fix, stylelint --fix

chore: Option title and export threads (#595)
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option_Default.png
  packages/fuselage/src/components/Box/index.d.ts
  packages/fuselage/src/components/Message/MessageBlock.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItem.tsx
  packages/fuselage/src/components/Message/MessageSystem/MessageSystemBody.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageRow.tsx
  packages/fuselage/src/components/Options/Option/Option.stories.mdx
  packages/fuselage/src/components/Options/Option/OptionTitle.tsx
  packages/fuselage/src/components/Options/Option/index.tsx
  packages/fuselage/src/components/Options/styles.scss
  packages/fuselage/src/components/Select/styles.scss
  packages/fuselage/src/components/SelectPaginated/styles.scss
Due: eslint --fix, stylelint --fix

loki
  packages/fuselage/.loki/reference/chrome_iphone7_States_States_Variations.png
  packages/fuselage/.loki/reference/chrome_laptop_States_States_Variations.png
  packages/fuselage/src/components/States/States.styles.scss
Due: stylelint --fix

lint
  packages/fuselage/src/components/States/States.styles.scss
Due: stylelint --fix

fix lint
  packages/fuselage/src/components/States/States.styles.scss
Due: stylelint --fix

loki
  packages/fuselage/.loki/reference/chrome_laptop_States_States_Action_Button_With_No_Suggestions.png
Due: none

feat: Empty state variations Logic (#598)
  packages/fuselage/.loki/reference/chrome_iphone7_States_States_Variations.png
  packages/fuselage/.loki/reference/chrome_laptop_States_States_Action_Button_With_No_Suggestions.png
  packages/fuselage/.loki/reference/chrome_laptop_States_States_Variations.png
  packages/fuselage/src/components/States/States.stories.tsx
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/StatesIcon.tsx
Due: eslint --fix, stylelint --fix

(fuselage-tokens): Update typography (fuselage): Update typography stories
  packages/fuselage-tokens/src/typography.jsonc
  packages/fuselage-tokens/typography.js
  packages/fuselage-tokens/typography.json
  packages/fuselage-tokens/typography.mjs
  packages/fuselage-tokens/typography.scss
  packages/fuselage-ui-kit/src/blocks/SectionBlock.tsx
  packages/fuselage/src/components/Accordion/Accordion.stories.mdx
  packages/fuselage/src/components/Accordion/Item.stories.mdx
  packages/fuselage/src/components/Box/index.d.ts
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/richContent.stories.mdx
  packages/fuselage/src/components/Chip/styles.scss
  packages/fuselage/src/components/Options/Option/Option.stories.mdx
  packages/fuselage/src/components/Select/Select.js
  packages/onboarding-ui/src/common/Form/FormSubtitle.tsx
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/CreateNewPasswordPage.tsx
  packages/onboarding-ui/src/pages/LoginPage/LoginPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Due: eslint --fix, stylelint --fix, prettier --write

(fuselage): Replace p2 -> p1m, p3 -> p2, p4 -> p2m
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Field/styles.scss
  packages/fuselage/src/components/InputBox/styles.scss
  packages/fuselage/src/components/Label/styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Options/styles.scss
  packages/fuselage/src/components/OptionsPaginated/styles.scss
  packages/fuselage/src/components/Sidebar/styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/Table/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: stylelint --fix

(fuselage): undo autoFormat on richContent.stories
  packages/fuselage/src/components/Box/richContent.stories.mdx
Due: eslint --fix

Remove OptionTitle padding-block-start. Add padding-inline-start on Option.Column
  packages/fuselage/src/components/Options/styles.scss
Due: stylelint --fix

Remove Column padding-inline-start
  packages/fuselage/src/components/Options/styles.scss
  yarn.lock
Due: stylelint --fix

(fuselage): update index.d.ts with new typography
  packages/fuselage/src/components/Box/index.d.ts
Due: eslint --fix

Fixing type errors
  packages/fuselage/src/components/Button/index.d.ts
  packages/fuselage/src/components/Chevron/Chevron.stories.tsx
  packages/fuselage/src/components/Chevron/index.d.ts
  packages/fuselage/src/components/Chip/index.d.ts
  packages/fuselage/src/components/Grid/Grid.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/MultiSelect/index.d.ts
  packages/fuselage/src/components/NumberInput/index.d.ts
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.stories.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/SelectPaginated/SelectPaginated.stories.tsx
  packages/fuselage/src/components/Table/index.d.ts
  packages/fuselage/src/components/Tag/index.d.ts
Due: eslint --fix

Fix SidebarItem type errors
  packages/fuselage/src/components/Sidebar/Item.stories.tsx
  packages/fuselage/src/components/Sidebar/Item.tsx
Due: eslint --fix

states being saved even if element changes
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/fuselage-ui-kit/src/surfaces/FuselageSurfaceRenderer.tsx
Due: eslint --fix

Removed previous proposal
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: eslint --fix

Add a null check for no existing context value
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
Due: eslint --fix

Update kitContext.ts
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
Due: eslint --fix

lint
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
Due: eslint --fix

fix(fuselage-ui-kit): Initial Value being ignored on text input fields upon modal update (#600)
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/fuselage-ui-kit/src/surfaces/FuselageSurfaceRenderer.tsx
Due: eslint --fix

Fix type errors
  packages/fuselage/src/components/Accordion/Item.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Stack.js
  packages/fuselage/src/components/Avatar/index.js
  packages/fuselage/src/components/Box/Scrollable/index.d.ts
  packages/fuselage/src/components/Box/props.stories.tsx
Due: eslint --fix

Replace p4 -> p2m
  packages/fuselage/src/components/Select/Select.js
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.js
  packages/fuselage/src/components/Table/index.js
Due: eslint --fix

loki
  packages/fuselage/.loki/reference/chrome_iphone7_Data_Display_Table_Selected.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_Inputs_SelectPaginated_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_Inputs_SelectPaginated_Disabled.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_Inputs_SelectPaginated_Error.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_Inputs_SelectPaginated_PaginatedMultiSelect_Disabled.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_Inputs_SelectPaginated_PaginatedMultiSelect_Error.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_Inputs_SelectPaginated_Select_with_filter_and_ellipses.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_Inputs_SelectPaginated_WithTitle.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_MultiSelect_MultiSelect.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_MultiSelect_MultiSelect_Disabled.png
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_MultiSelect_MultiSelect_Error.png
  packages/fuselage/.loki/reference/chrome_laptop_Data_Display_Table_Selected.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_Inputs_SelectPaginated_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_Inputs_SelectPaginated_Disabled.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_Inputs_SelectPaginated_Error.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_Inputs_SelectPaginated_PaginatedMultiSelect_Disabled.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_Inputs_SelectPaginated_PaginatedMultiSelect_Error.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_Inputs_SelectPaginated_Select_with_filter_and_ellipses.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_Inputs_SelectPaginated_WithTitle.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_MultiSelect_MultiSelect.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_MultiSelect_MultiSelect_Disabled.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_MultiSelect_MultiSelect_Error.png
Due: none

chore(fuselage, fuselage-tokens): Update new typography (#599)
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
  yarn.lock
Due: prettier --write

Merge original ESLint rules
  packages/eslint-config-alt/minimal/index.js
  packages/eslint-config-alt/original/index.js
  packages/eslint-config-alt/original/rules/best-practices.js
  packages/eslint-config-alt/original/rules/errors.js
  packages/eslint-config-alt/original/rules/es6.js
  packages/eslint-config-alt/original/rules/imports.js
  packages/eslint-config-alt/original/rules/node.js
  packages/eslint-config-alt/original/rules/strict.js
  packages/eslint-config-alt/original/rules/style.js
  packages/eslint-config-alt/original/rules/variables.js
  packages/eslint-config-alt/package.json
  packages/fuselage/package.json
  packages/prettier-config/package.json
  yarn.lock
Due: eslint --fix, prettier --write
