Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): CodeSnippet word-break (#634)
  packages/fuselage/src/components/CodeSnippet/styles.scss
Due: stylelint --fix

fix: ts fixes
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Due: eslint --fix

improve: turns some fields required
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
Due: eslint --fix

review changes
  packages/fuselage/src/components/Menu/Menu.tsx
Due: eslint --fix

chore(fuselage): Convert from js to ts (#633)
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/index.d.ts
  packages/fuselage/src/components/Menu/index.ts
  packages/fuselage/src/components/Options/Options.tsx
Due: eslint --fix

Fix Option types
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Options/CheckOption.tsx
  packages/fuselage/src/components/Options/Option/Option.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/Select/Select.tsx
Due: eslint --fix

WIP
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Options/useCursor.ts
Due: eslint --fix

improve(onboarding-ui): Change some fields to required in OrganizationInfo form (#635)
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
Due: eslint --fix

fix useCursor generic
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Options/useCursor.ts
Due: eslint --fix

Remove unecessary generic
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
Due: eslint --fix

Fix 'conflict'
  packages/fuselage/src/components/Select/Select.tsx
Due: eslint --fix

chore(monorepo): Prefer tilde for semver dependencies
  .yarnrc.yml
Due: prettier --write

chore(monorepo): Stabilize the TypeScript version
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

chore(fuselage, fuselage-ui-kit, onboarding-ui): Upgrade Storybook
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Improve Box type
  packages/fuselage/src/components/Box/index.d.ts
Due: eslint --fix

Restrict BoxProps exporting
  packages/fuselage/src/components/index.ts
Due: eslint --fix

Remove PropTypes API usage
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  packages/fuselage/src/components/Box/index.js
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/Chip/Chip.tsx
  packages/fuselage/src/components/Grid/Grid.tsx
  packages/fuselage/src/components/Grid/GridItem.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/Pagination/Pagination.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/Table/TableCell.tsx
  packages/fuselage/src/helpers/createPropType.ts
  yarn.lock
Due: eslint --fix, prettier --write

Fix InputBox types
  packages/fuselage/src/components/InputBox/InputBox.tsx
Due: eslint --fix

Fix Pagination types
  packages/fuselage/src/components/Pagination/Pagination.tsx
Due: eslint --fix

Strip some typing errors
  packages/fuselage/src/components/Box/Position/Position.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/Chip/Chip.tsx
Due: eslint --fix

Expand unsafe Box props
  packages/eslint-config-alt/typescript/index.js
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Box/index.d.ts
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/Table/Table.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
Due: eslint --fix

Fix some typings
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Box/Position/Position.tsx
  packages/fuselage/src/components/Box/index.d.ts
  packages/fuselage/src/components/Button/ActionButton.tsx
  packages/fuselage/src/components/Chip/Chip.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Fix Table types
  packages/fuselage/src/components/Table/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix

fix: types
  packages/fuselage-hooks/src/useAutoFocus.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Badge/Badge.tsx
  packages/fuselage/src/components/Callout/Callout.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Options/index.ts
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/index.ts
Due: eslint --fix

fix: revert to js
  packages/fuselage/src/components/AutoComplete/AutoComplete.d.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.js
  packages/fuselage/src/components/InputBox/styles.scss
  packages/fuselage/src/components/MultiSelect/MultiSelect.d.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.js
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.d.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.js
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
Due: eslint --fix, stylelint --fix

fix: types
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/EmailInput/EmailInput.tsx
  packages/fuselage/src/components/Icon/IconsList.ts
  packages/fuselage/src/components/NumberInput/NumberInput.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/SearchInput/SearchInput.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.tsx
  packages/fuselage/src/components/SelectPaginated/SelectPaginated.stories.tsx
  packages/fuselage/src/components/Table/Table.stories.tsx
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.tsx
  packages/fuselage/src/components/TextAreaInput/TextArea.tsx
  packages/fuselage/src/components/TextInput/TextInput.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.stories.tsx
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.stories.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.stories.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.tsx
  packages/onboarding-ui/src/pages/RequestTrialPage/RequestTrialPage.stories.tsx
Due: eslint --fix

fix: AutoComplete.d.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.d.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
Due: eslint --fix

chore(release): 0.31.3
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

feat: add reset timer functionality
  packages/memo/src/memoize.spec.ts
  packages/memo/src/memoize.ts
Due: eslint --fix

feat: create timedMemoize function
  packages/memo/src/memoize.spec.ts
  packages/memo/src/memoize.ts
Due: eslint --fix

Add emptyPlaceholder prop to Options empty component
  packages/fuselage/src/components/MultiSelect/MultiSelect.d.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.js
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Due: eslint --fix

Change request: fix Select default value
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
Due: eslint --fix

refactor: join not timed and timed memoize funcs
  packages/memo/src/memoize.spec.ts
  packages/memo/src/memoize.ts
Due: eslint --fix

Add addonIcon prop to Select
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
Due: eslint --fix

refactor: dry timed functions to only one
  packages/memo/src/memoize.ts
Due: eslint --fix

improve: review
  packages/fuselage/src/components/MultiSelect/MultiSelect.d.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.js
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
Due: eslint --fix

improve(fuselage): Add customEmpty to Options (#638)
  packages/fuselage/src/components/MultiSelect/MultiSelect.d.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.js
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Due: eslint --fix

improve: prevent list to open clicking on addon
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
