Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

fix: type
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
Due: eslint --fix

fix: Select with value not showing value
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
Due: eslint --fix

chore(onboarding-ui): improve `OauthAuthorizationPage` when clientName is undefined
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.tsx
Due: eslint --fix

chore: default rendeItem
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

fix(fuselage): Multiselect won't update if value changes (#983)
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
Due: eslint --fix

fix: adjustments Co-authored-by: polkovnikov-ph <polkovnikov.ph@gmail.com>
  packages/message-parser/src/grammar.pegjs
Due: none

chore: stories
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
Due: eslint --fix

refactor: PascalCase rewrite
  packages/message-parser/src/grammar.pegjs
Due: none

fix: PascalCase
  packages/message-parser/src/grammar.pegjs
Due: none

chore: final tweaks?
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

fixing variable names
  packages/message-parser/src/grammar.pegjs
Due: none

fix: TC-538
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

chore: value type
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

refactor(fuselage): AutoComplete (#1014)
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

fix
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
Due: stylelint --fix

fix(fuselage): Avatar element excending container width (#1017)
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
Due: stylelint --fix

refactor: grammar optmization (#1013)
  packages/message-parser/package.json
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
  packages/peggy-loader/package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(message-parser): custom domains whitelist (#1010)
  README.md
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/index.ts
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix, prettier --write

adding css to break word
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

fix(fuselage): MessageBody word break (#1018)
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

Add failing test cases
  packages/message-parser/package.json
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/inlineCode.test.ts
Due: eslint --fix, prettier --write

fix(message-parser): Inline Code with mention and/or mail pattern
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/inlineCode.test.ts
Due: eslint --fix

Add failing test case
  packages/message-parser/tests/emoji.test.ts
Due: eslint --fix

fix(message-parser): Inline Code with mention and/or mail pattern (#1021)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/inlineCode.test.ts
Due: eslint --fix

Align `@types/node`
  package.json
  packages/message-parser/package.json
  packages/peggy-loader/package.json
  packages/uikit-playground/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade ESLint and Prettier
  .vscode/settings.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/.eslintrc.js
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/ui-kit/src/blocks/BlockElementType.ts
  packages/ui-kit/src/blocks/LayoutBlockType.ts
  packages/ui-kit/src/blocks/TextObjectType.ts
  packages/uikit-playground/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade Typedoc and Storybook
  _templates/create-package/library/files/package.json.t
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/.eslintignore
  packages/fuselage-toastbar/.storybook/main.js
  packages/fuselage-toastbar/.storybook/main.ts
  packages/fuselage-toastbar/package.json
  packages/fuselage-ui-kit/.storybook/main.js
  packages/fuselage-ui-kit/.storybook/main.ts
  packages/fuselage-ui-kit/package.json
  packages/fuselage/.storybook/main.js
  packages/fuselage/package.json
  packages/layout/.eslintignore
  packages/layout/.storybook/main.js
  packages/layout/.storybook/main.ts
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/.storybook/main.js
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade Jest
  _templates/create-package/library/files/package.json.t
  packages/css-in-js/package.json
  packages/emitter/jest.config.js
  packages/emitter/package.json
  packages/fuselage-hooks/jest.config.js
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/jest.config.js
  packages/fuselage/package.json
  packages/layout/jest.config.js
  packages/layout/package.json
  packages/logo/jest.config.js
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/loaders/pegtransform.js
  packages/message-parser/package.json
  packages/mp3-encoder/jest.config.js
  packages/mp3-encoder/package.json
  packages/onboarding-ui/jest.config.js
  packages/onboarding-ui/package.json
  packages/peggy-loader/jest.config.js
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/jest.config.js
  packages/styled/package.json
  packages/stylis-logical-props-middleware/jest.config.js
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/jest.config.js
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Patch miscelaneous dependencies
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/index.d.ts
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/layout/.storybook/preview.tsx
  packages/logo/package.json
  packages/message-parser/package.json
  packages/onboarding-ui/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade Babel
  packages/eslint-config-alt/package.json
  packages/fuselage/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: prettier --write

Upgrade Webpack loaders
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/message-parser/package.json
  packages/ui-kit/package.json
  yarn.lock
Due: prettier --write

Upgrade Testing Library
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/src/useOutsideClick.spec.ts
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade xml2js
  tools/build-icons/package.json
  yarn.lock
Due: prettier --write

Upgrade lint-staged
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: prettier --write

Upgrade Stylelint
  packages/fuselage-tokens/.stylelintrc
  packages/fuselage-tokens/package.json
  packages/fuselage/.stylelintrc
  packages/fuselage/package.json
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/icons/.stylelintrc
  packages/icons/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  yarn.lock
Due: stylelint --fix, prettier --write

Reset Node version on GitHub Workflows
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

Upgrade zx
  tools/bump/package.json
  tools/lint-all/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Dedupe
  yarn.lock
Due: none

Adjust Testing Library usage
  packages/fuselage-hooks/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Dropdown/Dropdown.spec.tsx
  packages/fuselage/src/components/Menu/Menu.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write
