Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

change
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix, prettier --write

Create gorgeous-horses-grow.md
  .changeset/gorgeous-horses-grow.md
Due: prettier --write

chore: change button focus shadow colors
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

chore: changeset
  .changeset/plenty-badgers-carry.md
Due: prettier --write

chore: `AdminInfoForm` a11y fixes and improvements
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
Due: eslint --fix, prettier --write

chore: `OrganizationInfoForm` a11y improvements
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
Due: eslint --fix

chore: `RegisterServerForm` a11y improvements
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix

chore: add a11y addon
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: review `AdminInfoForm`
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
Due: eslint --fix

fix: review `OrganizationInfoForm`
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
Due: eslint --fix

fix: review `RegisterServerForm`
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix

chore: change sidebar-item focus border
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/big-apes-agree.md
  .changeset/hip-bats-stare.md
  .changeset/popular-adults-hope.md
  .changeset/stupid-mayflies-look.md
Due: prettier --write

fix: border rule
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

feat(onboarding-ui): a11y forms improvements (#1187)
  .changeset/big-apes-agree.md
  .changeset/hip-bats-stare.md
  .changeset/popular-adults-hope.md
  .changeset/stupid-mayflies-look.md
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/package.json
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): change sidebar-item focus border (#1189)
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: eslint --fix, stylelint --fix

fix: review
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix

chore: changset
  .changeset/gorgeous-horses-grow.md
Due: prettier --write

feat(onboarding-ui): Update agreements message on `RegisterServerForm` (#1185)
  .changeset/gorgeous-horses-grow.md
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix, prettier --write

feat(fuselage): Update `Button` focus shadow colors (#1186)
  .changeset/plenty-badgers-carry.md
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix, prettier --write

feat: Added property addon and updated styles
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/many-crabs-hope.md
Due: prettier --write

fix: size
  .changeset/cuddly-flowers-crash.md
  packages/fuselage/src/components/Contextualbar/ContextualbarAction.tsx
Due: eslint --fix, prettier --write

fix(fuselage): `ContextualbarAction` size (#1191)
  .changeset/cuddly-flowers-crash.md
  packages/fuselage/src/components/Contextualbar/ContextualbarAction.tsx
Due: eslint --fix, prettier --write

fix: adjusted styles
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

fix: remove underline prevention
  .changeset/selfish-scissors-sit.md
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: stylelint --fix, prettier --write

feat: updates `Callout` visuals
  .changeset/lemon-lamps-chew.md
  packages/fuselage/src/components/Callout/Callout.spec.tsx
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/Callout/Callout.tsx
  packages/fuselage/src/components/Callout/__snapshots__/Callout.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Remove underline prevention on anchor elements (#1193)
  .changeset/selfish-scissors-sit.md
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: stylelint --fix, prettier --write

feat: option to use Tag as anchor link
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix

chore: changeset
  .changeset/selfish-plants-divide.md
Due: prettier --write

feat: change sidebar-item focus color
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/cuddly-cars-jam.md
Due: prettier --write

feat(fuselage): change `SidebarItem` focus color (#1196)
  .changeset/cuddly-cars-jam.md
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix, prettier --write

feat(fuselage): option to use `Tag` as link (#1195)
  .changeset/selfish-plants-divide.md
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, prettier --write

feat(fuselage): `Callout` visual changes (#1194)
  .changeset/lemon-lamps-chew.md
  packages/fuselage/src/components/Callout/Callout.spec.tsx
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/Callout/Callout.tsx
  packages/fuselage/src/components/Callout/__snapshots__/Callout.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

fix: adjusted styles to keep actions at the right
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
Due: eslint --fix, stylelint --fix

chore: added new variations to storybook
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
Due: eslint --fix

feat(fuselage): Added property `addon` to SidebarBanner and updated styles (#1190)
  .changeset/many-crabs-hope.md
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
Due: eslint --fix, stylelint --fix, prettier --write

chore: remove duplicated shadow-color
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Due: stylelint --fix

refactor: rename Theme groups
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
