Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore: changeset
  .changeset/rotten-melons-smash.md
Due: prettier --write

fix(fuselage): decrease `InputBox` small inline paddings (#1398)
  .changeset/rotten-melons-smash.md
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
Due: stylelint --fix, prettier --write

chore: change `ContextualbarFooter` padding block
  packages/fuselage/src/components/Contextualbar/ContextualbarFooter.tsx
Due: eslint --fix

chore: upgrade trim-newlines
  yarn.lock
Due: none

chore: upgrade tough-cookie
  yarn.lock
Due: none

chore: upgrade got
  yarn.lock
Due: none

chore: upgrade webpack-dev-middleware
  yarn.lock
Due: none

chore: upgrade trim
  yarn.lock
Due: none

chore: upgrade glob-parent
  yarn.lock
Due: none

chore: upgrade braces
  yarn.lock
Due: none

chore: upgrade json-schema
  yarn.lock
Due: none

chore: upgrade nth-check
  yarn.lock
Due: none

chore: change `ContextualbarHeader` padding inline
  packages/fuselage/src/components/Contextualbar/ContextualbarHeader.tsx
Due: eslint --fix

chore: update snapshots
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
Due: none

feat(fuselage): `Contextualbar` components size improvements (#1366)
  .changeset/nine-countries-hang.md
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarFooter.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarHeader.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarIcon.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarSection.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarTitle.tsx
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Contextualbar/index.ts
Due: eslint --fix, prettier --write

feat(fuselage): `Sidebar` header size improvements (#1369)
  .changeset/real-garlics-drive.md
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix, prettier --write

feat(fuselage): new set of `NavBar` components (#1378)
  .changeset/dull-queens-begin.md
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/NavBar/NavBar.spec.tsx
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/NavBar/NavBar.styles.scss
  packages/fuselage/src/components/NavBar/NavBar.tsx
  packages/fuselage/src/components/NavBar/NavBarDivider.tsx
  packages/fuselage/src/components/NavBar/NavBarGroup.tsx
  packages/fuselage/src/components/NavBar/NavBarItem.tsx
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
  packages/fuselage/src/components/NavBar/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Prevent text overflow in message in case of zalgo texts (#1394)
  .changeset/khaki-countries-think.md
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix, prettier --write

Fix deprecated import
  packages/fuselage/.storybook/DocsContainer.tsx
Due: eslint --fix

Remove obsolete ESLint rule
  packages/eslint-config-alt/minimal/index.js
Due: eslint --fix

Reimplement collection components from `react-stately`
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/index.ts
  packages/fuselage/src/components/Menu/V2/stately/MenuItem.tsx
  packages/fuselage/src/components/Menu/V2/stately/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/stately/PartialNode.tsx
Due: eslint --fix

fix: create `TopbarV2` with height changes
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/TopBar/TopBarV2.tsx
  packages/fuselage/src/components/Sidebar/TopBar/index.ts
Due: eslint --fix, stylelint --fix

fix: `ContextualbarV2`
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.spec.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarAction.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarActions.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarButton.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarContent.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarEmptyContent.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarFooter.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarHeader.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarIcon.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarSection.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarSkeleton.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarTitle.tsx
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix

chore: changeset
  .changeset/stale-boats-collect.md
Due: prettier --write

update import
  packages/fuselage/src/components/ContextualbarV2/ContextualbarSkeleton.tsx
Due: eslint --fix

update snaps
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
Due: none

fix(fuselage): move size changes into V2 components (#1404)
  .changeset/stale-boats-collect.md
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.spec.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarAction.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarActions.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarButton.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarContent.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarEmptyContent.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarFooter.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarHeader.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarIcon.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarSection.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarSkeleton.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarTitle.tsx
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/index.ts
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/TopBar/TopBarV2.tsx
  packages/fuselage/src/components/Sidebar/TopBar/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

chore: don't close toast when hovering
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
Due: eslint --fix

css: pause progressbar on hover
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
Due: stylelint --fix

try using setInterval
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

clear interval now
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
Due: eslint --fix

refactor(fuselage): `MenuV2` display names (#1403)
  packages/eslint-config-alt/minimal/index.js
  packages/fuselage/.storybook/DocsContainer.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/index.ts
  packages/fuselage/src/components/Menu/V2/stately/MenuItem.tsx
  packages/fuselage/src/components/Menu/V2/stately/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/stately/PartialNode.tsx
Due: eslint --fix

fix: review
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
Due: eslint --fix

chore: update snapshots
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
Due: none

chore: changeset
  .changeset/eight-needles-push.md
Due: prettier --write

chore: update changeset
  .changeset/eight-needles-push.md
Due: prettier --write

chore: add cancel in progress concurrency param
  .github/workflows/ci-pr.yml
Due: prettier --write

chore(ci): Add `cancel-in-progress` concurrency param on CI (#1407)
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: adjust `SidebarDivider` margin unit
  packages/fuselage/src/components/Sidebar/SidebarDivider.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
