Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Convert OptionsPaginated
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/OptionsPaginated/index.d.ts
  packages/fuselage/src/components/OptionsPaginated/index.ts
Due: eslint --fix

Convert Pagination
  packages/fuselage/src/components/Pagination/Pagination.tsx
  packages/fuselage/src/components/Pagination/index.d.ts
  packages/fuselage/src/components/Pagination/index.ts
Due: eslint --fix

Convert RadioButton
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/RadioButton/index.d.ts
  packages/fuselage/src/components/RadioButton/index.js
  packages/fuselage/src/components/RadioButton/index.ts
Due: eslint --fix

Convert Select
  packages/fuselage/src/components/Select/Select.d.ts
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/index.d.ts
  packages/fuselage/src/components/Select/index.js
  packages/fuselage/src/components/Select/index.ts
Due: eslint --fix

Convert SelectInput
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
  packages/fuselage/src/components/SelectInput/index.d.ts
  packages/fuselage/src/components/SelectInput/index.js
  packages/fuselage/src/components/SelectInput/index.ts
Due: eslint --fix

fix SelectFiltered
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Due: eslint --fix

export SelectOption
  packages/fuselage/src/components/Select/Select.tsx
Due: eslint --fix

Update States
  packages/fuselage/src/components/States/States.styles.scss
Due: stylelint --fix

Add base tests for memoize and clear
  packages/memo/jest.config.js
  packages/memo/package.json
  packages/memo/src/memoize.spec.ts
  packages/memo/src/memoize.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(request-trial): add checkbox to confirm terms and conditions (#628)
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.tsx
Due: eslint --fix

Convert Table
  packages/fuselage/src/components/Table/Table.tsx
  packages/fuselage/src/components/Table/TableBody.tsx
  packages/fuselage/src/components/Table/TableCell.tsx
  packages/fuselage/src/components/Table/TableFoot.tsx
  packages/fuselage/src/components/Table/TableHead.tsx
  packages/fuselage/src/components/Table/TableRow.tsx
  packages/fuselage/src/components/Table/TableSelection.tsx
  packages/fuselage/src/components/Table/TableSelectionButton.tsx
  packages/fuselage/src/components/Table/index.d.ts
  packages/fuselage/src/components/Table/index.js
  packages/fuselage/src/components/Table/index.ts
Due: eslint --fix

fix SelectInput
  packages/fuselage/src/components/SelectInput/SelectInput.stories.tsx
Due: eslint --fix

chore(fuselage): Update subtitle and icon margin in States Component (#629)
  packages/fuselage/src/components/States/States.styles.scss
Due: stylelint --fix

fix SelectInput
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
Due: eslint --fix

Convert AutoComplete
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/index.ts
Due: eslint --fix

fix modal exports
  packages/fuselage/src/components/AutoComplete/index.d.ts
  packages/fuselage/src/components/Modal/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix

chore(release): 0.31.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/resolve-loki/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

fix Sidebar exports
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/Section.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.tsx
  packages/fuselage/src/components/Sidebar/TopBar.tsx
  packages/fuselage/src/components/Sidebar/index.tsx
Due: eslint --fix

fix: InputBox style
  packages/fuselage/src/components/InputBox/styles.scss
Due: stylelint --fix

fix CI
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

fix ci
  packages/fuselage/src/components/Modal/Modal.spec.tsx
Due: eslint --fix

Convert PaginatedSelect
  packages/fuselage/src/components/Options/CheckOption.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/index.ts
  packages/fuselage/src/components/SelectInput/index.ts
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/SelectPaginated/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix

fix SelectInput
  packages/fuselage/src/components/SelectInput/index.ts
Due: eslint --fix

review
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

fix
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
Due: eslint --fix

fix(fuselage): InputBox style (#631)
  packages/fuselage/src/components/InputBox/styles.scss
Due: stylelint --fix

fix sidebar
  packages/fuselage/src/components/Sidebar/Sidebar.tsx
  packages/fuselage/src/components/Sidebar/index.tsx
Due: eslint --fix

Delete options d.ts
  packages/fuselage/src/components/Options/index.d.ts
Due: eslint --fix

PaginatedMultiselect
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelect.tsx
Due: eslint --fix

fix Options
  packages/fuselage/src/components/Options/Options.tsx
Due: eslint --fix

feat(fuselage): Add loading Skeleton to CodeSnippet
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.stories.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.tsx
Due: eslint --fix

fix SelectPaginated
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.tsx
Due: eslint --fix

lint
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelect.tsx
Due: eslint --fix

..
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/SelectPaginated/SelectPaginated.stories.tsx
Due: eslint --fix

Convert Menu
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/index.d.ts
  packages/fuselage/src/components/Menu/index.ts
  packages/fuselage/src/components/Options/Options.tsx
Due: eslint --fix

feat(fuselage): Add loading Skeleton to CodeSnippet (#632)
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.stories.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.tsx
Due: eslint --fix

fix(fuselage): CodeSnippet word-break
  packages/fuselage/src/components/CodeSnippet/styles.scss
Due: stylelint --fix

add margin to codebox
  packages/fuselage/src/components/CodeSnippet/styles.scss
Due: stylelint --fix
