Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore(fuselage): Refactor `Slider` to use forwardRef and improve type definitions
  packages/fuselage/src/components/Slider/Slider.tsx
Due: eslint --fix

chore(fuselage-forms): Add `Slider` component with label handling
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
Due: eslint --fix

feat(fuselage-forms): add `MultiSelect` component
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
Due: eslint --fix

chore: switch `Slider` wrapper to `withAriaLabelledBy`
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage-forms/src/test.spec.tsx
Due: eslint --fix

chore: update snapshot
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
Due: none

chore: changeset
  .changeset/stupid-rice-hammer.md
Due: prettier --write

Fix types
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
Due: eslint --fix

fix(a11y): adjust `MultiSelect` a11y compliance
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchorParams.ts
  packages/fuselage/src/components/MultiSelect/SelectedOptions.tsx
Due: eslint --fix

chore: update snapshots
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-forms/src/test.spec.tsx
Due: eslint --fix

chore: changeset
  .changeset/tall-spies-shine.md
Due: prettier --write

feat(fuselage-forms): add `MultiSelect` component (#1901)
  .changeset/tall-spies-shine.md
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchorParams.ts
  packages/fuselage/src/components/MultiSelect/SelectedOptions.tsx
Due: eslint --fix, prettier --write

fix other components inference
  packages/fuselage/src/components/Slider/Slider.tsx
Due: eslint --fix

chore: Fix types (#1902)
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
Due: eslint --fix

chore: update snapshots
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
Due: none

feat(fuselage-forms): add `Slider` component (#1900)
  .changeset/stupid-rice-hammer.md
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
Due: eslint --fix, prettier --write

fix(checkbox): remove unsupported prop and clean up storybook
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
Due: eslint --fix

fix(checkbox): remove unsupported labelChildren prop and clean up Storybook (ref #1905)
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
Due: eslint --fix

rollback CI changes and simplify
  .github/workflows/ci-pr.yml
  packages/fuselage/package.json
Due: prettier --write

Move tests to a package and simplify docker setup
  .dockerignore
  .github/actions/setup-playwright/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .gitignore
  package.json
  packages/fuselage/Dockerfile.playwright
  packages/fuselage/package.json
  packages/fuselage/scripts/run-playwright-docker.sh
  tools/visual-regression/bin/index.js
  tools/visual-regression/package.json
  tools/visual-regression/playwright.config.ts
  tools/visual-regression/scripts/run-playwright-docker.sh
  tools/visual-regression/test/visualRegression.spec.ts
  turbo.json
  yarn.lock
Due: eslint --fix, prettier --write

Improve playwright cache
  .github/actions/setup-playwright/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

test success rule
  .github/workflows/ci-pr.yml
Due: prettier --write

add names to uploads and another test
  .github/workflows/ci-pr.yml
Due: prettier --write

fix visual regression action not running
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

remove scripts from visual-regression package
  tools/visual-regression/package.json
Due: prettier --write

Cleanup
  tools/visual-regression/bin/index.js
  tools/visual-regression/scripts/run-playwright-docker.sh
  turbo.json
Due: eslint --fix, prettier --write

Update snapshots
  packages/fuselage/test/snapshots/data-display-icon--default-desktop.png
  packages/fuselage/test/snapshots/inputs-emailinput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-numberinput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-passwordinput--invalid-desktop.png
  packages/fuselage/test/snapshots/inputs-passwordinput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-searchinput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--invalid-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-telephoneinput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-textareainput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-textinput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-urlinput--states-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--as-sidebar-topbar-actions-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--controlled-open-state-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--item-variants-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--menu-display-example-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--menu-map-generic-item-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--scrollable-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--simple-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--sizes-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--with-custom-button-desktop.png
  packages/fuselage/test/snapshots/navigation-menu--with-sections-desktop.png
  packages/fuselage/test/snapshots/navigation-option--with-menu-desktop.png
Due: none

fix caret
  turbo.json
Due: prettier --write

Fix playwright cache
  .github/actions/setup-playwright/action.yml
Due: prettier --write

test with docker
  tools/visual-regression/bin/index.js
Due: eslint --fix

Cleanup
  tools/visual-regression/bin/index.js
  tools/visual-regression/scripts/run-playwright-docker.sh
Due: eslint --fix

Fix inverted CI flag and use path.join
  tools/visual-regression/bin/index.js
Due: eslint --fix

Remove playwright setup
  .github/actions/setup-playwright/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

Create afraid-glasses-juggle.md
  .changeset/afraid-glasses-juggle.md
Due: prettier --write

feat: add `gap` styling prop to `Box`
  packages/fuselage/src/components/Box/stylingProps.ts
Due: eslint --fix

chore: add `gap` story
  packages/fuselage/src/components/Box/layout.stories.tsx
Due: eslint --fix
