Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Update changeset
  .changeset/hot-bears-shout.md
Due: prettier --write

fix: checked focus state color
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/button-colors.scss
Due: stylelint --fix

feat: `useDocumentTitle` hook
  packages/fuselage-hooks/src/useDocumentTitle.spec.ts
  packages/fuselage-hooks/src/useDocumentTitle.ts
Due: eslint --fix

chore: changeset
  .changeset/tidy-islands-hammer.md
Due: prettier --write

Update tidy-islands-hammer.md
  .changeset/tidy-islands-hammer.md
Due: prettier --write

fix(fuselage): improve focus state color (#1173)
  .changeset/hot-bears-shout.md
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Due: stylelint --fix, prettier --write

fix: storybook table a11y violation
  packages/fuselage/.storybook/helpers.tsx
Due: eslint --fix

fix: `CheckBox` states, test and snapshot
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
Due: eslint --fix

fix: `RadioButton` states, test and snapshot
  packages/fuselage/src/components/RadioButton/RadioButton.spec.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
Due: eslint --fix

fix: `ToggleSwitch` states, test and snapshot
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.stories.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
Due: eslint --fix

chore: changeset
  .changeset/shaggy-deers-impress.md
Due: prettier --write

Update shaggy-deers-impress.md
  .changeset/shaggy-deers-impress.md
Due: prettier --write

fix(fuselage): className prop drilling improvements on `CheckBox`, `ToggleSwitch` and `RadioButton` (#1178)
  .changeset/shaggy-deers-impress.md
  packages/fuselage/.storybook/helpers.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/RadioButton.spec.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.stories.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
Due: eslint --fix, prettier --write

fix(fuselage): PaginatedSelect option tooltip not working
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
Due: eslint --fix

chore: changeset
  .changeset/thin-candles-doubt.md
Due: prettier --write

Update thin-candles-doubt.md
  .changeset/thin-candles-doubt.md
Due: prettier --write

refactor: replace `Field.[SUBCOMPONENT]` usage in favor of named imports
  packages/fuselage/src/components/FieldGroup/FieldGroup.stories.tsx
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.stories.tsx
  packages/layout/src/VerticalWizardLayout/VerticalWizardLayout.stories.tsx
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.tsx
Due: eslint --fix

fix(fuselage): `PaginatedSelect` tooltip not working (#1179)
  .changeset/thin-candles-doubt.md
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
Due: eslint --fix, prettier --write

refactor: replace `Field.[SUBCOMPONENT]` usage in favor of named imports on CreateCloudWorkspaceForm
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
Due: eslint --fix

adjustments
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix, prettier --write

chore:(onboarding-ui): Adjustments of design "copy" for Setup Wizard (#1174)
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/common/FormPageLayout.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
Due: eslint --fix, prettier --write

fix
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix

chore(onboarding-ui): Remove back button in RegisterServer (#1175)
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.spec.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
Due: eslint --fix

Update packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix

Update RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix

change
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.spec.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.stories.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/index.ts
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.tsx
Due: eslint --fix, prettier --write

stories
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
Due: eslint --fix

spec
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.spec.tsx
Due: eslint --fix

Create hip-bats-stare.md
  .changeset/hip-bats-stare.md
Due: prettier --write

Create stupid-mayflies-look.md
  .changeset/stupid-mayflies-look.md
Due: prettier --write

register offline
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.stories.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/index.ts
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/StandaloneServerForm/StandaloneServerForm.stories.tsx
  packages/onboarding-ui/src/forms/StandaloneServerForm/StandaloneServerForm.tsx
  packages/onboarding-ui/src/forms/StandaloneServerForm/index.ts
  packages/onboarding-ui/src/pages/RegisterOfflinePage/RegisterOfflinePage.spec.tsx
  packages/onboarding-ui/src/pages/RegisterOfflinePage/RegisterOfflinePage.stories.tsx
  packages/onboarding-ui/src/pages/RegisterOfflinePage/RegisterOfflinePage.tsx
  packages/onboarding-ui/src/pages/RegisterOfflinePage/index.ts
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
  packages/onboarding-ui/src/pages/StandaloneServerPage/StandaloneServerPage.stories.tsx
  packages/onboarding-ui/src/pages/StandaloneServerPage/StandaloneServerPage.tsx
  packages/onboarding-ui/src/pages/StandaloneServerPage/index.ts
Due: eslint --fix, prettier --write

Create popular-adults-hope.md
  .changeset/popular-adults-hope.md
Due: prettier --write

fix
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/RegisterOfflinePage/RegisterOfflinePage.spec.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.spec.tsx
Due: eslint --fix

feat(onboarding-ui): Required fields adjustments (#1182)
  .changeset/hip-bats-stare.md
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix, prettier --write

refactor(onboarding-ui): Rewrite `AwaitingConfirmationPage` page (#1183)
  .changeset/stupid-mayflies-look.md
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.spec.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.stories.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/index.ts
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.spec.tsx
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.tsx
Due: eslint --fix, prettier --write

refactor: replace `Field.[SUBCOMPONENT]` in favor of named imports (#1180)
  packages/fuselage/src/components/FieldGroup/FieldGroup.stories.tsx
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.stories.tsx
  packages/layout/src/VerticalWizardLayout/VerticalWizardLayout.stories.tsx
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.tsx
Due: eslint --fix

new design changes
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/package.json
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.stories.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/CopyStep.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/PasteStep.tsx
  packages/onboarding-ui/src/pages/RegisterOfflinePage/RegisterOfflinePage.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix stories && specs
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.spec.tsx
  packages/onboarding-ui/src/pages/RegisterOfflinePage/RegisterOfflinePage.spec.tsx
Due: eslint --fix

useClipboard
  packages/onboarding-ui/package.json
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/CopyStep.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(onboarding-ui): Remove standalone and introduce offline server registration (#1184)
  .changeset/popular-adults-hope.md
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.stories.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/index.ts
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/CopyStep.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/PasteStep.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/StandaloneServerForm/StandaloneServerForm.stories.tsx
  packages/onboarding-ui/src/forms/StandaloneServerForm/StandaloneServerForm.tsx
  packages/onboarding-ui/src/forms/StandaloneServerForm/index.ts
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/RegisterOfflinePage/RegisterOfflinePage.spec.tsx
  packages/onboarding-ui/src/pages/RegisterOfflinePage/RegisterOfflinePage.stories.tsx
  packages/onboarding-ui/src/pages/RegisterOfflinePage/RegisterOfflinePage.tsx
  packages/onboarding-ui/src/pages/RegisterOfflinePage/index.ts
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.spec.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
  packages/onboarding-ui/src/pages/StandaloneServerPage/StandaloneServerPage.stories.tsx
  packages/onboarding-ui/src/pages/StandaloneServerPage/StandaloneServerPage.tsx
  packages/onboarding-ui/src/pages/StandaloneServerPage/index.ts
Due: eslint --fix, prettier --write
