Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Upgrade `cross-env`
  packages/fuselage-forms/package.json
  packages/fuselage/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade `clipboard-polyfill`
  packages/fuselage-polyfills/package.json
  yarn.lock
Due: prettier --write

Upgrade `@testing-library/jest-dom`
  packages/fuselage-forms/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Fix redundancies
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/styles/primitives/link.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: stylelint --fix

Use modules for mixins
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Pagination/Pagination.styles.scss
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarFooter/SidebarFooter.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/index.scss
  packages/fuselage/src/styles/mixins/all.scss
  packages/fuselage/src/styles/mixins/breakpoints.scss
  packages/fuselage/src/styles/mixins/interactivity.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
Due: stylelint --fix

Use modules for variables
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/index.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/all.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Due: stylelint --fix

Use modules
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/CheckBox/CheckBox.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Pagination/Pagination.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/index.scss
  packages/fuselage/src/styles/mixins/templates.scss
  packages/fuselage/src/styles/primitives/all.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

Remove `:focus-within` polyfill
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package.json
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

Remove `:focus-visible` polyfill
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package.json
  packages/fuselage/src/styles/mixins/states.scss
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

Remove `ResizeObserver` polyfill
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Remove `navigator.clipboard` polyfill
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Remove `Element.prototype.closest` and `Element.prototype.matches` polyfill
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Remove `Event` constructor polyfill
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Delete `@rocket.chat/fuselage-polyfills`
  README.md
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-polyfills/CHANGELOG.md
  packages/fuselage-polyfills/README.md
  packages/fuselage-polyfills/index.d.ts
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/README.md
  packages/fuselage-toastbar/package.json
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/README.md
  packages/fuselage/package.json
  packages/layout/.storybook/preview.tsx
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/README.md
  packages/onboarding-ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Add changeset
  .changeset/happy-animals-remain.md
Due: prettier --write

Fix lint issues
  packages/fuselage-tokens/.eslintrc
  packages/fuselage-tokens/build.js
  packages/fuselage-tokens/package.json
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/buttons.scss
  packages/fuselage/src/styles/variables/input-colors.scss
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

Replace `eslint-plugin-import` with `eslint-plugin-import-x`
  eslint.config.mjs
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(fuselage): Remove deprecated `Avatar.*` component namespace
  .changeset/icy-tips-act.md
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/AvatarContainer.tsx
  packages/fuselage/src/components/Avatar/AvatarStack.tsx
  packages/fuselage/src/components/Avatar/index.ts
Due: eslint --fix, prettier --write

feat(fuselage): Remove deprecated `Field.*` component namespace
  .changeset/poor-wasps-do.md
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/Field/Field.tsx
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.spec.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Field/FieldLabelInfo.tsx
  packages/fuselage/src/components/Field/FieldLink.tsx
  packages/fuselage/src/components/Field/FieldRow.tsx
  packages/fuselage/src/components/Field/index.ts
  packages/fuselage/src/components/Field/index.tsx
  packages/fuselage/src/components/FieldGroup/FieldGroup.stories.tsx
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/index.ts
Due: eslint --fix, prettier --write

feat(fuselage): Remove deprecated `Avatar.*` component namespace (#1767)
  .changeset/icy-tips-act.md
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/AvatarContainer.tsx
  packages/fuselage/src/components/Avatar/AvatarStack.tsx
  packages/fuselage/src/components/Avatar/index.ts
Due: eslint --fix, prettier --write

feat(fuselage): Remove deprecated `Field.*` component namespace (#1768)
  .changeset/poor-wasps-do.md
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/Field/Field.tsx
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.spec.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Field/FieldLabelInfo.tsx
  packages/fuselage/src/components/Field/FieldLink.tsx
  packages/fuselage/src/components/Field/FieldRow.tsx
  packages/fuselage/src/components/Field/index.ts
  packages/fuselage/src/components/Field/index.tsx
  packages/fuselage/src/components/FieldGroup/FieldGroup.stories.tsx
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/index.ts
Due: eslint --fix, prettier --write

chore(lint): Replace `eslint-plugin-import` with `eslint-plugin-import-x` (#1766)
  eslint.config.mjs
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(fuselage): Remove deprecated `InputBox.*` component namespace
  .changeset/some-seas-prove.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
  packages/fuselage/src/components/EmailInput/EmailInput.tsx
  packages/fuselage/src/components/FieldGroup/FieldGroup.stories.tsx
  packages/fuselage/src/components/Icon/Icon.stories.tsx
  packages/fuselage/src/components/InputBox/Addon.tsx
  packages/fuselage/src/components/InputBox/Input.tsx
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/InputBox/InputBoxAddon.tsx
  packages/fuselage/src/components/InputBox/InputBoxSkeleton.tsx
  packages/fuselage/src/components/InputBox/InputBoxWrapper.tsx
  packages/fuselage/src/components/InputBox/Option.tsx
  packages/fuselage/src/components/InputBox/Placeholder.tsx
  packages/fuselage/src/components/InputBox/Wrapper.tsx
  packages/fuselage/src/components/InputBox/index.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchorParams.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/NumberInput/NumberInput.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/PasswordInput/PasswordInput.tsx
  packages/fuselage/src/components/SearchInput/SearchInput.tsx
  packages/fuselage/src/components/Select/SelectAnchorParams.ts
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.stories.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
  packages/fuselage/src/components/SelectInput/SelectInputOption.tsx
  packages/fuselage/src/components/SelectInput/SelectInputPlaceholder.tsx
  packages/fuselage/src/components/SelectInput/index.ts
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.tsx
  packages/fuselage/src/components/TextAreaInput/TextAreaInput.tsx
  packages/fuselage/src/components/TextInput/TextInput.tsx
  packages/fuselage/src/components/UrlInput/UrlInput.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayout.stories.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayout.stories.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/WorkspaceUrlInput.tsx
Due: eslint --fix, prettier --write

feat(fuselage): Remove deprecated `InputBox.*` component namespace (#1769)
  .changeset/some-seas-prove.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
  packages/fuselage/src/components/EmailInput/EmailInput.tsx
  packages/fuselage/src/components/FieldGroup/FieldGroup.stories.tsx
  packages/fuselage/src/components/Icon/Icon.stories.tsx
  packages/fuselage/src/components/InputBox/Addon.tsx
  packages/fuselage/src/components/InputBox/Input.tsx
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/InputBox/InputBoxAddon.tsx
  packages/fuselage/src/components/InputBox/InputBoxSkeleton.tsx
  packages/fuselage/src/components/InputBox/InputBoxWrapper.tsx
  packages/fuselage/src/components/InputBox/Option.tsx
  packages/fuselage/src/components/InputBox/Placeholder.tsx
  packages/fuselage/src/components/InputBox/Wrapper.tsx
  packages/fuselage/src/components/InputBox/index.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchorParams.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/NumberInput/NumberInput.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/PasswordInput/PasswordInput.tsx
  packages/fuselage/src/components/SearchInput/SearchInput.tsx
  packages/fuselage/src/components/Select/SelectAnchorParams.ts
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.stories.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
  packages/fuselage/src/components/SelectInput/SelectInputOption.tsx
  packages/fuselage/src/components/SelectInput/SelectInputPlaceholder.tsx
  packages/fuselage/src/components/SelectInput/index.ts
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.tsx
  packages/fuselage/src/components/TextAreaInput/TextAreaInput.tsx
  packages/fuselage/src/components/TextInput/TextInput.tsx
  packages/fuselage/src/components/UrlInput/UrlInput.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayout.stories.tsx
  packages/layout/src/layouts/VerticalWizardLayout/VerticalWizardLayout.stories.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/WorkspaceUrlInput.tsx
Due: eslint --fix, prettier --write

feat(fuselage): Remove deprecated `Option.*` component namespace
  .changeset/better-lines-clap.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/Divider/Divider.tsx
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
  packages/fuselage/src/components/Option/CheckOption.tsx
  packages/fuselage/src/components/Option/Option.spec.tsx
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Option/OptionAvatar.tsx
  packages/fuselage/src/components/Option/OptionColumn.tsx
  packages/fuselage/src/components/Option/OptionContent.tsx
  packages/fuselage/src/components/Option/OptionDescription.tsx
  packages/fuselage/src/components/Option/OptionDescriptionBlock.tsx
  packages/fuselage/src/components/Option/OptionDivider.tsx
  packages/fuselage/src/components/Option/OptionHeader.tsx
  packages/fuselage/src/components/Option/OptionIcon.tsx
  packages/fuselage/src/components/Option/OptionInput.tsx
  packages/fuselage/src/components/Option/OptionMenu.tsx
  packages/fuselage/src/components/Option/OptionTitle.tsx
  packages/fuselage/src/components/Option/index.ts
  packages/fuselage/src/components/Option/index.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.stories.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.spec.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
  packages/fuselage/src/components/index.ts
Due: eslint --fix, prettier --write

feat(fuselage): Remove deprecated `Option.*` component namespace (#1770)
  .changeset/better-lines-clap.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/Divider/Divider.tsx
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
  packages/fuselage/src/components/Option/CheckOption.tsx
  packages/fuselage/src/components/Option/Option.spec.tsx
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Option/OptionAvatar.tsx
  packages/fuselage/src/components/Option/OptionColumn.tsx
  packages/fuselage/src/components/Option/OptionContent.tsx
  packages/fuselage/src/components/Option/OptionDescription.tsx
  packages/fuselage/src/components/Option/OptionDescriptionBlock.tsx
  packages/fuselage/src/components/Option/OptionDivider.tsx
  packages/fuselage/src/components/Option/OptionHeader.tsx
  packages/fuselage/src/components/Option/OptionIcon.tsx
  packages/fuselage/src/components/Option/OptionInput.tsx
  packages/fuselage/src/components/Option/OptionMenu.tsx
  packages/fuselage/src/components/Option/OptionTitle.tsx
  packages/fuselage/src/components/Option/index.ts
  packages/fuselage/src/components/Option/index.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.stories.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.spec.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
  packages/fuselage/src/components/index.ts
Due: eslint --fix, prettier --write

feat(monorepo): Get rid of stale polyfills (#1762)
  .changeset/happy-animals-remain.md
  README.md
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-polyfills/CHANGELOG.md
  packages/fuselage-polyfills/README.md
  packages/fuselage-polyfills/index.d.ts
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/README.md
  packages/fuselage-toastbar/package.json
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/README.md
  packages/fuselage/package.json
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/styles/mixins/states.scss
  packages/layout/.storybook/preview.tsx
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/README.md
  packages/onboarding-ui/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): Remove deprecated `Options.*` component namespace
  .changeset/fuzzy-bars-matter.md
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Options/OptionContainer.tsx
  packages/fuselage/src/components/Options/OptionType.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/OptionsEmpty.tsx
  packages/fuselage/src/components/Options/index.ts
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix, prettier --write

Remove commented lines
  packages/fuselage/src/components/Options/OptionContainer.tsx
Due: eslint --fix

feat(fuselage): Remove deprecated `Options.*` component namespace (#1771)
  .changeset/fuzzy-bars-matter.md
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Options/OptionContainer.tsx
  packages/fuselage/src/components/Options/OptionType.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/OptionsEmpty.tsx
  packages/fuselage/src/components/Options/index.ts
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix, prettier --write

Start animation documentation as a storybook page
  packages/fuselage/src/components/Animations/Animations.stories.tsx
Due: eslint --fix

fix
  packages/icons/src/hash-abac.svg
  packages/icons/src/team-abac.svg
Due: prettier --write

chore: add mapping
  packages/icons/glyphsMapping.json
Due: prettier --write

Create shy-plums-move.md
  .changeset/shy-plums-move.md
Due: prettier --write

lint
  packages/icons/src/hash-abac.svg
  packages/icons/src/team-abac.svg
Due: prettier --write

refactor: replace webpack with vite
  package.json
  packages/fuselage/.storybook/main.ts
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/debug-storybook.log
  packages/fuselage/package.json
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/mixins/breakpoints.scss
  packages/fuselage/src/styles/typography.scss
  packages/fuselage/src/styles/variables/breakpoints.scss
  packages/fuselage/src/styles/variables/buttons.scss
  packages/fuselage/vite.config.ts
  packages/icons/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore: remove webpack dependencies from fuselage
  packages/fuselage/.storybook/main.ts
  packages/fuselage/README.md
  packages/fuselage/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove webpack dependency from fuselage-forms
  packages/fuselage-forms/package.json
  yarn.lock
Due: prettier --write

fix: sass globals deprecation
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/components/Message/helpers.tsx
  packages/fuselage/src/styles/mixins/breakpoints.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/breakpoints.scss
  packages/fuselage/vite.config.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
