Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Fix typing issues
  packages/fuselage/src/components/Menu/V2/MenuItem.tsx
  packages/fuselage/src/components/Menu/V2/MenuOption.tsx
  packages/fuselage/src/components/Menu/V2/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/types.ts
  yarn.lock
Due: eslint --fix

chore: Upgrade TypeScript and React types (#1420)
  _templates/create-package/library/files/package.json.t
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Menu/V2/MenuItem.tsx
  packages/fuselage/src/components/Menu/V2/MenuOption.tsx
  packages/fuselage/src/components/Menu/V2/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/types.ts
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/scripts/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Add api extraction on `@rocket.chat/fuselage`
  .vscode/settings.json
  etc/fuselage.api.md
  packages/fuselage/.gitignore
  packages/fuselage/api-extractor.json
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Update `fuselage.api.md`
  etc/fuselage.api.md
Due: prettier --write

Embed api extraction into `build`
  common/reviews/api/fuselage.api.md
  packages/fuselage/api-extractor.json
  packages/fuselage/package.json
Due: prettier --write

Upgrade TypeScript
  common/reviews/api/fuselage.api.md
  yarn.lock
Due: prettier --write

Get rid of some warnings
  common/reviews/api/fuselage.api.md
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/Accordion/Accordion.tsx
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  packages/fuselage/src/components/Accordion/index.tsx
Due: eslint --fix, prettier --write

Get rid of some warnings
  common/reviews/api/fuselage.api.md
  packages/fuselage/.prettierignore
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/AudioPlayer/index.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/index.ts
Due: eslint --fix, prettier --write

Get rid of some warnings
  common/reviews/api/fuselage.api.md
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/AvatarContainer.tsx
  packages/fuselage/src/components/Avatar/AvatarStack.tsx
  packages/fuselage/src/components/Avatar/index.tsx
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Badge/Badge.tsx
  packages/fuselage/src/components/Badge/index.tsx
  packages/fuselage/src/components/Banner/Banner.tsx
  packages/fuselage/src/components/Banner/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix, prettier --write

Get rid of some warnings
  common/reviews/api/fuselage.api.md
  packages/fuselage/src/components/Box/Box.stories.mdx
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Box/colors.stories.tsx
  packages/fuselage/src/components/Box/index.ts
  packages/fuselage/src/components/Box/index.tsx
  packages/fuselage/src/components/Box/layout.stories.tsx
  packages/fuselage/src/components/Box/props.stories.tsx
  packages/fuselage/src/components/Box/richContentBlock.stories.tsx
  packages/fuselage/src/components/Box/richContentInline.stories.tsx
  packages/fuselage/src/components/Box/typography.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.tsx
  packages/fuselage/src/components/Bubble/BubbleButton.tsx
  packages/fuselage/src/components/Bubble/BubbleItem.tsx
  packages/fuselage/src/components/Bubble/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix, prettier --write

Get rid of some warnings
  common/reviews/api/fuselage.api.md
  packages/fuselage/src/components/Option/CheckOption.tsx
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Option/OptionAvatar.tsx
  packages/fuselage/src/components/Option/OptionColumn.tsx
  packages/fuselage/src/components/Option/OptionContent.tsx
  packages/fuselage/src/components/Option/OptionDescription.tsx
  packages/fuselage/src/components/Option/OptionDescriptionBlock.tsx
  packages/fuselage/src/components/Option/OptionDivider.tsx
  packages/fuselage/src/components/Option/OptionHeader.tsx
  packages/fuselage/src/components/Option/OptionIcon.tsx
  packages/fuselage/src/components/Option/OptionInput.tsx
  packages/fuselage/src/components/Option/OptionMenu.tsx
  packages/fuselage/src/components/Option/OptionSkeleton.tsx
  packages/fuselage/src/components/Option/OptionTitle.tsx
  packages/fuselage/src/components/Option/index.ts
  packages/fuselage/src/components/Options/Empty.tsx
  packages/fuselage/src/components/Options/OptionContainer.tsx
  packages/fuselage/src/components/Options/OptionType.ts
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/index.ts
  packages/fuselage/src/components/Options/useCursor.ts
Due: eslint --fix, prettier --write

Get rid of some warnings
  packages/fuselage/src/components/Badge/Badge.spec.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

Get rid of some warnings
  common/reviews/api/fuselage.api.md
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Option/index.ts
Due: eslint --fix, prettier --write

Upgrade `@types/react`, `@types/react-dom`, and `csstype`
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Fix some conflicting types
  common/reviews/api/fuselage.api.md
  packages/fuselage/package.json
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/Box/useStylingProps.ts
  packages/fuselage/src/components/Box/withBoxStyling.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/hooks/useBoxOnlyProps.ts
  yarn.lock
Due: eslint --fix, prettier --write

Fix missing export
  common/reviews/api/fuselage.api.md
  packages/fuselage/src/components/Message/MessageStatusIndicator/index.ts
Due: eslint --fix, prettier --write

Add missing module
  packages/fuselage/src/components/Banner/Banner.stories.js
Due: eslint --fix

feat(fuselage): Introduce `Callout` actions (#1415)
  .changeset/sharp-paws-mix.md
  packages/fuselage/.jest/setup.ts
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/Callout/Callout.tsx
  packages/fuselage/src/components/Callout/__snapshots__/Callout.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

chore: style updates
  packages/fuselage/src/components/SidePanel/SidePanel.styles.scss
Due: stylelint --fix

fix: `MenuItem` onPointerUp event behavior
  packages/fuselage/src/components/Menu/V2/MenuItem.tsx
Due: eslint --fix

chore: review tweaks
  packages/fuselage/src/components/Message/MessageBlock.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemAvatarRow.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemAvatarRowContent.tsx
Due: eslint --fix

changeset
  .changeset/late-glasses-accept.md
Due: prettier --write

chore: add comment
  packages/fuselage/src/components/Menu/V2/MenuItem.tsx
Due: eslint --fix

fix(fuselage): `MenuItem` onPointerUp event behavior (#1422)
  .changeset/late-glasses-accept.md
  packages/fuselage/src/components/Menu/V2/MenuItem.tsx
Due: eslint --fix, prettier --write

fix review
  packages/fuselage/src/components/Badge/Badge.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItem.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsReply.tsx
Due: eslint --fix

update snapshot
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
Due: none

Sorry mr doug
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemAvatarRow.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemAvatarRowContent.tsx
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
Due: eslint --fix

feat(fuselage): Update message metric styles and add Avatar row (#1417)
  .changeset/two-doors-clean.md
  packages/fuselage/src/components/Badge/Badge.tsx
  packages/fuselage/src/components/Message/MessageBlock.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.stories.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.styles.scss
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsFollowing.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemAvatarRow.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/MessageMetricsItemAvatarRowContent.tsx
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsItem/index.ts
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetricsReply.tsx
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageMetrics/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Upgrade Turborepo
  package.json
  yarn.lock
Due: prettier --write

Upgrade Yarn
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

Upgrade Storybook on `@rocket.chat/fuselage-toastbar`
  packages/fuselage-toastbar/.storybook/main.ts
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
  packages/fuselage-toastbar/src/ToastBar.stories.tsx
  packages/fuselage-toastbar/tsconfig.cjs.json
  packages/fuselage-toastbar/tsconfig.esm.json
  yarn.lock
Due: eslint --fix, prettier --write
