Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix
  packages/fuselage-hooks/src/usePosition/getPositionStyle.ts
  packages/fuselage/src/components/StatusBullet/icons/Busy.tsx
  packages/fuselage/src/components/StatusBullet/icons/Disabled.tsx
  packages/fuselage/src/components/StatusBullet/icons/Loading.tsx
  packages/fuselage/src/components/StatusBullet/icons/Offline.tsx
Due: eslint --fix

Update Position.tsx
  packages/fuselage/src/components/Position/Position.tsx
Due: eslint --fix

chore: portal-container removal
  packages/fuselage/src/components/Position/Position.tsx
Due: eslint --fix

update status bullet colors
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

fix: change $message-divider-color-unread from stroke-error to font-danger
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
Due: stylelint --fix

chore: new icons
  packages/icons/glyphsMapping.json
  packages/icons/src/airplane.svg
  packages/icons/src/burger-menu.svg
  packages/icons/src/burger.svg
  packages/icons/src/lamp-bulb.svg
  packages/icons/src/leaf.svg
  packages/icons/src/percentage.svg
  packages/icons/src/rocket.svg
Due: prettier --write

chore: fix on uikit-playground
  packages/uikit-playground/src/Components/DropDown/ItemsIcon.tsx
Due: eslint --fix

chore(icons): Add new icons (#1043)
  packages/icons/glyphsMapping.json
  packages/icons/src/airplane.svg
  packages/icons/src/burger-menu.svg
  packages/icons/src/burger.svg
  packages/icons/src/lamp-bulb.svg
  packages/icons/src/leaf.svg
  packages/icons/src/percentage.svg
  packages/icons/src/rocket.svg
  packages/uikit-playground/src/Components/DropDown/ItemsIcon.tsx
Due: eslint --fix, prettier --write

change divider color to stroke-error
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
Due: stylelint --fix

fix(fuselage): change `$message-divider-color-unread` (#1042)
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
Due: stylelint --fix

refactor
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
  packages/fuselage/src/components/StatusBullet/icons/Away.tsx
  packages/fuselage/src/components/StatusBullet/icons/Busy.tsx
  packages/fuselage/src/components/StatusBullet/icons/Disabled.tsx
  packages/fuselage/src/components/StatusBullet/icons/Loading.tsx
  packages/fuselage/src/components/StatusBullet/icons/Offline.tsx
  packages/fuselage/src/components/StatusBullet/icons/Online.tsx
Due: eslint --fix

chore(fuselage): status-bullet colors (#1040)
  packages/fuselage-hooks/src/usePosition/getPositionStyle.ts
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
  packages/fuselage/src/components/StatusBullet/icons/Away.tsx
  packages/fuselage/src/components/StatusBullet/icons/Busy.tsx
  packages/fuselage/src/components/StatusBullet/icons/Disabled.tsx
  packages/fuselage/src/components/StatusBullet/icons/Loading.tsx
  packages/fuselage/src/components/StatusBullet/icons/Offline.tsx
  packages/fuselage/src/components/StatusBullet/icons/Online.tsx
  packages/fuselage/src/components/StatusBullet/icons/away.svg
  packages/fuselage/src/components/StatusBullet/icons/busy.svg
  packages/fuselage/src/components/StatusBullet/icons/disabled.svg
  packages/fuselage/src/components/StatusBullet/icons/loading.svg
  packages/fuselage/src/components/StatusBullet/icons/offline.svg
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

chore(release): 0.31.23
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

fix position
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage/src/components/Position/Position.tsx
Due: eslint --fix

chore: new slider style
  packages/fuselage/src/components/Slider/SliderThumb.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Due: eslint --fix

use color tokens
  packages/fuselage/src/components/Slider/SliderThumb.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Due: eslint --fix

chore(fuselage): new `Slider` style (#1044)
  packages/fuselage/src/components/Slider/SliderThumb.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Due: eslint --fix

chore: initial work
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/AudioPlayer/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix

small refactor
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

Update packages/fuselage/src/components/index.ts
  packages/fuselage/src/components/index.ts
Due: eslint --fix

feat: `AudioPlayer` Component (#1046)
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/AudioPlayer/index.ts
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/webpack.config.js
Due: eslint --fix, stylelint --fix

chore: small fixes
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

fix(fuselage, fuselage-hooks): `Position` (#1045)
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage/src/components/Position/Position.tsx
Due: eslint --fix

chore(fuselage): `AudioPlayer` small tweaks (#1047)
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

fix: ModalIcon and ModalThumb default size to 28x28
  packages/fuselage/src/components/Modal/ModalIcon.tsx
  packages/fuselage/src/components/Modal/ModalThumb.tsx
Due: eslint --fix

revert ModalIcon size
  packages/fuselage/src/components/Modal/ModalIcon.tsx
Due: eslint --fix

fix(fuselage): `ModalThumb` size (#1048)
  packages/fuselage/src/components/Modal/ModalThumb.tsx
Due: eslint --fix

chore: add aria-label
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

chore: translations
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

chore(fuselage): Missing `aria-label` on `AudioPlayer` (#1049)
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

Add highlight and mention components
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Message/MessageHighlight.tsx
  packages/fuselage/src/components/Message/MessageMention.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

chore: `StatesTitle` to h3
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/States.tsx
  packages/fuselage/src/components/States/StatesAction.tsx
  packages/fuselage/src/components/States/StatesActions.tsx
  packages/fuselage/src/components/States/StatesIcon.tsx
  packages/fuselage/src/components/States/StatesSubtitle.tsx
  packages/fuselage/src/components/States/StatesSuggestion.tsx
  packages/fuselage/src/components/States/StatesSuggestionList.tsx
  packages/fuselage/src/components/States/StatesSuggestionListItem.tsx
  packages/fuselage/src/components/States/StatesSuggestionText.tsx
  packages/fuselage/src/components/States/StatesTitle.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): Change `StatesTitle` to h3 (#1051)
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/States.tsx
  packages/fuselage/src/components/States/StatesAction.tsx
  packages/fuselage/src/components/States/StatesActions.tsx
  packages/fuselage/src/components/States/StatesIcon.tsx
  packages/fuselage/src/components/States/StatesSubtitle.tsx
  packages/fuselage/src/components/States/StatesSuggestion.tsx
  packages/fuselage/src/components/States/StatesSuggestionList.tsx
  packages/fuselage/src/components/States/StatesSuggestionListItem.tsx
  packages/fuselage/src/components/States/StatesSuggestionText.tsx
  packages/fuselage/src/components/States/StatesTitle.tsx
Due: eslint --fix, stylelint --fix

Slider responsiveness
  packages/fuselage/src/components/Slider/Slider.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Due: eslint --fix

update slider stories
  packages/fuselage/src/components/Slider/Slider.stories.tsx
Due: eslint --fix

AudioPlayer responsiveness
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

feat: Message Highlight and Mention components (#1050)
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Message/MessageHighlight.tsx
  packages/fuselage/src/components/Message/MessageMention.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

fix type and export
  packages/fuselage/src/components/Message/MessageHighlight.tsx
  packages/fuselage/src/components/Message/MessageMention.tsx
  packages/fuselage/src/components/Message/index.tsx
Due: eslint --fix

fix(fuselage): Message Mention and Highlight types and export (#1053)
  packages/fuselage/src/components/Message/MessageHighlight.tsx
  packages/fuselage/src/components/Message/MessageMention.tsx
  packages/fuselage/src/components/Message/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
