Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

docs(typedoc): Embed TypeDoc options in tsconfig (#1845)
  packages/css-in-js/tsconfig.json
  packages/css-in-js/typedoc.json
  packages/emitter/tsconfig.json
  packages/emitter/typedoc.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage-hooks/typedoc.json
  packages/fuselage-toastbar/tsconfig.json
  packages/fuselage-toastbar/typedoc.json
  packages/logo/tsconfig.json
  packages/logo/typedoc.json
  packages/mp3-encoder/tsconfig.json
  packages/mp3-encoder/typedoc.json
  packages/onboarding-ui/tsconfig.json
  packages/onboarding-ui/typedoc.json
  packages/styled/tsconfig.json
  packages/styled/typedoc.json
  packages/stylis-logical-props-middleware/tsconfig.json
  packages/stylis-logical-props-middleware/typedoc.json
Due: prettier --write

fix: remove overflow hidden to avoid button focus overlap
  packages/fuselage/src/components/ContextualbarV2/ContextualbarHeader.tsx
Due: eslint --fix

chore: changeset
  .changeset/legal-pets-rest.md
Due: prettier --write

chore: update snapshots
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
Due: none

test: properly exclude test modules from build
  packages/css-in-js/tsconfig.build.json
  packages/emitter/tsconfig.build.json
  packages/fuselage-hooks/tsconfig.build.json
  packages/fuselage-toastbar/tsconfig.cjs.json
  packages/fuselage-toastbar/tsconfig.esm.json
  packages/fuselage/tsconfig.build.json
  packages/layout/tsconfig.cjs.json
  packages/layout/tsconfig.esm.json
  packages/logo/tsconfig.cjs.json
  packages/logo/tsconfig.esm.json
  packages/memo/tsconfig.cjs.json
  packages/memo/tsconfig.esm.json
  packages/mp3-encoder/tsconfig.build.json
  packages/onboarding-ui/tsconfig.cjs.json
  packages/onboarding-ui/tsconfig.esm.json
  packages/string-helpers/tsconfig.cjs.json
  packages/string-helpers/tsconfig.esm.json
  packages/styled/tsconfig.cjs.json
  packages/styled/tsconfig.esm.json
  packages/stylis-logical-props-middleware/tsconfig.cjs.json
  packages/stylis-logical-props-middleware/tsconfig.esm.json
Due: prettier --write

test(jest): extract Jest configuration from package manifest
  packages/css-in-js/tsconfig.build.json
  packages/css-supports/tsconfig.cjs.json
  packages/css-supports/tsconfig.esm.json
  packages/emitter/tsconfig.build.json
  packages/fuselage-hooks/tsconfig.build.json
  packages/logo/tsconfig.cjs.json
  packages/logo/tsconfig.esm.json
  packages/memo/jest.config.ts
  packages/memo/package.json
  packages/mp3-encoder/tsconfig.build.json
  packages/onboarding-ui/tsconfig.json
  packages/string-helpers/jest.config.ts
  packages/string-helpers/package.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/tsconfig.cjs.json
  packages/stylis-logical-props-middleware/tsconfig.esm.json
Due: eslint --fix, prettier --write

test(jest): convert configuration to TypeScript
  packages/css-in-js/jest.config.js
  packages/css-in-js/jest.config.ts
  packages/emitter/jest.config.js
  packages/emitter/jest.config.ts
  packages/fuselage-forms/jest.config.ts
  packages/fuselage-hooks/jest.config.ts
  packages/fuselage-toastbar/jest.config.ts
  packages/fuselage/jest.config.ts
  packages/layout/jest.config.ts
  packages/logo/jest.config.ts
  packages/logo/tsconfig.json
  packages/mp3-encoder/jest.config.ts
  packages/mp3-encoder/tsconfig.json
  packages/onboarding-ui/jest.config.ts
  packages/string-helpers/jest.config.ts
  packages/styled/jest.config.ts
  packages/styled/tsconfig.cjs.json
  packages/styled/tsconfig.esm.json
  packages/styled/tsconfig.json
  packages/stylis-logical-props-middleware/jest.config.js
  packages/stylis-logical-props-middleware/jest.config.ts
  packages/stylis-logical-props-middleware/tsconfig.json
Due: eslint --fix, prettier --write

test: remove unused test configuration
  packages/stylis-logical-props-middleware/jest.config.ts
  packages/stylis-logical-props-middleware/package.json
  yarn.lock
Due: eslint --fix, prettier --write

test(jest): use default test matches
  packages/emitter/jest.config.ts
  packages/fuselage-forms/jest.config.ts
  packages/fuselage-toastbar/jest.config.ts
  packages/fuselage/jest.config.ts
  packages/layout/jest.config.ts
  packages/logo/jest.config.ts
  packages/memo/jest.config.ts
  packages/mp3-encoder/jest.config.ts
  packages/onboarding-ui/jest.config.ts
  packages/string-helpers/jest.config.ts
  packages/styled/jest.config.ts
Due: eslint --fix

fix(fuselage): add styles to prevent table overflow in Storybook Docs on mobile
  packages/fuselage/.storybook/docs-overrides.scss
  packages/fuselage/.storybook/preview.tsx
Due: eslint --fix, stylelint --fix

Refactor boolean logic in Options components to use ternary expressions
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
Due: eslint --fix

fix: add margin and padding to deal with focus overlap and re-add overflow hidden
  packages/fuselage/src/components/ContextualbarV2/ContextualbarHeader.tsx
Due: eslint --fix

chore: add heading role level 5 to `ContextualbarTitle`
  packages/fuselage/src/components/ContextualbarV2/ContextualbarTitle.tsx
Due: eslint --fix

chore: add long title case to storybook
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
Due: eslint --fix

test: add long title test case
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.spec.tsx
Due: eslint --fix

feat: ensure ES2024 transpilation
  packages/emitter/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage/tsconfig.json
Due: prettier --write

chore: update heading role in Contextualbar components for accessibility
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.spec.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarTitle.tsx
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
Due: eslint --fix

feat(storybook-dark-mode): Fork `storybook-dark-mode`
  .yarn/patches/storybook-dark-mode-npm-4.0.2-1acb0927fb.patch
  README.md
  packages/fuselage-forms/.storybook/DocsContainer.tsx
  packages/fuselage-forms/.storybook/main.ts
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-forms/package.json
  packages/fuselage-toastbar/.storybook/DocsContainer.tsx
  packages/fuselage-toastbar/.storybook/main.ts
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage/.storybook/DocsContainer.tsx
  packages/fuselage/.storybook/main.ts
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/package.json
  packages/layout/.storybook/DocsContainer.tsx
  packages/layout/.storybook/main.ts
  packages/layout/.storybook/preview.tsx
  packages/layout/package.json
  packages/onboarding-ui/.storybook/DocsContainer.tsx
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/package.json
  packages/storybook-dark-mode/.gitignore
  packages/storybook-dark-mode/LICENSE
  packages/storybook-dark-mode/README.md
  packages/storybook-dark-mode/package.json
  packages/storybook-dark-mode/preset.js
  packages/storybook-dark-mode/src/Tool.tsx
  packages/storybook-dark-mode/src/constants.ts
  packages/storybook-dark-mode/src/index.tsx
  packages/storybook-dark-mode/src/preset/manager.tsx
  packages/storybook-dark-mode/tsconfig.build.json
  packages/storybook-dark-mode/tsconfig.cjs.json
  packages/storybook-dark-mode/tsconfig.esm.json
  packages/storybook-dark-mode/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add changeset
  .changeset/six-worms-cheat.md
Due: prettier --write

chore: add changeset
  .changeset/proud-tables-shave.md
Due: prettier --write

fix: review
  packages/fuselage/src/components/ContextualbarV2/ContextualbarTitle.tsx
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
Due: eslint --fix

feat(storybook-dark-mode): Fork `storybook-dark-mode` (#1849)
  .changeset/proud-tables-shave.md
  .yarn/patches/storybook-dark-mode-npm-4.0.2-1acb0927fb.patch
  README.md
  packages/fuselage-forms/.storybook/DocsContainer.tsx
  packages/fuselage-forms/.storybook/main.ts
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-forms/package.json
  packages/fuselage-toastbar/.storybook/DocsContainer.tsx
  packages/fuselage-toastbar/.storybook/main.ts
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage/.storybook/DocsContainer.tsx
  packages/fuselage/.storybook/main.ts
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/package.json
  packages/layout/.storybook/DocsContainer.tsx
  packages/layout/.storybook/main.ts
  packages/layout/.storybook/preview.tsx
  packages/layout/package.json
  packages/onboarding-ui/.storybook/DocsContainer.tsx
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/package.json
  packages/storybook-dark-mode/.gitignore
  packages/storybook-dark-mode/LICENSE
  packages/storybook-dark-mode/README.md
  packages/storybook-dark-mode/package.json
  packages/storybook-dark-mode/preset.js
  packages/storybook-dark-mode/src/Tool.tsx
  packages/storybook-dark-mode/src/constants.ts
  packages/storybook-dark-mode/src/index.tsx
  packages/storybook-dark-mode/src/preset/manager.tsx
  packages/storybook-dark-mode/tsconfig.build.json
  packages/storybook-dark-mode/tsconfig.cjs.json
  packages/storybook-dark-mode/tsconfig.esm.json
  packages/storybook-dark-mode/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix(fuselage): `ContextualbarHeader` overlap with button focus (#1846)
  .changeset/legal-pets-rest.md
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.spec.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarHeader.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarTitle.tsx
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
Due: eslint --fix, prettier --write

fix: prevent username truncation in system messages with long topics
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

chore: add changeset for username truncation fix
  .changeset/ten-ends-serve.md
Due: prettier --write

fix(fuselage): ButtonGroup margin spacing in RTL mode
  .changeset/fix-buttongroup-rtl-spacing.md
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
Due: stylelint --fix, prettier --write

feat: ES2024 (#1717)
  .changeset/six-worms-cheat.md
  packages/emitter/tsconfig.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage/tsconfig.json
Due: prettier --write

test: add MessageSystem long topic story
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.stories.tsx
Due: eslint --fix

chore(deps): patch dependencies
  package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/onboarding-ui/package.json
  packages/storybook-dark-mode/package.json
  packages/styled/package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade Babel dependencies
  packages/fuselage/package.json
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

chore: remove dangling dependency
  packages/fuselage-forms/package.json
  yarn.lock
Due: prettier --write

test: add MessageSystem long topic story with snapshot
  packages/fuselage/src/components/Message/MessageSystem/__snapshots__/MessageSystem.spec.tsx.snap
Due: none

chore(deps): Upgrade some dependencies (#1853)
  package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/storybook-dark-mode/package.json
  packages/styled/package.json
  yarn.lock
Due: prettier --write

test: fix snapshot for WithLongTopic story
  packages/fuselage/src/components/Message/MessageSystem/__snapshots__/MessageSystem.spec.tsx.snap
Due: none

fix(fuselage): username truncate in system msg with long topics (#1850)
  .changeset/ten-ends-serve.md
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.stories.tsx
  packages/fuselage/src/components/Message/MessageSystem/__snapshots__/MessageSystem.spec.tsx.snap
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

feat(emitter): convert to ESM package
  packages/emitter/jest.config.ts
  packages/emitter/package.json
  packages/emitter/rollup.config.mjs
  packages/emitter/src/emitter.spec.ts
  packages/emitter/tsconfig.json
  packages/fuselage-forms/jest.config.ts
  packages/fuselage-hooks/jest.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor(memo): stricten internal types
  packages/memo/src/memoize.ts
  packages/memo/tsconfig.json
Due: eslint --fix, prettier --write

feat(css-supports): convert to ESM package
  packages/css-supports/package.json
  packages/css-supports/tsconfig.build.json
  packages/css-supports/tsconfig.cjs.json
  packages/css-supports/tsconfig.esm.json
  packages/css-supports/tsconfig.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
