Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: run node in docker
  .github/actions/test/Dockerfile
  .github/actions/test/entrypoint.sh
Due: none

chore: checking loki test in docker action
  .github/actions/test/Dockerfile
  .github/actions/test/entrypoint.sh
Due: none

chore: docker action
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add root usr
  .github/actions/test/Dockerfile
Due: none

chore: add yarn
  .github/actions/test/Dockerfile
Due: none

update
  .github/actions/test/Dockerfile
Due: none

chore: debug
  .github/actions/test/entrypoint.sh
Due: none

update
  .github/actions/test/entrypoint.sh
Due: none

chore: update:
  .github/actions/test/entrypoint.sh
Due: none

test
  .github/actions/test/entrypoint.sh
Due: none

udpate
  .github/actions/test/entrypoint.sh
Due: none

chore: yarn version 1.22.19
  .github/actions/test/entrypoint.sh
Due: none

chore: add ci cmd
  .github/actions/test/entrypoint.sh
Due: none

Add new phone-plus icon and update other phone related icons
  packages/icons/glyphsMapping.json
  packages/icons/src/phone-disabled.svg
  packages/icons/src/phone-in.svg
  packages/icons/src/phone-issue.svg
  packages/icons/src/phone-off.svg
  packages/icons/src/phone-out.svg
  packages/icons/src/phone-plus.svg
  packages/icons/src/phone.svg
Due: prettier --write

Create lemon-icons-wash.md
  .changeset/lemon-icons-wash.md
Due: prettier --write

changes
  packages/fuselage-tamagui/src/Theme.ts
  packages/fuselage-tamagui/src/components/AnimatedVisibility/AnimatedVisibility.stories.tsx
  packages/fuselage-tamagui/src/components/AnimatedVisibility/AnimatedVisibility.tsx
  packages/fuselage-tamagui/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage-tamagui/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage-tamagui/src/components/Avatar/Avatar.tsx
  packages/fuselage-tamagui/src/components/Avatar/index.ts
  packages/fuselage-tamagui/src/components/Chip/Chip.tsx
  packages/fuselage-tamagui/src/components/Chip/index.ts
  packages/fuselage-tamagui/src/components/EmailInput/EmailInput.tsx
  packages/fuselage-tamagui/src/components/Margins/Margins.tsx
  packages/fuselage-tamagui/src/components/Margins/index.ts
  packages/fuselage-tamagui/src/components/Option/Option.tsx
  packages/fuselage-tamagui/src/components/Option/index.ts
  packages/fuselage-tamagui/src/components/Options/Options.tsx
  packages/fuselage-tamagui/src/components/Options/index.ts
  packages/fuselage-tamagui/src/components/Options/useCursor.ts
  packages/fuselage-tamagui/src/components/Options/useVisible.ts
  packages/fuselage-tamagui/src/helpers/appendClassName.ts
  packages/fuselage-tamagui/src/helpers/fromCamelToKebab.ts
  packages/fuselage-tamagui/src/hooks/useStyle.ts
  packages/fuselage-tamagui/src/styleTokens.ts
  yarn.lock
Due: eslint --fix

use origin docker image headless
  .github/actions/test/Dockerfile
Due: none

chore: revive docker test
  .github/actions/test/Dockerfile
  .github/actions/test/entrypoint.sh
Due: none

fix: yoga layout error
  packages/fuselage/package.json
Due: prettier --write

fix: use correct docker image
  .github/actions/test/Dockerfile
Due: none

chore: use 123 node
  .github/actions/test/Dockerfile
Due: none

chore: remove chrome concurrency causes error and increases the CI time
  packages/fuselage/package.json
Due: prettier --write

try: to fix fail test
  .github/actions/test/Dockerfile
  packages/fuselage/package.json
Due: prettier --write

chore: full access to create folder
  .github/actions/test/Dockerfile
Due: none

chore: non root user
  .github/actions/test/Dockerfile
  .github/actions/test/action.yml
Due: prettier --write

update
  .github/actions/test/Dockerfile
  .github/actions/test/action.yml
Due: prettier --write

chore: reduce chrome concurrency
  .github/actions/test/Dockerfile
  packages/fuselage/package.json
Due: prettier --write

chore: set chrome concurrency to 1
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

fix: staticServer.close is not a function on running chrome.app
  .yarn/patches/@loki-target-chrome-app-npm-0.35.0-b92d860c00.patch
  package.json
Due: prettier --write

chore: update lockfile with loki/target-chrome-app patch
  yarn.lock
Due: none

update
  README.md
Due: prettier --write

chore: update refs
  README.md
  packages/fuselage/.loki/.gitignore
  packages/fuselage/.loki/reference/desktop_Inputs_PaginatedSelectFiltered_Disabled.png
  packages/fuselage/.loki/reference/desktop_Inputs_PaginatedSelectFiltered_Errored.png
  packages/fuselage/.loki/reference/desktop_Inputs_PaginatedSelectFiltered_Normal.png
  packages/fuselage/.loki/reference/mobile_Inputs_PaginatedSelectFiltered_Disabled.png
  packages/fuselage/.loki/reference/mobile_Inputs_PaginatedSelectFiltered_Errored.png
  packages/fuselage/.loki/reference/mobile_Inputs_PaginatedSelectFiltered_Normal.png
  packages/fuselage/.loki/reference/tablet_Inputs_PaginatedSelectFiltered_Disabled.png
  packages/fuselage/.loki/reference/tablet_Inputs_PaginatedSelectFiltered_Errored.png
  packages/fuselage/.loki/reference/tablet_Inputs_PaginatedSelectFiltered_Normal.png
Due: prettier --write
