Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore(fuselage-toastbar): fix DarkMode Provider (#842)
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write

WIP
  README.md
  packages/overlay/.eslintignore
  packages/overlay/.gitignore
  packages/overlay/.prettierignore
  packages/overlay/README.md
  packages/overlay/package.json
  packages/overlay/src/Menu/MenuButton.tsx
  packages/overlay/src/Menu/MenuItem.tsx
  packages/overlay/src/Menu/MenuList.tsx
  packages/overlay/src/Menu/MenuPopover.tsx
  packages/overlay/src/Menu/MenuSection.tsx
  packages/overlay/src/index.ts
  packages/overlay/tsconfig-cjs.json
  packages/overlay/tsconfig-esm.json
  packages/overlay/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

test(fuselage): Add test cases to Callout component (#828)
  packages/fuselage/src/components/Callout/Callout.spec.tsx
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/helpers/setStoryDescription.ts
Due: eslint --fix

fix(fuselage): Sidebar spacings (#837)
  packages/fuselage/src/components/Option/Option.styles.scss
Due: stylelint --fix

Added templates
  packages/uikit-playground/.prettierrc.js
  packages/uikit-playground/src/Components/Draggable/DraggableList.tsx
  packages/uikit-playground/src/Components/Draggable/DraggableListItem.tsx
  packages/uikit-playground/src/Components/DropDown/DropDown.tsx
  packages/uikit-playground/src/Components/DropDown/ItemsIcon.tsx
  packages/uikit-playground/src/Components/NavBar/BurgerIcon/Line.tsx
  packages/uikit-playground/src/Components/Preview/Display/RenderPayload/ElementWrapper.tsx
  packages/uikit-playground/src/Components/Preview/Display/RenderPayload/RenderPayload.tsx
  packages/uikit-playground/src/Components/Preview/NavPanel/NavPanel.tsx
  packages/uikit-playground/src/Components/Preview/SplitPlaneContainer/SplitPlaneContainer.tsx
  packages/uikit-playground/src/Components/SurfaceSelect/options.ts
  packages/uikit-playground/src/Components/TemplatesModal/Container/Container.tsx
  packages/uikit-playground/src/Components/TemplatesModal/Container/index.ts
  packages/uikit-playground/src/Components/TemplatesModal/Templates.tsx
  packages/uikit-playground/src/Components/TemplatesModal/index.ts
  packages/uikit-playground/src/Components/ToggleTabs/index.tsx
  packages/uikit-playground/src/Context/action/actionPreviewAction.ts
  packages/uikit-playground/src/Context/action/docAction.ts
  packages/uikit-playground/src/Context/action/editorTabsToggleAction.ts
  packages/uikit-playground/src/Context/action/index.ts
  packages/uikit-playground/src/Context/action/isMobileAction.ts
  packages/uikit-playground/src/Context/action/isTabletAction.ts
  packages/uikit-playground/src/Context/action/navMenuToggleAction.ts
  packages/uikit-playground/src/Context/action/previewTabsToggleAction.ts
  packages/uikit-playground/src/Context/action/sidebarToggleAction.ts
  packages/uikit-playground/src/Context/action/surfaceAction.ts
  packages/uikit-playground/src/Context/action/tabsToggleAction.ts
  packages/uikit-playground/src/Context/action/templatesToggleAction.ts
  packages/uikit-playground/src/Context/action/userAction.ts
  packages/uikit-playground/src/Context/initialState.ts
  packages/uikit-playground/src/Context/reducer.ts
  packages/uikit-playground/src/Pages/Playground.tsx
Due: eslint --fix

Fix reactions wrap and styles
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
Due: eslint --fix, stylelint --fix

fix merge
  packages/fuselage/.storybook/main.js
  packages/fuselage/package.json
  packages/fuselage/src/components/Slider/Slider.spec.tsx
  packages/fuselage/src/components/Slider/Slider.stories.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
  packages/fuselage/src/components/Slider/SliderHead.tsx
  packages/fuselage/src/components/Slider/SliderThumb.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
  packages/fuselage/src/components/Slider/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix tests
  packages/fuselage/src/components/Slider/Slider.spec.tsx
Due: eslint --fix

surfaces variation to box prop
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

chore(fuselage): Surfaces variation to box prop (#844)
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

Temp Fix
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

fix(message-parser): Link broken (#807)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

chore(message-parser): added more tests for url and link cases
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

fix font weight on FormPageLayout according to figma
  packages/layout/src/FormPageLayout/FormPageLayout.styles.tsx
Due: eslint --fix

fix(fuselage): Reaction list not wrapping (#843)
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
Due: eslint --fix, stylelint --fix

chore: change font weight on FormPageLayout according to figma (#845)
  packages/layout/src/FormPageLayout/FormPageLayout.styles.tsx
Due: eslint --fix

chore(layout): Added more form props
  packages/layout/src/FormPageLayout/Form.tsx
  packages/layout/src/VerticalWizardLayout/VerticalWizardLayout.tsx
Due: eslint --fix

chore(layout): Added more form sub component props
  packages/layout/src/FormPageLayout/Form.tsx
  packages/layout/src/FormPageLayout/FormFooter.tsx
  packages/layout/src/FormPageLayout/FormHeader.tsx
  packages/layout/src/FormPageLayout/FormSubtitle.tsx
  packages/layout/src/FormPageLayout/FormTitle.tsx
Due: eslint --fix

Rollback invalid dependency
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

review
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.tsx
Due: eslint --fix, stylelint --fix

chore: New underline variant for the Tabs component (#836)
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.tsx
Due: eslint --fix, stylelint --fix

Update packages/fuselage/src/components/Slider/SliderThumb.tsx
  packages/fuselage/src/components/Slider/SliderThumb.tsx
Due: eslint --fix

fix(fuselage): Tabs divider and state colors
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.tsx
Due: eslint --fix, stylelint --fix

Add Role Alert to toastbar
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

chore(fuselage): Add aria-role alert to toastbar (#846)
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

feat(message-parser): Adding matrix username pattern to user mention parser
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/mention.test.ts
Due: eslint --fix

feat(message-parser): Add Matrix Protocol username pattern to User Mention (#847)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/mention.test.ts
Due: eslint --fix

Accept tuple instead of an array as value
  packages/fuselage/src/components/Slider/Slider.stories.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
Due: eslint --fix

feat: Slider component (#826)
  packages/fuselage/.storybook/main.js
  packages/fuselage/package.json
  packages/fuselage/src/components/Slider/Slider.spec.tsx
  packages/fuselage/src/components/Slider/Slider.stories.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
  packages/fuselage/src/components/Slider/SliderHead.tsx
  packages/fuselage/src/components/Slider/SliderThumb.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
  packages/fuselage/src/components/Slider/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

add broken test
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

prettier
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

feat: Add link property to banner component
  packages/fuselage/src/components/Banner/Banner.stories.js
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix, stylelint --fix

test: Add test to check link rendering on banner
  packages/fuselage/src/components/Banner/Banner.spec.tsx
Due: eslint --fix

feat: Add link property to banner component (#849)
  packages/fuselage/src/components/Banner/Banner.spec.tsx
  packages/fuselage/src/components/Banner/Banner.stories.js
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix, stylelint --fix

chore: upgrade packages
  yarn.lock
Due: none

Updating FearFul emoji
  packages/message-parser/src/grammar.pegjs
Due: none

Add first test
  packages/message-parser/tests/emoji.test.ts
Due: eslint --fix

feat: wordbreak in Box
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/stylingProps.ts
Due: eslint --fix

chore: review
  packages/fuselage/src/components/Box/props.stories.mdx
Due: eslint --fix

feat(fuselage): Adds wordbreak in Box Component (#853)
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/stylingProps.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
