Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: refs
  packages/fuselage-ui-kit/.loki/reference/mobile_Surfaces_Banner_Section_With_Date_Picker_Accessory.png
  packages/fuselage-ui-kit/.loki/reference/mobile_Surfaces_Modal_Actions_With_Date_Picker.png
  packages/fuselage-ui-kit/.loki/reference/mobile_Surfaces_Modal_Section_With_Date_Picker_Accessory.png
Due: none

docs(monorepo): Update pull request template (#615)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

exports on index
  packages/fuselage/src/components/Label/Label.tsx
  packages/fuselage/src/components/Label/index.tsx
  packages/fuselage/src/components/NumberInput/NumberInput.tsx
  packages/fuselage/src/components/NumberInput/index.tsx
  packages/fuselage/src/components/ProgressBar/ProgressBar.tsx
  packages/fuselage/src/components/ProgressBar/index.tsx
  packages/fuselage/src/components/SearchInput/SearchInput.tsx
  packages/fuselage/src/components/SearchInput/index.tsx
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
  packages/fuselage/src/components/Skeleton/index.tsx
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
  packages/fuselage/src/components/StatusBullet/index.tsx
  packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/fuselage/src/components/Tabs/TabsItem.tsx
  packages/fuselage/src/components/Tabs/index.tsx
  packages/fuselage/src/components/Tag/Tag.tsx
  packages/fuselage/src/components/Tag/index.tsx
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.tsx
  packages/fuselage/src/components/TelephoneInput/index.tsx
  packages/fuselage/src/components/TextAreaInput/TextArea.tsx
  packages/fuselage/src/components/TextAreaInput/index.tsx
  packages/fuselage/src/components/TextInput/TextInput.tsx
  packages/fuselage/src/components/TextInput/index.tsx
  packages/fuselage/src/components/Throbber/Throbber.tsx
  packages/fuselage/src/components/Throbber/index.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/ToggleSwitch/index.tsx
Due: eslint --fix

fix: AccordionItem, Avatar and TelephoneInput
  packages/fuselage/src/components/Accordion/AccordionItem.spec.tsx
  packages/fuselage/src/components/Accordion/AccordionItem.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/TelephoneInput/index.d.ts
Due: eslint --fix

feat: add code snippet component
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.js
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.spec.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.stories.mdx
  packages/fuselage/src/components/CodeSnippet/index.d.ts
  packages/fuselage/src/components/CodeSnippet/index.ts
  packages/fuselage/src/components/CodeSnippet/styles.scss
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

feat(fuselage): Field.Link component (#619)
  packages/fuselage/.loki/reference/desktop_Forms_Field_Description.png
  packages/fuselage/.loki/reference/desktop_Forms_Field_Error.png
  packages/fuselage/.loki/reference/desktop_Forms_Field_Error_and_Hint.png
  packages/fuselage/.loki/reference/desktop_Forms_Field_Example.png
  packages/fuselage/.loki/reference/desktop_Forms_Field_Hint.png
  packages/fuselage/.loki/reference/desktop_Forms_Field_Hint_and_Link.png
  packages/fuselage/.loki/reference/desktop_Forms_Field_Label.png
  packages/fuselage/.loki/reference/desktop_Forms_Field_Link.png
  packages/fuselage/.loki/reference/desktop_Forms_Field_Row.png
  packages/fuselage/.loki/reference/mobile_Forms_Field_Description.png
  packages/fuselage/.loki/reference/mobile_Forms_Field_Error.png
  packages/fuselage/.loki/reference/mobile_Forms_Field_Error_and_Hint.png
  packages/fuselage/.loki/reference/mobile_Forms_Field_Example.png
  packages/fuselage/.loki/reference/mobile_Forms_Field_Hint.png
  packages/fuselage/.loki/reference/mobile_Forms_Field_Hint_and_Link.png
  packages/fuselage/.loki/reference/mobile_Forms_Field_Label.png
  packages/fuselage/.loki/reference/mobile_Forms_Field_Link.png
  packages/fuselage/.loki/reference/mobile_Forms_Field_Row.png
  packages/fuselage/.loki/reference/tablet_Forms_Field_Description.png
  packages/fuselage/.loki/reference/tablet_Forms_Field_Error.png
  packages/fuselage/.loki/reference/tablet_Forms_Field_Error_and_Hint.png
  packages/fuselage/.loki/reference/tablet_Forms_Field_Example.png
  packages/fuselage/.loki/reference/tablet_Forms_Field_Hint.png
  packages/fuselage/.loki/reference/tablet_Forms_Field_Hint_and_Link.png
  packages/fuselage/.loki/reference/tablet_Forms_Field_Label.png
  packages/fuselage/.loki/reference/tablet_Forms_Field_Link.png
  packages/fuselage/.loki/reference/tablet_Forms_Field_Row.png
  packages/fuselage/src/components/Field/Field.Error.spec.tsx
  packages/fuselage/src/components/Field/Field.Hint.spec.tsx
  packages/fuselage/src/components/Field/Field.Label.spec.tsx
  packages/fuselage/src/components/Field/Field.Link.spec.tsx
  packages/fuselage/src/components/Field/Field.Row.spec.tsx
  packages/fuselage/src/components/Field/Field.spec.tsx
  packages/fuselage/src/components/Field/Field.stories.mdx
  packages/fuselage/src/components/Field/Field.tsx
  packages/fuselage/src/components/Field/FieldLink.tsx
  packages/fuselage/src/components/Field/index.tsx
  packages/fuselage/src/components/Field/styles.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

Revert "Add CodeSee architecture diagram workflow to repository (#604)"
  .github/workflows/codesee-arch-diagram.yml
Due: prettier --write

review
  packages/fuselage-hooks/src/extractSizeFromObserver.ts
  packages/fuselage-hooks/src/useBorderBoxSize.ts
  packages/fuselage-hooks/src/useContentBoxSize.ts
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix

..
  packages/fuselage-hooks/src/useContentBoxSize.ts
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix

..
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix

.
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix

Convert AnimatedVisibility component from js to tsx
  packages/fuselage/src/components/Box/AnimatedVisibility/AnimatedVisibility.d.ts
  packages/fuselage/src/components/Box/AnimatedVisibility/AnimatedVisibility.js
  packages/fuselage/src/components/Box/AnimatedVisibility/AnimatedVisibility.tsx
Due: eslint --fix

Convert Flex component from js to tsx
  packages/fuselage/src/components/Box/Flex/Flex.tsx
  packages/fuselage/src/components/Box/Flex/FlexItem.tsx
  packages/fuselage/src/components/Box/Flex/index.d.ts
  packages/fuselage/src/components/Box/Flex/index.js
  packages/fuselage/src/components/Box/Flex/index.ts
Due: eslint --fix

Fix AnimatedVisibility
  packages/fuselage/src/components/Box/AnimatedVisibility/AnimatedVisibility.tsx
Due: eslint --fix

fix(fuselage-hooks): useContentBoxSize and useBorderBoxSize crashing in safari (#616)
  packages/fuselage-hooks/src/extractSizeFromObserver.ts
  packages/fuselage-hooks/src/useBorderBoxSize.ts
  packages/fuselage-hooks/src/useContentBoxSize.ts
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix

Fix AnimatedVisibility
  packages/fuselage/src/components/Box/AnimatedVisibility/AnimatedVisibility.tsx
  packages/fuselage/src/components/Box/AnimatedVisibility/index.ts
Due: eslint --fix

Convert PositionAnimated component from js to tsx
  packages/fuselage/src/components/Box/Position/Position.d.ts
  packages/fuselage/src/components/Box/Position/Position.tsx
  packages/fuselage/src/components/Box/Position/PositionAnimated.d.ts
  packages/fuselage/src/components/Box/Position/PositionAnimated.js
  packages/fuselage/src/components/Box/Position/PositionAnimated.tsx
Due: eslint --fix

Fix ci
  packages/fuselage-ui-kit/src/stories/Modal.stories.tsx
  packages/fuselage/src/components/Box/AnimatedVisibility/AnimatedVisibility.tsx
Due: eslint --fix

replace index.ts to index.js
  packages/fuselage/src/components/CodeSnippet/index.js
Due: eslint --fix

Fix ci
  packages/fuselage/src/components/Box/AnimatedVisibility/index.ts
Due: eslint --fix

fix: defaultValue
  packages/onboarding-ui/src/forms/StandaloneServerForm/StandaloneServerForm.tsx
Due: eslint --fix

chore: remove duplicated MessageDivider story
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.stories.mdx
Due: eslint --fix

chore(fuselage): Remove deprecated addon blocks import (#614)
  packages/fuselage/.storybook/preview.js
  packages/fuselage/src/components/Box/Box.stories.mdx
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.stories.mdx
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelect.js
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/TopBar.stories.tsx
  packages/fuselage/src/playground/playground.stories.mdx
  packages/onboarding-ui/src/forms/StandaloneServerForm/StandaloneServerForm.tsx
Due: eslint --fix

feat(onboarding-ui): Add SomethingWentWrongPage Component
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/SomethingWentWrongPage/SomethingWentWrongPage.spec.tsx
  packages/onboarding-ui/src/pages/SomethingWentWrongPage/SomethingWentWrongPage.stories.tsx
  packages/onboarding-ui/src/pages/SomethingWentWrongPage/SomethingWentWrongPage.tsx
  packages/onboarding-ui/src/pages/SomethingWentWrongPage/index.ts
Due: eslint --fix, prettier --write

Convert Scrollable component from js to tsx
  packages/fuselage/src/components/Box/Scrollable/Scrollable.stories.mdx
  packages/fuselage/src/components/Box/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Box/Scrollable/index.d.ts
  packages/fuselage/src/components/Box/Scrollable/index.js
  packages/fuselage/src/components/Box/Scrollable/index.ts
  packages/fuselage/src/components/Modal/ModalContent.tsx
Due: eslint --fix

fix scrollable import
  packages/fuselage/src/components/Box/Scrollable/Scrollable.stories.tsx
  packages/fuselage/src/components/Box/Scrollable/index.ts
  packages/fuselage/src/components/Modal/ModalContent.tsx
Due: eslint --fix

fix scrollable
  packages/fuselage/src/components/Box/Scrollable/Scrollable.tsx
Due: eslint --fix

chore(monorepo): Remove dangling Loki patch
  packages/fuselage/loki-runner.patch
  packages/fuselage/package.json
Due: prettier --write

doc(fuselage): Add Field use examples
  packages/fuselage/src/components/Field/Field.stories.tsx
Due: eslint --fix

convert to ts
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.tsx
  packages/fuselage/src/components/CodeSnippet/index.d.ts
  packages/fuselage/src/components/CodeSnippet/index.tsx
Due: eslint --fix
