Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: testing
  .github/workflows/test.yml
Due: prettier --write

chore: wip
  .github/workflows/test.yml
Due: prettier --write

chore: config git
  .github/workflows/test.yml
Due: prettier --write

chore: try v5
  .github/workflows/test.yml
Due: prettier --write

wip
  .github/workflows/test.yml
Due: prettier --write

fix: syntax
  .github/workflows/test.yml
Due: prettier --write

wip
  .github/workflows/cd.yml
Due: prettier --write

wip
  .github/workflows/cd.yml
  .github/workflows/test.yml
Due: prettier --write

chore: update secret
  .github/workflows/test.yml
Due: prettier --write

chore: test
  .github/workflows/test.yml
Due: prettier --write

fix padding right
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

chore: add job after publish
  .github/workflows/cd.yml
  .github/workflows/test.yml
Due: prettier --write

review changes
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

fix(fuselage): Message Highlight touching text (#1056)
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): `AudioPlayer` responsiveness (#1052)
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Slider/Slider.stories.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Due: eslint --fix

chore: spaceColumn
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix, stylelint --fix

chore: fix review
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix

feat(fuselage): Add `spacedColumn` prop to `Option` component (#1057)
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix, stylelint --fix

chore: add new token w150
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
Due: eslint --fix, stylelint --fix, prettier --write

chore: updage status-warning-2 color
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): auto messsage direction in ltr & rtl messages
  packages/fuselage/src/components/Message/MessageBody.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewContent.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewDescription.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageBody.tsx
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessageOrigin.tsx
Due: eslint --fix, stylelint --fix

yarn.lock
  yarn.lock
Due: none

chore: update component
  packages/fuselage/src/components/ContextualBar/ContextualBar.stories.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBar.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarAction.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarActions.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarBack.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarButton.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarClose.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarFooter.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarInnerContent.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarSkeleton.tsx
  packages/fuselage/src/components/ContextualBar/index.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarAction.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarActions.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarButton.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarContent.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarEmptyContent.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarFooter.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarHeader.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarIcon.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarSkeleton.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarTitle.tsx
  packages/fuselage/src/components/Contextualbar/index.ts
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

fix imports
  packages/fuselage/src/components/Select/Listbox.tsx
  packages/fuselage/src/components/Select/Popover.tsx
Due: eslint --fix

separate SelectV2
  packages/fuselage/src/components/Menu/v2/Menu.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectV2.tsx
  packages/fuselage/src/components/Select/index.ts
  packages/fuselage/src/components/Tile/Tile.tsx
Due: eslint --fix

feat(fuselage): `Contextualbar` component (#749)
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarAction.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarActions.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarButton.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarContent.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarEmptyContent.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarFooter.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarHeader.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarIcon.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarSkeleton.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarTitle.tsx
  packages/fuselage/src/components/Contextualbar/index.ts
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

allow children element
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

fix(fuselage): Reintroduce children to IconButton (#1061)
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

chore(fuselage, fuselage-tokens): update `status-warning-2` color (#1058)
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write
