Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore(ui-kit): Duplicated type in union (#1133)
  packages/ui-kit/src/blocks/LayoutBlock.ts
Due: eslint --fix

chore(release): 0.31.25
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

chore: fix accordion a11y
  packages/fuselage/src/components/Accordion/Accordion.spec.tsx
  packages/fuselage/src/components/Accordion/Accordion.tsx
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  packages/fuselage/src/components/Accordion/index.tsx
Due: eslint --fix

chore(fuselage): Fix `Accordion` a11y (#1134)
  packages/fuselage/src/components/Accordion/Accordion.spec.tsx
  packages/fuselage/src/components/Accordion/Accordion.tsx
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  packages/fuselage/src/components/Accordion/index.tsx
Due: eslint --fix

fix css theme
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
Due: stylelint --fix

fix(fuselage): css theme (#1135)
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
Due: stylelint --fix

chore: button click animation
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix, stylelint --fix

improve selector
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

chore: transparent table bg
  packages/fuselage/src/components/Table/Table.styles.scss
Due: stylelint --fix

duh
  packages/fuselage/src/components/Table/Table.styles.scss
Due: stylelint --fix

chore: remove transition
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

fix selector order
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): button click animation (#1136)
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix, stylelint --fix

chore: a11y `Table` tests
  packages/fuselage/src/components/Table/Table.spec.tsx
  packages/fuselage/src/components/Table/Table.stories.tsx
Due: eslint --fix

fix: test timeout
  packages/fuselage/src/components/Table/Table.spec.tsx
Due: eslint --fix

chore(fuselage): `Table` background-color (#1137)
  packages/fuselage/src/components/Table/Table.spec.tsx
  packages/fuselage/src/components/Table/Table.stories.tsx
  packages/fuselage/src/components/Table/Table.styles.scss
Due: eslint --fix, stylelint --fix

chore: field & label adjustments
  packages/fuselage/src/components/Field/Field.spec.tsx
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/Field/Field.tsx
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Field/FieldLink.tsx
  packages/fuselage/src/components/Field/FieldRow.tsx
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Field/index.tsx
  packages/fuselage/src/components/Label/Label.spec.tsx
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Label/__snapshots__/Label.spec.tsx.snap
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

Move translation field to `TextObject` subtypes
  packages/ui-kit/src/blocks/TextObject.ts
  packages/ui-kit/src/blocks/WithTranslations.ts
  packages/ui-kit/src/blocks/text/Markdown.ts
  packages/ui-kit/src/blocks/text/PlainText.ts
Due: eslint --fix

Expose `BlockRenderers<T>`
  packages/ui-kit/src/index.ts
Due: eslint --fix

Expose `RenderableLayoutBlock`
  packages/ui-kit/src/index.ts
Due: eslint --fix

chore: WithErrorWrapper
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Field/FieldLink.tsx
  packages/fuselage/src/components/Field/FieldRow.tsx
  packages/fuselage/src/components/Field/index.tsx
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/helpers/WithErrorWrapper.tsx
Due: eslint --fix

refactor(ui-kit): Review some types (#1139)
  packages/ui-kit/src/blocks/TextObject.ts
  packages/ui-kit/src/blocks/WithTranslations.ts
  packages/ui-kit/src/blocks/text/Markdown.ts
  packages/ui-kit/src/blocks/text/PlainText.ts
  packages/ui-kit/src/index.ts
Due: eslint --fix

chore(fuselage): `Field` & `Label` best practices adjustments (#1138)
  packages/fuselage/src/components/Field/Field.spec.tsx
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/Field/Field.tsx
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Field/FieldLink.tsx
  packages/fuselage/src/components/Field/FieldRow.tsx
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Field/index.tsx
  packages/fuselage/src/components/Label/Label.spec.tsx
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Label/__snapshots__/Label.spec.tsx.snap
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/helpers/WithErrorWrapper.tsx
Due: eslint --fix, stylelint --fix

fix
  packages/fuselage/src/components/Box/props.stories.mdx
Due: eslint --fix

change field label typography to p2b
  packages/fuselage/src/components/Field/Field.styles.scss
Due: stylelint --fix

chore(fuselage): change `FieldLabel` typography (#1141)
  packages/fuselage/src/components/Field/Field.styles.scss
Due: stylelint --fix

improve fallback logic: position target centrally
  packages/fuselage-hooks/src/usePosition/index.ts
Due: eslint --fix

fix: change MessageReactionAction icon size to x16
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionAction.tsx
Due: eslint --fix

fix(fuselage): `MessageReactionAction` icon size (#1143)
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionAction.tsx
Due: eslint --fix

chore: change IconButton large size to 38px
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

add tests and improve edge case
  packages/fuselage-hooks/src/usePosition/index.spec.ts
  packages/fuselage-hooks/src/usePosition/index.ts
Due: eslint --fix

chore: a11y
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

chore: checkbox adjustments
  packages/fuselage/src/components/CheckBox/CheckBox.spec.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Label/Label.tsx
  packages/fuselage/src/components/Label/__snapshots__/Label.spec.tsx.snap
Due: eslint --fix, stylelint --fix

chore(fuselage): Checkbox best practices adjustments (#1145)
  packages/fuselage/src/components/CheckBox/CheckBox.spec.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Label/Label.tsx
  packages/fuselage/src/components/Label/__snapshots__/Label.spec.tsx.snap
Due: eslint --fix, stylelint --fix

chore: adjust button size
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

chore: improve stories
  packages/fuselage/src/components/Button/Button.stories.tsx
Due: eslint --fix

adjust tests and logic
  packages/fuselage-hooks/src/usePosition/index.spec.ts
  packages/fuselage-hooks/src/usePosition/index.ts
Due: eslint --fix

chore: improve Button types
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix

chore: a11y button tests
  packages/fuselage/src/components/Button/Button.spec.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.spec.tsx
Due: eslint --fix

Normalize tests
  packages/fuselage-hooks/src/usePosition/index.spec.ts
  packages/fuselage-hooks/src/usePosition/index.ts
Due: eslint --fix
