Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

refactor(fuselage): remove explicit references to `forwardRef` types
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Options/OptionType.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/SelectFocus.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): review types of `InputBox` derived components
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.stories.tsx
  packages/fuselage/src/components/EmailInput/EmailInput.stories.tsx
  packages/fuselage/src/components/EmailInput/EmailInput.tsx
  packages/fuselage/src/components/Icon/Icon.stories.tsx
  packages/fuselage/src/components/InputBox/Input.tsx
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/InputBox/InputBoxAddon.tsx
  packages/fuselage/src/components/NumberInput/NumberInput.stories.tsx
  packages/fuselage/src/components/NumberInput/NumberInput.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
  packages/fuselage/src/components/PasswordInput/PasswordInput.stories.tsx
  packages/fuselage/src/components/PasswordInput/PasswordInput.tsx
  packages/fuselage/src/components/SearchInput/SearchInput.stories.tsx
  packages/fuselage/src/components/SearchInput/SearchInput.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.stories.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
  packages/fuselage/src/components/SelectInput/index.ts
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidepanel/Sidepanel.stories.tsx
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.stories.tsx
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.tsx
  packages/fuselage/src/components/TextAreaInput/TextAreaInput.stories.tsx
  packages/fuselage/src/components/TextAreaInput/TextAreaInput.tsx
  packages/fuselage/src/components/TextInput/TextInput.stories.tsx
  packages/fuselage/src/components/TextInput/TextInput.tsx
  packages/fuselage/src/components/UrlInput/UrlInput.stories.tsx
  packages/fuselage/src/components/UrlInput/UrlInput.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): prefer `RefAttributes<T>` type
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Menu/MenuOption.tsx
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): remove some `forwardRef` usage
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/Label/Label.tsx
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/ProgressBar/ProgressBar.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/Throbber/Throbber.tsx
  packages/fuselage/src/components/Tile/Tile.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
  packages/layout/layout.api.md
Due: eslint --fix, prettier --write

refactor(fuselage): remove some `forwardRef` usage
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Menu/MenuOption.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchor.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/NavBar/NavBarGroup.tsx
  packages/fuselage/src/components/NavBar/NavBarItem.tsx
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
  packages/fuselage/src/components/Options/OptionContainer.tsx
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectWrapper.tsx
  packages/fuselage/src/components/SelectInput/SelectInputOption.tsx
  packages/fuselage/src/components/SelectInput/SelectInputPlaceholder.tsx
  packages/fuselage/src/components/Tabs/TabsItem.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): remove some `forwardRef` usage
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAddon.tsx
  packages/fuselage/src/components/Select/SelectAria.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/SelectTrigger.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelList.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelListItem.tsx
Due: eslint --fix, prettier --write

refactor(fuselage-forms): remove `forwardRef` from HOCs
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
Due: eslint --fix, prettier --write

refactor(layout): remove `forwardRef` from `Form`
  packages/layout/layout.api.md
  packages/layout/src/components/FormPageLayout/Form.tsx
  packages/layout/src/components/FormPageLayout/FormFooter.tsx
  packages/layout/src/components/FormPageLayout/FormHeader.tsx
  packages/layout/src/components/FormPageLayout/FormSubtitle.tsx
  packages/layout/src/components/FormPageLayout/FormTitle.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): remove some `forwardRef` usage
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktopWrapper.tsx
  packages/fuselage/src/components/Dropdown/DropdownMobile.tsx
  packages/fuselage/src/components/Message/Message.tsx
  packages/fuselage/src/components/Message/MessageBlock.tsx
  packages/fuselage/src/components/Message/MessageNameContainer.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReaction.tsx
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.tsx
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbarItem.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbarWrapper.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): remove some `forwardRef` usage
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarAction.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarActions.tsx
  packages/fuselage/src/components/SidebarV2/Sidebar.tsx
  packages/fuselage/src/components/SidebarV2/SidebarAction.tsx
  packages/fuselage/src/components/SidebarV2/SidebarActions.tsx
  packages/fuselage/src/components/SidebarV2/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarListItem.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): remove some `forwardRef` usage
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarContent.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarEmptyContent.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarFooter.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarSection.tsx
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarContent.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarEmptyContent.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarFooter.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarSection.tsx
Due: eslint --fix, prettier --write

refactor(layout): remove `forwardRef` and clean up imports
  packages/layout/src/components/TooltipWrapper/TooltipWrapper.tsx
Due: eslint --fix

refactor(fuselage): remove `isForwardRefType` helper function
  packages/fuselage/src/helpers/isForwardRefType.ts
Due: eslint --fix

fix(fuselage): adapt Select to react-aria 3.50 type changes
  .changeset/bump-prod-deps.md
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAria.tsx
Due: eslint --fix, prettier --write

chore(fuselage,storybook): remove unsupported labelChildren control from CheckBox stories (#2048)
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
Due: eslint --fix

chore(css-in-js,emitter,fuselage): keep comments in the output declaration
  packages/css-in-js/css-in-js.api.md
  packages/emitter/emitter.api.md
  packages/fuselage-hooks/tsconfig.build.json
  packages/fuselage/fuselage.api.md
  packages/storybook-dark-mode/tsconfig.build.json
  tsconfig.base.json
Due: prettier --write

feat(layout): update Form and List components to use named imports
  packages/layout/layout.api.md
  packages/layout/src/components/FormPageLayout/index.ts
  packages/layout/src/components/List/index.ts
  packages/layout/src/components/index.ts
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/RegisterOfflineForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/CopyStep.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/PasteStep.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/onboarding-ui/src/forms/TotpForm/TotpForm.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/Description.tsx
  packages/onboarding-ui/src/pages/RequestTrialPage/Description.tsx
Due: eslint --fix, prettier --write

feat(fuselage,onboard-ui): remove deprecated addon prop from InputBox and related components
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/TextInput/TextInput.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/WorkspaceUrlInput.tsx
Due: eslint --fix, prettier --write

feat(fuselage-hooks): remove deprecated useEffectEvent and useMutableCallback exports
  packages/fuselage-hooks/fuselage-hooks.api.md
  packages/fuselage-hooks/src/useStableCallback.ts
Due: eslint --fix, prettier --write

feat(sidebar): refactor Sidebar component and update exports for TopBar items
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/Section.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.tsx
  packages/fuselage/src/components/Sidebar/TopBar/index.ts
  packages/fuselage/src/components/Sidebar/index.ts
Due: eslint --fix, prettier --write

feat(fuselage): remove deprecated Tabs.Item export and clean up code
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write

revert(fuselage): color handling
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

feat(fuselage): remove deprecated color export and refactor color handling
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix, prettier --write

chore: add changeset
  .changeset/little-schools-grow.md
Due: prettier --write

chore: Switch `AutoComplete` and `PaginatedMultiSelect` addon icon from `cross` to `chevron-up`
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
Due: eslint --fix

chore(ci): add check for uncommitted API report changes in CI workflow
  .github/workflows/ci-pr.yml
Due: prettier --write

chore(ci): add check for uncommitted API report changes in CI workflow
  .github/workflows/cd.yml
Due: prettier --write

chore(fuselage): fix broken API report
  packages/fuselage/fuselage.api.md
Due: prettier --write

fix(fuselage): pass `MultiSelectFiltered` anchor props via context
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredContext.ts
Due: eslint --fix, prettier --write

fix(fuselage): pass `SelectFiltered` anchor props via context
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/SelectFilteredContext.ts
  packages/fuselage/src/components/Select/SelectLegacy.tsx
Due: eslint --fix, prettier --write

chore: add changeset
  .changeset/hungry-weeks-design.md
Due: prettier --write

fix(fuselage,fuselage-forms): Filtered select anchors (#2069)
  .changeset/hungry-weeks-design.md
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredContext.ts
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/SelectFilteredContext.ts
  packages/fuselage/src/components/Select/SelectLegacy.tsx
Due: eslint --fix, prettier --write

test(fuselage): Remove dangling visual regression snapshots
  packages/fuselage/test/snapshots/navigation-menu-v2--as-sidebar-topbar-actions-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--complex-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--controlled-open-state-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--item-variants-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--menu-display-example-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--menu-map-generic-item-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--scrollable-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--simple-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--sizes-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--with-custom-button-desktop.png
  packages/fuselage/test/snapshots/navigation-menu-v2--with-sections-desktop.png
  packages/fuselage/test/snapshots/navigation-option--with-menu-v-2-desktop.png
Due: none

feat(fuselage): remove `ActionButton`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Button/ActionButton.tsx
  packages/fuselage/src/components/Button/index.ts
Due: eslint --fix, prettier --write

fix(fuselage): allow CardControls to wrap on narrow widths
  .changeset/card-controls-responsive.md
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): remove `TelephoneInput`
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.spec.tsx
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.stories.tsx
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.tsx
  packages/fuselage/src/components/TelephoneInput/__snapshots__/TelephoneInput.spec.tsx.snap
  packages/fuselage/src/components/TelephoneInput/index.ts
  packages/fuselage/src/components/index.ts
  packages/fuselage/test/snapshots/inputs-telephoneinput--default-desktop.png
  packages/fuselage/test/snapshots/inputs-telephoneinput--disabled-desktop.png
  packages/fuselage/test/snapshots/inputs-telephoneinput--invalid-desktop.png
  packages/fuselage/test/snapshots/inputs-telephoneinput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-telephoneinput--with-icon-addon-desktop.png
  packages/fuselage/test/snapshots/inputs-telephoneinput--with-placeholder-desktop.png
  packages/fuselage/test/snapshots/inputs-telephoneinput--with-value-desktop.png
Due: eslint --fix, prettier --write

feat(fuselage): remove `SelectInput`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/SelectInput/SelectInput.spec.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.stories.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.tsx
  packages/fuselage/src/components/SelectInput/SelectInputOption.tsx
  packages/fuselage/src/components/SelectInput/SelectInputPlaceholder.tsx
  packages/fuselage/src/components/SelectInput/__snapshots__/SelectInput.spec.tsx.snap
  packages/fuselage/src/components/SelectInput/index.ts
  packages/fuselage/src/components/index.ts
  packages/fuselage/test/snapshots/inputs-selectinput--default-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--disabled-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--invalid-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--multiple-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--multiple-with-addon-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--states-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--with-addon-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--with-placeholder-desktop.png
  packages/fuselage/test/snapshots/inputs-selectinput--with-value-desktop.png
Due: eslint --fix, prettier --write

feat(fuselage): remove `Flex.*`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Flex/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
