Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(layout): Remove unnecessary `Link` component (#1650)
  .changeset/chilly-women-play.md
  packages/layout/src/components/ActionLink/ActionLink.tsx
  packages/layout/src/components/ActionLink/__snapshots__/ActionLink.spec.tsx.snap
  packages/layout/src/components/Link.tsx
  packages/layout/src/components/index.ts
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
Due: eslint --fix, prettier --write

fix: button content truncate
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

chore: add trucate story
  packages/fuselage/src/components/Button/Button.stories.tsx
Due: eslint --fix

chore: changeset
  .changeset/tender-dancers-clap.md
Due: prettier --write

fix: tag default colors
  packages/fuselage/src/components/Tag/Tag.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/shaky-readers-wish.md
Due: prettier --write

fix: lint
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

fix(fuselage): `Button` content not truncating (#1655)
  .changeset/tender-dancers-clap.md
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): `Tag` default colors (#1654)
  .changeset/shaky-readers-wish.md
  packages/fuselage/src/components/Tag/Tag.styles.scss
Due: stylelint --fix, prettier --write

wip
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/Sidepanel/Sidepanel.styles.scss
  packages/fuselage/src/components/Sidepanel/SidepanelHeader.tsx
Due: eslint --fix, stylelint --fix

feat: loki init
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

test(storybook): skip Loki snapshot for Box/Layout story
  packages/fuselage/src/components/Box/layout.stories.tsx
Due: eslint --fix

feat: add loki workflow
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: show directory
  .github/workflows/ci-pr.yml
Due: prettier --write

fix directory error
  .github/workflows/ci-pr.yml
Due: prettier --write

fix: yarn error on fuselage-tokens
  package.json
  packages/fuselage-tamagui-tokens/package.json
  packages/fuselage-tamagui/README.md
  packages/fuselage-tamagui/package.json
  packages/fuselage-tokens/package.json
  yarn.lock
Due: prettier --write

fix: yarn error
  packages/fuselage-tamagui/README.md
  packages/fuselage-tamagui/package.json
  yarn.lock
Due: prettier --write

fix: use correct version of @storybook/addon-react-native-web (0.0.29)
  packages/fuselage-tamagui/package.json
  yarn.lock
Due: prettier --write

fix: invalid version of addon-react-native-web
  packages/fuselage-tamagui/package.json
Due: prettier --write

refactor: update Sass modules to use @use instead of @import
  package.json
  packages/fuselage/src/components/CheckBox/CheckBox.styles.scss
  packages/fuselage/src/components/RadioButton/RadioButton.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/index.scss
  packages/fuselage/src/styles/primitives/all.scss
  packages/fuselage/src/styles/primitives/box.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/link.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/breakpoints.scss
  yarn.lock
Due: stylelint --fix, prettier --write

chore: add delay hooks
  packages/fuselage/src/hooks/useDelayCapture.ts
Due: eslint --fix

chore: added different screen sizes
  packages/fuselage/package.json
Due: prettier --write

chore: add different screen size
  packages/onboarding-ui/package.json
Due: prettier --write

chore: update loki dependency
  yarn.lock
Due: none

chore: add audio player ref
  packages/fuselage/.loki/reference/desktop_Media_AudioPlayer_Audio_Player_Default.png
Due: none

chore: loki init
  packages/fuselage-toastbar/.loki/.gitignore
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/package.json
  yarn.lock
Due: prettier --write

chore: loki init layout
  packages/layout/.loki/.gitignore
  packages/layout/.loki/reference/chrome_iphone7_components_ActionLink_Default.png
  packages/layout/.loki/reference/chrome_iphone7_components_BackgroundLayer_System_Dark_Mode.png
  packages/layout/.loki/reference/chrome_iphone7_components_FormPageLayout_Default.png
  packages/layout/.loki/reference/chrome_iphone7_components_LayoutLogo_Default.png
  packages/layout/.loki/reference/chrome_iphone7_components_List_Default.png
  packages/layout/.loki/reference/chrome_iphone7_components_TooltipWrapper_With_Element.png
  packages/layout/.loki/reference/chrome_iphone7_components_TooltipWrapper_With_Render_Prop.png
  packages/layout/.loki/reference/chrome_iphone7_layouts_HeroLayout_Default.png
  packages/layout/.loki/reference/chrome_iphone7_layouts_HorizontalWizardLayout_Default.png
  packages/layout/.loki/reference/chrome_iphone7_layouts_HorizontalWizardLayout_With_Scroll.png
  packages/layout/.loki/reference/chrome_iphone7_layouts_VerticalWizardLayout_Default.png
  packages/layout/.loki/reference/chrome_iphone7_layouts_VerticalWizardLayout_With_Scroll.png
  packages/layout/.loki/reference/chrome_laptop_components_ActionLink_Default.png
  packages/layout/.loki/reference/chrome_laptop_components_BackgroundLayer_System_Dark_Mode.png
  packages/layout/.loki/reference/chrome_laptop_components_FormPageLayout_Default.png
  packages/layout/.loki/reference/chrome_laptop_components_LayoutLogo_Default.png
  packages/layout/.loki/reference/chrome_laptop_components_List_Default.png
  packages/layout/.loki/reference/chrome_laptop_components_TooltipWrapper_With_Element.png
  packages/layout/.loki/reference/chrome_laptop_components_TooltipWrapper_With_Render_Prop.png
  packages/layout/.loki/reference/chrome_laptop_layouts_HeroLayout_Default.png
  packages/layout/.loki/reference/chrome_laptop_layouts_HorizontalWizardLayout_Default.png
  packages/layout/.loki/reference/chrome_laptop_layouts_HorizontalWizardLayout_With_Scroll.png
  packages/layout/.loki/reference/chrome_laptop_layouts_VerticalWizardLayout_Default.png
  packages/layout/.loki/reference/chrome_laptop_layouts_VerticalWizardLayout_With_Scroll.png
  packages/layout/package.json
  yarn.lock
Due: prettier --write

chore: add diff screen sizes toastbar
  packages/fuselage-toastbar/package.json
Due: prettier --write

chore(packages/fuselage-toastbar): add refs
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Top_Start.png
Due: none

chore(packges/layout): add diff screens
  packages/layout/package.json
Due: prettier --write

chore(packages/fuselage-toastbar): add refs
  packages/fuselage-toastbar/.loki/.gitignore
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/chrome_iphone7_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/chrome_laptop_view_ToastBar_Top_Start.png
Due: none

chore(packages/fuselage): add refs
  packages/fuselage/.loki/.gitignore
  packages/fuselage/.loki/reference/desktop_Feedback_Callout_With_Actions.png
  packages/fuselage/.loki/reference/desktop_Navigation_Dropdown_Default.png
  packages/fuselage/.loki/reference/desktop_Navigation_SidebarV2_Default.png
  packages/fuselage/.loki/reference/desktop_Navigation_SidebarV2_Item_Condensed.png
  packages/fuselage/.loki/reference/desktop_Navigation_SidebarV2_Item_Extended.png
  packages/fuselage/.loki/reference/desktop_Navigation_SidebarV2_Item_Medium.png
  packages/fuselage/.loki/reference/mobile_Navigation_Dropdown_Default.png
  packages/fuselage/.loki/reference/mobile_Navigation_SidebarV2_Default.png
  packages/fuselage/.loki/reference/mobile_Navigation_SidebarV2_Item_Condensed.png
  packages/fuselage/.loki/reference/mobile_Navigation_SidebarV2_Item_Extended.png
  packages/fuselage/.loki/reference/mobile_Navigation_SidebarV2_Item_Medium.png
  packages/fuselage/.loki/reference/tablet_Feedback_Callout_With_Actions.png
  packages/fuselage/.loki/reference/tablet_Navigation_Dropdown_Default.png
  packages/fuselage/.loki/reference/tablet_Navigation_SidebarV2_Default.png
  packages/fuselage/.loki/reference/tablet_Navigation_SidebarV2_Item_Condensed.png
  packages/fuselage/.loki/reference/tablet_Navigation_SidebarV2_Item_Extended.png
  packages/fuselage/.loki/reference/tablet_Navigation_SidebarV2_Item_Medium.png
Due: none

update sizes
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
Due: stylelint --fix

add changeset
  .changeset/seven-actors-poke.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
