Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: update tolerance
  packages/fuselage/package.json
Due: prettier --write

Rectify formatting
  packages/fuselage-forms/tsconfig.cjs.json
  packages/fuselage-forms/tsconfig.esm.json
Due: prettier --write

Tune turborepo cache
  package.json
  turbo.json
  yarn.lock
Due: prettier --write

chore: add timeout config
  packages/fuselage/package.json
Due: prettier --write

chore: add data display with selection ref" "
  packages/fuselage/.loki/reference/tablet_Data_Display_Table_With_Selection.png
Due: none

chore: skip PaginatedSelectFilter Normal, Errored, Disabled
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
  packages/fuselage/src/hooks/delayCapture.ts
Due: eslint --fix

chore: remove delay hook
  packages/fuselage/src/hooks/delayCapture.ts
Due: eslint --fix

update SidebarItemContent css and introduce SidebarItemTag
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemTag.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/index.ts
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

add changeset
  .changeset/whole-queens-shave.md
Due: prettier --write

chore: add chrome tolerance
  .github/actions/test/src/runLoki.js
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
Due: eslint --fix

chore: update snapshot of data display & skip paginated
  packages/fuselage/.loki/reference/tablet_Data_Display_Table_With_Selection.png
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
Due: eslint --fix

chore: unskip paginated
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
Due: eslint --fix

revert SidebarItemTag
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemTag.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/index.ts
Due: eslint --fix

update changeset
  .changeset/whole-queens-shave.md
Due: prettier --write

chore: remove yarn cache actions
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: update changeset
  .changeset/whole-queens-shave.md
Due: prettier --write

feat(fuselage): Adjust `SidebarItemContent` styles (#1723)
  .changeset/whole-queens-shave.md
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix, prettier --write

refactor: sync function init
  .github/actions/test/index.js
  .github/actions/test/src/runLoki.js
Due: eslint --fix

feat: update dark mode tokens
  packages/fuselage-tokens/src/badge/base.json
  packages/fuselage-tokens/src/button/base.json
Due: prettier --write

chore: changeset
  .changeset/shy-foxes-look.md
Due: prettier --write

feat: add new variants
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

chore: update snapshot
  packages/fuselage/src/components/Tag/__snapshots__/Tag.spec.tsx.snap
Due: none

chore: add missing typedoc config file
  packages/fuselage-forms/package.json
  packages/fuselage-forms/typedoc.json
  yarn.lock
Due: prettier --write

chore: remove loadtimeout
  packages/fuselage/package.json
Due: prettier --write

refactor: iterate async function in loop
  .github/actions/test/index.js
  .github/actions/test/src/runLoki.js
Due: eslint --fix

chore: add function call
  .github/actions/test/index.js
Due: eslint --fix

feat(fuselage): Add new `Tag` secondary variants (#1725)
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
  packages/fuselage/src/components/Tag/__snapshots__/Tag.spec.tsx.snap
Due: eslint --fix, stylelint --fix

chore: async await execa
  .github/actions/test/index.js
  .github/actions/test/src/runLoki.js
  .github/actions/test/src/utils/generateRegex.js
Due: eslint --fix

fix: review
  packages/fuselage-forms/package.json
  packages/fuselage-forms/typedoc.json
  yarn.lock
Due: prettier --write

chore: test
  .github/actions/test/index.js
Due: eslint --fix

chore: test
  .github/actions/test/index.js
  .github/actions/test/src/runLoki.js
Due: eslint --fix

chore: chrome flags
  .github/actions/test/src/runLoki.js
Due: eslint --fix

chore: add await in fucntion usage
  .github/actions/test/index.js
Due: eslint --fix

chore: test script
  .github/workflows/ci-pr.yml
  script.sh
Due: prettier --write

fix syntax
  .github/workflows/ci-pr.yml
Due: prettier --write
