Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

regression(fuselage): fix `Avatar` border radii for x48, x124, and x200
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
Due: stylelint --fix

regression(fuselage): rollback `Chip` typography based on `Box` dependency
  packages/fuselage/src/components/Chip/Chip.styles.scss
Due: stylelint --fix

regression(fuselage): rollback focused link outline color
  packages/fuselage/src/styles/primitives/link.scss
Due: stylelint --fix

add changeset
  .changeset/ten-cats-occur.md
Due: prettier --write

fix(fuselage): issues not caught by visual regression testing after Sass rewrite (#1961)
  .changeset/ten-cats-occur.md
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/styles/primitives/link.scss
Due: stylelint --fix, prettier --write

chore(fuselage): add initial api-extractor configuration
  .gitignore
  .prettierignore
  .vscode/settings.json
  eslint.config.mjs
  packages/fuselage/.prettierignore
  packages/fuselage/api-extractor.json
  packages/fuselage/fuselage.api.md
  packages/fuselage/package.json
  turbo.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): update API extractor configuration and build scripts
  packages/fuselage/fuselage.api.md
  packages/fuselage/package.json
  packages/fuselage/tsconfig.build.json
  packages/fuselage/webpack.config.js
Due: eslint --fix, prettier --write

chore(lint-all): exclude *.api.md files from Prettier checksx
  packages/fuselage/.prettierignore
  tools/lint-all/lint-and-fix.js
  tools/lint-all/lint.js
Due: eslint --fix

chore(layout): add `@rocket.chat/logo` as a dependency
  packages/layout/README.md
  packages/layout/package.json
  yarn.lock
Due: prettier --write

chore: use a base configuration for API Extractor
  api-extractor-base.json
  packages/css-in-js/api-extractor.json
  packages/css-supports/api-extractor.json
  packages/emitter/api-extractor.json
  packages/fuselage-forms/api-extractor.json
  packages/fuselage-hooks/api-extractor.json
  packages/fuselage-toastbar/api-extractor.json
  packages/fuselage/api-extractor.json
  packages/layout/api-extractor.json
  packages/memo/api-extractor.json
  packages/onboarding-ui/api-extractor.json
  packages/string-helpers/api-extractor.json
  packages/styled/api-extractor.json
Due: prettier --write

chore: rename base configuration for API Extractor
  api-extractor.json
  packages/css-in-js/api-extractor.json
  packages/css-supports/api-extractor.json
  packages/emitter/api-extractor.json
  packages/fuselage-forms/api-extractor.json
  packages/fuselage-hooks/api-extractor.json
  packages/fuselage-toastbar/api-extractor.json
  packages/fuselage/api-extractor.json
  packages/layout/api-extractor.json
  packages/memo/api-extractor.json
  packages/onboarding-ui/api-extractor.json
  packages/string-helpers/api-extractor.json
  packages/styled/api-extractor.json
Due: prettier --write

chore: Ditch `npm-run-all`
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/onboarding-ui/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

chore: remove `npm-run-all` dependency (#1965)
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/onboarding-ui/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Enable a `npmMinimalAgeGate` of 3 days
  .yarnrc.yml
Due: prettier --write

chore(deps): Enable a `npmMinimalAgeGate` of 3 days (#1970)
  .yarnrc.yml
Due: prettier --write

fix: disable unsupported labelChildren Storybook control
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
Due: eslint --fix

fix(fuselage): wrap PropsVariation table to prevent mobile overflow
  .changeset/fix-props-variation-overflow.md
  packages/fuselage/.storybook/PropsVariation.tsx
Due: eslint --fix, prettier --write

fix: accordion panel leaks scroll height from absolutely-positioned children
  .changeset/better-snakes-post.md
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
Due: stylelint --fix, prettier --write

fix: wrap HiddenSelect in a positioned Box
  .changeset/better-snakes-post.md
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Select/SelectAria.tsx
  packages/fuselage/src/components/Select/__snapshots__/Select.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

add autoComplete attribute to MultiSelectFilteredAnchor input
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
Due: eslint --fix

fix(fuselage): `Select`'s hidden select causing a layout shift (#1980)
  .changeset/better-snakes-post.md
  packages/fuselage/src/components/Select/SelectAria.tsx
  packages/fuselage/src/components/Select/__snapshots__/Select.spec.tsx.snap
Due: eslint --fix, prettier --write

add test and update story
  packages/fuselage/src/components/MultiSelect/MultiSelect.spec.tsx
  packages/fuselage/src/components/MultiSelect/__snapshots__/MultiSelect.spec.tsx.snap
Due: eslint --fix

add changeset
  .changeset/afraid-bats-argue.md
Due: prettier --write

fix(fuselage): add styles to prevent table overflow in Storybook Docs on mobile
  packages/fuselage/.storybook/docs-overrides.scss
  packages/fuselage/.storybook/preview.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): autocomplete overlay on MultiSelectFiltered component (#1982)
  .changeset/afraid-bats-argue.md
  packages/fuselage/src/components/MultiSelect/MultiSelect.spec.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/MultiSelect/__snapshots__/MultiSelect.spec.tsx.snap
Due: eslint --fix, prettier --write

refactor(fuselage): export `VisibilityType`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/AnimatedVisibility/index.ts
Due: eslint --fix, prettier --write

refactor(fuselage): export `BannerVariant`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Banner/Banner.tsx
  packages/fuselage/src/components/Banner/index.ts
Due: eslint --fix, prettier --write

refactor(fuselage): export `Themes`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/PaletteStyleTag/index.ts
  packages/fuselage/src/components/PaletteStyleTag/types/themes.ts
Due: eslint --fix, prettier --write

refactor(fuselage): rearrange `AutoComplete` type
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/index.ts
Due: eslint --fix, prettier --write

refactor(fuselage): export `PartialNode`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Menu/index.ts
Due: eslint --fix, prettier --write

refactor(fuselage): use a single `SelectOption` declaration
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Select/Select.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): export `MultiSelectAnchorParams`
  packages/fuselage-forms/fuselage-forms.api.md
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/MultiSelect/index.ts
Due: eslint --fix, prettier --write

refactor(fuselage): export `MessageEmojiBaseProps`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Message/index.ts
Due: eslint --fix, prettier --write

refactor(fuselage): export `ItemsPerPage`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Pagination/Pagination.tsx
  packages/fuselage/src/components/Pagination/index.ts
Due: eslint --fix, prettier --write

refactor(fuselage): export types for specialized `Button` sizes
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Button/ActionButton.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/Button/index.ts
Due: eslint --fix, prettier --write

refactor(fuselage): update `useCursor` to use `VisibilityHandler` type and export it
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Options/index.ts
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/Options/useVisible.ts
Due: eslint --fix, prettier --write

refactor(fuselage): export `LabelInfoProps`
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/Label/index.ts
Due: eslint --fix, prettier --write

refactor(fuselage): export `PaginatedSelect` types
  packages/fuselage/fuselage.api.md
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/index.ts
Due: eslint --fix, prettier --write
