Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore: tests improvement
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.spec.tsx
  packages/fuselage/src/components/CodeSnippet/__snapshots__/CodeSnippet.spec.tsx.snap
Due: eslint --fix

chore: changeset
  .changeset/hip-bananas-obey.md
Due: prettier --write

fix: Rollback card-vertical-gap
  packages/fuselage/src/components/Card/Card.styles.scss
Due: stylelint --fix

Revert "fix(fuselage): Change `Card` vertical-gap to 32px (#1488)"
  .changeset/hungry-rings-develop.md
  packages/fuselage/src/components/Card/Card.styles.scss
Due: stylelint --fix, prettier --write

fix: stylelint
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
Due: stylelint --fix

chore: Revert fix(fuselage): Change `Card` vertical-gap to 32px (#1491)
  .changeset/hungry-rings-develop.md
  packages/fuselage/src/components/Card/Card.styles.scss
Due: stylelint --fix, prettier --write

fix: ensure menu remains visible by switching to fixed positioning
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
Due: eslint --fix

added changeset
  .changeset/clever-planets-vanish.md
Due: prettier --write

fix(fuselage): `CodeSnippet` inheriting `code` css styles (#1490)
  .changeset/hip-bananas-obey.md
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.spec.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.tsx
  packages/fuselage/src/components/CodeSnippet/__snapshots__/CodeSnippet.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

feat: update selected message background
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/warm-points-count.md
Due: prettier --write

feat(fuselage): Update selected message background (#1493)
  .changeset/warm-points-count.md
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix, prettier --write

feat: update selected system message background
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/eighty-parrots-join.md
Due: prettier --write

feat(fuselage): Update selected system message background (#1494)
  .changeset/eighty-parrots-join.md
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
Due: stylelint --fix, prettier --write

fix: Skeleton missing HTML attributes in type
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
Due: eslint --fix

chore: changeset
  .changeset/empty-ads-heal.md
Due: prettier --write

fix(fuselage): `Skeleton` missing HTML attributes in type (#1495)
  .changeset/empty-ads-heal.md
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
Due: eslint --fix, prettier --write

chore: dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore: Add dependabot workflow (#1498)
  .github/dependabot.yml
Due: prettier --write

chore: add plugin
  eslint.config.mjs
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: eslint
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Banner/Banner.tsx
  packages/fuselage/src/components/Box/richContentInline.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewTitle.tsx
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
  packages/fuselage/src/components/SidebarV2/SidebarBanner.tsx
  packages/fuselage/src/components/SidebarV2/SidebarLink.tsx
Due: eslint --fix

chore: update snapshots
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
Due: none

chore: missing audio player comment
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

chore: update stylelint-scss
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

chore: update deprecated babel plugins
  packages/fuselage-toastbar/babel.config.js
  packages/fuselage/.babelrc.js
  packages/logo/babel.config.js
  packages/onboarding-ui/babel.config.js
Due: eslint --fix

chore: role link conditionally
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
Due: eslint --fix

chore: Add `eslint-plugin-jsx-a11y` plugin (#1348)
  eslint.config.mjs
  package.json
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Banner/Banner.tsx
  packages/fuselage/src/components/Box/richContentInline.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewTitle.tsx
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
  packages/fuselage/src/components/SidebarV2/SidebarBanner.tsx
  packages/fuselage/src/components/SidebarV2/SidebarLink.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade Yarn
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

Bump react-i18next
  packages/layout/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

fix: sidebar styles
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarFooter/SidebarFooter.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/healthy-dryers-admire.md
Due: prettier --write

Add some type adjustments
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Box/index.ts
  packages/fuselage/src/components/Box/useStylingProps.ts
  packages/fuselage/src/hooks/useBoxOnlyProps.ts
  packages/layout/src/List/List.styles.tsx
  packages/layout/src/List/List.tsx
  packages/onboarding-ui/src/i18next.d.ts
Due: eslint --fix

fix(fuselage): `SidebarV2` styles (#1516)
  .changeset/healthy-dryers-admire.md
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarFooter/SidebarFooter.styles.scss
Due: stylelint --fix, prettier --write

Upgrade RHF
  packages/onboarding-ui/package.json
  packages/onboarding-ui/src/flows/SelfHostedRegistration/mocks.ts
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/onboarding-ui/src/pages/AdminInfoPage/AdminInfoPage.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.tsx
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/CreateNewPasswordPage.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: `Validate` type
  packages/onboarding-ui/src/flows/SelfHostedRegistration/mocks.ts
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/CreateFirstMemberForm/CreateFirstMemberForm.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/onboarding-ui/src/pages/AdminInfoPage/AdminInfoPage.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.tsx
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/CreateNewPasswordPage.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Due: eslint --fix

chore: stylelint
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
