Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

refactor(fuselage): Migrate Accordion component from SCSS to Tamagui v3
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Accordion/Accordion.tsx
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate RadioButton from SCSS to Tamagui v3
  packages/fuselage/src/components/RadioButton/RadioButton.styles.scss
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate Modal component from SCSS to Tamagui v3
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/src/components/Modal/ModalBackdrop.tsx
  packages/fuselage/src/components/Modal/ModalFooter.tsx
  packages/fuselage/src/components/Modal/ModalFooterAnnotation.tsx
  packages/fuselage/src/components/Modal/ModalHeader.tsx
  packages/fuselage/src/components/Modal/ModalHeaderText.tsx
  packages/fuselage/src/components/Modal/ModalHeroImage.tsx
  packages/fuselage/src/components/Modal/ModalTagline.tsx
  packages/fuselage/src/components/Modal/ModalTitle.tsx
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate Tabs component from SCSS to Tamagui v3
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/fuselage/src/components/Tabs/TabsItem.tsx
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate Table component from SCSS to Tamagui v3
  packages/fuselage/src/components/Card/Card.tsx
  packages/fuselage/src/components/Card/CardCol.tsx
  packages/fuselage/src/components/Card/CardControls.tsx
  packages/fuselage/src/components/Card/CardHeader.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Dropdown/DropdownMobile.tsx
  packages/fuselage/src/components/FramedIcon/FramedIcon.tsx
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Table/Table.tsx
  packages/fuselage/src/components/Table/TableBody.tsx
  packages/fuselage/src/components/Table/TableCell.tsx
  packages/fuselage/src/components/Table/TableFoot.tsx
  packages/fuselage/src/components/Table/TableHead.tsx
  packages/fuselage/src/components/Table/TableRow.tsx
  packages/fuselage/src/components/Table/TableSelection/TableSelection.tsx
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate Button from SCSS to Tamagui v3
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/styles/primitives/all.scss
  packages/fuselage/src/styles/primitives/button.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): Remove deleted button.scss import from MessageReactions SCSS
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
Due: stylelint --fix

refactor(fuselage): Migrate Sidebar from SCSS to Tamagui v3
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/Section.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.tsx
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
  packages/fuselage/src/components/Sidebar/SidebarFooter.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBar.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarSection.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarTitle.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarToolBox.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarV2.tsx
  packages/fuselage/src/components/Sidebar/TopBar/TopBarWrapper.tsx
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate Select from SCSS to Tamagui v3
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/components/Select/SelectAddon.tsx
  packages/fuselage/src/components/Select/SelectAria.tsx
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/SelectFocus.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
  packages/fuselage/src/components/Select/SelectTrigger.tsx
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate Sidepanel component from SCSS to Tamagui v3
  packages/fuselage/src/components/Sidepanel/Sidepanel.styles.scss
  packages/fuselage/src/components/Sidepanel/Sidepanel.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelDivider.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelHeader.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelHeaderTitle.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelList.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelListItem.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelSection.tsx
  packages/fuselage/src/components/Sidepanel/SidepanelSectionAction.tsx
  packages/fuselage/src/components/index.scss
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate SidebarV2 from SCSS to Tamagui v3
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/Sidebar.tsx
  packages/fuselage/src/components/SidebarV2/SidebarAccordion.tsx
  packages/fuselage/src/components/SidebarV2/SidebarAccordionItem.tsx
  packages/fuselage/src/components/SidebarV2/SidebarBanner.tsx
  packages/fuselage/src/components/SidebarV2/SidebarCollapseGroup.tsx
  packages/fuselage/src/components/SidebarV2/SidebarFooter/SidebarFooter.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarFooter/SidebarFooter.tsx
  packages/fuselage/src/components/SidebarV2/SidebarFooter/SidebarFooterContent.tsx
  packages/fuselage/src/components/SidebarV2/SidebarGroupTitle.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemAction.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemAvatarWrapper.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemBadge.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemCol.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemContent.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemIcon.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemMenu.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemRow.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemStatusBullet.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemTimestamp.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItemTitle.tsx
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarListItem.tsx
  packages/fuselage/src/components/SidebarV2/SidebarLink.tsx
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.tsx
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMediaController.tsx
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMediaTitle.tsx
  packages/fuselage/src/components/SidebarV2/SidebarSection.tsx
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate InputBox from SCSS to Tamagui v3
  packages/fuselage/src/components/InputBox/Input.tsx
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.tsx
  packages/fuselage/src/components/InputBox/InputBoxAddon.tsx
  packages/fuselage/src/components/InputBox/InputBoxSkeleton.tsx
  packages/fuselage/src/components/InputBox/InputBoxWrapper.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): Remove Box SCSS and clear index.scss
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/styles/primitives/box.scss
Due: eslint --fix, stylelint --fix

refactor(fuselage): Migrate ToastBar from SCSS to Tamagui v3
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): Add react-native-web as devDependency for Tamagui peer dep
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

feat: Create @rocket.chat/fuselage-ui example package
  README.md
  packages/fuselage-ui/README.md
  packages/fuselage-ui/package.json
  packages/fuselage-ui/src/components/InfoPanel.tsx
  packages/fuselage-ui/src/components/MetricCard.tsx
  packages/fuselage-ui/src/components/StatusCard.tsx
  packages/fuselage-ui/src/index.ts
  packages/fuselage-ui/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: Create demo app showing multi-package Tamagui architecture
  apps/demo/index.html
  apps/demo/package.json
  apps/demo/src/App.tsx
  apps/demo/src/main.tsx
  apps/demo/tsconfig.json
  apps/demo/vite.config.ts
Due: eslint --fix, prettier --write

feat: Create @rocket.chat/fuselage-admin example package
  README.md
  packages/fuselage-admin/README.md
  packages/fuselage-admin/package.json
  packages/fuselage-admin/src/components/AdminDashboard.tsx
  packages/fuselage-admin/src/components/AdminPageHeader.tsx
  packages/fuselage-admin/src/index.ts
  packages/fuselage-admin/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: Update demo app configuration and components
  apps/demo/dist/assets/index-BZ9WTnqP.js
  apps/demo/dist/assets/index-hsgcg1FZ.css
  apps/demo/dist/assets/rocketchat-D646oQvN.woff
  apps/demo/dist/assets/rocketchat-DuTZeHCH.eot
  apps/demo/dist/assets/rocketchat-Jc2O2s1Z.ttf
  apps/demo/dist/assets/rocketchat-OEVnLXR7.svg
  apps/demo/dist/assets/rocketchat-svIRm6ET.woff2
  apps/demo/dist/index.html
  apps/demo/src/App.tsx
  apps/demo/tsconfig.json
  apps/demo/vite.config.ts
  packages/fuselage/src/components/Badge/Badge.tsx
  packages/fuselage/src/components/Card/CardBody.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Remove @types/react-native-web to fix CI type conflicts
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

fix(fuselage): Remove transpileOnly to restore declaration emission
  packages/fuselage/webpack.config.js
Due: eslint --fix

fix(fuselage-box): Add lint dependencies and fix formatting
  packages/fuselage-box/README.md
  packages/fuselage-box/package.json
  packages/fuselage-box/src/components/Box/index.ts
  packages/fuselage-box/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(fuselage-box): Use bundler module resolution for extensionless imports
  packages/fuselage-box/tsconfig.json
Due: prettier --write

fix(fuselage): Restore index.scss import for CSS output
  packages/fuselage/src/index.ts
Due: eslint --fix

fix(fuselage): Split build into webpack (transpileOnly) + tsc (declarations)
  packages/fuselage/package.json
  packages/fuselage/src/react-native-shim.d.ts
  packages/fuselage/src/themes/buttonSubThemes.ts
  packages/fuselage/tsconfig.build.json
  packages/fuselage/tsconfig.decl.json
  packages/fuselage/tsconfig.json
  packages/fuselage/webpack.config.js
Due: eslint --fix, prettier --write

fix: Use bundler moduleResolution in packages that depend on fuselage
  packages/fuselage-forms/tsconfig.json
  packages/fuselage-toastbar/tsconfig.json
  packages/layout/tsconfig.json
  packages/onboarding-ui/tsconfig.json
Due: prettier --write

fix: Add FuselageProvider to all downstream Storybook previews
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/layout/.storybook/preview.tsx
  packages/onboarding-ui/.storybook/preview.tsx
Due: eslint --fix

fix(fuselage): Reintroduce fuselage-box exports and enable CSS import in Storybook
  packages/fuselage/src/index.ts
  packages/onboarding-ui/.storybook/preview.tsx
Due: eslint --fix

chore: Remove fuselage-admin and fuselage-ui packages
  packages/fuselage-admin/README.md
  packages/fuselage-admin/package.json
  packages/fuselage-admin/src/components/AdminDashboard.tsx
  packages/fuselage-admin/src/components/AdminPageHeader.tsx
  packages/fuselage-admin/src/index.ts
  packages/fuselage-admin/tsconfig.json
  packages/fuselage-ui/README.md
  packages/fuselage-ui/package.json
  packages/fuselage-ui/src/components/InfoPanel.tsx
  packages/fuselage-ui/src/components/MetricCard.tsx
  packages/fuselage-ui/src/components/StatusCard.tsx
  packages/fuselage-ui/src/index.ts
  packages/fuselage-ui/tsconfig.json
Due: eslint --fix, prettier --write

chore: Update yarn.lock to reflect dependency changes
  yarn.lock
Due: none

feat(fuselage): Apply Box props compat layer to Divider
  packages/fuselage/src/components/Divider/Divider.tsx
Due: eslint --fix

feat(fuselage): Add Box props compatibility layer for Tamagui components
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/Chip/Chip.tsx
  packages/fuselage/src/components/Icon/Icon.tsx
  packages/fuselage/src/index.ts
  packages/fuselage/src/utilities/boxCompat.tsx
  packages/fuselage/src/utilities/index.ts
Due: eslint --fix

chore: Build storybook-dark-mode before storybook in all packages
  .gitignore
  packages/fuselage-forms/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
  packages/storybook-dark-mode/package.json
Due: prettier --write

fix(fuselage): Fix CI — Jest ESM transforms + build-storybook scripts
  packages/fuselage-toastbar/package.json
  packages/fuselage/jest.config.ts
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
Due: eslint --fix, prettier --write

fix: Add Jest transformIgnorePatterns to all packages using fuselage
  packages/fuselage-forms/jest.config.ts
  packages/fuselage-toastbar/jest.config.ts
  packages/layout/jest.config.ts
  packages/onboarding-ui/jest.config.ts
Due: eslint --fix
