Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

feat(icons): new `arrow-up` icon
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-up.svg
Due: prettier --write

chore: changeset
  .changeset/happy-panthers-worry.md
Due: prettier --write

feat(fuselage): `Bubble` (wip)
  packages/fuselage/src/components/Bubble/Bubble.spec.tsx
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.tsx
  packages/fuselage/src/components/Bubble/index.ts
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
Due: eslint --fix, stylelint --fix

feat: bubble-group to handle button states separately
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.tsx
  packages/fuselage/src/styles/mixins/interactivity.scss
Due: eslint --fix, stylelint --fix

chore: click-animation mixin
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/styles/mixins/interactivity.scss
  packages/fuselage/src/styles/primitives/button.scss
Due: stylelint --fix

chore: changeset
  .changeset/ninety-turkeys-happen.md
Due: prettier --write

chore: a11y
  packages/fuselage/src/components/Bubble/Bubble.tsx
Due: eslint --fix

chore: update snapshot
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
Due: none

fix: click-animation
  packages/fuselage/src/styles/mixins/interactivity.scss
  packages/fuselage/src/styles/primitives/button.scss
Due: stylelint --fix

chore: improve stories
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.tsx
Due: eslint --fix

chore: HTML attributes props
  packages/fuselage/src/components/Bubble/Bubble.tsx
Due: eslint --fix

chore: dismiss action
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.tsx
Due: eslint --fix

style
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
Due: stylelint --fix

update snapshot
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
Due: none

feat: `extra-large` border-radius
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/styles/lengths.scss
Due: stylelint --fix

chore: export
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/index.ts
Due: eslint --fix, stylelint --fix

chore: class modifiers
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.tsx
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
Due: eslint --fix, stylelint --fix

chore: imports
  packages/fuselage/src/components/Bubble/Bubble.tsx
  packages/fuselage/src/components/Bubble/index.ts
Due: eslint --fix

feat(fuselage): new `Bubble` component (#1263)
  .changeset/ninety-turkeys-happen.md
  packages/fuselage/src/components/Bubble/Bubble.spec.tsx
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.tsx
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
  packages/fuselage/src/components/Bubble/index.ts
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/styles/lengths.scss
  packages/fuselage/src/styles/mixins/interactivity.scss
Due: eslint --fix, stylelint --fix, prettier --write

feat(icons): new `arrow-up` icon (#1266)
  .changeset/happy-panthers-worry.md
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-up.svg
Due: prettier --write

feat(fuselage): as-link mixin
  packages/fuselage/src/styles/primitives/all.scss
  packages/fuselage/src/styles/primitives/link.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: stylelint --fix

chore: remove overrides in `Messages`
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewTitle.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

feat: avoid `Box` usage on `ButtonGroup`
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/Modal/ModalFooterControllers.tsx
  packages/fuselage/src/components/States/StatesActions.tsx
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/CopyStep.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/PasteStep.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
Due: eslint --fix

chore: update snapshots
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
Due: none

feat(fuselage): Avoid `Box` usage on `ButtonGroup` (#1267)
  .changeset/five-eggs-search.md
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/Modal/ModalFooterControllers.tsx
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/States/StatesActions.tsx
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/CopyStep.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/PasteStep.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
Due: eslint --fix, prettier --write

feat(fuselage): Add `Message` focus style (#1264)
  .changeset/brown-rabbits-pay.md
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/mixins.scss
  packages/fuselage/src/styles/mixins/shadows.scss
Due: eslint --fix, stylelint --fix, prettier --write

wip: link styles
  packages/fuselage/src/styles/primitives/link.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: stylelint --fix

rename mixin
  packages/fuselage/src/styles/primitives/link.scss
Due: stylelint --fix

links on `Messages`
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewTitle.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: eslint --fix, stylelint --fix

links on `Sidebar`
  packages/fuselage/src/components/Sidebar/Item.stories.tsx
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: eslint --fix, stylelint --fix

rich-text links
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Due: stylelint --fix

use-link-colors refactor
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/styles/primitives/link.scss
Due: stylelint --fix

`Tag` link colors
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
Due: eslint --fix, stylelint --fix

fix: missing className
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
Due: eslint --fix

chore: changeset
  .changeset/cold-students-shop.md
Due: prettier --write

on-focus-visible
  packages/fuselage/src/styles/primitives/link.scss
Due: stylelint --fix

fix(fuselage): `ButtonGroup` missing `className` exposure (#1271)
  .changeset/cold-students-shop.md
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
Due: eslint --fix, prettier --write

clear commented code
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix
