Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Add labelChildren to inputs
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
Due: eslint --fix

Add jest and test a11y violations
  packages/fuselage-forms/jest-setup.ts
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-forms/src/test.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write

add changeset
  .changeset/young-brooms-cough.md
Due: prettier --write

Fix fieldLabel type
  packages/fuselage/src/components/Field/FieldLabel.tsx
Due: eslint --fix

fix dependencies
  packages/fuselage-forms/package.json
  packages/fuselage-forms/turbo.json
  yarn.lock
Due: prettier --write

Add `eslint-plugin-storybook` to the root manifest
  package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Remove explicit `@typescript-eslint/parser` dependency
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Dedupe
  yarn.lock
Due: none

Adjust `i18next` version
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Fix peer dependency
  packages/logo/package.json
  yarn.lock
Due: prettier --write

Remove stale dev dependency
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  yarn.lock
Due: prettier --write

Fix remaining broken peer dependencies
  package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/styled/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  yarn.lock
Due: prettier --write

Move hook from rocket.chat
  packages/fuselage-hooks/src/useSafeRefCallback/index.ts
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.spec.tsx
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.ts
  packages/fuselage-hooks/tsconfig.json
Due: eslint --fix, prettier --write

Create tough-cheetahs-explain.md
  .changeset/tough-cheetahs-explain.md
Due: prettier --write

added parameters for aria labels
  packages/fuselage/src/components/Pagination/Pagination.tsx
Due: eslint --fix

chore(deps): Review misplaced and missing dev and peer dependencies (#1682)
  package.json
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/styled/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

fix broken build
  yarn.lock
Due: none

Update yarn.lock
  yarn.lock
Due: none

fix: lint
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.spec.tsx
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.ts
Due: eslint --fix

chore(deps): Align `react-virtuoso` version
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

feat(fuselage-hooks): Implement `useSafeRefCallback` (#1683)
  .changeset/tough-cheetahs-explain.md
  packages/fuselage-hooks/src/useSafeRefCallback/index.ts
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.spec.tsx
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.ts
  packages/fuselage-hooks/tsconfig.json
Due: eslint --fix, prettier --write

Fix storybook versions and imports
  packages/fuselage-forms/.storybook/DocsContainer.tsx
  packages/fuselage-forms/.storybook/main.ts
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/test.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): Align `react-virtuoso` version (#1688)
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Fix lint
  packages/fuselage-forms/tsconfig.json
Due: prettier --write

update snapshots
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
Due: none

fix: get loki work with storybook 9
  .yarn/patches/@loki-browser-npm-0.35.0-56c1d62186.patch
Due: none

chore: add loki patch
  package.json
Due: prettier --write

chore: update refs for storybook 9
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Top_Start.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Bottom_End.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Bottom_Start.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Persistent.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Top_End.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Top_Start.png
Due: none

chore: get loki working with storybook 9
  yarn.lock
Due: none

chore: update refs
  packages/onboarding-ui/.loki/reference/desktop_pages_LoaderPage_LoaderPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_LoaderPage_LoaderPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_LoaderPage_LoaderPage.png
Due: none

chore: stable snapshot when running loki
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
Due: eslint --fix

chore: remove asyncallback loki
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

chore: update AudioPlayer ref
  packages/fuselage/.loki/reference/desktop_Media_AudioPlayer_Audio_Player_Default.png
  packages/fuselage/.loki/reference/mobile_Media_AudioPlayer_Audio_Player_Default.png
  packages/fuselage/.loki/reference/tablet_Media_AudioPlayer_Audio_Player_Default.png
Due: none

chore: remove src when loki is running
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

chore(loki): remove fetchFailIgnore
  packages/fuselage/package.json
Due: prettier --write

fix: lint error
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

chore(loki): skip Box component due to visibility issues in Storybook
  packages/fuselage/src/components/Box/colors.stories.tsx
  packages/fuselage/src/components/Box/layout.stories.tsx
Due: eslint --fix

fix(loki): use conditional AUDIO_URL to prevent fetch error during Loki runs
  packages/fuselage/package.json
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
