Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

Create pre-commit
  pre-commit
Due: none

feat: `SideBarLink` component
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarAccordion.tsx
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarLink.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/index.tsx
Due: eslint --fix, stylelint --fix

feat: `SideBarBadge`
  packages/fuselage/src/components/SideBarV2/SideBarBadge.tsx
  packages/fuselage/src/components/SideBarV2/SideBarLink.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
Due: eslint --fix

feat: `SideBarMenu`
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarLink.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
Due: eslint --fix, stylelint --fix

feat: `SideBarCollapseGroup` and `SideBarItem` components
  packages/fuselage/src/components/Message/helpers.tsx
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarCollapseGroup.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/index.tsx
Due: eslint --fix, stylelint --fix

chore: `SidebarCollapser` component
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarCollapseGroup.tsx
  packages/fuselage/src/components/SideBarV2/components/SideBarCollapser.tsx
Due: eslint --fix, stylelint --fix

feat: `SideBarItemAction` component
  packages/fuselage/src/components/SideBarV2/SideBarItemAction.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/index.tsx
Due: eslint --fix

test: add a11y tests
  packages/fuselage/src/components/SideBarV2/Sidebar.spec.tsx
  packages/fuselage/src/components/SideBarV2/__snapshots__/Sidebar.spec.tsx.snap
Due: eslint --fix

chore: improve item-menu animation
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarLink.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/__snapshots__/Sidebar.spec.tsx.snap
  packages/fuselage/src/components/SideBarV2/components/SideBarCollapser.tsx
Due: eslint --fix, stylelint --fix

test: remove snapshot test because of unique id
  packages/fuselage/src/components/SideBarV2/Sidebar.spec.tsx
  packages/fuselage/src/components/SideBarV2/__snapshots__/Sidebar.spec.tsx.snap
Due: eslint --fix

chore: useCollapse in place of SideBarCollapser
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarCollapseGroup.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItemAction.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/components/SideBarCollapser.tsx
  packages/fuselage/src/components/SideBarV2/hooks/useCollapse.tsx
Due: eslint --fix

fix(fuselage-tokens): dist files list
  packages/fuselage-tokens/package.json
Due: prettier --write

chore: changeset
  .changeset/breezy-windows-float.md
Due: prettier --write

fix(fuselage-tokens): change dist files list to be published (#1349)
  .changeset/breezy-windows-float.md
  packages/fuselage-tokens/package.json
Due: prettier --write

feat: `SideBarBanner` component
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarBanner.tsx
  packages/fuselage/src/components/SideBarV2/SideBarCollapseGroup.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItemAction.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/index.tsx
Due: eslint --fix, stylelint --fix

feat: `SideBarFooter`
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarFooter.tsx
  packages/fuselage/src/components/SideBarV2/SideBarFooterContent.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/index.tsx
Due: eslint --fix, stylelint --fix

fix: missing border color
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/styles/mixins/templates.scss
Due: stylelint --fix

chore: changeset
  .changeset/wild-camels-relax.md
Due: prettier --write

fix(fuselage): `MessageReactions` missing border color (#1352)
  .changeset/wild-camels-relax.md
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/styles/mixins/templates.scss
Due: stylelint --fix, prettier --write

remove option role
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

chore: changeset
  .changeset/bright-meals-type.md
Due: prettier --write

fix(fuselage): Remove `option` role from `Autocomplete` options component (#1354)
  .changeset/bright-meals-type.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix, prettier --write

refactor
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarAccordion.tsx
  packages/fuselage/src/components/SideBarV2/SideBarAccordionItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarBanner.tsx
  packages/fuselage/src/components/SideBarV2/SideBarCollapseGroup.tsx
  packages/fuselage/src/components/SideBarV2/SideBarLink.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
Due: eslint --fix, stylelint --fix

review
  packages/fuselage/src/components/NavBar/NavBar.styles.scss
  packages/fuselage/src/components/NavBar/NavBarDivider.tsx
  packages/fuselage/src/components/NavBar/NavBarGroup.tsx
  packages/fuselage/src/components/NavBar/NavBarItem.tsx
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
Due: eslint --fix, stylelint --fix

feat: `SideBarItem` components
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarBadge.tsx
  packages/fuselage/src/components/SideBarV2/SideBarFooter/SideBarFooter.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarFooter/SideBarFooter.tsx
  packages/fuselage/src/components/SideBarV2/SideBarFooter/SideBarFooterContent.tsx
  packages/fuselage/src/components/SideBarV2/SideBarFooter/SideBarFooterWatermark.tsx
  packages/fuselage/src/components/SideBarV2/SideBarFooter/index.ts
  packages/fuselage/src/components/SideBarV2/SideBarItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemAction.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemAvatarWrapper.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemBadge.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemCol.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemIcon.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemMenu.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemRow.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemSubtitle.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemTimestamp.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItemTitle.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/index.ts
  packages/fuselage/src/components/SideBarV2/SideBarLink.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/index.tsx
Due: eslint --fix, stylelint --fix

feat: `SideBarMedia` components
  packages/fuselage/src/components/SideBarV2/SideBar.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarButtonGroup.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarMedia/SideBarMedia.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarMedia/SideBarMedia.tsx
  packages/fuselage/src/components/SideBarV2/SideBarMedia/SideBarMediaController.tsx
  packages/fuselage/src/components/SideBarV2/SideBarMedia/SideBarMediaTitle.tsx
  packages/fuselage/src/components/SideBarV2/SideBarMedia/index.ts
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/index.tsx
Due: eslint --fix, stylelint --fix

chore: SideBarItem `is` prop
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
Due: eslint --fix

fix(fuselage): `ButtonGroup` small margins
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/mighty-gifts-impress.md
Due: prettier --write

Update changeset
  .changeset/mighty-gifts-impress.md
Due: prettier --write

chore: improve stories
  packages/fuselage/src/components/Message/helpers.tsx
  packages/fuselage/src/components/SideBarV2/SideBarFooter/SideBarFooter.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.stories.tsx
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
  packages/fuselage/src/components/SideBarV2/SideBarMedia/SideBarMedia.stories.tsx
  packages/fuselage/src/components/SideBarV2/SideBarMedia/SideBarMedia.styles.scss
  packages/fuselage/src/components/SideBarV2/Sidebar.spec.tsx
  packages/fuselage/src/components/SideBarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix, stylelint --fix

fix: git cached file name casing
  packages/fuselage/src/components/SideBarV2/SideBar.spec.tsx
  packages/fuselage/src/components/SideBarV2/SideBar.stories.tsx
Due: eslint --fix

fix(fuselage): remove margins from `ButtonGroup` first and last items (#1356)
  .changeset/mighty-gifts-impress.md
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
Due: stylelint --fix, prettier --write

chore: MenuTemplate helper
  packages/fuselage/src/components/SideBarV2/SideBar.stories.tsx
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix

chore: prevent :active state on focus-within
  packages/fuselage/src/components/SideBarV2/SideBarItem/SideBarItem.styles.scss
Due: stylelint --fix

review
  packages/fuselage/src/components/NavBar/NavBar.stories.tsx
  packages/fuselage/src/components/NavBar/NavBar.styles.scss
  packages/fuselage/src/components/NavBar/NavBarSection.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
Due: eslint --fix, stylelint --fix

chore: stories height
  packages/fuselage/src/components/Message/helpers.tsx
  packages/fuselage/src/components/SideBarV2/SideBar.stories.tsx
  packages/fuselage/src/components/SideBarV2/helpers.tsx
Due: eslint --fix
