Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore(fuselage-toastbar): add refs
  packages/fuselage-toastbar/.loki/reference/desktop_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/mobile_view_ToastBar_Default.png
  packages/fuselage-toastbar/.loki/reference/tablet_view_ToastBar_Default.png
Due: none

chore: add isLokiRunning helper to detect Loki environment
  packages/fuselage-toastbar/package.json
Due: prettier --write

Upgrade Node
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  package.json
Due: prettier --write

Upgrade Yarn
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

Patch dependencies
  package.json
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Upgrade Jest
  package.json
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/memo/src/memoize.spec.ts
  packages/mp3-encoder/package.json
  packages/mp3-encoder/src/index.spec.ts
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/string-helpers/src/escapeRegExp.spec.ts
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade ESLint
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Upgrade es-check
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Upgrade `svgicons2svgfont`
  tools/build-icons/font.mjs
  tools/build-icons/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add isLokiRunning helper to detect Loki environment
  yarn.lock
Due: none

chore: use isLokiRunning to bypass toast button click during Loki tests
  packages/fuselage-toastbar/src/ToastBar.stories.tsx
Due: eslint --fix

Upgrade `ttf2woff2`
  tools/build-icons/package.json
  yarn.lock
Due: prettier --write

Upgrade `sharp`
  tools/build-logo/package.json
  yarn.lock
Due: prettier --write

Upgrade `rollup`
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

chore: upload Loki current, reference, and difference snapshots to GitHub Actions
  .github/workflows/ci-pr.yml
Due: prettier --write

Upgrade `eslint-plugin-mdx`
  package.json
  yarn.lock
Due: prettier --write

Upgrade small dependency
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-tokens/package.json
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

chore(loki): loki init
  packages/onboarding-ui/.loki/.gitignore
Due: none

chore: add skip to dropdown due to inconsistent position
  packages/fuselage/src/components/Dropdown/Dropdown.stories.tsx
Due: eslint --fix

chore: add function to return number of notification based on loki is running
  packages/fuselage/src/components/SidebarV2/helpers.tsx
Due: eslint --fix

chore: add function to dynamically change component size based on loki running or not
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
Due: eslint --fix

refactor: used arrow functions
  packages/fuselage/src/components/SidebarV2/helpers.tsx
Due: eslint --fix

chore: fix lint errors
  packages/fuselage/src/components/SidebarV2/Sidebar.stories.tsx
  packages/fuselage/src/components/SidebarV2/helpers.tsx
Due: eslint --fix

Update packages/onboarding-ui/.storybook/DocsContainer.tsx
  packages/onboarding-ui/.storybook/DocsContainer.tsx
Due: eslint --fix

aria-invalid
  README.md
  packages/fuselage-forms/README.md
  packages/fuselage/src/components/Field/Field.tsx
  packages/fuselage/src/components/Label/Label.tsx
Due: eslint --fix, prettier --write

Init package fuselage-forms
  packages/fuselage-forms/.gitignore
  packages/fuselage-forms/.prettierignore
  packages/fuselage-forms/jest.config.ts
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/FieldContext.tsx
  packages/fuselage-forms/src/index.ts
  packages/fuselage-forms/tsconfig.cjs.json
  packages/fuselage-forms/tsconfig.esm.json
  packages/fuselage-forms/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Update package config
  packages/fuselage-forms/package.json
  packages/fuselage-forms/tsconfig.json
  yarn.lock
Due: prettier --write

Move logic to new package as wrappers
  packages/fuselage-forms/src/Field/Field.tsx
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Field/FieldDescription.tsx
  packages/fuselage-forms/src/Field/FieldError.tsx
  packages/fuselage-forms/src/Field/FieldHint.tsx
  packages/fuselage-forms/src/Field/FieldProvider.tsx
  packages/fuselage-forms/src/Field/Label/FieldLabel.tsx
  packages/fuselage-forms/src/Field/Label/HiddenLabel.tsx
  packages/fuselage-forms/src/Field/Label/LabelFor.tsx
  packages/fuselage-forms/src/Field/Label/ReferencedLabel.tsx
  packages/fuselage-forms/src/Field/Label/index.ts
  packages/fuselage-forms/src/Field/index.ts
  packages/fuselage-forms/src/FieldContext.tsx
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/Inputs/index.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
Due: eslint --fix

Undo fuselage
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/Field/Field.tsx
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Label/Label.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
Due: eslint --fix

fix turbo build
  packages/fuselage-forms/turbo.json
Due: prettier --write

Forwardref fuselage FieldLabel
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Label/Label.tsx
Due: eslint --fix

re-export base Field components for convenience
  packages/fuselage-forms/README.md
  packages/fuselage-forms/src/Field/index.ts
  packages/fuselage-forms/src/index.ts
Due: eslint --fix, prettier --write

Fix missing children
  packages/fuselage-forms/src/Field/Label/ReferencedLabel.tsx
Due: eslint --fix

storybook config
  packages/fuselage-forms/.storybook/DocsContainer.tsx
  packages/fuselage-forms/.storybook/logo.svg
  packages/fuselage-forms/.storybook/logo.svg.d.ts
  packages/fuselage-forms/.storybook/main.ts
  packages/fuselage-forms/.storybook/preview.tsx
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage-forms/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write
