Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

remove duplicate tests
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

fix: review
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Badge/Badge.tsx
Due: eslint --fix

fix review
  packages/fuselage/src/components/Badge/Badge.stories.tsx
Due: eslint --fix

migrate few more colors
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Table/TableSelection.tsx
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Due: eslint --fix, stylelint --fix

message attachment tokens
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
Due: stylelint --fix

chore(fuselage): Table and options using color palette (#877)
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Table/TableSelection.tsx
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Due: eslint --fix, stylelint --fix

replace test
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/strikethrough.test.ts
Due: eslint --fix

fix tokens
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

fix
  packages/message-parser/tests/email.test.ts
Due: eslint --fix

chore: modal hero image wrapper
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/ModalHeroImage.tsx
Due: eslint --fix, stylelint --fix

chore: modal hero image wrapper (#878)
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/ModalHeroImage.tsx
Due: eslint --fix, stylelint --fix

fix IconButton tokens
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

fix IconButton active state
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

fix(fuselage): Palette classes (#873)
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

remove token
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

hover token
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

Accordion
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
Due: stylelint --fix

Callout
  packages/fuselage/src/components/Callout/Callout.styles.scss
Due: stylelint --fix

CodeSnippet
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
Due: stylelint --fix

Modal
  packages/fuselage/src/components/Modal/Modal.styles.scss
Due: stylelint --fix

Sidebar
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

Throbber
  packages/fuselage/src/components/Throbber/Throbber.styles.scss
Due: stylelint --fix

Badge
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

chore: add maintenance icon
  packages/icons/glyphsMapping.json
  packages/icons/src/maintenance.svg
Due: prettier --write

chore(fuselage): Update tokens (#879)
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Throbber/Throbber.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

improve: callout custom icon
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Callout/Callout.tsx
Due: eslint --fix

fix: change icon name to follow the guidelines
  packages/icons/glyphsMapping.json
  packages/icons/src/spanner.svg
Due: prettier --write

feat(fuselage): Callout Custom Icon #881
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Callout/Callout.tsx
Due: eslint --fix

fix: message toolbox margin
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  yarn.lock
Due: stylelint --fix

fix(fuselage): Message Toolbox margin #882
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  yarn.lock
Due: stylelint --fix

chore: security update
  yarn.lock
Due: none

fix: review
  packages/fuselage/README.md
  packages/icons/README.md
Due: prettier --write

chore: review
  packages/icons/README.md
Due: prettier --write

docs: Update fuselage components usage docs (#700)
  packages/fuselage/README.md
  packages/icons/README.md
Due: prettier --write

fix: prettier
  packages/icons/README.md
Due: prettier --write

chore(monorepo): update packages for security (#883)
  packages/icons/README.md
  yarn.lock
Due: prettier --write

chore(release): 0.31.20
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

Adjust icon dimensions over viewbox
  packages/icons/src/spanner.svg
Due: prettier --write

chore(layout): Ignore `storybook-static` on ESLint/Prettier
  packages/layout/.eslintignore
  packages/layout/.prettierignore
Due: none
