Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix: banner breaking ui when the title is not a string
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix

Create little-trains-applaud.md
  .changeset/little-trains-applaud.md
Due: prettier --write

Fixed the issue of validating telephone number
  packages/fuselage/src/components/TelephoneInput/TelephoneInput.tsx
Due: eslint --fix

chore(deps): Upgrade Storybook and align `jest-environment-jsdom` dependency (#1467)
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/.storybook/main.ts
  packages/fuselage-toastbar/package.json
  packages/fuselage/.storybook/main.ts
  packages/fuselage/.storybook/preview.tsx
  packages/fuselage/package.json
  packages/layout/.storybook/main.ts
  packages/layout/package.json
  packages/logo/package.json
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/package.json
  packages/styled/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Mock `useUniqueId` for consistent snapshot tests
  packages/fuselage/jest-setup.ts
Due: eslint --fix

Add `cx` and `cxx` utilities
  packages/fuselage/src/helpers/composeClassNames.ts
Due: eslint --fix

Add `exhaustiveCheck` utility
  packages/fuselage/src/helpers/exhaustiveCheck.ts
Due: eslint --fix

Add `StylingBox` component
  packages/fuselage/src/components/Box/StylingBox.tsx
  packages/fuselage/src/components/Box/index.ts
  packages/fuselage/src/components/Box/index.tsx
Due: eslint --fix

Refactor `Accordion` and `AccordionItem`
  packages/fuselage/src/components/Accordion/Accordion.spec.tsx
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Accordion/Accordion.tsx
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  packages/fuselage/src/components/Accordion/index.ts
Due: eslint --fix, stylelint --fix

Update .changeset/purple-shirts-boil.md
  .changeset/purple-shirts-boil.md
Due: prettier --write

Update packages/fuselage/src/components/Card/CardControls.tsx
  packages/fuselage/src/components/Card/CardControls.tsx
Due: eslint --fix

Add changeset
  .changeset/soft-islands-decide.md
Due: prettier --write

fix(fuselage-tokens): button success variant incorrect color tokens
  packages/fuselage-tokens/src/button/base.json
Due: prettier --write

chore(fuselage-tokens): changeset
  .changeset/stupid-eagles-destroy.md
Due: prettier --write

chore: adjusted changeset
  .changeset/stupid-eagles-destroy.md
Due: prettier --write

feat(fuselage)!: Lighter `Accordion` and `AccordionItem` components (#1470)
  .changeset/soft-islands-decide.md
  packages/fuselage/jest-setup.ts
  packages/fuselage/src/components/Accordion/Accordion.spec.tsx
  packages/fuselage/src/components/Accordion/Accordion.stories.tsx
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Accordion/Accordion.tsx
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  packages/fuselage/src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  packages/fuselage/src/components/Accordion/index.ts
  packages/fuselage/src/components/Box/StylingBox.tsx
  packages/fuselage/src/components/Box/index.ts
  packages/fuselage/src/components/Box/index.tsx
  packages/fuselage/src/helpers/composeClassNames.ts
  packages/fuselage/src/helpers/exhaustiveCheck.ts
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage-tokens): incorrect color tokens on Button's success variant (#1471)
  .changeset/stupid-eagles-destroy.md
  packages/fuselage-tokens/src/button/base.json
Due: prettier --write

fix(fuselage-tokens): incorrect color tokens on Button's success variant (#1471)
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/CHANGELOG.md
  packages/fuselage-tokens/package.json
  packages/fuselage-tokens/src/button/base.json
  packages/fuselage/CHANGELOG.md
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade Prettier
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade `eslint-plugin-prettier`
  packages/eslint-config-alt/package.json
  packages/fuselage-tokens/package.json
  packages/prettier-config/package.json
  yarn.lock
Due: prettier --write

Upgrade Stylelint
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  yarn.lock
Due: prettier --write

Fix broken ESLint configuration
  packages/fuselage/README.md
  tools/lint-all/.eslintrc.json
Due: prettier --write

Use a single .prettierrc file
  .prettierrc.json
  packages/css-in-js/.prettierrc.js
  packages/css-supports/package.json
  packages/emitter/.prettierrc.js
  packages/eslint-config-alt/.prettierrc.js
  packages/fuselage-hooks/.prettierrc.js
  packages/fuselage-polyfills/.prettierrc.js
  packages/fuselage-toastbar/.prettierrc.js
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/.prettierrc.js
  packages/fuselage/.prettierrc.js
  packages/icons/.prettierrc.js
  packages/layout/package.json
  packages/logo/.prettierrc.js
  packages/memo/package.json
  packages/mp3-encoder/.prettierrc.js
  packages/onboarding-ui/.prettierrc.js
  packages/peggy-loader/.prettierrc.js
  packages/string-helpers/package.json
  packages/styled/.prettierrc.js
  packages/stylis-logical-props-middleware/.prettierrc.js
  tools/scripts/.prettierrc.js
Due: eslint --fix, prettier --write

Update template
  _templates/create-package/library/files/package.json.t
Due: none

Upgrade turborepo
  package.json
  yarn.lock
Due: prettier --write

Add JSDoc
  packages/prettier-config/fuselage/index.js
Due: eslint --fix

Update snapshots affected by `elevation='2'` and `elevation='2nb'` change
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
Due: none

Skip empty strings when appending class name
  .changeset/chilly-rockets-bow.md
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/fuselage/src/components/Callout/__snapshots__/Callout.spec.tsx.snap
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageReactions/__snapshots__/MessageReactions.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageToolbar/__snapshots__/MessageToolbar.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
  packages/fuselage/src/components/PasswordInput/__snapshots__/PasswordInput.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/SelectInput/__snapshots__/SelectInput.spec.tsx.snap
  packages/fuselage/src/components/Sidebar/TopBar/__snapshots__/TopBar.spec.tsx.snap
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/Tag/__snapshots__/Tag.spec.tsx.snap
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
  packages/fuselage/src/helpers/appendClassName.ts
Due: eslint --fix, prettier --write

fix(fuselage): Skip empty strings when appending class name (#1474)
  .changeset/chilly-rockets-bow.md
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
  packages/fuselage/src/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/fuselage/src/components/Callout/__snapshots__/Callout.spec.tsx.snap
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageMetrics/__snapshots__/MessageMetrics.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageReactions/__snapshots__/MessageReactions.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageToolbar/__snapshots__/MessageToolbar.spec.tsx.snap
  packages/fuselage/src/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
  packages/fuselage/src/components/PasswordInput/__snapshots__/PasswordInput.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/SelectInput/__snapshots__/SelectInput.spec.tsx.snap
  packages/fuselage/src/components/Sidebar/TopBar/__snapshots__/TopBar.spec.tsx.snap
  packages/fuselage/src/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/fuselage/src/components/Tag/__snapshots__/Tag.spec.tsx.snap
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
  packages/fuselage/src/helpers/appendClassName.ts
Due: eslint --fix, prettier --write

Add text variant story
  packages/fuselage/src/components/Skeleton/Skeleton.stories.tsx
Due: eslint --fix

Expand test cases
  packages/fuselage/src/components/Skeleton/Skeleton.spec.tsx
Due: eslint --fix

Change animation style
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
Due: stylelint --fix

Use `StylingBox`
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
Due: eslint --fix

Update snapshots
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
  packages/fuselage/src/components/Skeleton/__snapshots__/Skeleton.spec.tsx.snap
Due: none

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
