Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): Avatar Emoji (#930)
  packages/fuselage/src/components/Avatar/Avatar.spec.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
Due: eslint --fix

Revert "feat(fuselage): Avatar Emoji (#930)"
  packages/fuselage/src/components/Avatar/Avatar.spec.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
Due: eslint --fix

revert(fuselage): "feat(fuselage): Avatar Emoji (#930)" (#998)
  packages/fuselage/src/components/Avatar/Avatar.spec.tsx
  packages/fuselage/src/components/Avatar/Avatar.stories.tsx
  packages/fuselage/src/components/Avatar/Avatar.tsx
Due: eslint --fix

Move Select to react-aria
  README.md
  packages/fuselage/package.json
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Icon/Icon.styles.scss
  packages/fuselage/src/components/Menu/v2/Menu.tsx
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
  packages/fuselage/src/components/Select/Popover.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAria.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

feat: remove type field from organization info
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.spec.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.tsx
Due: eslint --fix

fix: change size options on storybook
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.stories.tsx
Due: eslint --fix

chore: apply VerticalWizardLayout components on CreateNewAccountPage
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.tsx
Due: eslint --fix

chore: update ActionLink color
  packages/layout/src/ActionLink.tsx
Due: eslint --fix

chore: disable Login button if !isDirty
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
Due: eslint --fix

fix: selected-messages color
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

fix(fuselage): selected-messages color (#1004)
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

chore(onboarding-ui, layout): Login and Register page tweaks (#1003)
  packages/layout/src/ActionLink.tsx
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.tsx
Due: eslint --fix

fix: remove organization type options from story
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.stories.tsx
Due: eslint --fix

fix: remove organization type option from flow story
  packages/onboarding-ui/src/flows/SelfHostedRegistration/mocks.ts
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
Due: eslint --fix

fix: change size options on stories
  packages/onboarding-ui/src/flows/SelfHostedRegistration/mocks.ts
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.stories.tsx
Due: eslint --fix

chore: add display prop in `Option`
  packages/fuselage/src/components/Option/Option.styles.scss
Due: stylelint --fix

Fix: Method AutoLink adapt for .local suffix
  packages/message-parser/src/utils.ts
Due: eslint --fix

Update Option.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
Due: stylelint --fix

chore(fuselage): Add display prop in `OptionToggle` (#999)
  packages/fuselage/src/components/Option/Option.styles.scss
Due: stylelint --fix

feat: skeleton circle variant
  packages/fuselage/src/components/Skeleton/Skeleton.stories.tsx
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
Due: eslint --fix, stylelint --fix

feat(fuselage): Skeleton Circle Variant (#1006)
  packages/fuselage/src/components/Skeleton/Skeleton.stories.tsx
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
Due: eslint --fix, stylelint --fix

feat(onboarding-ui): remove type field in company data section (#1002)
  packages/onboarding-ui/src/flows/SelfHostedRegistration/mocks.ts
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.spec.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.stories.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.stories.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.tsx
Due: eslint --fix

Feat: Add link tests
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

Upgrade Yarn and some dependencies
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/message-parser/package.json
  packages/ui-kit/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Expand volta configuration through more workspaces
  packages/fuselage-toastbar/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
Due: prettier --write

chore(message-parser): bump peggy from 2.0.1 to 3.0.0
  packages/message-parser/package.json
  packages/peggy-loader/package.json
  yarn.lock
Due: prettier --write

feat(message-parser): custom domains whitelist
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/index.ts
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

Brute-forces `AutoComplete` transpilation to avoid race condition from Webpack's Copy plugin
  README.md
  packages/fuselage/package.json
  packages/fuselage/src/components/AutoComplete/AutoComplete.d.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): Broken Storybook instances (#1008)
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  README.md
  package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/AutoComplete/AutoComplete.d.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/webpack.config.js
  packages/layout/package.json
  packages/message-parser/package.json
  packages/onboarding-ui/package.json
  packages/ui-kit/package.json
  tools/scripts/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Expose AvatarContainer
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/AvatarContainer.tsx
  packages/fuselage/src/components/Avatar/index.tsx
Due: eslint --fix, stylelint --fix

bump 3.0.0 to 3.0.1
  packages/message-parser/package.json
  packages/message-parser/src/grammar.pegjs
Due: prettier --write

wip
  packages/message-parser/src/grammar.pegjs
Due: none

refactoring and organazing
  packages/message-parser/src/grammar.pegjs
  packages/peggy-loader/package.json
  yarn.lock
Due: prettier --write

minor changes
  packages/message-parser/src/grammar.pegjs
Due: none

chore: Expose Avatar Container (#1011)
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.tsx
  packages/fuselage/src/components/Avatar/AvatarContainer.tsx
  packages/fuselage/src/components/Avatar/index.tsx
Due: eslint --fix, stylelint --fix

bump: 3.0.1 to 3.0.2
  packages/message-parser/package.json
  packages/peggy-loader/package.json
  yarn.lock
Due: prettier --write

refactor: AutoComplete
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

chore: improve AutoComplete stories
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
Due: eslint --fix

chore: improve oauthPage when clientName is undefined
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
