Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix: Rollback URL protocol/schema max chars
  packages/message-parser/src/grammar.pegjs
Due: none

fixes
  packages/fuselage/src/components/Tabs/styles.scss
  packages/fuselage/src/components/Tile/Tile.tsx
Due: eslint --fix, stylelint --fix

feat: add URL option to the overflow component
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/useCursor.ts
Due: eslint --fix

Upgrade peggy
  packages/message-parser/package.json
  packages/peggy-loader/package.json
  packages/peggy-loader/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

Rearrange some grammar rules
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/blockquotes.test.ts
  packages/message-parser/tests/heading.test.ts
  packages/message-parser/tests/orderedList.test.ts
  packages/message-parser/tests/tasks.test.ts
Due: eslint --fix

Remove unused rules
  packages/message-parser/src/grammar.pegjs
Due: none

fix peer dep
  packages/fuselage-ui-kit/README.md
  packages/fuselage-ui-kit/package.json
  yarn.lock
Due: prettier --write

chore(fuselage-ui-kit): Fix peer dep (#738)
  packages/fuselage-ui-kit/README.md
  packages/fuselage-ui-kit/package.json
  yarn.lock
Due: prettier --write

Add flag for `hexColor` parsing
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/index.ts
  packages/message-parser/tests/color.test.ts
Due: eslint --fix

Simplify `lineBreak()`
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/heading.test.ts
  packages/message-parser/tests/lineBreak.test.ts
Due: eslint --fix

Replace array character concatenation with matched texts
  packages/message-parser/src/grammar.pegjs
Due: none

Add minimal emoji unicode support
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/emoji.test.ts
Due: eslint --fix

Add emoticons support
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/index.ts
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/color.test.ts
  packages/message-parser/tests/emoticons.test.ts
Due: eslint --fix

Add KaTeX support
  packages/fuselage/package.json
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/index.ts
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/katex.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore pass original event to uikit
  packages/fuselage-ui-kit/README.md
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: eslint --fix, prettier --write

Deprecate some weird names
  packages/fuselage-ui-kit/README.md
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/index.ts
Due: eslint --fix, prettier --write

Rearrange some rules
  packages/message-parser/src/grammar.pegjs
Due: none

fix: kebab menu
  packages/fuselage/src/components/Menu/Menu.tsx
Due: eslint --fix

fix(fuselage): kebab menu click not working properly (#740)
  packages/fuselage/src/components/Menu/Menu.tsx
Due: eslint --fix

fix: Adding tests and fixing URL wrong format
  packages/fuselage-ui-kit/README.md
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix, prettier --write

remove surface-deprecated
  packages/fuselage-toastbar/.storybook/manager.ts
  packages/fuselage-ui-kit/.storybook/manager.ts
  packages/fuselage/.storybook/manager.ts
  packages/fuselage/src/components/Avatar/styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/ProgressBar/styles.scss
  packages/fuselage/src/components/Sidebar/styles.scss
  packages/fuselage/src/components/Table/styles.scss
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/input-colors.scss
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
  packages/onboarding-ui/.storybook/manager.ts
Due: eslint --fix, stylelint --fix

fix tile
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

chore pass original event to uikit (#741)
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: eslint --fix

feat(message-parser): Parser options (#739)
  packages/fuselage/package.json
  packages/message-parser/package.json
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/index.ts
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/blockquotes.test.ts
  packages/message-parser/tests/color.test.ts
  packages/message-parser/tests/emoji.test.ts
  packages/message-parser/tests/emoticons.test.ts
  packages/message-parser/tests/heading.test.ts
  packages/message-parser/tests/katex.test.ts
  packages/message-parser/tests/lineBreak.test.ts
  packages/message-parser/tests/orderedList.test.ts
  packages/message-parser/tests/tasks.test.ts
  packages/peggy-loader/package.json
  packages/peggy-loader/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

Update package.json
  packages/fuselage-tokens/package.json
Due: prettier --write

fix surface var
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

fix merge
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

Replace `useSubscription` with `useSyncExternalStore`
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/src/useMediaQueries.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor(fuselage-hooks): Prepare for React 18's `useSyncExternalStore` (#743)
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/src/useMediaQueries.ts
  yarn.lock
Due: eslint --fix, prettier --write

use Artifacts as cache
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

Allow action dispatch when dealing with text input
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/ui-kit/src/blocks/Actionable.ts
  packages/ui-kit/src/blocks/InputElementDispatchAction.ts
  packages/ui-kit/src/index.ts
Due: eslint --fix

Dispatch actions when static item is selected
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/ui-kit/src/blocks/InputElementDispatchAction.ts
Due: eslint --fix

fix(deps,mp3-encoder): Bump `lamejs` version (#732)
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

Small fix on the new action function
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: eslint --fix

feat(fuselage): create ContextualBar component
  packages/fuselage/src/components/ContextualBar/ContextualBar.stories.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBar.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarHeader.tsx
  packages/fuselage/src/components/ContextualBar/ContextualBarTitle.tsx
  packages/fuselage/src/components/ContextualBar/index.tsx
Due: eslint --fix

fix(fuselage): Surface values using css var (#748)
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
