Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: improve types
  packages/fuselage/src/components/Field/FieldLabelInfo.tsx
  packages/fuselage/src/components/Label/LabelInfo.tsx
Due: eslint --fix

chore: update snapshots
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Label/__snapshots__/Label.spec.tsx.snap
Due: none

ops
  packages/fuselage/src/components/Field/FieldLabelInfo.tsx
Due: eslint --fix

added channelmention in the markup inside message-parser
  packages/message-parser/src/definitions.ts
Due: eslint --fix

reverted the changes in definitions.ts file
  packages/message-parser/src/definitions.ts
Due: eslint --fix

added changes in the template of pull request
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Create cyan-pots-care.md
  .changeset/cyan-pots-care.md
Due: prettier --write

chore: reorder info item with display flex
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Label/LabelInfo.tsx
Due: eslint --fix, stylelint --fix

feat(fuselage): create `LabelInfo` component (#1214)
  .changeset/tame-bikes-reflect.md
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/Field/FieldLabelInfo.tsx
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Field/index.tsx
  packages/fuselage/src/components/Label/Label.stories.tsx
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Label/LabelInfo.tsx
  packages/fuselage/src/components/Label/__snapshots__/Label.spec.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write

fix(message-parser): Added ChannelMention in the markup (#1215)
  .changeset/cyan-pots-care.md
  packages/message-parser/src/definitions.ts
Due: eslint --fix, prettier --write

feat: `Card` component (wip)
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/CardBody.tsx
  packages/fuselage/src/components/Card/CardCol.tsx
  packages/fuselage/src/components/Card/CardContent.tsx
  packages/fuselage/src/components/Card/CardControls.tsx
  packages/fuselage/src/components/Card/CardFramedIcon.tsx
  packages/fuselage/src/components/Card/CardHeader.tsx
  packages/fuselage/src/components/Card/CardHorizontal.tsx
  packages/fuselage/src/components/Card/CardTitle.tsx
  packages/fuselage/src/components/Card/index.ts
Due: eslint --fix, stylelint --fix

feat: `Card` component
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/Card/Card.tsx
  packages/fuselage/src/components/Card/CardContent.tsx
  packages/fuselage/src/components/Card/CardControls.tsx
  packages/fuselage/src/components/Card/CardDivider.tsx
  packages/fuselage/src/components/Card/CardFramedIcon.tsx
  packages/fuselage/src/components/Card/CardRow.tsx
  packages/fuselage/src/components/Card/CardTitle.tsx
  packages/fuselage/src/components/Card/CardVertical.tsx
  packages/fuselage/src/components/Card/index.ts
Due: eslint --fix, stylelint --fix

chore: Card tests
  packages/fuselage/src/components/Card/Card.spec.tsx
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
Due: eslint --fix

feat: `CardGroup`
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/CardHorizontal.tsx
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
  packages/fuselage/src/components/CardGroup/CardGroup.styles.scss
  packages/fuselage/src/components/CardGroup/CardGroup.tsx
  packages/fuselage/src/components/CardGroup/index.ts
  packages/fuselage/src/components/index.scss
Due: eslint --fix, stylelint --fix

chore: `CardGroup` tests
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/CardGroup.spec.tsx
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
Due: eslint --fix

chore: update snapshots
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/__snapshots__/Card.spec.tsx.snap
  packages/fuselage/src/components/CardGroup/CardGroup.stories.tsx
  packages/fuselage/src/components/CardGroup/__snapshots__/CardGroup.spec.tsx.snap
Due: eslint --fix

fix italics for user and channel mentions
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emphasis.test.ts
Due: eslint --fix

fix rules
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emphasis.test.ts
Due: eslint --fix

fix lint
  packages/message-parser/tests/emphasis.test.ts
Due: eslint --fix

feat(fuselage): update `SidebarItem` highlighted weight
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/curly-bears-wait.md
Due: prettier --write

fix
  packages/fuselage/src/components/Card/Card.stories.tsx
  packages/fuselage/src/components/Card/CardBody.tsx
  packages/fuselage/src/components/Card/CardCol.tsx
  packages/fuselage/src/components/Card/CardDivider.tsx
  packages/fuselage/src/components/Card/CardHeader.tsx
  packages/fuselage/src/components/Card/CardHorizontal.tsx
  packages/fuselage/src/components/Card/CardTitle.tsx
  packages/fuselage/src/components/Card/CardVertical.tsx
  packages/fuselage/src/components/Card/index.ts
  packages/fuselage/src/components/CardGroup/CardGroup.tsx
  packages/fuselage/src/components/index.ts
Due: eslint --fix

more tests
  packages/message-parser/tests/emphasis.test.ts
Due: eslint --fix

feat(fuselage): update `SidebarItem` highlighted weight (#1220)
  .changeset/curly-bears-wait.md
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix, prettier --write

remove duplicated test
  packages/message-parser/tests/emphasis.test.ts
Due: eslint --fix

feat(fuselage): migrating blockquote style to fuselage MessageBody component
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

changeset
  .changeset/shy-hotels-play.md
Due: prettier --write

fix(message-parser): Italics for channel and user mentions (#1219)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emphasis.test.ts
Due: eslint --fix

fix onBlur being over-written
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

change function name
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

Revert "change function name"
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

proper naming convention
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

Add changeset
  .changeset/sharp-planets-type.md
  .husky/pre-commit
Due: prettier --write

offline button
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix

Create mighty-chicken-sip.md
  .changeset/mighty-chicken-sip.md
Due: prettier --write

fix(fuselage): Handle `onBlur` prop on AutoComplete (#1222)
  .changeset/sharp-planets-type.md
  .husky/pre-commit
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix, prettier --write

fix(onboarding-ui): Fix font scales, translations, text colors (#1208)
  .changeset/mighty-chicken-sip.md
  packages/layout/src/FormPageLayout/FormSteps.tsx
  packages/layout/src/FormPageLayout/FormTitle.tsx
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/common/EmailCodeFallback.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix, prettier --write

checkbox label
  packages/onboarding-ui/src/common/AgreeTermsField.tsx
  packages/onboarding-ui/src/forms/AwaitConfirmationForm/AwaitConfirmationForm.tsx
  packages/onboarding-ui/src/forms/RegisterOfflineForm/steps/CopyStep.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
Due: eslint --fix
