Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix: keep displaying button when Menu is open
  packages/fuselage/src/components/Option/Option.spec.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/lazy-facts-tie.md
Due: prettier --write

chore: update changeset
  .changeset/lazy-facts-tie.md
Due: prettier --write

chore: simplify story
  packages/fuselage/src/components/Option/Option.stories.tsx
Due: eslint --fix

update: added more button stories
  packages/fuselage-tamagui/src/components/Button/Button.stories.tsx
Due: eslint --fix

refactor: custom implementation of button
  packages/fuselage-tamagui/src/components/Button/Button.tsx
Due: eslint --fix

fix: import typo
  packages/fuselage-tamagui/src/components/Header/Header.tsx
Due: eslint --fix

fix(fuselage): Keep displaying button when Menu is opened (#1633)
  .changeset/lazy-facts-tie.md
  packages/fuselage/src/components/Option/Option.spec.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

fix: increase zIndex in contextualbarV2
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.tsx
Due: eslint --fix

chore: update snapshots
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
Due: none

chore: changeset
  .changeset/sad-beers-teach.md
Due: prettier --write

fix(fuselage): Increase `z-index` in `ContextualbarV2` (#1634)
  .changeset/sad-beers-teach.md
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.tsx
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
Due: eslint --fix, prettier --write

update: added variants of button
  packages/fuselage-tamagui/src/components/Button/Button.stories.tsx
Due: eslint --fix

update: added colors to different variants
  packages/fuselage-tamagui/src/components/Button/Button.tsx
Due: eslint --fix

update
  packages/fuselage-tamagui/tamagui.config.ts
Due: eslint --fix

update: added stories
  packages/fuselage-tamagui/src/components/Button/Button.stories.tsx
Due: eslint --fix

refactor: removed hard coded color used tokens
  packages/fuselage-tamagui/src/components/Button/Button.tsx
Due: eslint --fix

feat(tokens): add feat(tokens): added various colors to the tamagui config
  packages/fuselage-tamagui/tamagui.config.ts
Due: eslint --fix

update readme
  packages/fuselage-tamagui/README.md
Due: prettier --write

Update README.md
  packages/fuselage-tamagui/README.md
Due: prettier --write

fix: review
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/MenuPopover.tsx
Due: eslint --fix

update cs
  .changeset/loose-teams-help.md
Due: prettier --write

refactor: (review) use Dropdown components in `MenuPopover`
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Menu/V2/MenuPopover.tsx
Due: eslint --fix

prop type name
  packages/fuselage/src/components/Menu/V2/MenuPopover.tsx
Due: eslint --fix

feat: add new icon
  packages/icons/glyphsMapping.json
  packages/icons/src/inbox.svg
Due: prettier --write

chore: changeset
  .changeset/puny-turkeys-shout.md
Due: prettier --write

feat(icons): Add new `inbox` icon (#1640)
  .changeset/puny-turkeys-shout.md
  packages/icons/glyphsMapping.json
  packages/icons/src/inbox.svg
Due: prettier --write

fix(fuselage): `MenuV2` not handling focus properly (#1632)
  .changeset/loose-teams-help.md
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Menu/V2/MenuPopover.tsx
Due: eslint --fix, prettier --write

Changed tag from label to div
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
Due: eslint --fix

Made outer Box's type to be changeable
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
Due: eslint --fix

fix: menuV2 button must receive label
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

chore: changeset
  .changeset/light-badgers-walk.md
Due: prettier --write

chore: update snapshot
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
Due: none

fix(fuselage): MenuV2 button should receive label (#1644)
  .changeset/light-badgers-walk.md
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
Due: eslint --fix, prettier --write

ref forward close contextual bar action button
  packages/fuselage/src/components/Contextualbar/ContextualbarAction.tsx
  packages/fuselage/src/components/ContextualbarV2/ContextualbarAction.tsx
Due: eslint --fix

add changeset
  .changeset/true-bags-own.md
Due: prettier --write

fix: remove text-decoration
  packages/layout/src/components/ActionLink/ActionLink.tsx
Due: eslint --fix

fix: remove `Link`
  packages/layout/src/components/ActionLink/ActionLink.tsx
  packages/layout/src/components/Link.tsx
  packages/layout/src/components/index.ts
Due: eslint --fix

chore: changeset
  .changeset/chilly-women-play.md
Due: prettier --write

chore: update snapshots
  packages/layout/src/components/ActionLink/__snapshots__/ActionLink.spec.tsx.snap
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
Due: none

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
