Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: remove prop
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Due: eslint --fix

revert(fuselage): Remove `maxWidth` from `Contextualbar` (#1070)
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Due: eslint --fix

fix: select width
  packages/fuselage/src/components/Select/SelectAria.tsx
Due: eslint --fix

chore: replace bg color
  packages/fuselage/src/components/States/States.styles.scss
Due: stylelint --fix

chore(fuselage): Replace bg color on `StatesIcon` (#1071)
  packages/fuselage/src/components/States/States.styles.scss
Due: stylelint --fix

add Option gap
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix

Update Option stories
  packages/fuselage/src/components/Option/Option.stories.tsx
Due: eslint --fix

improve stories description
  packages/fuselage/src/components/Option/Option.stories.tsx
Due: eslint --fix

review
  packages/fuselage/src/components/Option/Option.stories.tsx
Due: eslint --fix

chore(fuselage): add `Option` gap (#1072)
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix

add types, split components
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/MenuDropdown.tsx
  packages/fuselage/src/components/Menu/V2/MenuItem.tsx
  packages/fuselage/src/components/Menu/V2/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/types.ts
Due: eslint --fix

re-export react-stately components
  packages/fuselage/src/components/Menu/V2/index.ts
Due: eslint --fix

improve Menu stories
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
Due: eslint --fix

chore: remove uikit
  .github/workflows/cd.yml
Due: prettier --write

fix alignment
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

chore: CI auto bump (#1055)
  .github/workflows/cd.yml
Due: prettier --write

Add UIKIt callout component
  packages/ui-kit/src/blocks/elements/CalloutElement.ts
Due: eslint --fix

Add UIKIt checkbox component
  packages/ui-kit/src/blocks/elements/CheckboxElement.ts
Due: eslint --fix

Add UIKIt radio button component
  packages/ui-kit/src/blocks/elements/RadioButtonElement.ts
Due: eslint --fix

improve complex meu stories. Option as label to propagate input interaction.
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/MenuDropdown.tsx
  packages/fuselage/src/components/Menu/V2/MenuItem.tsx
  packages/fuselage/src/components/Menu/V2/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/index.ts
Due: eslint --fix

Add UIKIt time picker component
  packages/ui-kit/src/blocks/elements/TimePickerElement.ts
Due: eslint --fix

Add UIKIt toast bar component
  packages/ui-kit/src/blocks/elements/ToastBarElement.ts
Due: eslint --fix

Add UIKit toggle switch component
  packages/ui-kit/src/blocks/elements/ToggleSwitchElement.ts
Due: eslint --fix

Add render to new UIKit components
  packages/ui-kit/src/blocks/ActionableElement.ts
  packages/ui-kit/src/blocks/BlockElement.ts
  packages/ui-kit/src/blocks/BlockElementType.ts
  packages/ui-kit/src/blocks/isActionsBlockElement.ts
  packages/ui-kit/src/blocks/layout/ActionsBlock.ts
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/rendering/ActionOf.ts
  packages/ui-kit/src/rendering/BlockRenderers.ts
  packages/ui-kit/src/rendering/renderBlockElement.ts
Due: eslint --fix

Prettier fixes
  packages/ui-kit/src/blocks/ActionableElement.ts
  packages/ui-kit/src/blocks/BlockElement.ts
  packages/ui-kit/src/blocks/elements/CalloutElement.ts
  packages/ui-kit/src/blocks/elements/CheckboxElement.ts
  packages/ui-kit/src/blocks/elements/RadioButtonElement.ts
  packages/ui-kit/src/blocks/elements/ToastBarElement.ts
  packages/ui-kit/src/blocks/elements/ToggleSwitchElement.ts
  packages/ui-kit/src/blocks/layout/ActionsBlock.ts
  packages/ui-kit/src/rendering/ActionOf.ts
  packages/ui-kit/src/rendering/BlockRenderers.ts
Due: eslint --fix

chore(fuselage): Change message highlight alignment. (#1073)
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

fix
  .github/workflows/cd.yml
Due: prettier --write

chore(monorepo): Missing branch check on auto bump (#1075)
  .github/workflows/cd.yml
Due: prettier --write

export MenuV2
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/index.ts
  packages/fuselage/src/components/Menu/index.ts
Due: eslint --fix

Add UIKit TabNavigation component
  packages/ui-kit/src/blocks/ActionableElement.ts
  packages/ui-kit/src/blocks/BlockElement.ts
  packages/ui-kit/src/blocks/BlockElementType.ts
  packages/ui-kit/src/blocks/elements/TabNavigationElement.ts
  packages/ui-kit/src/blocks/isActionsBlockElement.ts
  packages/ui-kit/src/blocks/layout/ActionsBlock.ts
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/rendering/ActionOf.ts
  packages/ui-kit/src/rendering/BlockRenderers.ts
  packages/ui-kit/src/rendering/renderBlockElement.ts
Due: eslint --fix

add title for tooltip
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

chore: add new icons
  packages/icons/glyphsMapping.json
  packages/icons/src/pause-shape-filled.svg
  packages/icons/src/play-shape-filled.svg
Due: prettier --write

chore: AudioPlayer redesign
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

chore: show currentTime if > 0
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

chore: :bento: Add permissions and Dashboard icons to fuselage
  packages/icons/src/dashboard.svg
  packages/icons/src/permissions.svg
Due: prettier --write

Review
  packages/icons/glyphsMapping.json
Due: prettier --write

add stories MenuFunctionChildren
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
Due: eslint --fix

Run formatter on new icons
  packages/icons/src/dashboard.svg
  packages/icons/src/permissions.svg
Due: prettier --write

chore: Menu v2 (#832)
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/MenuDropdown.tsx
  packages/fuselage/src/components/Menu/V2/MenuItem.tsx
  packages/fuselage/src/components/Menu/V2/MenuSection.tsx
  packages/fuselage/src/components/Menu/V2/index.ts
  packages/fuselage/src/components/Menu/V2/types.ts
  packages/fuselage/src/components/Menu/index.ts
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/styles/mixins/states.scss
Due: eslint --fix, stylelint --fix

fix: uikit tab component value type
  packages/ui-kit/src/blocks/elements/TabNavigationElement.ts
Due: eslint --fix
