Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

change sidebar bg and divider colors
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

revert sidebar bg
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

target as a prop banner
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix

Add token n450 variation
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
Due: eslint --fix, stylelint --fix, prettier --write

Change surface-selected color
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

improve type
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix

chore(fuselage): Replace input default icons with Addon (#968)
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): Apply status-font on icon colors (#969)
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

chore(fuselage): Change Sidebar colors (#970)
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

Add log-view icon
  packages/icons/glyphsMapping.json
  packages/icons/src/log-view.svg
Due: prettier --write

fix(message-parser): Link parser issues (#962)
  packages/message-parser/package.json
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/url.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(fuselage): Add `linkTarget` prop for `Banner` component (#971)
  packages/fuselage/src/components/Banner/Banner.tsx
Due: eslint --fix

Create SidebarBanner component
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
  packages/fuselage/src/components/Sidebar/index.tsx
Due: eslint --fix, stylelint --fix

review improvements
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
Due: eslint --fix, stylelint --fix

feat(fuselage): SidebarBanner component (#975)
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
  packages/fuselage/src/components/Sidebar/index.tsx
Due: eslint --fix, stylelint --fix

fix topbar-title class. change topbar-title color
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/TopBar.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): change Topbar Title color (#976)
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/TopBar.tsx
Due: eslint --fix, stylelint --fix

change the icon name
  packages/icons/glyphsMapping.json
  packages/icons/src/desktop-text.svg
Due: prettier --write

Rename
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.stories.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/index.ts
  packages/onboarding-ui/src/forms/RegisteredServerForm/RegisteredServerForm.stories.tsx
  packages/onboarding-ui/src/forms/RegisteredServerForm/index.ts
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.spec.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.stories.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/index.ts
  packages/onboarding-ui/src/pages/RegisteredServerPage/RegisteredServerPage.stories.tsx
  packages/onboarding-ui/src/pages/RegisteredServerPage/index.ts
Due: eslint --fix

Implement new design and stories
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.stories.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.spec.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.stories.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
Due: eslint --fix, prettier --write

feat(icons): Add `desktop-text` icon (#972)
  packages/icons/glyphsMapping.json
  packages/icons/src/desktop-text.svg
Due: prettier --write

fix name
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
Due: eslint --fix

chore(onboarding-ui): Self hosted registration updates (#977)
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.stories.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/index.ts
  packages/onboarding-ui/src/forms/RegisteredServerForm/RegisteredServerForm.stories.tsx
  packages/onboarding-ui/src/forms/RegisteredServerForm/RegisteredServerForm.tsx
  packages/onboarding-ui/src/forms/RegisteredServerForm/index.ts
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.spec.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.stories.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/index.ts
  packages/onboarding-ui/src/pages/RegisteredServerPage/RegisteredServerPage.stories.tsx
  packages/onboarding-ui/src/pages/RegisteredServerPage/index.ts
Due: eslint --fix, prettier --write

Add AllHTMLAtributes to OptionProps type
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix

chore(fuselage): Add AllHTMLAtributes to OptionProps type (#978)
  packages/fuselage/src/components/Option/Option.tsx
Due: eslint --fix

refactor: move css to inline style on box
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/ModalContent.tsx
Due: eslint --fix, stylelint --fix

Update packages/fuselage/src/components/Modal/ModalContent.tsx
  packages/fuselage/src/components/Modal/ModalContent.tsx
Due: eslint --fix

refactor(fuselage): Move margin inline style to inline box at `Modal` (#979)
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/ModalContent.tsx
Due: eslint --fix, stylelint --fix

fix titles-labels token
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/props.stories.mdx
Due: eslint --fix

fix MessageGenericPreview color
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
Due: stylelint --fix

remove old colors on Theme.ts
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/props.stories.mdx
Due: eslint --fix

Add the disabled possibility for Menu component
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/useCursor.ts
Due: eslint --fix

update stories
  packages/fuselage/src/components/Menu/Menu.stories.tsx
Due: eslint --fix

fix ui-kit definition
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
Due: eslint --fix

chore: prevent click on disabled option
  packages/fuselage/src/components/Options/Options.tsx
Due: eslint --fix

increase inputBox with addon width. Addon click ref to InputBox
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.tsx
Due: eslint --fix, stylelint --fix

fix lint
  packages/fuselage/src/components/InputBox/InputBox.tsx
Due: eslint --fix

[FIX] Multiselect won't update if value changes
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
Due: eslint --fix

chore(deps): Upgrade TypeScript (#955)
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/fuselage/src/.storybook/PropsVariation.tsx
  packages/fuselage/src/components/Box/withBoxStyling.tsx
  packages/fuselage/src/helpers/patchChildren.ts
  packages/fuselage/src/hooks/useBoxOnlyProps.ts
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/tools-utils/package.json
  yarn.lock
Due: eslint --fix, prettier --write

remove showPicker verification
  packages/fuselage/src/components/InputBox/InputBox.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
