Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix: check if is emoticon to preserver colon character
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/emoji.test.ts
  packages/message-parser/tests/emoticons.test.ts
Due: eslint --fix

Fixing URL/links parsing issues
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/phoneNumber.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
  packages/message-parser/tests/tasks.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

restoring files from base branch
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/stylingProps.ts
Due: eslint --fix

adding tests
  packages/message-parser/tests/emoticons.test.ts
Due: eslint --fix

chore(monorepo): security packages upgrade (#850)
  yarn.lock
Due: none

fix(message-parser): Update emoticon to output :fearful: emoji (#851)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emoticons.test.ts
Due: eslint --fix

feat: modal as form
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
Due: eslint --fix

chore: add store icon
  packages/icons/glyphsMapping.json
  packages/icons/src/store.svg
Due: prettier --write

refactor: remove unimplemented components from index
  packages/ui-kit/src/index.ts
Due: eslint --fix

fixing thumbs emoji with shortCode :+1:
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emoji.test.ts
Due: eslint --fix

feat: Modal Hero Image
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/ModalHeroImage.tsx
  packages/fuselage/src/components/Modal/index.ts
Due: eslint --fix

fix(message-parser): Thumbs emoji becoming phone number (#858)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emoji.test.ts
Due: eslint --fix

chore: add store icon (#857)
  packages/icons/glyphsMapping.json
  packages/icons/src/store.svg
Due: prettier --write

replacing backstick with single quotes
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

fixing domainChar accepted chars
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/inlineCode.test.ts
Due: eslint --fix

fix: review
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/ModalHeroImage.tsx
Due: eslint --fix, stylelint --fix

fix(message-parser): Link/URL parser issues (#855)
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/phoneNumber.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
  packages/message-parser/tests/tasks.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

feat(fuselage): Modal Hero Image (#860)
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/ModalHeroImage.tsx
  packages/fuselage/src/components/Modal/index.ts
Due: eslint --fix, stylelint --fix

fixing domainChar accepted chars (#861)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/inlineCode.test.ts
Due: eslint --fix

fix: callout style
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Callout/Callout.styles.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): Callout Component Style Update (#862)
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Callout/Callout.styles.scss
Due: eslint --fix, stylelint --fix

temporarily removing emphasis support
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/phoneNumber.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
  packages/message-parser/tests/tasks.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

refactor(fuselage): add external url to message generic preview image
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.tsx
Due: eslint --fix, stylelint --fix

fix(message-parser): Message parser issues (#852)
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/emoji.test.ts
  packages/message-parser/tests/emoticons.test.ts
  packages/message-parser/tests/inlineCode.test.ts
  packages/message-parser/tests/link.test.ts
Due: eslint --fix

more tests
  README.md
  packages/message-parser/tests/url.test.ts
Due: eslint --fix, prettier --write

AUUUUU
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

few more tests
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

TESSSSSTS
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

fix(message-parser): tests for urls followed by a line break and spaces (#848)
  README.md
  packages/message-parser/tests/url.test.ts
Due: eslint --fix, prettier --write

refactor: add image preview variation
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.tsx
Due: eslint --fix, stylelint --fix

creating new component for imageLinkPreview
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImageLink.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/index.tsx
Due: eslint --fix, stylelint --fix

chore(release): 0.31.19
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

refactor: update tests and pass onError and alt
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImageLink.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImageLink.tsx
Due: eslint --fix, stylelint --fix

refactor; remove external link from image preview
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.tsx
Due: eslint --fix

refactor: add props spread
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImageLink.tsx
Due: eslint --fix

refactor: rename components
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewCoverImage.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewCoverImage.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImageLink.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImageLink.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/index.tsx
Due: eslint --fix

fix: enabling emphasis inside link label
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/phoneNumber.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
  packages/message-parser/tests/tasks.test.ts
  packages/message-parser/tests/url.test.ts
Due: eslint --fix

refactor: extend html and anchor attributes on preview title
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewTitle.tsx
Due: eslint --fix

removing unused props
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewCoverImage.tsx
Due: eslint --fix

fix: Tag not receiving props
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
