Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat: update CreateCloudWorkspaceForm
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.stories.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
Due: eslint --fix

Use `@testing-library/user-event`
  packages/fuselage/package.json
  packages/fuselage/src/components/Select/Select.spec.tsx
  packages/fuselage/src/components/Select/SelectFiltered.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: translations and small refactor
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/WorkspaceUrlInput.tsx
Due: eslint --fix, prettier --write

feat: update stories args
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.stories.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.stories.tsx
Due: eslint --fix

Split `MultiSelect` and `MultiSelectFiltered` stories
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.stories.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/SelectFiltered.stories.tsx
Due: eslint --fix

Remove unused styles
  packages/fuselage/src/components/PaginatedSelect/styles.scss
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectWrapper.tsx
  packages/fuselage/src/components/Select/index.ts
Due: eslint --fix, stylelint --fix

Move styles for `MultiSelect`
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchor.tsx
  packages/fuselage/src/components/MultiSelect/styles.scss
  packages/fuselage/src/components/index.scss
Due: eslint --fix, stylelint --fix

Split some `MultiSelect` subcomponents
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAddon.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchor.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectContainer.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectDropdown.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/MultiSelect/styles.scss
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAddon.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Due: eslint --fix, stylelint --fix

Align `Select` and `MultiSelect` stories
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAddon.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAddon.tsx
Due: eslint --fix

Add tests for `MultiSelect` and `MultiSelectFiltered`
  packages/fuselage/src/components/MultiSelect/MultiSelect.spec.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.spec.tsx
  packages/fuselage/src/components/Options/Option/Option.tsx
Due: eslint --fix

Rearrange anchors
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchor.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchorParams.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAnchor.tsx
  packages/fuselage/src/components/Select/SelectAnchorParams.ts
  packages/fuselage/src/components/Select/SelectFiltered.stories.tsx
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/styles.scss
Due: eslint --fix, stylelint --fix

add icons
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-stack-up.svg
  packages/icons/src/globe-cross.svg
Due: prettier --write

feat(onboarding-ui): create reusable InformationPage
  packages/onboarding-ui/src/pages/InformationPage/InformationPage.spec.tsx
  packages/onboarding-ui/src/pages/InformationPage/InformationPage.stories.tsx
  packages/onboarding-ui/src/pages/InformationPage/InformationPage.tsx
  packages/onboarding-ui/src/pages/InformationPage/index.ts
Due: eslint --fix

feat(onboarding-ui): create reusable InformationPage (#663)
  packages/onboarding-ui/src/pages/InformationPage/InformationPage.spec.tsx
  packages/onboarding-ui/src/pages/InformationPage/InformationPage.stories.tsx
  packages/onboarding-ui/src/pages/InformationPage/InformationPage.tsx
  packages/onboarding-ui/src/pages/InformationPage/index.ts
Due: eslint --fix

Detach value display of `Select`
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectValue.tsx
  packages/fuselage/src/components/Select/SelectValueParams.ts
  packages/fuselage/src/components/Select/SelectWrapper.tsx
Due: eslint --fix

Fix `value` type
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Due: eslint --fix

fix remove TODO comments
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
Due: eslint --fix

Extract `useSelect`
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/useSelect.tsx
Due: eslint --fix

Bypass `addonIcon`
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAddon.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/useSelect.ts
Due: eslint --fix

Simplify `useSelect`
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAddon.tsx
  packages/fuselage/src/components/Select/SelectAnchor.tsx
  packages/fuselage/src/components/Select/SelectAnchorParams.ts
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/SelectValue.tsx
  packages/fuselage/src/components/Select/SelectValueParams.ts
  packages/fuselage/src/components/Select/SelectWrapper.tsx
  packages/fuselage/src/components/Select/styles.scss
  packages/fuselage/src/components/Select/useSelect.ts
Due: eslint --fix, stylelint --fix

Prepare for generic types
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/useSelect.ts
Due: eslint --fix

fix: iconList
  packages/fuselage/src/components/Icon/Icon.stories.tsx
  packages/fuselage/src/components/Icon/IconsList.ts
Due: eslint --fix

Expand generic usage on `useSelect`
  packages/fuselage/src/components/Select/Select.spec.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.spec.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/useSelect.ts
Due: eslint --fix

Use option instead of value as internal state
  packages/fuselage/src/components/Select/useSelect.ts
Due: eslint --fix

chore(icons): upgrade icons (#664)
  packages/fuselage/src/components/Icon/Icon.stories.tsx
  packages/fuselage/src/components/Icon/IconsList.ts
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-stack-up.svg
  packages/icons/src/globe-cross.svg
Due: eslint --fix, prettier --write

feat(onboarding-ui): allow title and subtitle editing
  packages/onboarding-ui/src/pages/CheckYourEmailPage/CheckYourEmailPage.stories.tsx
  packages/onboarding-ui/src/pages/CheckYourEmailPage/CheckYourEmailPage.tsx
Due: eslint --fix

feat(onboarding-ui): Create Cloud Workspace Simplified Page (#660)
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.stories.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/WorkspaceUrlInput.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.stories.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/Description.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/TitleCreateCloudPage.tsx
Due: eslint --fix, prettier --write

Split value and placeholder display
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectPlaceholder.tsx
  packages/fuselage/src/components/Select/SelectValue.tsx
  packages/fuselage/src/components/Select/useSelect.ts
Due: eslint --fix

Split `useSelectState` and `useSelectDropdown`
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/useSelectDropdown.ts
  packages/fuselage/src/components/Select/useSelectState.ts
  packages/fuselage/src/helpers/localeIncludes.ts
Due: eslint --fix

feat(onboarding-ui): create LaunchingWorkspace page
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/LaunchingLoader.tsx
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/LaunchingWorkspacePage.spec.tsx
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/LaunchingWorkspacePage.stories.tsx
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/LaunchingWorkspacePage.tsx
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/index.ts
Due: eslint --fix, prettier --write

Refactor `MultiSelect` and `MultiSelectFiltered`
  packages/fuselage/src/components/MultiSelect/MultiSelect.spec.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAddon.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchor.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchorParams.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectContainer.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectDropdown.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.spec.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectValue.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectWrapper.tsx
  packages/fuselage/src/components/MultiSelect/SelectedOptions.tsx
  packages/fuselage/src/components/MultiSelect/styles.scss
  packages/fuselage/src/components/MultiSelect/useMultiSelectState.ts
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectDropdown.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/useSelectDropdown.ts
  packages/fuselage/src/components/Select/useSelectState.ts
  packages/fuselage/src/components/index.scss
Due: eslint --fix, stylelint --fix

feat(onboarding-ui): refactor to single responsibility LoaderPage
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/LaunchingLoader.tsx
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/LaunchingWorkspacePage.spec.tsx
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/LaunchingWorkspacePage.stories.tsx
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/LaunchingWorkspacePage.tsx
  packages/onboarding-ui/src/pages/LaunchingWorkspacePage/index.ts
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.spec.tsx
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.stories.tsx
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
  packages/onboarding-ui/src/pages/LoaderPage/index.ts
Due: eslint --fix, prettier --write

feat(onboarding-ui): remove unused property
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
Due: eslint --fix

Decouple styles
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.styles.scss
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectAddon.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFocus.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectWrapper.tsx
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/components/index.scss
Due: eslint --fix, stylelint --fix

Move components to the same directory
  packages/fuselage/src/components/MultiSelect/index.ts
  packages/fuselage/src/components/Select/MultiSelect.spec.tsx
  packages/fuselage/src/components/Select/MultiSelect.stories.tsx
  packages/fuselage/src/components/Select/MultiSelect.tsx
  packages/fuselage/src/components/Select/MultiSelectAnchor.tsx
  packages/fuselage/src/components/Select/MultiSelectFiltered.spec.tsx
  packages/fuselage/src/components/Select/MultiSelectFiltered.stories.tsx
  packages/fuselage/src/components/Select/MultiSelectFiltered.tsx
  packages/fuselage/src/components/Select/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/MultiSelectValue.tsx
  packages/fuselage/src/components/Select/MultiSelectWrapper.tsx
  packages/fuselage/src/components/Select/index.ts
  packages/fuselage/src/components/Select/useMultiSelectState.ts
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/hooks/useStyle.ts
Due: eslint --fix

feat(onboarding-ui): create LaunchingWorkspace page (#666)
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.spec.tsx
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.stories.tsx
  packages/onboarding-ui/src/pages/LoaderPage/LoaderPage.tsx
  packages/onboarding-ui/src/pages/LoaderPage/index.ts
Due: eslint --fix

feat(onboarding-ui): allow title and subtitle editing (#665)
  packages/onboarding-ui/src/pages/CheckYourEmailPage/CheckYourEmailPage.stories.tsx
  packages/onboarding-ui/src/pages/CheckYourEmailPage/CheckYourEmailPage.tsx
Due: eslint --fix

Add `useControlledState`
  packages/fuselage/src/components/Select/MultiSelectFiltered.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/hooks/useControlledState.ts
Due: eslint --fix

feat(onboarding-ui): create redirect page
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/src/pages/RedirectPage/RedirectPage.spec.tsx
  packages/onboarding-ui/src/pages/RedirectPage/RedirectPage.stories.tsx
  packages/onboarding-ui/src/pages/RedirectPage/RedirectPage.tsx
  packages/onboarding-ui/src/pages/RedirectPage/index.ts
Due: eslint --fix, prettier --write

Simplify markup
  packages/fuselage/src/components/Select/MultiSelect.tsx
  packages/fuselage/src/components/Select/MultiSelectAnchor.tsx
  packages/fuselage/src/components/Select/MultiSelectFiltered.tsx
  packages/fuselage/src/components/Select/MultiSelectWrapper.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAnchor.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
  packages/fuselage/src/components/Select/SelectWrapper.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
