Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

change admin-sidebar color to font-default
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

feat: toastbar visuals improves
  packages/fuselage/src/components/ToastBar/ToastBar.stories.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/styles/lengths.scss
Due: eslint --fix, stylelint --fix

fix: icon alignment
  packages/fuselage/src/components/Icon/Icon.styles.scss
Due: stylelint --fix

Review type safety of `usePosition` internals
  packages/fuselage-hooks/rollup.config.js
  packages/fuselage-hooks/src/usePosition.spec.ts
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage-hooks/src/usePosition/Placement.ts
  packages/fuselage-hooks/src/usePosition/PlacementVariant.ts
  packages/fuselage-hooks/src/usePosition/Position.ts
  packages/fuselage-hooks/src/usePosition/getPositionStyle.ts
  packages/fuselage-hooks/src/usePosition/getTargetBoundaries.spec.ts
  packages/fuselage-hooks/src/usePosition/getTargetBoundaries.ts
  packages/fuselage-hooks/src/usePosition/getVariantBoundaries.ts
  packages/fuselage-hooks/src/usePosition/index.spec.ts
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage-hooks/src/usePosition/useBoundingClientRectChanges.ts
  packages/fuselage-hooks/tsconfig.build.json
  packages/fuselage-hooks/tsconfig.json
Due: eslint --fix, prettier --write

Fix build
  packages/fuselage-hooks/package.json
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Position/Position.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: word break in rcx-message-body
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

fix(fuselage): word break in rcx-message-body (#1028)
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

fix: add button min-width: 2 * height
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

chore(fuselage): change admin-sidebar color (#1024)
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

fix: sidebar topbar-section alignment
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

fix: change option and title padding-block-end to 24px
  packages/fuselage/src/components/Option/Option.styles.scss
Due: stylelint --fix

fix(fuselage): button min-width (#1029)
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

Enable strict mode in `fuselage`
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/Callout/Callout.spec.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/tsconfig.build.json
  packages/fuselage/tsconfig.json
  packages/fuselage/webpack.config.js
Due: eslint --fix, prettier --write

Enable strict mode in `fuselage-hooks`
  packages/fuselage-hooks/rollup.config.js
  packages/fuselage-hooks/src/useAutoFocus.ts
  packages/fuselage-hooks/src/useBorderBoxSize.server.spec.ts
  packages/fuselage-hooks/src/useBorderBoxSize.spec.ts
  packages/fuselage-hooks/src/useBorderBoxSize.ts
  packages/fuselage-hooks/src/useBreakpoints.spec.ts
  packages/fuselage-hooks/src/useClipboard.spec.ts
  packages/fuselage-hooks/src/useClipboard.ts
  packages/fuselage-hooks/src/useContentBoxSize.server.spec.ts
  packages/fuselage-hooks/src/useContentBoxSize.spec.ts
  packages/fuselage-hooks/src/useContentBoxSize.ts
  packages/fuselage-hooks/src/useDebouncedCallback.ts
  packages/fuselage-hooks/src/useDebouncedReducer.ts
  packages/fuselage-hooks/src/useDebouncedUpdates.ts
  packages/fuselage-hooks/src/usePosition.spec.ts
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage-hooks/src/usePrefersReducedMotion.spec.ts
  packages/fuselage-hooks/src/useResizeObserver.ts
  packages/fuselage-hooks/src/useSafely.spec.ts
  packages/fuselage-hooks/src/useSafely.ts
  packages/fuselage-hooks/src/useStableArray.ts
  packages/fuselage-hooks/src/useStorage.ts
  packages/fuselage-hooks/tsconfig.build.json
  packages/fuselage-hooks/tsconfig.json
Due: eslint --fix, prettier --write

Fix return type of `useResizeObserver`
  packages/fuselage-hooks/src/useResizeObserver.ts
Due: eslint --fix

Enable strict mode in `emitter`
  packages/emitter/rollup.config.js
  packages/emitter/src/index.ts
  packages/emitter/tsconfig.build.json
  packages/emitter/tsconfig.json
Due: eslint --fix, prettier --write

Add base TS configuration
  _templates/create-package/library/files/package.json.t
  _templates/create-package/library/files/tsconfig.cjs.json.t
  _templates/create-package/library/files/tsconfig.esm.json.t
  _templates/create-package/library/files/tsconfig.json.t
  packages/css-in-js/rollup.config.js
  packages/css-in-js/tsconfig.build.json
  packages/css-in-js/tsconfig.json
  packages/css-supports/package.json
  packages/css-supports/tsconfig.cjs.json
  packages/css-supports/tsconfig.esm.json
  packages/css-supports/tsconfig.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

Fix `useResizeObserver` usage
  packages/uikit-playground/src/Components/Preview/SplitPlaneContainer/SplitPlaneContainer.tsx
Due: eslint --fix

Add type checking to ESLint configs
  packages/eslint-config-alt/.eslintrc.js
  packages/eslint-config-alt/minimal/index.js
  packages/eslint-config-alt/original/index.js
  packages/eslint-config-alt/react/index.js
  packages/eslint-config-alt/typescript/index.js
Due: eslint --fix

chore: colors
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
Due: stylelint --fix

fix(fuselage-hooks): `usePosition` internals (#1027)
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/rollup.config.js
  packages/fuselage-hooks/src/usePosition.spec.ts
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage-hooks/src/usePosition/Placement.ts
  packages/fuselage-hooks/src/usePosition/PlacementVariant.ts
  packages/fuselage-hooks/src/usePosition/Position.ts
  packages/fuselage-hooks/src/usePosition/getPositionStyle.ts
  packages/fuselage-hooks/src/usePosition/getTargetBoundaries.spec.ts
  packages/fuselage-hooks/src/usePosition/getTargetBoundaries.ts
  packages/fuselage-hooks/src/usePosition/getVariantBoundaries.ts
  packages/fuselage-hooks/src/usePosition/index.spec.ts
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage-hooks/src/usePosition/useBoundingClientRectChanges.ts
  packages/fuselage-hooks/tsconfig.build.json
  packages/fuselage-hooks/tsconfig.json
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Position/Position.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: option to use IconButton with emoji
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

chore(fuselage): add option to use `IconButton` with emoji (#1033)
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

fix(fuselage): icon alignment (#1026)
  packages/fuselage/src/components/Icon/Icon.styles.scss
Due: stylelint --fix

chore: add pressed state. Update sizes
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/styles/mixins/states.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: eslint --fix, stylelint --fix

chore: update IconButton stories
  packages/fuselage/src/components/Button/IconButton.stories.tsx
Due: eslint --fix

tests for mentions and emojis inside markup
  packages/message-parser/src/definitions.ts
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
Due: eslint --fix

chore(fuselage): `IconButton` variants (#1034)
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/IconButton.stories.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/styles/mixins/states.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): sidebar header alignment (#1031)
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

feat(fuselage): `ToastBar` visual improvements (#1025)
  packages/fuselage/src/components/ToastBar/ToastBar.stories.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/styles/lengths.scss
Due: eslint --fix, stylelint --fix

chore: remove fit-content
  packages/fuselage/src/components/Tag/Tag.styles.scss
Due: stylelint --fix

remove emoticon tests
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
Due: eslint --fix

add support for mentions and emojis in markup
  packages/message-parser/src/grammar.pegjs
Due: none

chore(fuselage): Remove fit-content width from `Tag` (#1036)
  packages/fuselage/src/components/Tag/Tag.styles.scss
Due: stylelint --fix

Upgrade Rollup to overcome circular dependencies bugs
  packages/mp3-encoder/package.json
  packages/mp3-encoder/rollup.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Convert `CalcNoiseResult.ts`
  packages/mp3-encoder/.eslintrc.js
  packages/mp3-encoder/src/lame/CalcNoiseResult.js
  packages/mp3-encoder/src/lame/CalcNoiseResult.ts
Due: eslint --fix

Delete unused module
  packages/mp3-encoder/.eslintrc.js
  packages/mp3-encoder/src/lame/ID3TagSpec.js
Due: eslint --fix

Adjust build configuration a little bit
  packages/eslint-config-alt/typescript/index.js
  packages/mp3-encoder/rollup.config.js
  packages/mp3-encoder/src/index.ts
  packages/mp3-encoder/tsconfig.build.json
  packages/mp3-encoder/tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
