Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(fuselage): accept all `objectFit` css properties on `Avatar` component
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.tsx
Due: eslint --fix, stylelint --fix

chore: changeset
  .changeset/cruel-owls-arrive.md
Due: prettier --write

refactor: support dynamic object-fit values
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.tsx
Due: eslint --fix, stylelint --fix

chore: pin GitHub Actions to SHA hashes
  .github/workflows/cd.yml
  .github/workflows/ci-pr-closed.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-title.yml
Due: prettier --write

chore: pin GitHub Actions to SHA hashes (#1944)
  .github/workflows/cd.yml
  .github/workflows/ci-pr-closed.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-title.yml
Due: prettier --write

feat(fuselage): add `objectFit` to `Box` styling props
  packages/fuselage/src/components/Box/layout.stories.tsx
  packages/fuselage/src/components/Box/stylingProps.ts
Due: eslint --fix

chore: changeset
  .changeset/cuddly-chairs-travel.md
Due: prettier --write

chore: set `objectFit` default to `contain`
  packages/fuselage/src/components/Avatar/Avatar.tsx
Due: eslint --fix

fix(fuselage): remove incorrect dependency on `@rocket.chat/styled`
  .changeset/beige-pillows-lead.md
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

fix(password-input): use IconButton as addon toggle
  packages/fuselage/src/components/PasswordInput/PasswordInput.tsx
Due: eslint --fix

feat(fuselage): add `objectFit` to `Box` styling props (#1945)
  .changeset/cuddly-chairs-travel.md
  packages/fuselage/src/components/Box/layout.stories.tsx
  packages/fuselage/src/components/Box/stylingProps.ts
Due: eslint --fix, prettier --write

feat: remove `default` as `contain`
  packages/fuselage/src/components/Avatar/Avatar.tsx
Due: eslint --fix

support passing target document to style attacher
  packages/css-in-js/src/sheet.ts
Due: eslint --fix

add changeset
  .changeset/smooth-deers-burn.md
Due: prettier --write

Update `useCreateStyleContainer`
  packages/fuselage/src/components/PaletteStyleTag/hooks/useCreateStyleContainer.ts
Due: eslint --fix

Implement TargetDocument context
  packages/fuselage/src/contexts/TargetDocument.ts
  packages/fuselage/src/contexts/index.ts
  packages/fuselage/src/index.ts
Due: eslint --fix

update `useStyle` hook to use TargetDocument
  packages/fuselage/src/hooks/useStyle.ts
Due: eslint --fix

Update `Menu` and `Popover` components to use TargetDocument
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Popover/Popover.tsx
Due: eslint --fix

implement TargetDocument and update document references
  packages/styled/src/TargetDocument.ts
  packages/styled/src/index.ts
  packages/styled/src/styled.ts
Due: eslint --fix

Add changeset
  .changeset/dirty-feet-arrive.md
Due: prettier --write

add changeset
  .changeset/khaki-pants-exist.md
Due: prettier --write

feat(fuselage): accept `objectFit` css properties on `Avatar` (#1943)
  .changeset/cruel-owls-arrive.md
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): remove incorrect dependency on `@rocket.chat/styled` (#1946)
  .changeset/beige-pillows-lead.md
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

feat(css-in-js): Allow passing a target `document` to rule attacher (#1933)
  .changeset/smooth-deers-burn.md
  packages/css-in-js/src/sheet.ts
Due: eslint --fix, prettier --write

Update `document` reference for AudioPlayer
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

Update `document` reference for Position.tsx
  packages/fuselage/src/components/Position/Position.tsx
Due: eslint --fix

Update window reference for `AudioPlayer`
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

revert: `SelectFocus` changes
  packages/fuselage/src/components/Select/SelectFocus.tsx
Due: eslint --fix

test: refactor MultiSelect tests for improved accessibility checks
  packages/fuselage/src/components/MultiSelect/MultiSelect.spec.tsx
  packages/fuselage/src/components/MultiSelect/__snapshots__/MultiSelect.spec.tsx.snap
Due: eslint --fix

fix: enhance accessibility attributes for MultiSelect component
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
Due: none

chore: update snapshots
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
Due: none

fix(fuselage): improve a11y for `MultiSelect` components (#1940)
  .changeset/giant-oranges-fix.md
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage/src/components/MultiSelect/MultiSelect.spec.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchor.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchorParams.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/MultiSelect/__snapshots__/MultiSelect.spec.tsx.snap
  packages/fuselage/src/components/Options/Options.tsx
Due: eslint --fix, prettier --write

feat(fuselage-forms): Add `MultiSelectFiltered` component
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
Due: eslint --fix

chore: changeset
  .changeset/moody-baths-wear.md
Due: prettier --write

feat(fuselage-forms): Add `MultiSelectFiltered` component (#1942)
  .changeset/moody-baths-wear.md
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
Due: eslint --fix, prettier --write

feat(sidebar): sidebar item menu button visibility on menu open
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
Due: stylelint --fix

chore: changeset
  .changeset/hungry-clubs-strive.md
Due: prettier --write

chore: revert changes on `packages/fuselage/src/components/Sidebar/Sidebar.styles.scss`
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Due: stylelint --fix

review
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
