Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

refactor: sidebar item styles
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
Due: stylelint --fix

fix: clown
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
Due: stylelint --fix

lint
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
Due: stylelint --fix

feat(fuselage): Keep sidebar item menu btn visible when expanded (#1949)
  .changeset/hungry-clubs-strive.md
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
Due: stylelint --fix, prettier --write

refactor(fuselage,sass): use `sass:map` module
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/styles/mixins/breakpoints.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/breakpoints.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

refactor(fuselage,storybook): mitigate warnings in Storybook
  packages/fuselage/src/components/Flex/Flex.mdx
Due: eslint --fix

chore(fuselage,lint): fix lint issues
  packages/fuselage/src/styles/mixins/elevation.scss
  packages/fuselage/src/styles/mixins/selection-button.scss
  packages/fuselage/src/styles/primitives/link.scss
Due: stylelint --fix

refactor(fuselage,sass): isolate scopes a little bit more
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/CheckBox/CheckBox.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/InputBox/mixins.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/RadioButton/RadioButton.styles.scss
  packages/fuselage/src/components/Select/Select.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.styles.scss
  packages/fuselage/src/components/SidebarV2/variables.scss
  packages/fuselage/src/components/Sidepanel/Sidepanel.styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/styles/mixins/button.scss
  packages/fuselage/src/styles/mixins/link.scss
  packages/fuselage/src/styles/mixins/selection-button.scss
  packages/fuselage/src/styles/primitives/all.scss
  packages/fuselage/src/styles/primitives/link.scss
  packages/fuselage/src/styles/primitives/rich-text.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/primitives/traits.scss
  packages/fuselage/src/styles/typography.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

refactor(fuselage,sass): use functions module
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/CheckBox/CheckBox.styles.scss
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Grid/Grid.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Pagination/Pagination.styles.scss
  packages/fuselage/src/components/ProgressBar/ProgressBar.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarItem/SidebarItem.styles.scss
  packages/fuselage/src/components/SidebarV2/SidebarMedia/SidebarMedia.styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/ToastBar/ToastBar.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/index.scss
Due: stylelint --fix

refactor(fuselage,sass): remove more redundant references
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/index.scss
  packages/fuselage/src/styles/mixins/all.scss
  packages/fuselage/src/styles/primitives/all.scss
  packages/fuselage/src/styles/primitives/box.scss
Due: stylelint --fix

refactor(fuselage,sass): simplify `Tooltip` sass module
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/index.scss
Due: stylelint --fix

refactor(fuselage,sass): wipe unused mixins
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/styles/mixins/button.scss
  packages/fuselage/src/styles/mixins/shadows.scss
  packages/fuselage/src/styles/mixins/states.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/link.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
Due: stylelint --fix

refactor(fuselage,sass): wipe under utilized mixins
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Message/mixins.scss
  packages/fuselage/src/styles/mixins/button.scss
  packages/fuselage/src/styles/mixins/states.scss
  packages/fuselage/src/styles/primitives/link.scss
Due: stylelint --fix

refactor(fuselage,sass): isolate variables from CSS rules
  packages/fuselage/.stylelintrc
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/Card/Card.styles.scss
  packages/fuselage/src/components/CheckBox/CheckBox.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/InputBox/mixins.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Pagination/Pagination.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/SidebarV2/Sidebar.styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/Table/Table.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/styles/mixins/button.scss
  packages/fuselage/src/styles/mixins/elevation.scss
  packages/fuselage/src/styles/mixins/shadows.scss
  packages/fuselage/src/styles/primitives/input.scss
  packages/fuselage/src/styles/primitives/link.scss
Due: stylelint --fix

fix(a11y): add aria-hidden attribute to status icons for improved accessibility
  packages/fuselage/src/components/StatusBullet/icons/Away.tsx
  packages/fuselage/src/components/StatusBullet/icons/Busy.tsx
  packages/fuselage/src/components/StatusBullet/icons/Disabled.tsx
  packages/fuselage/src/components/StatusBullet/icons/Loading.tsx
  packages/fuselage/src/components/StatusBullet/icons/Offline.tsx
  packages/fuselage/src/components/StatusBullet/icons/Online.tsx
Due: eslint --fix

chore: changeset
  .changeset/lucky-bugs-train.md
Due: prettier --write

test: enhance StatusBullet tests with accessibility checks and snapshots
  packages/fuselage/src/components/StatusBullet/StatusBullet.spec.tsx
  packages/fuselage/src/components/StatusBullet/__snapshots__/StatusBullet.spec.tsx.snap
Due: eslint --fix

fix(fuselage): Add `aria-hidden` attribute to `StatusBullet` (#1951)
  .changeset/lucky-bugs-train.md
  packages/fuselage/src/components/StatusBullet/StatusBullet.spec.tsx
  packages/fuselage/src/components/StatusBullet/__snapshots__/StatusBullet.spec.tsx.snap
  packages/fuselage/src/components/StatusBullet/icons/Away.tsx
  packages/fuselage/src/components/StatusBullet/icons/Busy.tsx
  packages/fuselage/src/components/StatusBullet/icons/Disabled.tsx
  packages/fuselage/src/components/StatusBullet/icons/Loading.tsx
  packages/fuselage/src/components/StatusBullet/icons/Offline.tsx
  packages/fuselage/src/components/StatusBullet/icons/Online.tsx
Due: eslint --fix, prettier --write

refactor(fuselage): rename TargetDocument context to OwnerDocument
  .changeset/khaki-pants-exist.md
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/PaletteStyleTag/hooks/useCreateStyleContainer.ts
  packages/fuselage/src/components/Popover/Popover.tsx
  packages/fuselage/src/components/Position/Position.tsx
  packages/fuselage/src/contexts/OwnerDocument.ts
  packages/fuselage/src/contexts/TargetDocument.ts
  packages/fuselage/src/contexts/index.ts
  packages/fuselage/src/hooks/useStyle.ts
Due: eslint --fix, prettier --write

refactor(styled): rename TargetDocument to OwnerDocument
  packages/styled/src/OwnerDocument.ts
  packages/styled/src/TargetDocument.ts
  packages/styled/src/index.ts
  packages/styled/src/styled.ts
Due: eslint --fix

Fix changeset
  .changeset/dirty-feet-arrive.md
Due: prettier --write

feat(fuselage): Implement `OwnerDocument` context and update `document` references (#1947)
  .changeset/khaki-pants-exist.md
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/PaletteStyleTag/hooks/useCreateStyleContainer.ts
  packages/fuselage/src/components/Popover/Popover.tsx
  packages/fuselage/src/components/Position/Position.tsx
  packages/fuselage/src/contexts/OwnerDocument.ts
  packages/fuselage/src/contexts/index.ts
  packages/fuselage/src/hooks/useStyle.ts
  packages/fuselage/src/index.ts
Due: eslint --fix, prettier --write

feat(styled): Implement `OwnerDocument` context and update `document` references (#1948)
  .changeset/dirty-feet-arrive.md
  packages/styled/src/OwnerDocument.ts
  packages/styled/src/index.ts
  packages/styled/src/styled.ts
Due: eslint --fix, prettier --write

feat(fuselage): forward ref on `AutoComplete` and adjust type
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

feat(fuselage-forms): add `AutoComplete` component
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
Due: eslint --fix

chore: add to storybook and test
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-forms/src/test.spec.tsx
Due: eslint --fix

chore: changeset
  .changeset/moody-corners-sing.md
Due: prettier --write

chore: export interface to use on storybook
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

chore: remove unused comments
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

feat(fuselage): add `AutoComplete` component (#1956)
  .changeset/moody-corners-sing.md
  packages/fuselage-forms/src/Field/Field.stories.tsx
  packages/fuselage-forms/src/Inputs/WrappedInputComponents.ts
  packages/fuselage-forms/src/__snapshots__/test.spec.tsx.snap
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix, prettier --write

Add new icons `arrow-from-cross-box` and `arrow-to-square-box`
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-from-cross-box.svg
  packages/icons/src/arrow-to-square-box.svg
Due: prettier --write

Add changeset
  .changeset/kind-apples-exist.md
Due: prettier --write

feat(icons): Add `arrow-from-cross-box` and `arrow-to-square-box` (#1958)
  .changeset/kind-apples-exist.md
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-from-cross-box.svg
  packages/icons/src/arrow-to-square-box.svg
Due: prettier --write

chore: Update image snapshots (font styles broken due to SASS overhaul)
  packages/fuselage/test/snapshots/data-display-avatar--default-desktop.png
  packages/fuselage/test/snapshots/data-display-avatar--stack-desktop.png
  packages/fuselage/test/snapshots/data-display-chip--default-desktop.png
  packages/fuselage/test/snapshots/data-display-chip--disabled-desktop.png
  packages/fuselage/test/snapshots/data-display-chip--dismissible-desktop.png
  packages/fuselage/test/snapshots/data-display-chip--with-thumb-desktop.png
  packages/fuselage/test/snapshots/data-display-chip--with-thumb-url-desktop.png
  packages/fuselage/test/snapshots/data-display-icon--available-icons-desktop.png
  packages/fuselage/test/snapshots/data-display-icon--default-desktop.png
  packages/fuselage/test/snapshots/inputs-autocomplete--multiple-custom-selected-desktop.png
  packages/fuselage/test/snapshots/inputs-autocomplete--multiple-desktop.png
  packages/fuselage/test/snapshots/inputs-multiselect--with-value-desktop.png
  packages/fuselage/test/snapshots/layout-box-rich-content-inline--a-desktop.png
  packages/fuselage/test/snapshots/navigation-pagination--default-desktop.png
Due: none

chore: add missing snapshots
  packages/fuselage/test/snapshots/layout-box-layout--gap-desktop.png
  packages/fuselage/test/snapshots/layout-box-layout--object-fit-desktop.png
Due: none

fix(visual-regression): Outdated storybook build when running locally
  tools/visual-regression/bin/index.js
Due: eslint --fix

fix(ci): Exclude test-results inside node_modules from artifact
  .github/workflows/ci-pr.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
