Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore: changeset
  .changeset/early-cycles-serve.md
Due: prettier --write

chore(fuselage-hooks): increase `usePosition` zIndex (#1309)
  packages/fuselage-hooks/src/usePosition/index.ts
Due: eslint --fix

feat(fuselage): Add focus state on `MessageHighlight` (#1311)
  .changeset/metal-ravens-hug.md
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix, prettier --write

Fix border color on accordion component affecting dark mode
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
Due: stylelint --fix

Create sour-pumpkins-repeat.md
  .changeset/sour-pumpkins-repeat.md
Due: prettier --write

fix: review
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbarWrapper.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): `MessageToolbarWrapper` visibility (#1310)
  .changeset/early-cycles-serve.md
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
Due: stylelint --fix, prettier --write

chore: contextualbar syntax
  packages/fuselage/src/components/Contextualbar/Contextualbar.spec.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarFooter.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarHeader.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarSkeleton.tsx
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
Due: eslint --fix

chore: changeset
  .changeset/yellow-jokes-rest.md
Due: prettier --write

fix: ui issues
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarHeader.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarTitle.tsx
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
Due: eslint --fix

fix(fuselage): `Contextualbar` elements syntax (#1314)
  .changeset/yellow-jokes-rest.md
  packages/fuselage/src/components/Contextualbar/Contextualbar.spec.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarFooter.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarHeader.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarSkeleton.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarTitle.tsx
  packages/fuselage/src/components/Contextualbar/__snapshots__/Contextualbar.spec.tsx.snap
Due: eslint --fix, prettier --write

fix(fuselage): border color on accordion component (#1312)
  .changeset/sour-pumpkins-repeat.md
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
Due: stylelint --fix, prettier --write

Remove hide for multiple autoselect components
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

fix(prettier-config): Ease the required Prettier version
  packages/prettier-config/package.json
Due: prettier --write

fix(fuselage): remove margin inline end from bubble icon
  packages/fuselage/src/components/Bubble/BubbleButton.tsx
Due: eslint --fix

chore: changeset
  .changeset/quiet-ducks-scream.md
Due: prettier --write

chore: update snapshots
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
Due: none

fix(fuselage): remove margin inline end from bubble icon (#1317)
  .changeset/quiet-ducks-scream.md
  packages/fuselage/src/components/Bubble/BubbleButton.tsx
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
Due: eslint --fix, prettier --write

feat: Add forwardRef on `Contextualbar`
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Due: eslint --fix

chore: changeset
  .changeset/short-waves-double.md
Due: prettier --write

feat(fuselage): Add `forwardRef` on `Contextualbar` (#1319)
  .changeset/short-waves-double.md
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Due: eslint --fix, prettier --write

fix: `ToastBar` considering button as content
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

chore: changeset
  .changeset/clever-socks-double.md
Due: prettier --write

Update .changeset/clever-socks-double.md
  .changeset/clever-socks-double.md
Due: prettier --write

fix(fuselage): `ToastBar` remove close button from content alert (#1320)
  .changeset/clever-socks-double.md
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix, prettier --write

Add missing render property on PaginatedMultiSelectFiltered component
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
Due: eslint --fix

Fix import
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
Due: eslint --fix

feat: new circle-unfilled
  packages/icons/glyphsMapping.json
  packages/icons/src/circle-unfilled.svg
Due: prettier --write

chore: changeset
  .changeset/warm-bobcats-pump.md
Due: prettier --write

fix: avoid duplicated alert
  packages/fuselage/src/components/ToastBar/ToastBar.spec.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
Due: eslint --fix

chore: changeset
  .changeset/stale-socks-roll.md
Due: prettier --write

chore: update snapshot
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
Due: none

feat(icons): New circle-unfilled (#1323)
  .changeset/warm-bobcats-pump.md
  packages/icons/glyphsMapping.json
  packages/icons/src/circle-unfilled.svg
Due: prettier --write

fix(fuselage): Avoid duplicated alert on ToastBar (#1324)
  .changeset/stale-socks-roll.md
  packages/fuselage/src/components/ToastBar/ToastBar.spec.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  packages/fuselage/src/components/ToastBar/__snapshots__/ToastBar.spec.tsx.snap
Due: eslint --fix, prettier --write

fix: review
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
Due: eslint --fix

Create thick-kids-look.md
  .changeset/thick-kids-look.md
Due: prettier --write

Update thick-kids-look.md
  .changeset/thick-kids-look.md
Due: prettier --write

fix(fuselage): change PaginatedMultiSelectFiltered component to use PaginatedMultiSelect props (#1322)
  .changeset/thick-kids-look.md
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
Due: eslint --fix, prettier --write

Add missing renderItem property on PaginatedSelect
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
Due: eslint --fix

Create fuzzy-pumpkins-beg.md
  .changeset/fuzzy-pumpkins-beg.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
