Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

test: added unit tests for item removal
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
Due: eslint --fix

test: updated snapshots
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
Due: none

test: added userEvent to the tests
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
Due: eslint --fix

fix(fuselage): AutoComplete unable to remove selected item in single mode (#1755)
  .changeset/brave-plums-provide.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/green-walls-kick.md
Due: prettier --write

fix: selected items not being updated when value changes
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix

fix(fuselage): AutoComplete selected items not being updated when value changes (#1756)
  .changeset/green-walls-kick.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --fix, prettier --write

Build as ES2024
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/Accordion.tsx
  packages/fuselage/src/components/Box/index.ts
  packages/fuselage/src/components/Menu/V2/stately/MenuItem.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Select/SelectTrigger.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.stories.tsx
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
  packages/fuselage/src/helpers/composeClassNames.ts
  packages/fuselage/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Squeeze external modules from Fuselage build
  packages/fuselage/tsconfig.json
  packages/fuselage/webpack.config.js
Due: eslint --fix, prettier --write

Add changeset
  .changeset/sour-monkeys-change.md
Due: prettier --write

Upgrade Node and Yarn
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

Enable `@typescript-eslint/consistent-type-imports` rule
  eslint.config.mjs
  packages/fuselage-forms/src/Field/Field.tsx
  packages/fuselage-forms/src/Field/FieldProvider.tsx
  packages/fuselage-forms/src/Field/Label/FieldLabel.tsx
  packages/fuselage-hooks/src/testing.ts
  packages/fuselage-toastbar/src/ToastBarContext.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.tsx
  packages/layout/src/layouts/HeroLayout/HeroLayoutSubtitle.tsx
  packages/layout/src/layouts/HeroLayout/HeroLayoutTitle.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutAside.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutFooter.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutTitle.tsx
Due: eslint --fix

fix(fuselage-hooks): Preserve generic type of `useLocalStorage` and `useSessionStorage`
  .changeset/five-pillows-agree.md
  packages/fuselage-hooks/src/useStorage.ts
Due: eslint --fix, prettier --write

added aria-live and aria-atomic to toast-message
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

fix(fuselage-hooks): Preserve generic type of `useLocalStorage` and `useSessionStorage` (#1757)
  .changeset/five-pillows-agree.md
  packages/fuselage-hooks/src/useStorage.ts
Due: eslint --fix, prettier --write

fix(fuselage)!: Bundling size (#1754)
  .changeset/sour-monkeys-change.md
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  eslint.config.mjs
  package.json
  packages/fuselage-forms/src/Field/Field.tsx
  packages/fuselage-forms/src/Field/FieldProvider.tsx
  packages/fuselage-forms/src/Field/Label/FieldLabel.tsx
  packages/fuselage-hooks/src/testing.ts
  packages/fuselage-toastbar/src/ToastBarContext.ts
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/Accordion.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/Box/index.ts
  packages/fuselage/src/components/Menu/V2/stately/MenuItem.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/Select/SelectTrigger.tsx
  packages/fuselage/src/components/SelectInput/SelectInput.stories.tsx
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
  packages/fuselage/src/helpers/composeClassNames.ts
  packages/fuselage/tsconfig.json
  packages/fuselage/webpack.config.js
  packages/layout/src/components/BackgroundLayer/BackgroundLayer.tsx
  packages/layout/src/layouts/HeroLayout/HeroLayoutSubtitle.tsx
  packages/layout/src/layouts/HeroLayout/HeroLayoutTitle.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutAside.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutFooter.tsx
  packages/layout/src/layouts/HorizontalWizardLayout/HorizontalWizardLayoutTitle.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Added aria-live polite
  packages/fuselage/src/components/Callout/Callout.tsx
Due: eslint --fix

Improve type declaration for `useSafeRefCallback`
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.ts
Due: eslint --fix

add packages
  packages/fuselage-forms/README.md
  packages/fuselage-forms/package.json
  yarn.lock
Due: prettier --write

unit tests
  packages/fuselage-forms/src/test.spec.tsx
Due: eslint --fix

Focus on input after label click
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Field/FieldProvider.tsx
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
Due: eslint --fix

Create empty-snails-peel.md
  .changeset/empty-snails-peel.md
Due: prettier --write

fix(fuselage-forms): Clicking on label does not focus on the input (#1740)
  .changeset/empty-snails-peel.md
  packages/fuselage-forms/README.md
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Field/FieldProvider.tsx
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: update refs
  packages/fuselage/.loki/reference/desktop_Data_Display_Divider_As_Button_Separator.png
  packages/fuselage/.loki/reference/desktop_Data_Display_Icon_Default.png
  packages/fuselage/.loki/reference/desktop_Navigation_Navbar_Default.png
  packages/fuselage/.loki/reference/desktop_Navigation_SidebarV2_Default.png
  packages/fuselage/.loki/reference/desktop_Navigation_SidebarV2_Item_Condensed.png
  packages/fuselage/.loki/reference/desktop_Navigation_SidebarV2_Item_Extended.png
  packages/fuselage/.loki/reference/desktop_Navigation_SidebarV2_Media_Default.png
  packages/fuselage/.loki/reference/desktop_Navigation_Sidepanel_Default.png
  packages/fuselage/.loki/reference/desktop_Sidebar_Item_Default.png
  packages/fuselage/.loki/reference/desktop_Sidebar_Sidebar_Default.png
  packages/fuselage/.loki/reference/desktop_Sidebar_Sidebar_With_Footer.png
  packages/fuselage/.loki/reference/desktop_Sidebar_TopBar_Default.png
  packages/fuselage/.loki/reference/mobile_Data_Display_Divider_As_Button_Separator.png
  packages/fuselage/.loki/reference/mobile_Data_Display_Icon_Default.png
  packages/fuselage/.loki/reference/mobile_Navigation_SidebarV2_Default.png
  packages/fuselage/.loki/reference/mobile_Navigation_SidebarV2_Item_Condensed.png
  packages/fuselage/.loki/reference/mobile_Navigation_SidebarV2_Item_Extended.png
  packages/fuselage/.loki/reference/mobile_Navigation_SidebarV2_Media_Default.png
  packages/fuselage/.loki/reference/mobile_Navigation_Sidepanel_Default.png
  packages/fuselage/.loki/reference/mobile_Sidebar_Item_Default.png
  packages/fuselage/.loki/reference/mobile_Sidebar_Sidebar_Default.png
  packages/fuselage/.loki/reference/mobile_Sidebar_Sidebar_With_Footer.png
  packages/fuselage/.loki/reference/mobile_Sidebar_TopBar_Default.png
  packages/fuselage/.loki/reference/tablet_Data_Display_Divider_As_Button_Separator.png
  packages/fuselage/.loki/reference/tablet_Data_Display_Icon_Default.png
  packages/fuselage/.loki/reference/tablet_Navigation_Navbar_Default.png
  packages/fuselage/.loki/reference/tablet_Navigation_SidebarV2_Default.png
  packages/fuselage/.loki/reference/tablet_Navigation_SidebarV2_Item_Condensed.png
  packages/fuselage/.loki/reference/tablet_Navigation_SidebarV2_Item_Extended.png
  packages/fuselage/.loki/reference/tablet_Navigation_SidebarV2_Media_Default.png
  packages/fuselage/.loki/reference/tablet_Navigation_Sidepanel_Default.png
  packages/fuselage/.loki/reference/tablet_Sidebar_Item_Default.png
  packages/fuselage/.loki/reference/tablet_Sidebar_Sidebar_Default.png
  packages/fuselage/.loki/reference/tablet_Sidebar_Sidebar_With_Footer.png
  packages/fuselage/.loki/reference/tablet_Sidebar_TopBar_Default.png
Due: none

Upgrade Yarn
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

Patch dependencies
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade TypeScript
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/src/jest-setup.ts
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/layout/src/jest-setup.ts
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/.jest/setup.ts
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/scripts/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade ESLint deps
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Upgrade xz
  tools/lint-all/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Upgrade Stylelint
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  yarn.lock
Due: prettier --write

Upgrade webpack
  packages/fuselage-forms/package.json
  packages/fuselage/package.json
  packages/peggy-loader/package.json
  yarn.lock
Due: prettier --write

Upgrade style-dictionary
  packages/fuselage-tokens/package.json
  yarn.lock
Due: prettier --write

Upgrade Node
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  package.json
  packages/peggy-loader/package.json
  tools/scripts/package.json
  yarn.lock
Due: prettier --write

Upgrade Storybook
  package.json
  packages/fuselage-forms/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage/package.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: prettier --write

Upgrade Sass
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Upgrade Rollup
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/mp3-encoder/package.json
  yarn.lock
Due: prettier --write

Upgrade Prettier
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  yarn.lock
Due: prettier --write

Upgrade `postcss-loader`
  packages/fuselage/package.json
  yarn.lock
Due: prettier --write

Upgrade peggy
  packages/peggy-loader/package.json
  yarn.lock
Due: prettier --write
