Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx,mdx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

add preventFocusOnPress prop to useButton
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

fix(fuselage): `MenuV2` behavior on touch press (#1106)
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

resize button on active state
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/styles/mixins/size.scss
  packages/fuselage/src/styles/primitives/button.scss
Due: stylelint --fix

new pressed state
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

chore(fuselage): Improve UX on `Button` click (#1107)
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/styles/mixins/size.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/variables/buttons.scss
Due: stylelint --fix

button sizes
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix, stylelint --fix

add customButton prop
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

improve stories
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
Due: eslint --fix

chore(fuselage): `AudioPlayer` margins (#1104)
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix

Fix package.json order
  packages/ui-kit/package.json
  yarn.lock
Due: prettier --write

review
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Due: eslint --fix

chore(fuselage): `MenuV2` custom button (#1109)
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/ui-kit/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): button sizes (#1108)
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix, stylelint --fix

chore: `CodeSnippet` improves
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.stories.tsx
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.styles.scss
  packages/fuselage/src/components/CodeSnippet/CodeSnippet.tsx
Due: eslint --fix, stylelint --fix

chore: improve icons usage inside `Button`
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix

chore(fuselage): Improve `Icon` usage inside `Button` (#1112)
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.tsx
Due: eslint --fix

displayName
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix

deprecate dot notation
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/fuselage/src/components/Tabs/index.tsx
Due: eslint --fix

deprecated info
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/fuselage/src/components/Tabs/index.tsx
Due: eslint --fix

burrito
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/index.tsx
Due: eslint --fix

Update packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/fuselage/src/components/Tabs/Tabs.tsx
Due: eslint --fix

chore(fuselage): Drop dot notation for `Tabs` component (#1113)
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/fuselage/src/components/Tabs/index.tsx
Due: eslint --fix

add animated class to IconButton
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

chore(fuselage): `IconButton` animated (#1114)
  packages/fuselage/src/components/Button/IconButton.tsx
Due: eslint --fix

fix
  packages/ui-kit/src/blocks/elements/TimePickerElement.ts
Due: eslint --fix

fix(uikit): `initialTime` prop time in `TimePicker` component (#1115)
  packages/ui-kit/src/blocks/elements/TimePickerElement.ts
Due: eslint --fix

chore: add icons
  packages/icons/glyphsMapping.json
  packages/icons/src/smart.svg
  packages/icons/src/tag.svg
Due: prettier --write

chore(icons): Add new icons (#1116)
  packages/icons/glyphsMapping.json
  packages/icons/src/smart.svg
  packages/icons/src/tag.svg
Due: prettier --write

chore(release): 0.31.24
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/prettier-config/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  tools/build-design-tokens/package.json
  tools/build-icons/package.json
  tools/build-logo/package.json
  tools/bump/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/testing-utils/package.json
  tools/tools-utils/package.json
  tools/update-readme/package.json
  tools/write-version-module/package.json
Due: prettier --write

experimental tab navigation
  packages/ui-kit/src/blocks/ActionableElement.ts
  packages/ui-kit/src/blocks/BlockElement.ts
  packages/ui-kit/src/blocks/BlockElementType.ts
  packages/ui-kit/src/blocks/ElementType.ts
  packages/ui-kit/src/blocks/LayoutBlock.ts
  packages/ui-kit/src/blocks/elements/UnstableTabElement.ts
  packages/ui-kit/src/blocks/layout/TabNavigationBlock.ts
  packages/ui-kit/src/blocks/layout/UnstableTabNavigationBlock.ts
  packages/ui-kit/src/index.ts
Due: eslint --fix

update export
  packages/ui-kit/src/index.ts
Due: eslint --fix

change file name
  packages/ui-kit/src/blocks/ActionableElement.ts
  packages/ui-kit/src/blocks/BlockElement.ts
  packages/ui-kit/src/blocks/LayoutBlock.ts
  packages/ui-kit/src/blocks/elements/ExperimentalTabElement.ts
  packages/ui-kit/src/blocks/layout/ExperimentalTabNavigationBlock.ts
  packages/ui-kit/src/index.ts
Due: eslint --fix

change transition time. add ease-out to buttons. remove animation prop.
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/styles/primitives/box.scss
Due: eslint --fix, stylelint --fix

chore(fuselage): `Button` transition tweaks (#1118)
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/styles/primitives/box.scss
Due: eslint --fix, stylelint --fix

fix: Turn `TabNavigationBlock` into `ExperimentalTabNavigationBlock` (#1117)
  packages/ui-kit/src/blocks/ActionableElement.ts
  packages/ui-kit/src/blocks/BlockElement.ts
  packages/ui-kit/src/blocks/BlockElementType.ts
  packages/ui-kit/src/blocks/ElementType.ts
  packages/ui-kit/src/blocks/LayoutBlock.ts
  packages/ui-kit/src/blocks/elements/ExperimentalTabElement.ts
  packages/ui-kit/src/blocks/layout/ExperimentalTabNavigationBlock.ts
  packages/ui-kit/src/blocks/layout/TabNavigationBlock.ts
  packages/ui-kit/src/index.ts
Due: eslint --fix

add person arms spread icon
  packages/icons/glyphsMapping.json
  packages/icons/src/person-arms-spread.svg
Due: prettier --write

chore(icons): add person-arms-spread icon (#1120)
  packages/icons/glyphsMapping.json
  packages/icons/src/person-arms-spread.svg
Due: prettier --write

chore: fix button role
  packages/fuselage/.storybook/main.js
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore(fuselage): Add button role to `Accordion` heading (#1121)
  packages/fuselage/.storybook/main.js
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: `StatesLink`
  packages/fuselage/src/components/States/States.stories.tsx
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/StatesLink.tsx
  packages/fuselage/src/components/States/index.tsx
Due: eslint --fix, stylelint --fix
