Repository RocketChat/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix some adjustments
  packages/fuselage/src/styleTokens.ts
  packages/layout/.storybook/main.ts
  packages/layout/src/BackgroundLayer/BackgroundLayer.stories.tsx
  packages/layout/src/BackgroundLayer/BackgroundLayer.styles.tsx
  packages/layout/src/FormPageLayout/FormPageLayout.styles.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.stories.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/layout/src/Link.tsx
  packages/layout/src/VerticalWizardLayout/VerticalWizardLayout.stories.tsx
  packages/layout/src/index.ts
Due: eslint --fix

chore: add elevation on ToastBar
  packages/fuselage/src/components/ToastBar/ToastBar.stories.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

ops
  packages/layout/src/FormPageLayout/FormPageLayout.styles.tsx
Due: eslint --fix

font scale
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/pages/LoginPage/LoginPage.tsx
Due: eslint --fix

fix(layout): Design adjustments (#867)
  packages/fuselage/src/styleTokens.ts
  packages/layout/.storybook/main.ts
  packages/layout/src/BackgroundLayer/BackgroundLayer.stories.tsx
  packages/layout/src/BackgroundLayer/BackgroundLayer.styles.tsx
  packages/layout/src/FormPageLayout/FormPageLayout.styles.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.stories.tsx
  packages/layout/src/HorizontalWizardLayout/HorizontalWizardLayout.tsx
  packages/layout/src/Link.tsx
  packages/layout/src/VerticalWizardLayout/VerticalWizardLayout.stories.tsx
  packages/layout/src/index.ts
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/pages/LoginPage/LoginPage.tsx
Due: eslint --fix

Change surface(dark) color. Add variation prop to Tooltip
  packages/fuselage/src/components/Tooltip/Tooltip.stories.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

Fix Tooltip tests
  packages/fuselage/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --fix

Update surface-dark token color
  packages/fuselage-tokens/src/surface/base.json
Due: prettier --write

fix: review
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix

fix: review
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

added color prefix
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

chore(fuselage): Add "color" prefix to css vars (#868)
  packages/fuselage/src/styles/colors.scss
Due: stylelint --fix

chore(fuselage, fuselage-tokens): Tooltip dark variant (#835)
  packages/fuselage-tokens/src/surface/base.json
  packages/fuselage/src/components/Tooltip/Tooltip.spec.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.stories.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix, prettier --write

fix(fuselage): Tag not receiving props properly (#865)
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

wip
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
Due: eslint --fix

chore: add elevation on ToastBar (#866)
  packages/fuselage/src/components/ToastBar/ToastBar.stories.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Due: eslint --fix

added color tokens
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

refactor functions
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

fix examples
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

fix tests
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

Added colors.background scss function
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

chore: Add Background scss function (#870)
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

Create Theme and Palette Objects
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/index.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

chore: Create Theme and Palete objects (#871)
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/index.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

added Status Colors to palette
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

chore: Create Status Palette Objects (#872)
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

merge develop
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

change surface to background
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

revert
  packages/fuselage/src/components/Message/Messages.styles.scss
Due: stylelint --fix

flag to throw errors if uses deprecated token
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

chore: __setThrowErrorOnInvalidToken__ (#874)
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/index.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

fix message token colors usage
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
Due: stylelint --fix

lint
  packages/fuselage/src/components/Box/props.stories.mdx
Due: eslint --fix

feat: :sparkles: Create badge small variant
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Badge/Badge.tsx
Due: eslint --fix, stylelint --fix

fix fallback
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/helpers/toCSSValue.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

ops
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/helpers/toCSSValue.ts
  packages/fuselage/src/styleTokens.ts
Due: eslint --fix

Introduce separate small prop
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Badge/Badge.tsx
Due: eslint --fix, stylelint --fix

chore(fuselage): Color Palette (#869)
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/helpers/toCSSValue.ts
  packages/fuselage/src/index.ts
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
Due: eslint --fix, stylelint --fix

fix(fuselage): add message generic preview cover image (#863)
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewCoverImage.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewCoverImage.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.spec.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewImage.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewTitle.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/index.tsx
Due: eslint --fix, stylelint --fix

fix(fuselage): Token colors usage (#875)
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts,tsx,mdx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,jsonc,md,yml,xml,svg}
